
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<script src="~/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>
<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Door To Door Survey</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  myapp-hed1">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%">Add Details</h6>
        </div>
        <div class="panel-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Location/Address of Property</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Municipal Number, if any</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Geo Referencing</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Present Use</label>
                        <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                            <option value="0">Residential</option>
                            <option value="1">Commercial</option>
                            <option value="0">Industrial</option>
                            <option value="1">Mixed</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Approx Area of the Property</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Number of Floors</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div id="DivFamilyDetails">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class=" myapp-hed2">
                                <div class="col-md-12">
                                    <h6 class="pull-left" style="color:white;margin-top:5px;">Family Details</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" border="0" id="tbl_posts">
                                    <thead class="thead">
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>Name</th>
                                            <th>Age</th>
                                            <th>Gender</th>
                                            <th>Operation</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbl_posts_body">
                                    </tbody>
                                    <tbody class="tbody" id="add">
                                        <tr id="">
                                            <td>1</td>
                                            <td>
                                                <input type="text" id="txtPersonalName" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" id="txtPersonalFatherName" class="form-control" />
                                            </td>
                                            <td>
                                                <select class="form-control" id="drpPersonalGender" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                                    <option value="0">---Select---</option>
                                                    <option value="1">Male</option>
                                                    <option value="2">Female</option>
                                                    <option value="3">Other</option>
                                                </select>
                                            </td>
                                            <td>
                                                <a class="btn btn-xs delete-record" data-id="0" style="display:none;"><h3><i class="glyphicon glyphicon-minus-sign"></i></h3></a>
                                                <a class="btn btn-xs add-record" data-added="0"><h3><i class="glyphicon glyphicon-plus-sign"></i></h3></a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">CA-Number of Electricity Connection(s)</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">K-Number of Water Connection(s)</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Property/House Tax Number issued by MCD/local body</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Name of Occupant</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Address</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">E-mail</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Telephone</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Mobile</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Aadhar Number of Occupant</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Voter ID Number</label>
                        <input type="text" class="form-control" />
                    </div>
                   
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Identity Proof of the Occupants; Aadhar,Voter Card, DL, Passport</label>
                        <input type="file" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Damage Paid in the Past, if any </label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                   
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Document of Property, if any</label>
                        <input type="file" class="form-control" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="control-label lb-sm">Remarks</label>
                        <textarea type="text" class="form-control"></textarea>
                    </div>
                </div>


                <div class="form-row ">
                    <div class="form-group col-md-12" style="margin-bottom:40px;">
                        <input type="submit" value="Create" class="btn btn-primary myapp-hed1" />
                        @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
                        @Html.ActionLink("Back", "Index", "Door2DoorSurvey", null, new { @class = "btn btn-primary myapp-hed1" })
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script>


    @*Repeator code  *@
    $(document).ready(function () {
        $("#tbl_posts #tbl_posts_body .odd").remove();
        $("#tbl_posts #add .form-control").attr("multiple", false);
    })
    $(document).delegate('a.add-record', 'click', function (e) {
        var name = $("#tbl_posts #add #txtPersonalName").val();
        //var father = $("#tbl_posts #add #txtPersonalFatherName").val();
        //var gender = $("#tbl_posts #add #drpPersonalGender").val();
        debugger
        if ($("#tbl_posts #add #txtPersonalName").val() != '' && $("#tbl_posts #add #txtPersonalFatherName").val() != '' && $("#tbl_posts #add #drpPersonalGender").val() != '0'
            && $("#tbl_posts #add #drpPersonalGender").val() != '' && $("#tbl_posts #add #txtPersonalAddress").val() != ''
            && $("#tbl_posts #add #txtPersonalMobileNo").val() != '' && $("#tbl_posts #add #txtPersonalEmailid").val() != '')
             {
                    var GenderValue = $("#tbl_posts #add #drpPersonalGender").children("option:selected").val();
                    //var father = $("#tbl_posts #add #txtPersonalFatherName").children("option:selected").val();
                    //var gender = $("#tbl_posts #add #drpPersonalGender").children("option:selected").val();
                    debugger
            e.preventDefault();
                    var content = jQuery('#tbl_posts #add tr'),
                    size = jQuery('#tbl_posts >tbody >tr').length,
                    element = null,
                    element = content.clone();
                    element.attr('id', 'rec-' + size);
                    element.find('.delete-record').attr('data-id', size);
                    element.appendTo('#tbl_posts_body');
                    $('#tbl_posts_body #rec-' + size + ' #drpPersonalGender').val(GenderValue);
        //$('#tbl_posts_body #rec-' + size + ' #txtPersonalFatherName').val(father);
        //$('#tbl_posts_body #rec-' + size + ' #drpPersonalGender').val(gender);
        element.find('.sn').html(size);
        $("#tbl_posts #add .sn").text($('#tbl_posts >tbody >tr').length);
        $("#tbl_posts #add .add").remove();
        $("#tbl_posts #tbl_posts_body .form-control").attr("readonly", true);
        element.find(".add-record").hide();
        element.find(".delete-record").show();
        debugger
        $("#tbl_posts #add .form-control").val('');
    }
        else {
            alert('Please fill record before add new record ');
        }
    });
    $(document).delegate('a.delete-record', 'click', function (e) {
        e.preventDefault();
        var didConfirm = confirm("Are you sure You want to delete");
        if (didConfirm == true) {
            var id = jQuery(this).attr('data-id');
            var targetDiv = jQuery(this).attr('targetDiv');
            jQuery('#rec-' + id).remove();

            //regnerate index number on table
            $('#tbl_posts_body tr').each(function (index) {
                //alert(index);
                $(this).find('span.sn').html(index + 1);
            });
            $("#tbl_posts #add .sn").text($('#tbl_posts >tbody >tr').length);
            return true;
        } else {
            return false;
        }
    });
</script>



