@*@{
        ViewData["Title"] = "Create";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <script src="~/js/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>
    <div class="row">
        <div class="col-sm-12">
            <div class="myapp-hed">
                <div class="col-md-12">
                    <h6 class="pull-left" style="color:white;margin-top:5px;">Door To Door Survey</h6>
                    <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
                </div>
            </div>
        </div>
    </div>*@
@await Component.InvokeAsync("PageHeader", new { pageName = "Door To Door Survey" })
<br />
<br />

@*<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  myapp-hed1">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%">Add Details</h6>
        </div>
        <div class="panel-body">*@
<form asp-action="Create" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
    <h3 class="mb-3 d-flex">Add Details</h3>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>



    <div class="row">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">

                <input type="text" placeholder="Location/Address of Property" class="floating-label-field floating-label-field--s3" />
                <label class="floating-label">Location/Address of Property</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">

                <input type="text" placeholder="Municipal Number" class="floating-label-field floating-label-field--s3" />
                <label class="floating-label">Municipal Number, if any</label>
            </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">

                <input type="text" placeholder="Geo Referencing" class="floating-label-field floating-label-field--s3" />
                <label class="floating-label">Geo Referencing</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap">

                <select class="floating-label-field floating-label-field--s3">
                    <option value="0">Residential</option>
                    <option value="1">Commercial</option>
                    <option value="0">Industrial</option>
                    <option value="1">Mixed</option>
                </select>
                <label class="floating-label">Present Use</label>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">

                <input type="text" placeholder="Approx Area of the Property" class="floating-label-field floating-label-field--s3" />
                <label class="floating-label">Approx Area of the Property</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">

                <input type="text" placeholder="Number of Floors" class="floating-label-field floating-label-field--s3" />
                <label class="floating-label">Number of Floors</label>
            </div>
        </div>
    </div>

    <div id="DivFamilyDetails">
       
        <h2 class="my-3 sub-heading">Family Details</h2>
       
        <div class="table-section bg-white border shadow rounded">
            <div class="table-responsive ">
                <table id="tbl_posts" class="table table-sm table-bordered mb-0 table-striped">
                    <thead class="text-nowrap">
                        <tr>
                            <th>Sr.No</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody id="tbl_posts_body">
                    </tbody>
                    <tbody class="tbody" id="add">
                        <tr id="">
                            <td>1</td>
                            <td>
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input type="text" id="txtPersonalName" class="floating-label-field floating-label-field--s3" />
                                </div>
                            </td>
                            <td>
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input type="text" id="txtPersonalFatherName" class="floating-label-field floating-label-field--s3" />
                                </div>
                            </td>
                            <td>
                                <div class="floating-label-wrap">
                                    <select class="floating-label-field floating-label-field--s3">
                                        <option value="0">---Select---</option>
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                        <option value="3">Other</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <a class="btn btn-theme delete-record" data-id="0" style="display:none;color:white;"><i class="fa fa-trash"></i></a>
                                    <a class="btn btn-theme add-record" data-added="0" style="color:white;"><i class="fa fa-plus"></i></a>
                                </div>
                                @*<a class="btn btn-xs delete-record" data-id="0" style="display:none;"><h3><i class="glyphicon glyphicon-minus-sign"></i></h3></a>
        <a class="btn btn-xs add-record" data-added="0"><h3><i class="glyphicon glyphicon-plus-sign"></i></h3></a>*@
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @*</div>*@

<div class="row pt-3">
    <div class="col-md-6">
        <div class="floating-label-wrap mb-3 mb-md-0">

            <input type="text" placeholder="CA-Number of Electricity Connection" class="floating-label-field floating-label-field--s3" />
            <label class="floating-label">CA-Number of Electricity Connection(s)</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="floating-label-wrap mb-3 mb-md-0">

            <input type="text" placeholder="K-Number of Water Connection(s)" class="floating-label-field floating-label-field--s3" />
            <label class="floating-label">K-Number of Water Connection(s)</label>
        </div>
    </div>
</div>

<div class="row pt-3">
    <div class="col-md-6">
        <div class="floating-label-wrap mb-3 mb-md-0">

            <input type="text" placeholder="Property/House Tax Number" class="floating-label-field floating-label-field--s3" />
            <label class="floating-label">Property/House Tax Number issued by MCD/local body</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="floating-label-wrap mb-3 mb-md-0">

            <input type="text" placeholder="Name of Occupant" class="floating-label-field floating-label-field--s3" />
            <label class="floating-label">Name of Occupant</label>
        </div>
    </div>
</div>
<div class="row pt-3">
    <div class="col-md-6">
        <div class="floating-label-wrap mb-3 mb-md-0">

            <input type="text" placeholder="Address" class="floating-label-field floating-label-field--s3" />
            <label class="floating-label">Address</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="floating-label-wrap mb-3 mb-md-0">

            <input type="text" placeholder="E-mail" class="floating-label-field floating-label-field--s3" />
            <label class="floating-label">E-mail</label>
        </div>
    </div>
</div>
<div class="row pt-3">
    <div class="col-md-6">
        <div class="floating-label-wrap mb-3 mb-md-0">

            <input type="text" placeholder="Telephone" class="floating-label-field floating-label-field--s3" />
            <label class="floating-label">Telephone</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="floating-label-wrap mb-3 mb-md-0">

            <input type="text" placeholder="Mobile" class="floating-label-field floating-label-field--s3" />
            <label class="floating-label">Mobile</label>
        </div>
    </div>
</div>
<div class="row pt-3">
    <div class="col-md-6">
        <div class="floating-label-wrap mb-3 mb-md-0">

            <input type="text" placeholder="Aadhar Number" class="floating-label-field floating-label-field--s3" />
            <label class="floating-label">Aadhar Number of Occupant</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="floating-label-wrap mb-3 mb-md-0">

            <input type="text" placeholder="Voter ID" class="floating-label-field floating-label-field--s3" />
            <label class="floating-label">Voter ID Number</label>

        </div>
    </div>

</div>
<div class="row pt-3">
    <div class="col-md-6">
        <div class="floating-label-wrap mb-3 mb-md-0">

            <input type="file" placeholder="Identity Proof" class="floating-label-field floating-label-field--s3" />
            <label class="floating-label">Identity Proof of the Occupants; Aadhar,Voter Card, DL, Passport</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="floating-label-wrap mb-3 mb-md-0">

            <input type="text" placeholder="Damage Paid" class="floating-label-field floating-label-field--s3" />
            <label class="floating-label">Damage Paid in the Past, if any </label>
        </div>
    </div>
</div>
<div class="row pt-3">

    <div class="col-md-6">
        <div class="floating-label-wrap mb-3 mb-md-0">

            <input type="file" placeholder="Document of Property" class="floating-label-field floating-label-field--s3" />
            <label class="floating-label">Document of Property, if any</label>
        </div>
    </div>
</div>

    <div class="row pt-3">
        <div class="col-md-12">
            <div class="floating-label-wrap mb-3 mb-md-0">

                <textarea type="text" placeholder="Remarks" class="floating-label-field floating-label-field--s3"></textarea>
                <label class="floating-label">Remarks</label>
            </div>
        </div>
    </div>




    <div class="row pt-3">
        <div class="col-md-12">
            <input type="submit" value="Create" class="btn btn-theme " />
            @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
            @Html.ActionLink("Back", "Index", "Door2DoorSurvey", null, new { @class = "btn btn-theme " })
        </div>
    </div>

</form>
        @*</div>
    </div>
</div>*@

<script>


    @*Repeator code  *@
    $(document).ready(function () {
        $("#tbl_posts #tbl_posts_body .odd").remove();
        $("#tbl_posts #add .form-control").attr("multiple", false);
    })
    $(document).delegate('a.add-record', 'click', function (e) {
        var name = $("#tbl_posts #add #txtPersonalName").val();
        //var father = $("#tbl_posts #add #txtPersonalFatherName").val();
        //var gender = $("#tbl_posts #add #drpPersonalGender").val();
        debugger
        if ($("#tbl_posts #add #txtPersonalName").val() != '' && $("#tbl_posts #add #txtPersonalFatherName").val() != '' && $("#tbl_posts #add #drpPersonalGender").val() != '0'
            && $("#tbl_posts #add #drpPersonalGender").val() != '' && $("#tbl_posts #add #txtPersonalAddress").val() != ''
            && $("#tbl_posts #add #txtPersonalMobileNo").val() != '' && $("#tbl_posts #add #txtPersonalEmailid").val() != '')
             {
                    var GenderValue = $("#tbl_posts #add #drpPersonalGender").children("option:selected").val();
                    //var father = $("#tbl_posts #add #txtPersonalFatherName").children("option:selected").val();
                    //var gender = $("#tbl_posts #add #drpPersonalGender").children("option:selected").val();
                    debugger
            e.preventDefault();
                    var content = jQuery('#tbl_posts #add tr'),
                    size = jQuery('#tbl_posts >tbody >tr').length,
                    element = null,
                    element = content.clone();
                    element.attr('id', 'rec-' + size);
                    element.find('.delete-record').attr('data-id', size);
                    element.appendTo('#tbl_posts_body');
                    $('#tbl_posts_body #rec-' + size + ' #drpPersonalGender').val(GenderValue);
        //$('#tbl_posts_body #rec-' + size + ' #txtPersonalFatherName').val(father);
        //$('#tbl_posts_body #rec-' + size + ' #drpPersonalGender').val(gender);
        element.find('.sn').html(size);
        $("#tbl_posts #add .sn").text($('#tbl_posts >tbody >tr').length);
        $("#tbl_posts #add .add").remove();
        $("#tbl_posts #tbl_posts_body .form-control").attr("readonly", true);
        element.find(".add-record").hide();
        element.find(".delete-record").show();
        debugger
        $("#tbl_posts #add .form-control").val('');
    }
        else {
            alert('Please fill record before add new record ');
        }
    });
    $(document).delegate('a.delete-record', 'click', function (e) {
        e.preventDefault();
        var didConfirm = confirm("Are you sure You want to delete");
        if (didConfirm == true) {
            var id = jQuery(this).attr('data-id');
            var targetDiv = jQuery(this).attr('targetDiv');
            jQuery('#rec-' + id).remove();

            //regnerate index number on table
            $('#tbl_posts_body tr').each(function (index) {
                //alert(index);
                $(this).find('span.sn').html(index + 1);
            });
            $("#tbl_posts #add .sn").text($('#tbl_posts >tbody >tr').length);
            return true;
        } else {
            return false;
        }
    });
</script>



