
@{
    ViewData["Title"] = "Index";
}






<style>
    .bg {
        background: linear-gradient(to left, #9e1c32, #991141, #900f50, #83155d, #721e68, #68226f, #5d2675, #4f2a7a, #492b80, #422c85, #392e8b, #2c3091);
    }

    .alert-info {
        color: #31708F;
        background-color: rebeccapurple;
        border-color: #BCE8F1;
    }

    .hedingcss {
        background-color: rebeccapurple;
    }

    .panel-default > .panel-heading-custom {
        background: #2c3091;
        color: #fff;
        height: 44px;
        margin-bottom: 2px;
        font-size: 16px;
    }

    .alert-custom {
        top: -10px;
        color: #fff;
        background: linear-gradient(to left, #9e1c32, #991141, #900f50, #83155d, #721e68, #68226f, #5d2675, #4f2a7a, #492b80, #422c85, #392e8b, #2c3091);
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
    }

    .btn {
        width: 143px !important;
    }
</style>


<style>
    .btn {
        Background: linear-gradient(33deg, #8c1f47,#362c85);
        Font-size: 1.0rem;
        Font-Family: Open SansSemibold;
        color: #ffffff
    }
</style>




<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">List of Data Uploaded</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  myapp-hed1">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%">
                Count Wise Report
            </h6>
        </div>
        <div class="panel-body">
            <div class="row">

                <div class="col-md-6">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="control-label lb-sm">From Date </label>
                                <input class="form-control" required type="date" />
                                <span class="text-danger"></span>
                            </div>
                        </div>



                        <br />
                      
                        <br />



                        <br>


                    </form>
                </div>
                <div class="col-md-6">

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="control-label lb-sm">To Date </label>
                            <input class="form-control" required type="date" />
                            <span class="text-danger"></span>
                        </div>

                    </div>



                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <input type="submit" value="Retrieve Report" style="margin-bottom:30px;max-width:100%;width:150px !important;" class="btn btn-primary" />
                </div>

            </div>


            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-heading  myapp-hed1">
                        <h6 class="pull-left" style="color:white; margin-top:-0.4%">
                            Count Wise Report is as on 05-08-2020 as under:
                        </h6>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-body ">
                            <div class="table-responsive">
                                <table id="mytable" class="table table-striped table-bordered" border="0">
                                    <thead class="thead">
                                        <tr>
                                          
                                            <th> Department </th>
                                            <th>Zone </th>
                                            <th>Total Localities</th>
                                            <th>Total Images</th>

                                        </tr>
                                    </thead>
                                    <tbody class="tbody">
                                        <tr>
                                          
                                            <td>Horticulture</td>
                                            <td>DWARKA</td>
                                            <td>2384</td>
                                            <td>2385</td>

                                        </tr>
                                        <tr>
                                            
                                            <td>Land Management</td>
                                            <td>DWARKA</td>
                                            <td>217</td>
                                            <td>217</td>

                                        </tr>


                                        <tr>
                                            
                                            <td>Horticulture</td>
                                            <td>DWARKA</td>
                                            <td>771</td>
                                            <td>772</td>

                                        </tr>


                                        <tr>
                                           
                                            <td>Horticulture</td>
                                            <td>DWARKA</td>
                                            <td>110</td>
                                            <td>110</td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                            <div>
                                <input type="submit" value="Export to Excel" class="btn btn-primary" style="width:200px;margin-bottom:20px" />
                            </div>

                        </div>



                    </div>
                </div>
            </div>


        </div>
    </div>
</div>





