
@model Libraries.Model.Entity.Request

@await Component.InvokeAsync("PageHeader", new { pageName = "Request" })


<div class="pt-3">
    <div class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Tracking Details</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input class="floating-label-field floating-label-field--s3" placeholder="Scheme Name" asp-for="ReferenceNo" />
                    <span asp-validation-for="ReferenceNo" class="text-danger"></span>
                    <label class="floating-label">ReferenceNo </label>
                </div>
            </div>
        </div><div class="row mt-md-3">
                  @*<div class="col-md-12 col-xl-3">*@
                      <div class="col-md-2" >

                          <input type="submit" value="Generate" id="btnGenerate" class="btn btn-theme" />

                      </div>

                      <div class="col-md-2">

                          <input type="submit" value="Cancel" id="btnReset" class="btn btn-theme" />

                      </div>


                  @*</div>*@
    </div>
</div>
    <div class="table-section bg-white border shadow rounded">


        <div class="table-responsive px-2">
            <div class="table-responsive px-2" id="LoadReportView">

            </div>
        </div>
        </div>
        </div>


     

        <partial name="../Shared/_ValidationScriptsPartial.cshtml" />
        <environment include="Development">
            <script src="~/js/referencetrackingindex.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/js/referencetrackingindex.min.js" asp-append-version="true"></script>
        </environment>

