@*@model Libraries.Model.Entity.Propertyregistration*@
@await Component.InvokeAsync("PageHeader", new { pageName = "Status of Vacant Land" })
<div class="pt-3">
    @*<div class="container-fluid">
        <div class="panel">

            <div class="panel-body">
                <form asp-action="Create" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">*@
    <div class="d-block rounded border p-3 bg-white search-filer shadow mb-3">

        <h3 class="mb-3 d-flex">
            Status of Vacant Land (Enggering / Land Management / Horticulture)
           </h3>




        @*</form>*@
        <div class="row mt-md-3">
            <div class="table-section bg-white border shadow rounded">

                <div class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
                    <h3 class="mb-3 d-flex">
                        Status of Vacant Land (Enggering/Land Management/Horticulture) is as on
                        <span id="currentdate"></span>
                        as under:
                    </h3>

                    <div class="table-section bg-white border shadow rounded">
                        <div class="short-section d-md-flex align-items-center">
                            <div class="p-3 d-flex align-items-end mr-auto">
                                <div class="floating-label-wrap">
                                    <select class="floating-label-field floating-label-field--s3">
                                        <option selected="selected" disabled="disabled">Select One</option>
                                        <option>Department</option>
                                        <option>Total No Of Plots</option>
                                        <option>Total No Of Plots Against which photo Uploaded </option>
                                      
                                    </select>
                                    <label for="field-1" class="floating-label">Sort by</label>
                                </div>
                                <div class="short-btn d-flex align-items-center">
                                    <span class="btn slow active" title="Descending order"><i class="ri-sort-desc"></i></span>
                                    <span class="btn slow" title="Ascending order"><i class="ri-sort-asc"></i></span>
                                </div>
                            </div>

                            <div class="download-table d-flex align-items-center px-3 mb-3 mb-md-0">

                                <a href="javascript:void(0)" class="d-flex align-items-center btn btn-success">
                                    <i class="ri-download-2-line mr-2 mr-lg-1"></i>
                                    <small>Download</small>
                                </a>
                            </div>
                        </div>
                        @*<div class="table-responsive px-2" id="LoadReportView">

                            </div>*@


                        @*<div class="row mt-md-3">*@
                        <table class="table table-sm table-bordered mb-0 table-striped">
                            <thead class="text-nowrap">

                                <tr>
                                    
                                    <th>Department</th>
                                    <th>Total No of Plots</th>
                                    <th>
                                        No of Plots against which photos uploaded as on
                                        01-10-2020
                                    </th>
                                    <th>No of Plots against which photos uploaded as on date  </th>
                                    <th>No of plots against which photos are not being uploaded</th>
                                    <th>No of photographs uploaded</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    
                                    <td>Engineering</td>
                                    <td>2398</td>
                                    <td>2384</td>
                                    <td>2385</td>
                                    <td>13</td>
                                    <td>363544</td>
                                </tr>
                                <tr>
                                   
                                    <td>Land Management</td>
                                    <td>218</td>
                                    <td>217</td>
                                    <td>217</td>
                                    <td>1</td>
                                    <td>25519</td>
                                </tr>


                                <tr>
                                   
                                    <td>Horticulture</td>
                                    <td>773</td>
                                    <td>771</td>
                                    <td>772</td>
                                    <td>1</td>
                                    <td>50970</td>
                                </tr>


                                <tr>
                                    <td>
                                    </td>
                                    <td>Total</td>
                                    <td>165</td>
                                    <td>110</td>
                                    <td>110</td>
                                    <td>55</td>
                                    <td>2108</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    @*</form>
                        </div>*@
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <input type="submit" value="Export to Excel" class="btn btn-theme" />
                        </div>




                    </div>
            </div>
        </div>
    </div>
</div>


</div>

<p id="currentdate"></p>

<script>
    var date = (new Date()).toISOString().split('T')[0];

    document.getElementById("currentdate").innerHTML = date;
</script>
