

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Fixing Dermolition</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div>
    @Html.ActionLink("Add New", "Create", "AnnexureA", null, new { @class = "btn btn-primary pull-right dda-pageheading", style = "margin-top: -10px;" })
</div>
<br />
<br />
<div class="container-fluid" id="MainContentForm">
    <div class="card  table-card" style="overflow:scroll;">

        <table class="table table-responsive table-bordered table-card">

            <thead class="thead">
                <tr>
                    <th>Sr.No</th>
                    <th>Date</th>
                    <th>Locality(Village)</th>
                    <th>Khasra No</th>
                    <th>Police Station</th>
                    <th>Security Guard on duty</th>
                    <th>Status</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr>
                    <td>1</td>
                    <td>10 Jan 0001</td>
                    <td>Gurgaon</td>
                    <td>001</td>
                    <td>gurgaon</td>
                    <td>1</td>
                    <td>Active</td>
                    <td>
                        <a asp-action="Create">  <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i> </a>




                        <a asp-action="Create"> &nbsp; | &nbsp;  <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> </a>
                    </td>
                </tr>


            </tbody>

        </table>

    </div>
</div>
<br />
<br />

