@model Libraries.Model.Entity.Landtransfer
@await Component.InvokeAsync("PageHeader", new { pageName = "Update Plot Details" })
<div class="pt-3">
    <form class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Engineering/Horticulture/LM/Planning Land Status Records</h3>

        <div class="table-section bg-white border shadow rounded">

            <div class="table-responsive px-2" id="divCurrentStatusOfLandTable"></div>


        </div>
    </form>
</div>
<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/currentStatusOfLandIndex.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/currentStatusOfLandIndex.min.js" asp-append-version="true"></script>
</environment>
