
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Award Master Details</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  myapp-hed1">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%">Add Details</h6>
        </div>
        <div class="panel-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Award No.</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Award Date</label>
                        <input type="date" class="form-control" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Village Name</label>
                        <select style="height:30px; background-color: #dddddd;" id="" required="" class="form-control">
                            <option value="0">---Select---</option>
                            <option value="1">Nimri</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Proposal Name</label>
                        <select style="height:30px; background-color: #dddddd;" id="" required="" class="form-control">
                            <option value="0">---Select---</option>
                            <option value="1">SPECIAL INDUSTRIAL</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Compensation</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Land A Rate</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Land C Rate</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Type</label>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="radio-inline  ">
                                    <input type="radio" name="court" id="court" value=""  />Permanent
                                </label>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="radio-inline ">
                                    <input type="radio" name="court" id="court" value=""  />Temporary
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Nature</label>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="radio-inline  ">
                                    <input type="radio" name="court" id="court" value=""  />Plan
                                </label>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="radio-inline ">
                                    <input type="radio" name="court" id="court" value=""  />Non-Plan
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Purpose</label>
                        <textarea type="date" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Under Section No. 4</label>
                        <select style="height:30px; background-color: #dddddd;" id="" required="" class="form-control">
                            <option value="0">---Select---</option>
                            <option value="1">Test2</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Under Section No. 6</label>
                        <select style="height:30px; background-color: #dddddd;" id="" required="" class="form-control">
                            <option value="0">---Select---</option>
                            <option value="1">Test2</option>
                        </select>
                    </div>
                </div>
                    <div class="form-row">
                       
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Under Section No. 17</label>
                            <select style="height:30px; background-color: #dddddd;" id="" required="" class="form-control">
                                <option value="0">---Select---</option>
                                <option value="1">Test2</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Status</label>
                            <select style="height:30px; background-color: #dddddd;" id="" required="" class="form-control">
                                <option value="0">Active</option>
                                <option value="1">InActive</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="control-label lb-sm">Remarks</label>
                            <textarea type="text" class="form-control"></textarea>
                        </div>
                    </div>


                    <div class="form-row ">
                        <div class="form-group col-md-12" style="margin-bottom:40px;">
                            <input type="submit" value="Create" class="btn btn-primary myapp-hed1" />
                            @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
                            @Html.ActionLink("Back", "Index", "AwardMasterDetails", null, new { @class = "btn btn-primary myapp-hed1" })
                        </div>
                    </div>

</form>
        </div>
    </div>
</div>





