@model Dto.Master.UserPersonalInfoDto

    <form asp-action="Edit" id="create_user">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="Name" class="control-label lb-sm">Name<span style="color:red">*</span></label>
                <input asp-for="Name" class="form-control form-control-sm" limit="150" required="required" requiredMsg="Name is Mandatory" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="UserName" class="control-label lb-sm">User Name<span style="color:red">*</span></label>
                <input asp-for="UserName" class="form-control" limit="256" required="required" requiredMsg="User Name is Mandatory" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="Email" class="control-label lb-sm">Email<span style="color:red">*</span></label>
                <input asp-for="Email" class="form-control form-control-sm" type="email" limit="256" required="required" requiredMsg="Email is Mandatory" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="PhoneNumber" class="control-label lb-sm">Phone Number<span style="color:red">*</span></label>
                <input asp-for="PhoneNumber" class="form-control form-control-sm onlynumbers" maxlength="10" required="required" requiredMsg="Phone Number is Mandatory" onpaste="return false;" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="row ">
            <div class="form-group col-md-12" style="margin-bottom:40px;">
                <input type="submit" value="Update" class="btn btn-primary dda-pageheading" onclick="return ValidateForm();" />
                @Html.ActionLink("Back", "Index", "UserManagement", null, new { @class = "btn btn-primary dda-pageheading" })
            </div>
        </div>
    </form>