@model Dto.Master.UserProfileInfoDto
<form asp-action="Create" id="frmUserProfileInfo">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Id" />
<div class="row">
    <div class="col-md-6 form-group">
        <label class="control-label lb-sm" asp-for="DepartmentId">Department <span style="color:red">*</span></label>
        <select class="form-control dda-dropdown" asp-for="DepartmentId" required="required" requiredMsg="Department is Mandatory"
                asp-items="@(new SelectList(Model.DepartmentList, "Id","Name"))"
                onchange="return onChange(this.options[this.selectedIndex].value);">
            <option value="">Select</option>
        </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>
    <div class="col-md-6 form-group">
        <label class="control-label lb-sm" asp-for="ZoneId">Zone</label>
        <select class="form-control dda-dropdown" asp-for="ZoneId" asp-items="@(new SelectList(Model.ZoneList, "Id","Name"))">
            <option value="">Select</option>
        </select>
        <span asp-validation-for="ZoneId" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <label class="control-label lb-sm" asp-for="RoleId">Role <span style="color:red">*</span></label>
        <select class="form-control dda-dropdown" asp-for="RoleId" required="required" requiredMsg="Role is Mandatory"
                asp-items="@(new SelectList(Model.RoleList, "Id","Name"))">
            <option value="">Select</option>
        </select>
        <span asp-validation-for="RoleId" class="text-danger"></span>
    </div>
</div>
<div class="row ">
    <div class="form-group col-md-12" style="margin-bottom:40px;">
        <input type="submit" value="Update" id="btnSaveProfileInfo" class="btn btn-primary dda-pageheading" />
        @Html.ActionLink("Back", "Index", "UserManagement", null, new { @class = "btn btn-primary dda-pageheading" })
    </div>
</div>
</form>

<link href="~/lib/bootstrap/select2/select2.css" rel="stylesheet" />
<script src="~/lib/bootstrap/select2/select2.js" defer></script>
<environment include="Development">
    <script src="~/js/site.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
<environment include="Development">
    <script src="~/js/userprofileedit.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/userprofileedit.min.js" asp-append-version="true"></script>
</environment>