@model Dto.Master.AddUserDto

<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">User </h6>
                <i class="glyphicon glyphicon-arrow-right pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container-fluid">
    <div class="panel">
        <div class="panel-heading dda-pageheading">
            <h6 class="pull-left color-white " style="margin-top:-0.4%">Edit Details</h6>
        </div>
        <div class="panel-body">
            <form asp-action="Create" id="create_user">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label asp-for="Name" class="control-label lb-sm">Name<span style="color:red">*</span></label>
                        <input asp-for="Name" class="form-control form-control-sm" limit="150" required="required" requiredMsg="Name is Mandatory" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="UserName" class="control-label lb-sm">User Name<span style="color:red">*</span></label>
                        <input asp-for="UserName" class="form-control" limit="256" required="required" requiredMsg="User Name is Mandatory" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label asp-for="Email" class="control-label lb-sm">Email<span style="color:red">*</span></label>
                        <input asp-for="Email" class="form-control form-control-sm" type="email" limit="256" required="required" requiredMsg="Email is Mandatory" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="PhoneNumber" class="control-label lb-sm">Phone Number<span style="color:red">*</span></label>
                        <input asp-for="PhoneNumber" class="form-control form-control-sm onlynumbers" maxlength="10" required="required" requiredMsg="Phone Number is Mandatory" onpaste="return false;" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label asp-for="Password" class="control-label lb-sm">Password<span style="color:red">*</span></label>
                        <input asp-for="Password" class="form-control" type="password" required="required" requiredMsg="Password is Mandatory" onpaste="return false;" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="ConfirmPassword" class="control-label lb-sm">Confirm Password<span style="color:red">*</span></label>
                        <input asp-for="ConfirmPassword" class="form-control form-control-sm" type="password" required="required" requiredMsg="Confirm Password is Mandatory" onpaste="return false;" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="control-label lb-sm" asp-for="DepartmentId">Department <span style="color:red">*</span></label>
                        <select class="form-control dda-dropdown" asp-for="DepartmentId" required="required" requiredMsg="Department is Mandatory"
                                asp-items="@(new SelectList(Model.DepartmentList, "Id","Name"))"
                                onchange="return onChange(this.options[this.selectedIndex].value);">
                            <option value="">Select</option>
                        </select>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="control-label lb-sm" asp-for="ZoneId">Zone</label>
                        <select class="form-control dda-dropdown" asp-for="ZoneId" asp-items="@(new SelectList(Model.ZoneList, "Id","Name"))">
                            <option value="">Select</option>
                        </select>
                        <span asp-validation-for="ZoneId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="control-label lb-sm" asp-for="RoleId">Role <span style="color:red">*</span></label>
                        <select class="form-control dda-dropdown" asp-for="RoleId" required="required" requiredMsg="Department is Mandatory"
                                asp-items="@(new SelectList(Model.RoleList, "Id","Name"))">
                            <option value="">Select</option>
                        </select>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm"> Status</label>
                        <select class="form-control dda-dropdown">
                            <option value="1">Active</option>
                            <option value="0">InActive</option>
                        </select>
                        <span class="text-danger"></span>
                    </div>

                </div>

                <div class="row ">
                    <div class="form-group col-md-12" style="margin-bottom:40px;">
                        <input type="submit" value="Create" class="btn btn-primary dda-pageheading" onclick="return ValidateForm();" />
                        @Html.ActionLink("Back", "Index", "UserManagement", null, new { @class = "btn btn-primary dda-pageheading" })
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<partial name="../Shared/_ValidationScriptsPartial.cshtml" />

<environment include="Development">
    <script src="~/js/UserManagement.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/UserManagement.min.js" asp-append-version="true"></script>
</environment>
