
@model Libraries.Model.Entity.User

<style>
    .alert-info {
        color: #31708F;
        background-color: rebeccapurple;
        border-color: #BCE8F1;
    }

    .hedingcss {
        background-color: rebeccapurple;
    }

    .panel-default > .panel-heading-custom {
        background: #2c3091;
        color: #fff;
        height: 44px;
        margin-bottom: 2px;
        font-size: 16px;
    }

    .alert-custom {
        top: -10px;
        color: #fff;
        background: linear-gradient(to left, #9e1c32, #991141, #900f50, #83155d, #721e68, #68226f, #5d2675, #4f2a7a, #492b80, #422c85, #392e8b, #2c3091);
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
    }

    .btn {
        width: 143px !important;
    }
</style>


<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 11px;
            left: 4px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    /* Rounded sliders */
    .slider.round {
        border-radius: 20px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>



<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">User Master</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container-fluid">
    <div class="panel">
        <div class="panel-heading dda-pageheading">
            <h6 class="pull-left color-white " style="margin-top:-0.4%">Add Details</h6>
        </div>
        <div class="panel-body">
            <form asp-action="View">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">District </label>
                        <select class="form-control dda-dropdown" asp-for="DistrictId" asp-items="@(new SelectList(Model.DistrictList, "Id","Name"))">
                            <option>Select</option>
                        </select>
                        <span asp-validation-for="DistrictId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Login Name  </label>
                        <input class="form-control" asp-for="LoginName" />
                        <span asp-validation-for="LoginName" class="text-danger"></span>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Display Name  </label>
                        <input class="form-control" asp-for="DisplayName" />
                        <span asp-validation-for="DisplayName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Email  </label>
                        <input class="form-control" asp-for="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>



                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Password  </label>
                        <input class="form-control" asp-for="Password" id="Password" name="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Confirm Password </label>
                        <input class="form-control" asp-for="ConfirmPassword" id="ConfirmPassword" name="ConfirmPassword" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Role Name </label>
                        <select class="form-control dda-dropdown" asp-for="RoleId" asp-items="@(new SelectList(Model.RoleList, "Id","Name"))">
                            <option>Select</option>
                        </select>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Contact No  </label>
                        <input class="form-control" asp-for="ContactNo" />
                        <span asp-validation-for="ContactNo" class="text-danger"></span>
                    </div>
                </div>



                <div class="row">


                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Aadhar Card No  </label>
                        <input class="form-control" asp-for="AadharcardNo" />
                        <span asp-validation-for="AadharcardNo" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm"> Status</label>
                        <select asp-for="IsActive" class="form-control dda-dropdown">
                            <option value="1">Active</option>
                            <option value="0">InActive</option>
                        </select>
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>
                </div>




                <div style="margin-left:150px">


                    <div class="form-group">

                        <div class="col-md-6">
                            Set Default Password<br />
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>

                        </div>

                        <div class="col-md-6">
                            user must change password at first logon <br />
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>

                        </div>

                    </div>




                    <div class="form-group">

                        <div class="col-md-6">
                            Inactive User<br />
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>

                        </div>

                        <div class="col-md-4" style="margin-right:100px">
                            Locked User<br />
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>

                        </div>
                        <div class="col-md-2"></div>
                    </div>

                </div>

                <br />


                <br />





                <div class="form-row">
                    <div class=" form-group  col-md-12">
                     
                        @Html.ActionLink("Back", "Index", "UserManagement", null, new { @class = "btn btn-primary dda-pageheading" })
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>



<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
