@model Dto.Master.EditUserDto
@await Component.InvokeAsync("PageHeader", new { pageName = "User" })
<div class="pt-3">

                <form class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
                    <h3 class="mb-3 d-flex">View Details<span class="ms-auto"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span></h3>

                    <input type="hidden" asp-for="Id" disabled="disabled" />
                    <ul class="nav nav-tabs md-tabs" id="myTabMD" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="btnPersonalInfo" data-bs-toggle="tab" href="#home-md" role="tab" aria-controls="home-md"
                               aria-selected="true">Personal Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="btnProfileInfo" data-bs-toggle="tab" href="#profile-md" role="tab" aria-controls="profile-md"
                               aria-selected="false">Profile Information</a>
                        </li>
                    </ul>
                    <br />
                    <div id="divLoadData"></div>
                    <div class="row ">
                        <div class="form-group col-md-12" align="center">
                            <div class="btn-group" role="group" aria-label="Basic example">
                            
                            </div>
                        </div>
                    </div>
                </form>
                    
            
    </div>
    <partial name="../Shared/_ValidationScriptsPartial.cshtml" />

    <environment include="Development">
        <script src="~/js/usermanagementview.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/usermanagementview.min.js" asp-append-version="true"></script>
    </environment>
