@model System.Collections.Generic.IList<Dto.Master.UserNotificationAlertDto>
@await Component.InvokeAsync("PageHeader", new { pageName = "All Notifications" })

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="slow bg-gray">
    <div class="container-fluid">
        <div class="section-wraper px-3  pb-md-0 pt-md-3">
            @*<h6 class="pull-left my-3" style="color:#007bff;margin-top:5px;">All Notifications</h6>*@
            <div class="">
                @foreach (var menu in Model)
                {
                    <div class="notification-list notification-list--unread d-md-flex align-items-center mb-3">
                        <div class="notification-list_content d-md-flex align-items-center">
                            <div class="notification-list_img mb-3 mb-md-0 me-4">
                                <img src="https://auth.managemybusinessess.com/login/logo-circle.png" alt="user" style="width: 60px;height: 60px;">
                            </div>
                            <div class="notification-list_detail">
                                <h6 class="mb-2"><a asp-action="UpdateUserNotification" asp-controller="UserNotification" asp-route-id="@menu.Id" asp-route-url="@menu.URL" target="_blank"> @menu.Message</a> </h6>
                                <p class="text-muted"><small>@(menu.SubmitDate == "0" ?"Today" : menu.SubmitDate + " days ago")</small></p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>