@model IEnumerable<Libraries.Model.Entity.Undersection4plot>
@await Component.InvokeAsync("PageHeader", new { pageName = "Notification U/S-4 Plot" })

<div class="pt-3">


    <div class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Search</h3>
        <div class="row">
            <div class="col-md-6 ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" id="txtPName" class="floating-label-field floating-label-field--s3" placeholder="Name" />
                    <label for="txtName" class="floating-label">Notification No</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" id="txtNotificationN" class="floating-label-field floating-label-field--s3" placeholder="Code" />
                    <label for="txtCode" class="floating-label">Village Name</label>
                </div>
            </div>

          

        </div>
        <div class="row mt-md-3">
            <div class="col-md-12 col-xl-3">
                <div class="row">
                    <div class="col-6 col-md-5 col-xl-6">
                        <button class="btn btn-link btn-block d-flex align-items-center justify-content-center" id="btnReset" type="reset">
                            <i class="ri-refresh-line me-2"></i>Reset
                        </button>
                    </div>
                    <div class="col-6 col-md-7 col-xl-6">
                        <button class="btn btn-theme btn-block" id="btnSearch" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-section bg-white border shadow rounded">
        <div class="short-section d-md-flex align-items-center">
            <div class="p-3 d-flex align-items-end me-auto">
                <div class="floating-label-wrap">
                    <select id="ddlSort" class="floating-label-field floating-label-field--s3">
                        <option value="UNDERSECTION4NO"> Notification No</option>
                        <option value="VILLAGE">Village</option>

                        <option value="Status">Status</option>
                    </select>
                    <label for="field-1" class="floating-label">Sort by</label>
                </div>
                <div class="short-btn d-flex align-items-center">
                    <span class="btn slow active" id="btnAscending" title="Ascending order"><i class="ri-sort-asc"></i></span>
                    <span class="btn slow" id="btnDescending" title="Descending order"><i class="ri-sort-desc"></i></span>
                </div>
            </div>




            <div class="download-table d-flex align-items-center px-3 mb-3 mb-md-0">
                <a href="/UnderSection4PlotForm/create" class="d-flex align-items-center btn btn-primary me-2">
                    <i class="ri-add-fill me-2 mr-lg-1"></i>
                    <small>Add More</small>
                </a>
                <a href="/UnderSection4PlotForm/Undersection4plotList" class="d-flex align-items-center btn btn-success">
                    <i class="ri-download-2-line me-2 mr-lg-1"></i>
                    <small>Download</small>
                </a>
            </div>

        </div>

        <div class="table-responsive px-2" id="divUnderSection4Plot">

        </div>


    </div>





</div>




<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/UnderSection4PlotIndex.js"></script>

</environment>
<environment exclude="Development">
    <script src="~/js/UnderSection4PlotIndex.min.js" asp-append-version="true"></script>
</environment>
