@model Libraries.Model.Entity.Undersection4plot

@await Component.InvokeAsync("PageHeader", new { pageName = "Notification U/S-4 Plot Form" })




<div class="pt-3">
    <form asp-action="Edit" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>



        <h3 class="mb-3 d-flex">View Details<span style="margin-left:800px"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span></h3>

        <div class="row">
            <div class=" col-md-6">
                <div class="floating-label-wrap">

                    <select disabled class="floating-label-field floating-label-field--s3" asp-for="UnderSection4Id" asp-items="@(new SelectList(Model.NotificationList, "Id","Number"))">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="UnderSection4Id" class="text-danger"></span>
                    <label class="floating-label">Notification No(U/S-4) <span style="color:red">*</span></label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select disabled class="floating-label-field floating-label-field--s3" asp-for="VillageId" asp-items="@(new SelectList(Model.VillageList, "Id","Name"))"
                            onchange="return onChange(this.options[this.selectedIndex].value);">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="VillageId" class="text-danger"></span>
                    <label asp-for="VillageId" class="floating-label">Village Name <span style="color:red">*</span></label>
                </div>
            </div>






            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select disabled class="floating-label-field floating-label-field--s3" asp-for="KhasraId" asp-items="@(new SelectList(Model.KhasraList, "Id","Name"))">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="KhasraId" class="text-danger"></span>
                    <label class="floating-label">Khasra No <span style="color:red">*</span></label>
                </div>
            </div>
        </div>



        <div class="pt-3">
            <h3 class="my-3 d-flex sub-heading">Actual Area</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">



                    <input type="text" id="Bigha1" class="floating-label-field floating-label-field--s3 numbers" placeholder="Bigha" readonly />

                    <label class="floating-label">Bigha</label>

                </div>
            </div>

            <div class="form-group col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">



                    <input disabled type="text" id="Biswa1" class="floating-label-field floating-label-field--s3 numbers" placeholder="Biswa" readonly />

                    <label class="floating-label">Biswa</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">


                    <input disabled type="text" id="Biswanshi1" class="floating-label-field floating-label-field--s3 numbers" placeholder="Biswanshi" readonly />

                    <label class="floating-label">Biswanshi</label>
                </div>
            </div>
        </div>



        <div class="pt-3">
            <h3 class="my-3 d-flex sub-heading">Notify Area</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">



                    <input disabled type="text" asp-for="Bigha" class="floating-label-field floating-label-field--s3 numbers" placeholder="Bigha" />
                    <span asp-validation-for="Bigha" class="text-danger"></span>
                    <label class="floating-label">Bigha<span style="color:red">*</span></label>

                </div>
            </div>

            <div class="form-group col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">



                    <input disabled type="text" asp-for="Biswa" class="floating-label-field floating-label-field--s3 numbers" placeholder="Biswa" />
                    <span asp-validation-for="Biswa" class="text-danger"></span>
                    <label class="floating-label">Biswa<span style="color:red">*</span></label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">


                    <input disabled type="text" asp-for="Biswanshi" class="floating-label-field floating-label-field--s3 numbers" placeholder="Biswanshi" />
                    <span asp-validation-for="Biswanshi" class="text-danger"></span>
                    <label class="floating-label">Biswanshi<span style="color:red">*</span></label>
                </div>
            </div>
        </div>



        <div class="form-row">


            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <textarea disabled type="text" asp-for="Remarks" class="floating-label-field floating-label-field--s3" placeholder="Remarks"></textarea>
                    <label class="floating-label">Remarks</label>
                </div>
            </div>




            <div class=" col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="IsActive" disabled>
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label asp-for="IsActive" class="floating-label">Status <span style="color:red">*</span> </label>
                </div>
            </div>



        </div>





        <div class="row mt-md-3">
            <div class=" col-md-12">
               
                @Html.ActionLink("Back", "Index", "UnderSection4PlotForm", null, new { @class = "btn btn-theme " })
            </div>
        </div>



    </form>
</div>

<div class="table-section bg-white border shadow rounded">


    <div class="table-responsive ">
        <div id="divnotification4Table"></div>
    </div>


</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />

<environment include="Development">

    <script src="~/js/UnderSection4plotEdit.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/UnderSection4plotEdit.min.js" asp-append-version="true"></script>
</environment>
