################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj
bin
/*/obj
/*/bin
/*/*/obj
/*/*/bin
/*/*/*/obj
/*/*/*/bin
/*/*/*/*.min.css
/*/*/*/*.config
/*/*/*/*.min.js
/packages
*.vs
*.vs/config/*.config
*.vs/config/applicationhost.config
*.cache
*.dll
*.exe
*.pdb
/build/
*/*/*/*.suo
*.user
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*.defaults
*.pubxml
