################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj
bin
/*/obj
/*/bin
/*/*/obj
/*/*/bin
/*/*/*/obj
/*/*/*/bin
/*/*/*/*.min.css
/*/*/*/*.config
/*/*/*/*.min.js
/packages
*.vs
*.vs/config/*.config
*.vs/config/applicationhost.config
*.cache
*.dll
*.exe
*.pdb
/build/
*/*/*/*.suo
*.user
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*.defaults
*.pubxml
/DDA-Land-Management.v11.suo
/LeaseDetails/Models/Views/CalculationSheet
/LeaseDetails/Models/Views/Dashboard
/LeaseDetails/Models/Views/Demand
/LeaseDetails/Models/Views/Documentcharges
/LeaseDetails/Models/Views/DocumentChecklist
/LeaseDetails/Models/Views/GroundRent
/LeaseDetails/Models/Views/Home
/LeaseDetails/Models/Views/Interestrate
/LeaseDetails/Models/Views
