@model Libraries.Model.Entity.Interest

@await Component.InvokeAsync("PageHeader", new { pageName = "Interest" })

<div class="pt-3">

    <form asp-action="Edit" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Edit Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="PropertyId" asp-items="@(new SelectList(Model.PropertyTypeList, "Id","Name"))">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="PropertyId" class="text-danger"></span>
                    <label asp-for="PropertyId" class="floating-label">Property Type </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<span class="text-danger">*</span>*@
                    <input asp-for="FromDate" placeholder="From Date" type="date"
                           class="floating-label-field floating-label-field--s3" limit="100" />

                    <span asp-validation-for="FromDate" class="text-danger"></span>

                    <label class="floating-label">From Date   </label>
                </div>
            </div>
        </div>

        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<span class="text-danger">*</span>*@
                    <input asp-for="ToDate" type="date" class="floating-label-field floating-label-field--s3" placeholder="To Date"
                           limit="100">
                    <span asp-validation-for="ToDate" class="text-danger "></span>
                    <label class="floating-label">To Date</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<span class="text-danger">*</span>*@
                    <input asp-for="Percentage" type="text"  class="floating-label-field floating-label-field--s3" placeholder="To Date"
                           limit="18">
                    <span asp-validation-for="Percentage" class="text-danger "></span>
                    <label class="floating-label">Interest Percentage</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class=" col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="IsActive">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label asp-for="IsActive" class="floating-label">Status </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="submit">Update</button>
                @Html.ActionLink("Back", "Index", "Interest", null, new { @class = "btn btn-theme " })

            </div>
        </div>

    </form>

</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
@*<environment include="Development">
        <script src="~/js/common.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/common.min.js" asp-append-version="true"></script>
    </environment>*@

<environment include="Development">
    <script src="~/js/interestcreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/interestcreate.min.js" asp-append-version="true"></script>
</environment>
