
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Hearing Is Due For Specified Period</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  myapp-hed1">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%">Hearing Is Due For Specified Period </h6>
        </div>
        <div class="panel-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">To </label>
                        <input type="Date" class="form-control">

                    </div>


                </div>
                <div class="form-row">
                    <div class=" form-group  col-md-12">
                        <input type="submit" value="Retrieve" class="btn btn-primary myapp-hed1" />

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">

                        <div id="courtwiserpt">
                            <div class="card  table-card table-responsive" style="overflow:scroll;">

                                <table class="table  table-bordered table-card">
                                    <thead>
                                        <tr class="myapp-hed1">
                                            <th colspan="12">  Details Cases whose Hearing Is Due Upto 10/08/2004 </th>

                                        </tr>
                                    </thead>
                                    <thead class="thead">
                                        <tr class="myapp-hed1">
                                            <th>Sr.No</th>
                                            <th>Court Name/Lawyer Name </th>
                                            <th>Year </th>
                                            <th>Case No/Case Title </th>
                                          
                                            <th>  Filing Date </th>
                                            <th> File no </th>
                                            <th> Dept File no</th>
                                            <th> Branch name/Subject Name </th>
                                            @*<th>Lawyer name</th>*@
                                            <th> Next Hearing Date</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody">
                                        <tr>
                                            <td>1</td>
                                            <td>District Court Delhi(Tis Hazari)</td>
                                            <td>2004</td>
                                            <td>A-111/2004</td>
                                        
                                            <td>23-MAY-2018</td>
                                            <td>F-11/2018</td>
                                            <td>D-102</td>
                                            <td>Housing</td>
                                            @*<td>AJAY VERMA</td>*@
                                            <td>30-MAY-2018</td>
                                            <td>PENDING</td>

                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Delhi High Court</td>
                                            <td>2004</td>
                                            <td>A-111/2004</td>
                                            
                                            <td>23-MAY-2018</td>
                                            <td>F-11/2018</td>
                                            <td>D-102</td>
                                            <td>Housing Challenge of Cost</td>
                                            @*<td>AJAY VERMA</td>*@
                                            <td>30-MAY-2018</td>
                                            <td>PENDING</td>

                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>AJAY VERMA</td>
                                            <td>2004</td>
                                           
                                            <td>TES VA TSET</td>
                                            <td>23-MAY-2018</td>
                                            <td>F-11/2018</td>
                                            <td>D-102</td>
                                            <td>ENGG</td>
                                            @*<td>AJAY VERMA</td>*@
                                            <td>30-MAY-2018</td>
                                            <td>PENDING</td>

                                        </tr>
                                    </tbody>

                                </table>

                            </div>

                        </div>
                    </div>

                </div>
                <br />
                <div class="form-row">
                    <div class=" form-group  col-md-12">

                        <input type="submit" value="Export to Excel" class="btn btn-primary  myapp-hed1" style="width:150px !important;" />

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>





