@model Dto.Master.ProceedingEvictionLetterCreateProfileDto
@await Component.InvokeAsync("PageHeader", new { pageName = "Proceeding Eviction Letter" })

<div class="pt-3">

    <form asp-action="Create" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Show Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" asp-for="RefNoNameId" asp-items="@(new SelectList(Model.RefNoNameList, "Id","Name"))" onchange="return GetLetterRefNo(this.options[this.selectedIndex].value);">
                            <option selected="selected" disabled="disabled" value="">--Select-- </option>
                        </select>
                        <span asp-validation-for="RefNoNameId" class="text-danger"></span>
                        <label asp-for="RefNoNameId" class="floating-label">File No. </label>
                    </div>
                </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="LetterReferenceNo" type="text"
                           class="floating-label-field floating-label-field--s3" limit="200" />
                    <span asp-validation-for="LetterReferenceNo" class="text-danger"></span>
                    <label class="floating-label">Letter Reference No.</label>
                </div>
            </div>
        </div>


        <div class="row mt-md-3">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="submit">Generate</button>
                @Html.ActionLink("Clear", "Create", "ProceedingEvictionLetter", null, new { @class = "btn btn-theme " })

            </div>
        </div>

    </form>
    <div class="d-block rounded border p-3 bg-white search-filer shadow mb-3 ">
        <input type="submit" value="Print" class="btn btn-theme" id="btnCreate" />
        <div id="LetterData">
            @*@{
                    @if (ViewBag.DataLetter != null)
                    {
                        @Html.Raw(ViewBag.DataLetter);
                    }
                }*@
        </div>
    </div>

</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/proceedingevictionlettercreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/proceedingevictionlettercreate.min.js" asp-append-version="true"></script>
</environment>