@await Component.InvokeAsync("PageHeader", new { pageName = "Demand Report" })

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="pt-3">
    <div id="1" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Add Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-md-4">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" style="width:100%;">
                        <option value="0">---Select---</option>
                        <option value="1">Nimri</option>
                    </select>
                    <span class="d-block text-danger field-validation-valid"></span>
                    <label class="floating-label">Locality(Village)Name<span style="color:red">*</span> </label>
                </div>
            </div>
            <div class="form-group col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input placeholder="Date" type="date"
                           class="floating-label-field floating-label-field--s3" />
                    <span class="d-block text-danger field-validation-valid"></span>
                    <label class="floating-label">From Date <span style="color:red">*</span></label>
                </div>
            </div>
            <div class="form-group col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input placeholder="Date" type="date"
                           class="floating-label-field floating-label-field--s3" />
                    <span class="d-block text-danger field-validation-valid"></span>
                    <label class="floating-label">To Date <span style="color:red">*</span></label>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-12">
                <button class="btn btn-theme " id="btnGenerate" type="submit">Generate</button>
                @Html.ActionLink("Back", "Index", "DemandReport", null, new { @class = "btn btn-theme" })
            </div>
        </div>
    </div>
            @*@{
                @if (ViewBag.IsShowData == "Yes")
                {*@
    <div id="DivReportDetails">
        <h3 class="my-3 d-flex sub-heading">Report</h3>
        <div class="table-section bg-white border shadow rounded">
            <div class="short-section d-md-flex align-items-center">
                <div class="p-3 d-flex align-items-end mr-auto">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3">
                            <option selected="selected" disabled="disabled">Select One</option>
                            <option>Demand Date</option>
                            <option>Demand Amount</option>
                        </select>
                        <label for="field-1" class="floating-label">Sort by</label>
                    </div>
                    <div class="short-btn d-flex align-items-center">
                        <span class="btn slow active" title="Descending order"><i class="ri-sort-desc"></i></span>
                        <span class="btn slow" title="Ascending order"><i class="ri-sort-asc"></i></span>
                    </div>
                </div>


                <div class="download-table d-flex align-items-center px-3 mb-3 mb-md-0">
                    @*<a href="/Zone/create" class="d-flex align-items-center btn btn-primary mr-2">
                        <i class="ri-add-fill mr-2 mr-lg-1"></i>
                        <small>Add More</small>
                    </a>*@
                    <a href="javascript:void(0)" class="d-flex align-items-center btn btn-success">
                        <i class="ri-download-2-line mr-2 mr-lg-1"></i>
                        <small>Download</small>
                    </a>
                </div>
            </div>
            <div class="table-responsive px-2">
                <table  class="table table-sm table-bordered mb-0 table-striped">
                    <thead class="text-nowrap">
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Locality(Village)</th>
                                    <th>File No.</th>
                                    <th>Payee Name</th>
                                    <th>Property No.</th>
                                    <th>Property/Plot Area(Sq. Yds)</th>
                                    <th>Demand No.</th>
                                    <th>Demand Date</th>
                                    <th>Demand Amount</th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr>
                                    <td>1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>


                            </tbody>

                        </table>

            </div>
        </div>
    </div>
   

                @*}
                else
                {

                }
            }*@


       

</div>






