
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<script src="~/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>
<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Demand Report</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  myapp-hed1">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%">Details</h6>
        </div>
        <div class="panel-body">
            <form method="post" asp-action="Index" id="1">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="control-label lb-sm">Locality Name</label>
                        <select style="height:30px; background-color: #dddddd;" id="" required="" class="form-control">
                            <option value="0">---Select---</option>
                            <option value="1">Nimri</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label lb-sm">From Date</label>
                        <input type="date" class="form-control" />
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label lb-sm">To Date</label>
                        <input type="date" class="form-control" />
                    </div>
                </div>

                <div class="form-row ">
                    <div class="form-group col-md-12" style="margin-bottom:40px;">
                        <input type="submit" value="Generate" class="btn btn-primary myapp-hed1" />
                        @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
                        @Html.ActionLink("Back", "Index", "DemandReport", null, new { @class = "btn btn-primary myapp-hed1" })
                    </div>
                </div>

                @{
                    @if (ViewBag.IsShowData == "Yes")
                    {
                        <div id="DivReportDetails">
                            <div class="row" style="margin-bottom:35px;">
                                <div class="col-sm-12">
                                    <div class=" myapp-hed2">
                                        <div class="col-md-12">
                                            <h6 class="pull-left" style="color:white;margin-top:5px;">Report</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div style="overflow:scroll;">

                                        <table class="table table-responsive table-bordered table-card">

                                            <thead class="thead">
                                                <tr>
                                                    <th>Sr.No</th>
                                                    <th>Locality</th>
                                                    <th>File No.</th>
                                                    <th>Payee Name</th>
                                                    <th>Property No.</th>
                                                    <th>Property/Plot Area(Sq. Yds)</th>
                                                    <th>Demand No.</th>
                                                    <th>Demand Date</th>
                                                    <th>Demand Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody class="tbody">
                                                <tr>
                                                    <td>1</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>

                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>


                                            </tbody>

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    else
                    {

                    }
                }


            </form>
        </div>
    </div>
</div>





