
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .alert-info {
        color: #31708F;
        background-color: rebeccapurple;
        border-color: #BCE8F1;
    }

    .hedingcss {
        background-color: rebeccapurple;
    }

    .panel-default > .panel-heading-custom {
        background: #2c3091;
        color: #fff;
        height: 44px;
        margin-bottom: 2px;
        font-size: 16px;
    }

    .alert-custom {
        top: -10px;
        color: #fff;
        background: linear-gradient(to left, #9e1c32, #991141, #900f50, #83155d, #721e68, #68226f, #5d2675, #4f2a7a, #492b80, #422c85, #392e8b, #2c3091);
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
    }

    .btn {
        width: 143px !important;
    }

    .tr-hide {
        display: none;
    }

    .tr-hide2 {
        display: none;
    }
</style>

<script src="~/js/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>




<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">
                    Demand & Collection Ledger
                </h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>



<br />
<br />







<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  myapp-hed1">
            <h6 class="pull-left" style="color:white; margin-top:-0.9%;">
                Search Criteria-  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;<input id="email" name="email" type="radio">&nbsp;Search by Payee Name
                &nbsp;  <select style="height:18px; background-color: #dddddd; color:black" type="text">
                    <option value="1">Select</option>
                    <option value="dept1">District</option>
                    <option value="dept2">Locality</option>
                    <option value="dept3">Payee</option>

                </select>
                &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;
                &nbsp;&nbsp;
                <input id="email" name="email" type="radio">
                &nbsp;Search by File Name &nbsp;
                <input style="height:18px; width:100px; background-color:#dddddd" id="email" name="email" type="text">

            </h6>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" action="" method="post">
                <fieldset>


                    <!-- Name input-->
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label lb-sm" for="name"> Property/House/Municipal No.</label>
                            <input id="email" name="email" type="text" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label class="control-label lb-sm" for="name">Locality Name</label>
                            <input id="email" name="email" type="text" class="form-control">

                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label lb-sm" for="name">Floor No (if purchased floor wise)</label>
                            <input id="email" name="email" type="text" class="form-control">

                        </div>
                        <div class="col-md-6">
                            <label class="control-label lb-sm" for="name">Road/Street Name</label>
                            <input id="email" name="email" type="text" class="form-control">

                        </div>
                    </div>

                    <div class="form-group">


                        <div class="col-md-6">
                            <label class="control-label lb-sm" for="name">Pincode</label>
                            <input id="email" name="email" type="text" class="form-control">

                        </div>


                        <div class="col-md-6">
                            <label class="control-label lb-sm" for="name">District</label>
                            <input id="email" name="email" type="text" class="form-control">

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label lb-sm" for="name">Plot Area in sq.yds</label>
                            <input id="email" name="email" type="text" class="form-control">

                        </div>

                    </div>
                                        <!-- Form actions -->

                </fieldset>
            </form>

            <div class="panel panel-container" style="border-bottom:double; border-color:rebeccapurple; overflow:hidden">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body ">
                                <div class="table-responsive">
                                    <table id="mytable" class="table table-striped table-bordered" border="0">
                                        <thead class="thead">
                                            <tr>
                                                <th></th>
                                                <th>Sr.No</th>
                                                <th>Demand Date</th>
                                                <th>Demand Amount</th>



                                            </tr>
                                        </thead>
                                        <tbody class="tbody">
                                            <tr>
                                                <th class="first_plus" style="cursor:pointer" onclick="showcollection(1);">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>


                                                </th>
                                                <th class="first_minus" style="cursor:pointer;display:none" onclick="showcollection(2);">
                                                    <i class="fa fa-window-minimize" aria-hidden="true"></i>


                                                </th>
                                                <td>1.</td>

                                                <td>01/01/2020</td>
                                                <td>200000</td>

                                            </tr>



                                            <tr class="thead tr-hide" id="showcollection">
                                                <th></th>
                                                <th>Collection Date</th>
                                                <th>Collection Amount</th>
                                                <th>Pay type</th>

                                            </tr>


                                            <tr class="tr-hide">
                                                <td></td>
                                                <td>02-02-2020</td>
                                                <td>50000</td>
                                                <td>Damage Amount</td>

                                            </tr>
                                            <tr class="tr-hide">
                                                <td></td>
                                                <td>03-02-2020</td>
                                                <td>20000</td>
                                                <td>Interest Amount</td>

                                            </tr>





                                            <tr>
                                                <th class="second_plus" style="cursor:pointer" onclick="showcollection_2(1);">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>

                                                </th>
                                                <th class="second_minus" style="cursor:pointer;display:none" onclick="showcollection_2(2);">
                                                    <i class="fa fa-window-minimize" aria-hidden="true"></i>

                                                </th>
                                                <td>2.</td>

                                                <td>01/01/2020</td>
                                                <td>200000</td>

                                            </tr>
                                            <tr class="thead tr-hide2" id="showcollection">
                                                <th></th>
                                                <th>Collection Date</th>
                                                <th>Collection Amount</th>
                                                <th>Pay type</th>

                                            </tr>


                                            <tr class="tr-hide2">
                                                <td></td>
                                                <td>02-02-2020</td>
                                                <td>50000</td>
                                                <td>Damage Amount</td>

                                            </tr>
                                            <tr class="tr-hide2">
                                                <td></td>
                                                <td>03-02-2020</td>
                                                <td>20000</td>
                                                <td>Interest Amount</td>

                                            </tr>


                                    </table>
                                </div>

                            </div>


                            <br />


                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>






</div>

<script>
    function showcollection(val) {

        if (val == 1) {
            $(".first_minus").show();
            $(".first_plus").hide();
        } else {
            $(".first_plus").show();
            $(".first_minus").hide();
        }
        $(".tr-hide").toggle();
        //$("#showtr").toggle();

    }
    function showcollection_2(val) {
        if (val == 1) {
            $(".second_minus").show();
            $(".second_plus").hide();
        } else {
            $(".second_plus").show();
            $(".second_minus").hide();
        }
        $(".tr-hide2").toggle();
        //$("#showtr").toggle();

    }
</script>

