@model Libraries.Model.Entity.Onlinecomplaint
@*@{int Photo = 0;}
    @{int ReportFile = 0;}*@

<style>

    [aria-expanded="false"] > .expanded, [aria-expanded="true"] > .collapsed {
        display: none;
    }
</style>

<div disabled class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <a data-toggle="collapse" href="#collapseWatchWardApprroval" id="collapseapp" role="button" aria-expanded="false" aria-controls="collapseWatchWardApprroval">
        <h3 class="my-3 d-flex sub-heading">View Online Complaint Details</h3>
    </a>
    <div class="collapse" id="collapseWatchWardApprroval">
  
        <div id="divShowData">

            <div class="row">
                <div class="col-md-6">


                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <textarea type="text" asp-for="Name" placeholder="Name of Complaint" class="floating-label-field floating-label-field--s3" disabled></textarea>
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <label class="floating-label">Name of Complaint</label>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input placeholder="Contact No." class="floating-label-field floating-label-field--s3" asp-for="Contact" disabled/>
                        <span asp-validation-for="Contact" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Contact No. </label>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input class="floating-label-field floating-label-field--s3" type="email" placeholder="Email Id" asp-for="Email" disabled/>
                        <span asp-validation-for="Email" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Email Id  </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" disabled asp-for="ComplaintTypeId" asp-items="@(new SelectList(Model.ComplaintList, "Id","Name"))">
                            <option>Select</option>
                        </select>

                        <span asp-validation-for="ComplaintTypeId" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Type of Complaint </label>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap">

                        <input asp-for="Photo" id="Photo" type="file" class="floating-label-field floating-label-field--s3" disabled multiple />

                        <a class="badge badge-primary px-2" asp-action="ViewLetter"  asp-route-id="@Model.Id
                           "> (View Existing Photo )</a>


                        <label class="floating-label">Photograph</label>
                        
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <textarea type="text" asp-for="AddressOfComplaint" placeholder="Area/Address of Complaint" disabled class="floating-label-field floating-label-field--s3"></textarea>
                        <span asp-validation-for="AddressOfComplaint" class="text-danger"></span>
                        <label class="floating-label">Area/Address of Complaint</label>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" disabled asp-for="LocationId" asp-items="@(new SelectList(Model.LocationList, "Id","Name"))">
                            <option>Select</option>
                        </select>
                        <span asp-validation-for="LocationId" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Location </label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <input class="floating-label-field floating-label-field--s3" disabled placeholder="Lattitude" asp-for="Lattitude" />
                        <span asp-validation-for="Lattitude" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Lattitude </label>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input placeholder="Longitude" class="floating-label-field floating-label-field--s3" disabled asp-for="Longitude" />
                        <span asp-validation-for="Longitude" class="text-danger"></span>
                        <label class="floating-label">Longitude </label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <textarea type="text" asp-for="Remarks" placeholder="Remarks" disabled class="floating-label-field floating-label-field--s3"></textarea>
                        <label class="floating-label">Remarks</label>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-md-6" style="display:none;">
                    <div class="floating-label-wrap">
                        <label class="floating-label">Status</label>
                        <select disabled asp-for="IsActive" class="form-control dda-dropdown">
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="display:none;">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <textarea asp-for="Remarks" disabled type="text" class="floating-label-field floating-label-field--s3"></textarea>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                        <label class="floating-label">Remarks</label>
                    </div>
                </div>
            </div>
        </div>
       

    </div>
</div>


