@model Dto.Master.DMSRetriveFileReportDtoProfile

@await Component.InvokeAsync("PageHeader", new { pageName = "Retrive File" })
    <div id="frmReliefReport" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Details</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="floating-label-wrap">

                    <select class="floating-label-field floating-label-field--s3" asp-for="DepartmentId" asp-items="@(new SelectList(ViewBag.DepartmentList, "Id", "Name"))">
                        <option value="0">All</option>
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    <label class="floating-label" asp-for="DepartmentId">Department</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="LocalityId" asp-items="@(new SelectList(ViewBag.LocalityList, "Id","Name"))">
                        <option value="0">All</option>
                    </select>
                    <span asp-validation-for="LocalityId" class="text-danger"></span>
                    <label class="floating-label" asp-for="LocalityId">Locality</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="KhasraNoId" asp-items="@(new SelectList(ViewBag.KhasraNoList, "Id", "KhasraNo"))">
                        <option value="0">All</option>
                    </select>
                    <span asp-validation-for="KhasraNoId" class="text-danger"></span>
                    <label class="floating-label" asp-for="KhasraNoId">Khasra No.</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="FileNo" type="text" class="floating-label-field floating-label-field--s3 ">
                    <span asp-validation-for="FileNo" class="text-danger"></span>
                    <label class="floating-label">File No.</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="PropertyNo" type="text" class="floating-label-field floating-label-field--s3 ">
                    <span asp-validation-for="PropertyNo" class="text-danger"></span>
                    <label class="floating-label">Property No./Address</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="AlmirahNo" type="text" class="floating-label-field floating-label-field--s3 ">
                    <span asp-validation-for="AlmirahNo" class="text-danger"></span>
                    <label class="floating-label">Almirah No.</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-4">
                <div class="floating-label-wrap">
                    <input asp-for="Title" type="text" class="floating-label-field floating-label-field--s3 ">
                    <span asp-validation-for="Title" class="text-danger"></span>
                    <label class="floating-label">Title</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-12 col-xl-3">
                <div class="row">
                    <div class="col-6 col-md-5 col-xl-6">
                        <button class="btn btn-link btn-block d-flex align-items-center justify-content-center" type="reset" id="btnReset">
                            <i class="ri-refresh-line me-2"></i>Reset
                        </button>
                    </div>
                    <div class="col-6 col-md-7 col-xl-6">
                        <input type="submit" value="Generate" id="btnGenerate" class="btn btn-theme " />
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="table-section bg-white border shadow rounded">
    <div class="short-section d-md-flex align-items-center">
        <div class="p-3 d-flex align-items-end me-auto">
            <div class="floating-label-wrap">
                <select id="ddlSort" class="floating-label-field floating-label-field--s3">
                    <option selected="selected" value="department">Department</option>
                    <option value="Locality">Locality</option>
                    <option value="fileno">File No.</option>
                </select>
                <label for="field-1" class="floating-label">Sort by</label>
            </div>
            <div class="short-btn d-flex align-items-center">
                <span id="btnDescending" class="btn slow active" onclick="Descending();" title="Descending order"><i class="ri-sort-desc"></i></span>
                <span id="btnAscending" class="btn slow" onclick="Ascending();" title="Ascending order"><i class="ri-sort-asc"></i></span>
            </div>
        </div>

        <div class="download-table d-flex align-items-center px-3 mb-3 mb-md-0">

            <a href="/DMSRetriveFile/DmsRetriveFileList" class="d-flex align-items-center btn btn-success">
                <i class="ri-download-2-line me-2 me-lg-1"></i>
                <small>Download</small>
            </a>
        </div>
    </div>
    <div class="table-responsive px-2" id="LoadReportView">

    </div>
</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/dmsretrivefilecreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/dmsretrivefilecreate.min.js" asp-append-version="true"></script>
</environment>