@model Libraries.Model.Entity.Division

<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left pt-5 color-white">Division Master </h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid">
    <div class="panel">
        <div class="panel-heading  dda-pageheading">
            <h6 class="pull-left color-white mt-4" style="color:white; margin-top:-0.4%">Add Details</h6>
        </div>
        <div class="panel-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />


                <div class="form-row">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Department </label>
                        <select asp-for="DepartmentId" class="form-control dda-dropdown" asp-items="@(new SelectList(Model.DepartmentList,"Id","Name"))" onchange="return onChange(this.options[this.selectedIndex].value);">
                            <option value="">Select</option>
                        </select>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Zone</label>
                        <select asp-for="ZoneId" class="form-control dda-dropdown" asp-items="@(new SelectList(Model.ZoneList,"Id","Name"))">
                            <option value="value">Select</option>
                        </select>
                        <span asp-validation-for="ZoneId" class="text-danger"></span>
                    </div>
                </div>





                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Division Name </label>
                        <input asp-for="Name" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Division Code </label>
                        <input asp-for="Code" class="form-control">
                    </div>
                </div>


                <div class="form-row">


                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Status</label>
                        <select asp-for="IsActive" id="ActiveStatus" required="" class="form-control dda-dropdown">
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                        <span class="text-danger"></span>
                    </div>
                </div>





                <div class="form-row">

                </div>

                <br />
                <div class="form-row ">
                    <div class="form-group col-md-12" style="margin-bottom:40px;">
                        @Html.ActionLink("Back", "Index", "Division", null, new { @class = "btn btn-primary dda-pageheading" })
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<environment include="Development">
    <script src="~/js/divisionmaster.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/divisionmaster.min.js" asp-append-version="true"></script>
</environment>

 