
@await Component.InvokeAsync("PageHeader", new { pageName = "Allottee Evidence" })
<div class="pt-3">
    <form asp-action="Create" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">







        <a data-toggle="collapse" href="#collapseHistoryEviction" id="collapseapp" role="button" aria-expanded="false" aria-controls="collapseHistoryEviction">
            <h3 class="my-3 d-flex sub-heading">Request of Eviction Proceeding </h3>
        </a>

        <div class="collapse" id="collapseHistoryEviction">


            <div class="row mt-md-3">
                <div class=" col-md-6">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" style="width:560px" disabled>
                            <option>--Select-- </option>
                            <option>Vedang</option>
                            <option>DD</option>
                        </select>
                        <span class="text-danger"></span>
                        <label class="floating-label">UserName </label>
                    </div>
                </div>
                <div class=" col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <select class="floating-label-field floating-label-field--s3" style="width:560px" disabled>
                            <option>--Select-- </option>
                            <option>F-001</option>
                            <option>B-002</option>
                        </select>
                        <span class="text-danger"></span>
                        <label class="floating-label">File No </label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class=" col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input disabled placeholder="Address" type="text"
                               class="floating-label-field floating-label-field--s3" />
                        <span class="text-danger"></span>
                        <label class="floating-label">Name Of the Society    </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input disabled placeholder="Contact No" type="text"
                               class="floating-label-field floating-label-field--s3" />
                        <span class="text-danger"></span>
                        <label class="floating-label">Use as per allotment letter/Lease Deed</label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <textarea typeof="" disabled placeholder="Required Area"
                                  type="text" class="floating-label-field floating-label-field--s3"></textarea>
                        <span class="text-danger"></span>
                        <label class="floating-label">Subject   </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input placeholder="Alloted Area" type="text"
                               class="floating-label-field floating-label-field--s3 numbers" disabled/>
                        <span class="text-danger"></span>
                        <label class="floating-label">Ground of violations  </label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input placeholder="Play Ground Area" type="date"
                               class="floating-label-field floating-label-field--s3 numbers" disabled/>
                        <span class="text-danger"></span>
                        <label class="floating-label">Date of cancellation of lease Deed/Allotment </label>
                    </div>

                </div>


                <div class=" col-md-6">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" style="width:560px" disabled>
                            <option>--Select-- </option>
                            <option>LG</option>
                            <option>B-002</option>
                        </select>
                        <span class="text-danger"></span>
                        <label class="floating-label">Honble </label>
                    </div>
                </div>

            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input placeholder="Phase No" type="text"
                               class="floating-label-field floating-label-field--s3" disabled/>
                        <span class="text-danger"></span>
                        <label class="floating-label">Proceeding for eviction of possession Assessment of damage</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input placeholder="Sector No" type="text"
                               class="floating-label-field floating-label-field--s3" disabled/>
                        <span class="text-danger"></span>
                        <label class="floating-label">Court case if any  </label>
                    </div>
                </div>
            </div>

            <div class="row mt-md-3">

                <div class="col-md-6">
                    <label class="err" style="color:red;">
                        Only Upload 10 Mb File
                    </label>
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input type="file" class="floating-label-field floating-label-field--s3" disabled/>


                        <label class="floating-label">Demand Letter </label>

                    </div>








                </div>

                <div class="col-md-6">
                    <label class="err" style="color:red;">
                        Only Upload 10 Mb File
                    </label>
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input type="file" class="floating-label-field floating-label-field--s3" disabled/>


                        <label class="floating-label">NOC</label>

                    </div>
                </div>
            </div>

            <div class="row mt-md-3">
                <div class="col-md-6">
                    <label class="err" style="color:red;">
                        Only Upload 10 Mb File
                    </label>
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input type="file" class="floating-label-field floating-label-field--s3" disabled/>


                        <label class="floating-label">Cancellation Order </label>

                    </div>
                </div>


            </div>




        </div>
        <a data-toggle="collapse" href="#collapseHistoryApprroval" id="collapseapp" role="button" aria-expanded="false" aria-controls="collapseHistoryApprroval">
            <h3 class="my-3 d-flex sub-heading">Notice Details </h3>
        </a>
        <div class="collapse" id="collapseHistoryApprroval">

            <div id="divGenerate">
                <div class="row mt-md-3">
                    <div class="col-md-3">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="Date" class="floating-label-field floating-label-field--s3" disabled />
                            <span class="text-danger" style="display:none;" id="MessageDate">Meeting Date is Mandatory</span>
                            <label class="floating-label">Meeting Date</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="time" class="floating-label-field floating-label-field--s3" disabled />
                            <span class="text-danger" style="display:none;" id="MessageTime">Meeting Time is Mandatory</span>
                            <label class="floating-label">Meeting Time</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <textarea type="text" class="floating-label-field floating-label-field--s3" disabled></textarea>
                            <span class="text-danger" style="display:none;" id="MessageDate">Meeting Date is Mandatory</span>
                            <label class="floating-label">Meeting Place</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <a data-toggle="collapse" href="#collapseHistoryApprroval1" id="collapseapp" role="button" aria-expanded="false" aria-controls="collapseHistoryApprroval1">
            <h3 class="my-3 d-flex sub-heading">Notice Display</h3>
        </a>

        <div class="collapse" id="collapseHistoryApprroval1">


            <link href="~/lib/bootstrap/select2/select2.css" rel="stylesheet" />
            <script src="~/lib/bootstrap/select2/select2.js" defer></script>



            <style>
                /*table,
                tbody,
                td {
                    width: 40%;
                }

                table,
                tbody,
                th {
                    width: 50%;
                }*/
                .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
                    border-top: 0px none;
                    border-bottom: 0px none;
                }
            </style>

            <a class="btn btn-theme" target="_blank" asp-action="ViewLetter">View Letter</a>

            @*<input type="submit" value="Generate Letter" class="btn btn-theme" id="btnPrint" />
            <div id="LetterDataView" style="display:none">*@


            @*</div>*@



        </div>
        <a data-toggle="collapse" href="#collapseHistoryApprroval2" id="collapseapp" role="button" aria-expanded="false" aria-controls="collapseHistoryApprroval2">
            <h3 class="my-3 d-flex sub-heading">Evidance document Upload -display</h3>
        </a>
        <div class="collapse" id="collapseHistoryApprroval2">




            <div id="DivFamilyDetails">

              

                <div class="table-section bg-white border shadow rounded">
                    <div class="table-responsive ">
                        <table id="tbl_posts" class="table table-sm table-bordered mb-0 table-striped">
                            <thead class="text-nowrap">
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Document Name</th>
                                    <th>Document Upload</th>

                                    <th>Operation</th>
                                </tr>
                            </thead>
                            <tbody id="tbl_posts_body">
                            </tbody>
                            <tbody class="tbody" id="add">
                                <tr id="">
                                    <td><span class="sn">1</span></td>
                                    <td>
                                        <input type="text"
                                               placeholder="Document Name" />
                                    </td>
                                    <td>
                                        <input type="file" class="floating-label-field floating-label-field--s3" />
                                    </td>

                                    <td>
                                        <div class="floating-label-wrap mb-3 mb-md-0">
                                            <a class="btn btn-theme delete-record" data-id="0" style="display:none;color:white;"><i class="fa fa-trash"></i></a>
                                            <a class="btn btn-theme add-record" data-added="0" style="color:white;">+</a>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>



        </div>

    </form>


</div>


<div class="row pt-3">
    <div class="col-md-12">
       
        @Html.ActionLink("Back", "Index", "AllotteeEvidence", null, new { @class = "btn btn-theme " })
    </div>
</div>

<script>
    $(function () {
        $("#btnPrint").click(function () {
            nWin($("#LetterDataView").html(), "Letter");
        });
    });
    function nWin(context, title) {
        var printWindow = window.open('', '');
        var doc = printWindow.document;
        var printContents = document.getElementById("LetterDataView").innerHTML;
        doc.write(document.getElementById("divPrintRef").innerHTML);
        doc.write(printContents);
        doc.close();
      
        function show() {
            if (doc.readyState === "complete") {
                printWindow.focus();
                printWindow.print();
                printWindow.close();
            } else {
                setTimeout(show, 100);
            }
        };
        show();
    };
    </script>