@await Component.InvokeAsync("PageHeader", new { pageName = "Allottee Evidance" })

<div class="pt-3">

    <div class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Search</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" id="txtName" class="floating-label-field floating-label-field--s3" placeholder="Name" />
                    <label for="txtName" class="floating-label"> Reference Number</label>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" id="txtCode" class="floating-label-field floating-label-field--s3" placeholder="Code" />
                    <label for="txtCode" class="floating-label">File No</label>
                </div>
            </div>

            <div class="col-md-4 ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" id="txtCode" class="floating-label-field floating-label-field--s3" placeholder="Code" />
                    <label for="txtCode" class="floating-label">Subject</label>
                </div>
            </div>

        </div>
        <div class="row mt-md-3">
            <div class="col-md-12 col-xl-3">
                <div class="row">
                    <div class="col-6 col-md-5 col-xl-6">
                        <button class="btn btn-link btn-block d-flex align-items-center justify-content-center" id="btnReset" type="reset">
                            <i class="ri-refresh-line mr-2"></i>Reset
                        </button>
                    </div>
                    <div class="col-6 col-md-7 col-xl-6">
                        <button class="btn btn-theme btn-block" id="btnSearch" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-section bg-white border shadow rounded">
        <div class="short-section d-md-flex align-items-center">
            <div class="p-3 d-flex align-items-end mr-auto">
                <div class="floating-label-wrap">
                    <select id="ddlSort" class="floating-label-field floating-label-field--s3">
                        <option>Reference Number</option>
                        <option>File No</option>
                        <option>Subject</option>

                    </select>
                    <label for="field-1" class="floating-label">Sort by</label>
                </div>
                <div class="short-btn d-flex align-items-center">
                    <span class="btn slow active" id="btnAscending" title="Ascending order"><i class="ri-sort-asc"></i></span>
                    <span class="btn slow" id="btnDescending" title="Descending order"><i class="ri-sort-desc"></i></span>
                </div>
            </div>




            <div class="download-table d-flex align-items-center px-3 mb-3 mb-md-0">
                <a href="/AllotteeEvidence/create" class="d-flex align-items-center btn btn-primary mr-2">
                    <i class="ri-add-fill mr-2 mr-lg-1"></i>
                    <small>Add More</small>
                </a>
                <a href="#" class="d-flex align-items-center btn btn-success">
                    <i class="ri-download-2-line mr-2 mr-lg-1"></i>
                    <small>Download</small>
                </a>
            </div>

        </div>

        <div class="table-responsive px-2">




            <table class="table table-sm table-bordered mb-0 table-striped">
                <thead class="text-nowrap">

                    <tr>
                        <th>File No.</th>
                        <th>Letter Reference No.</th>
                        <th>Subject</th>
                        <th> Status</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>F-1201</td>
                        <td>1123</td>
                        <td>Request</td>
                      
                        <td>
                            <span class="badge badge-primary px-2 py-1">Active</span>

                        </td>
                        <td>
                            <div class="action-btns">
                                <a class="edit" asp-action="Create"><i class="ri-edit-line"></i> </a>
                            </div>
                        </td>

                    </tr>


                    <tr>
                        <td>F-2201</td>
                        <td>2123</td>
                        <td>Request Process</td>

                        <td>
                            <span class="badge badge-danger px-2 py-1">InActive</span>

                        </td>
                        <td>
                            <div class="action-btns">
                                @*<a class="view"><i class="ri-eye-fill"></i> </a>*@
                                <a class="edit" asp-action="Create"><i class="ri-edit-line"></i> </a>
                                @*<a class="remove">  <i class="ri-delete-bin-5-fill"></i></a>*@
                            </div>
                        </td>

                    </tr>




                </tbody>
            </table>







        </div>


    </div>

</div>




