

<div class="row pt-3">
    <div class="col-md-12">

        @Html.ActionLink("Back", "Create", "AllotteeEvidence", null, new { @class = "btn btn-theme " })
    </div>
</div>

<div class="pt-3">
    <div id="LetterData" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data" autocomplete="off">

        <table class="table" border="0" style="border:none; border-top: none;border-bottom:none;  ">
            <tr>
                <td align="center">
                    <h4><b> COURT OF ESTATE OFFICER,</b></h4> <br />
                    <h4><b> SOUTH EAST ZONE, LAND MANAGEMENT WING,</b></h4> <br />
                    <h4><b> DELHI DEVELOPMENT AUTHORITY,</b></h4> <br />
                    <h4><b> C-1/7, GROUND FLOOR. VIKAS SADAN, </b></h4> <br />
                    <h4><b> INA, NEW DELHI-110023</b></h4> <br />
                    <br />
                    <h6><b> *****</b></h6> <br />

                </td>
            </tr>

            <tr>

                <td style="border:none; border-top: none;">
                    <table style="border:none; border-top: none; width:100%">
                        <tr>

                            <td align="left">
                                No. EV/LM/SEZ/051(5)/K-1/31, CR Park/1997/DDA

                            </td>
                            <td align="right">
                                Dated :23/03/2021
                            </td>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <b> Smt.Rama Malick, </b> <br />
                    <b> W/o Sh. Ashok Sethi, </b> <br />
                    <b> R/o E-158, Masjid Moth,  </b><br />
                    <b> Greater Kailash-II, New Delhi </b> <br />
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        Sub: Notice under sub-section (1) and clause (b) (ii) of sub-
                        section (2)of section 4 of the Public Premises Eviction of
                        Unauthorized Occupants) Act 1971.
                    </b>
                </td>

            </tr>
        </table>
        <br />

        <table class="table" border="0" style="border:none; border-top: none;border-bottom:none;  ">
            <tbody class="tbody">
                <tr>
                    <td>
                        Whereas I, the Undersigned, am of the firm opinion, on the grounds specified below, that you are in
                        unauthorized occupation of the Public Premises mentioned in the Schedule below and that you should be
                        evicted from the said premises.
                    </td>
                </tr>

                <tr>
                    <td>
                        Whereas you have been found in occupation of public premises mention in the schedule below.  The lease has
                        been determined by the Competent Authority due to the violation of the lease terms and conditions.
                    </td>
                </tr>
                <tr>
                    <td>
                        Now, therefore, in pursuance of sub-section(1) of section 4 of the Act, I hereby call upon you to show
                        cause on or before the <b>25th Day of September, 2018</b> why such an order of eviction should not be made.


                    </td>
                </tr>
                <tr>
                    <td>
                        And in pursuance of clause (b) (ii) of sub-section (2) of section 4 of the  Act I also call upon to appear
                        before me in person or through a duly authorized representative capable to answer all material questions
                        connected with the matter along with the evidence which you intend to produce in support of the cause shown,
                        on <b>
                            25th Day of September, 2018 at 3:30 PM
                        </b> for personal hearing.  In case, you fail to appear on the said
                        date and time, the case will be decided ex parte.


                    </td>
                </tr>

                <tr>
                    <td align="left">

                        <p style="color:black">
                            <b>Ground Floor, </b> <br />
                            <b>Plot no. K-1/31,</b><br />
                            <b>Chitranjan Park, </b> <br />
                            <b>New Delhi. </b> <br />
                            <b>Date:       September, 2018 </b> <br />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="right">

                        <b>
                            (Signature and seal
                            of the Estate Officer)
                        </b>
                        <br />


                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
