@model Libraries.Model.Entity.Leaseapplication
@{int FirFile = 0;}
@{int LocationMapFile = 0;}
@{int PhotoFile = 0;}

<form asp-action="Edit" enctype="multipart/form-data" disabled class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <a data-toggle="collapse" href="#collapseApprroval" id="collapseapp" role="button" aria-expanded="false" aria-controls="collapseApprroval">
        <h3 class="my-3 d-flex sub-heading">View Lease Application Form Details</h3>
    </a>
    <div class="collapse" id="collapseApprroval">
        <div id="allDetails">
            <h3 class="my-3 d-flex sub-heading">
                1.	सोसाइटी का नाम, पूरा स्थायी  पता  एवं टेलीफोन  नंबर<br />
                Name of  the  Society with full permanent address and phone number.
            </h3>
            <div class="row mt-md-3">
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled asp-for="Name" type="text" class="floating-label-field floating-label-field--s3  " limit="200">
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <label class="floating-label">Society Name</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled asp-for="ContactNo" type="text" class="floating-label-field floating-label-field--s3  onlynumbers" limit="10" min="10">
                        <span asp-validation-for="ContactNo" class="text-danger"></span>
                        <label class="floating-label">Mobile No/Telephone No.</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled asp-for="EmailId" type="text" class="floating-label-field floating-label-field--s3 " limit="45">
                        <span asp-validation-for="EmailId" class="text-danger"></span>
                        <label class="floating-label">Email-Id</label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-12">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <textarea disabled asp-for="Address" type="text" class="floating-label-field floating-label-field--s3  " limit="4000"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                        <label class="floating-label">Address</label>
                    </div>
                </div>
            </div>
            <h3 class="my-3 d-flex sub-heading">
                2.	सोसाइटी पंजीकरण अधिनियम , १८६० के अंतर्गत सोसाइटी  की  पंजीकरण  संख्या सोसाइटी  के पंजीकरण प्रमाणपत्र  और नियमों के ज्ञापन  की  एक -एक  प्रति संलगन  करें <br />
                Registration No. of the Society under Societies Registration Act 1860. Enclose a copy each of Registration Certificate of the Society & Memorandum and Articles of Association.
            </h3>
            <div class="row mt-md-3">
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled asp-for="RegistrationNo" type="text" class="floating-label-field floating-label-field--s3  " limit="200">
                        <span asp-validation-for="RegistrationNo" class="text-danger"></span>
                        <label class="floating-label">Registeration No.</label>
                    </div>
                </div>
                @*<div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input  disabled asp-for="AlloteeName" type="file" class="floating-label-field floating-label-field--s3  ">
                            <span asp-validation-for="AlloteeName" class="text-danger"></span>
                            <label class="floating-label">Document</label>
                        </div>
                    </div>*@
            </div>
            <h3 class="my-3 d-flex sub-heading">
                3.	सोसाइटी के संचालकों सदस्यों की सूचि  जिसमे उनके पते  और व्यवसाय दर्शाया हुआ हो तथा जो प्रत्येक सदस्य द्वारा  विधिवत हस्ताक्षरित हो | यदि वे सेवा में हों तो  कार्यालय का नाम एवं पता और पद लिखें : यदि व्यवसाय  करते हैं  तो संस्था   का नाम एवं  पता  लिखें<br />
                List of members of the governing body of the Society showing their address and occupation duly signed by each member. If in service give name of office & address and position held; if in business give name and address of the establishment.
            </h3>
            <div class="row mt-md-3">
                <div class="col-md-12">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <textarea disabled asp-for="Description" type="text" class="floating-label-field floating-label-field--s3 " limit="4000"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                        <label class="floating-label">Description</label>
                    </div>
                </div>
            </div>
            <h3 class="my-3 d-flex sub-heading">
                4. (i)	 आवेदन किस उद्देश्य के लिए भूमि आवंटन करने के लिए है |<br />
                Purpose for which land has been applied for.
            </h3>
            <div class="row mt-md-3">
                <div class="col-md-12">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <textarea disabled asp-for="LandPurpose" type="text" class="floating-label-field floating-label-field--s3  " limit="4000"></textarea>
                        <span asp-validation-for="LandPurpose" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <h3 class="my-3 d-flex sub-heading">4. (ii)	 प्रत्येक कार्यकलाप, वर्ग मी. में अपेक्षित क्षेत्रफल का विस्तृत विवरण |<br />Detailed breakup of each activity and area required in sq. mt.</h3>
            <div class="row mt-md-3">
                <div class="col-md-12">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <textarea disabled asp-for="LandDetailsArea" type="text" class="floating-label-field floating-label-field--s3  " limit="4000"></textarea>
                        <span asp-validation-for="LandDetailsArea" class="text-danger"></span>
                    </div>
                </div>
            </div>
            @*<h3 class="my-3 d-flex sub-heading">4. (iii)	 परियोजना रिपोर्ट संलग्न करें |<br />Enclose a copy of project report.</h3>
                <div class="row mt-md-3">
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input  disabled asp-for="FileNo" type="file" class="floating-label-field floating-label-field--s3  ">
                            <span asp-validation-for="FileNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>*@
            <h3 class="my-3 d-flex sub-heading">
                5. धारा ८० (जी ) के अंतर्गत आयकर छूट प्रमाणपत्र की वैधता की अवधि (प्रति संलग्न  करें )| यदि यह धर्मार्थ संस्था है , तो यह आवेदन की तिथि से कम से कम 1 वर्ष के  लिए वैध होनी चाहिए  | <br />
                Period of validity of Income Tax Exemption Certificate under Section 80(G) (Enclose a copy). If it is a charitable organisation it should be valid for atleast 1 year from date of application).
            </h3>
            <div class="row mt-md-3">
                <div class="col-md-12">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <textarea disabled asp-for="IncomeTaxDescription" type="text" class="floating-label-field floating-label-field--s3 " limit="4000"></textarea>
                        <span asp-validation-for="IncomeTaxDescription" class="text-danger"></span>
                        <label class="floating-label">Description</label>
                    </div>
                </div>
                @*<div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input  disabled asp-for="FileNo" type="file" class="floating-label-field floating-label-field--s3 ">
                            <span asp-validation-for="FileNo" class="text-danger"></span>
                            <label class="floating-label">Document Upload</label>
                        </div>
                    </div>*@
            </div>
            <h3 class="my-3 d-flex sub-heading">
                6. प्रायोजन के संदर्भ संख्या तथा तिथि जो या भारत सरकार  अथवा राष्ट्रीय राजधानी क्षेत्र दिल्ली सरकार  से हो | (प्रायोजन  (स्पॉन्सरशिप ) की मूल प्रति संलग्न करें |<br />
                Refernce no. and date of sponsorship from wither Govt. of India/Govt. of NCT of Delhi(Enclose copy of original sponsorship).
            </h3>
            <div class="row mt-md-3">
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled asp-for="SponsorshipDate" type="date" class="floating-label-field floating-label-field--s3 " />
                        <span asp-validation-for="SponsorshipDate" class="text-danger"></span>
                        <label class="floating-label">Date</label>
                    </div>
                </div>

                @*<div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input  disabled asp-for="FileNo" type="file" class="floating-label-field floating-label-field--s3 ">
                            <span asp-validation-for="FileNo" class="text-danger"></span>
                            <label class="floating-label">Document Upload</label>
                        </div>
                    </div>*@
            </div>
            <div class="row mt-md-3">
                <div class="col-md-12">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <textarea disabled asp-for="SponsorshipDescription" type="text" class="floating-label-field floating-label-field--s3 " limit="4000"></textarea>
                        <span asp-validation-for="SponsorshipDescription" class="text-danger"></span>
                        <label class="floating-label">Description</label>
                    </div>
                </div>
            </div>
            <h3 class="my-3 d-flex sub-heading">
                7. कार्यकलाप, क्षेत्रफल  और दर यदि कोई हो , के सम्बद्ध में प्रायोजक की अनुशंसा |<br />
                Recommendation of sponsorer regarding activity, area and rates, if any
            </h3>
            <div class="row mt-md-3">
                <div class="col-md-12">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <textarea disabled asp-for="RecommendationDescription" type="text" class="floating-label-field floating-label-field--s3 " limit="4000"></textarea>
                        <span asp-validation-for="RecommendationDescription" class="text-danger"></span>
                        <label class="floating-label">Description</label>
                    </div>
                </div>
            </div>
            <h3 class="my-3 d-flex sub-heading">
                8. आवेदन की गई  भूमि का क्षेत्रफल  वर्ग मी. में |<br />
                Area of land applied for in sq. mtrs.
            </h3>
            <div class="row mt-md-3">
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled asp-for="LandAreaSqMt" type="text" class="floating-label-field floating-label-field--s3 numbers">
                        <span asp-validation-for="LandAreaSqMt" class="text-danger"></span>
                        <label class="floating-label">Area</label>
                    </div>
                </div>
            </div>
            <h3 class="my-3 d-flex sub-heading">
                9. प्रोफोर्मा के अनुसार न लाभ न हानि निधि और कि  सोसाइटी द्वारा परिसर का उपयोग आवेदन  में उल्लिखित उद्देश्य हेतु ही किया जायेगा , के संबंध में २/-  रू० के नॉन जुडिशियल स्टाम्प पेपर पर  विधिवत नोटरीकृत एक वचनबंध संलग्न करें | <br />
                Enclose an undertaking on a non-judicial duly notarised stamp paper of Rs .2/- as per proforma regarding no profit no loss basis and that premises shall be exclusively used by the Society for the purpose stated in the application
            </h3>
            <div class="row mt-md-3">
                <div class="col-md-12">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <textarea disabled asp-for="NotarizedUndertakingDescription" type="text" class="floating-label-field floating-label-field--s3 " limit="4000"></textarea>
                        <span asp-validation-for="NotarizedUndertakingDescription" class="text-danger"></span>
                        <label class="floating-label">Description</label>
                    </div>
                </div>
                @*<div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input  disabled asp-for="FileNo" type="file" class="floating-label-field floating-label-field--s3 ">
                            <span asp-validation-for="FileNo" class="text-danger"></span>
                            <label class="floating-label">Document Upload</label>
                        </div>
                    </div>*@
            </div>
            <h3 class="my-3 d-flex sub-heading">
                10. यदि आवेदन  संस्थान भूमि की किसी रियायती दरों पर आवेदन  कर रहा है तो वह चालू जोनल विभिन्न सांस्थानिक दरों  पर  भूमि की कीमत के बराबर एक छतिपूर्ति बंधपत्र संलग्न   करें , जिसमे यह छतिपूर्ति  करने का वचन दें  कि यदि आवेदन  किसी समय पर संस्थान  के धर्मार्थ  स्वरुप को बदलेगा तो वह भूमि की लागत का भुगतान बाज़ार दर पर करेगा |<br />
                If the applicant institution is applying for any concessional rate of land enclose an indem­nity bond equal to the land value at current zonal variant institutional rates indemnifying that if the allottee at any time changes the charitable character of the institution it shall pay the cost of land at market rate.
            </h3>
            <div class="row mt-md-3">
                <div class="col-md-12">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <textarea disabled asp-for="IndemnityDescription" type="text" class="floating-label-field floating-label-field--s3 " limit="4000"></textarea>
                        <span asp-validation-for="IndemnityDescription" class="text-danger"></span>
                        <label class="floating-label">Description</label>
                    </div>
                </div>
                @*<div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input  disabled asp-for="FileNo" type="file" class="floating-label-field floating-label-field--s3 ">
                            <span asp-validation-for="FileNo" class="text-danger"></span>
                            <label class="floating-label">Document Upload</label>
                        </div>
                    </div>*@
            </div>
            <h3 class="my-3 d-flex sub-heading">
                11.	स्थान अथवा क्षेत्र जहां भूमि अपेक्षित है , वरीयता क्रम से (कम  से कम तीन स्थान दें )| <br />
                Locality or area where the land is required, in order of preference (give atleast three loca­tions).
            </h3>
            <div class="row mt-md-3">
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled asp-for="Location1" type="text" class="floating-label-field floating-label-field--s3 " limit="500">
                        <span asp-validation-for="Location1" class="text-danger"></span>
                        <label class="floating-label">1.</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled asp-for="Location2" type="text" class="floating-label-field floating-label-field--s3 " limit="500">
                        <span asp-validation-for="Location2" class="text-danger"></span>
                        <label class="floating-label">2.</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled asp-for="Location3" type="text" class="floating-label-field floating-label-field--s3 " limit="500">
                        <span asp-validation-for="Location3" class="text-danger"></span>
                        <label class="floating-label">3.</label>
                    </div>
                </div>
            </div>
            <h3 class="my-3 d-flex sub-heading">
                12.	भूमि की आवश्यकता और आवेदन   पत्र पर  हस्ताक्षर करने के लिए हस्ताक्षरकर्ता को अधिकृत करने वाले शासी निकाय के संकल्प की प्रति संलग्न करें |<br />
                Enclose a copy of resolution of Governing Body for requirement of land and authorising the signature to sign application form.
            </h3>
            <div class="row mt-md-3">
                <div class="col-md-12">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <textarea disabled asp-for="LandAuthorisingDescription" type="text" class="floating-label-field floating-label-field--s3 " limit="4000"></textarea>
                        <span asp-validation-for="LandAuthorisingDescription" class="text-danger"></span>
                        <label class="floating-label">Description</label>
                    </div>
                </div>
            </div>
            <h3 class="my-3 d-flex sub-heading">
                13. सोसाइटी की वर्तमान वित्तीय स्थिति  ( नवीनतम बैंक बकाया प्रमाण पत्र  की प्रति संलग्न करें )|<br />
                Present financial position of Society (enclose a copy of latest bank balance certificate).
            </h3>
            <div class="row mt-md-3">
                <div class="col-md-12">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <textarea disabled asp-for="FinancialPositionDescription" type="text" class="floating-label-field floating-label-field--s3 " limit="4000"></textarea>
                        <span asp-validation-for="FinancialPositionDescription" class="text-danger"></span>
                        <label class="floating-label">Description</label>
                    </div>
                </div>
                @*<div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input  disabled asp-for="FileNo" type="file" class="floating-label-field floating-label-field--s3 ">
                            <span asp-validation-for="FileNo" class="text-danger"></span>
                            <label class="floating-label">Document Upload</label>
                        </div>
                    </div>*@
            </div>
            <h3 class="my-3 d-flex sub-heading">
                14. भूमि और उस पर  निर्माण की लागत को किस प्रकार पूरा किए जाने का प्रस्ताव है |<br />
                How it is proposed to meet the cost of land and construction thereon.
            </h3>
            <div class="row mt-md-3">
                <div class="col-md-12">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <textarea disabled asp-for="ProposedDescription" type="text" class="floating-label-field floating-label-field--s3 " limit="4000"></textarea>
                        <span asp-validation-for="ProposedDescription" class="text-danger"></span>
                        <label class="floating-label">Description</label>
                    </div>
                </div>
            </div>
            <h3 class="my-3 d-flex sub-heading">
                15. यदि पहले ही कार्यरत है , तो कृपया निर्ष्टि करें :-
                १) प्रतिष्ठान(संस्थान )  का नाम एवं पता
                २) कब से
                ३) किये जाने वाले कार्यकलाप
                ४) क्षेत्र वर्ग मीटर  में<br />
                If already functioning , please indicate
                (i)	Name & address of the establishment : (ii) Since when :
                (iii) Activity undertaken :
                (iv) Area in sq.mtrs

            </h3>
            <div class="row mt-md-3">
                <div class="col-md-12">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <textarea disabled asp-for="EstablishmentNameAddress" type="text" class="floating-label-field floating-label-field--s3 " limit="4000"></textarea>
                        <span asp-validation-for="EstablishmentNameAddress" class="text-danger"></span>
                        <label class="floating-label">Name & address of the establishment</label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled asp-for="FunctioningSinceWhen" type="text" class="floating-label-field floating-label-field--s3 " limit="500" />
                        <span asp-validation-for="FunctioningSinceWhen" class="text-danger"></span>
                        <label class="floating-label">Since when</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled asp-for="FunctioningActivityUndertaken" type="text" class="floating-label-field floating-label-field--s3 " limit="500" />
                        <span asp-validation-for="FunctioningActivityUndertaken" class="text-danger"></span>
                        <label class="floating-label">Activity undertaken</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled asp-for="FunctioningAreaSqMt" type="text" class="floating-label-field floating-label-field--s3 numbers" />
                        <span asp-validation-for="FunctioningAreaSqMt" class="text-danger"></span>
                        <label class="floating-label">Area in sq.mtrs</label>
                    </div>
                </div>
            </div>
            <h3 class="my-3 d-flex sub-heading">
                16. यदि इस सोसाइटी को दिल्ली विकास प्राधिकरण द्वारा पहले ही सांस्थानिक  भूमि आवंटित की गयी है , तो निम्न विवरण दें :
                १) आवंटन पत्र की संदर्भ और दिनांक
                २) क्षेत्र वर्ग मीटर  में
                ३) स्थान
                ५) उद्देश्य
                ५) दर<br />
                If  Institutional land has already been allotted
                by DDA to this Society, give details :
                (i)	Ref. no. of allotment letter & date
                (ii)	Area in sq. mtrs.
                (iii) Locality
                (iv) Purpose
                (v) Rate


            </h3>
            <div class="row mt-md-3">
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled asp-for="RefNoOfAllotmentLetterDate" type="text" class="floating-label-field floating-label-field--s3 " limit="200" />
                        <span asp-validation-for="RefNoOfAllotmentLetterDate" class="text-danger"></span>
                        <label class="floating-label">Ref. no. of allotment letter & date</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled asp-for="AreaSqlMt" type="text" class="floating-label-field floating-label-field--s3 numbers" />
                        <span asp-validation-for="AreaSqlMt" class="text-danger"></span>
                        <label class="floating-label">Area in sq. mtrs.</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled asp-for="Locality" type="text" class="floating-label-field floating-label-field--s3 " limit="500" />
                        <span asp-validation-for="Locality" class="text-danger"></span>
                        <label class="floating-label">Locality</label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled asp-for="Purpose" type="text" class="floating-label-field floating-label-field--s3 " limit="4000" />
                        <span asp-validation-for="Purpose" class="text-danger"></span>
                        <label class="floating-label">Purpose</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled asp-for="Rate" type="text" class="floating-label-field floating-label-field--s3 numbers" />
                        <span asp-validation-for="Rate" class="text-danger"></span>
                        <label class="floating-label">Rate</label>
                    </div>
                </div>
            </div>

            <div id="DivDocument">
                <h3 class="my-3 d-flex sub-heading">Document</h3>
                <div class="table-section bg-white border shadow rounded">
                    <div class="table-responsive ">
                        <table class="table table-sm table-bordered mb-0 table-striped">
                            <thead class="text-nowrap">
                                <tr>
                                    <th>Document Name</th>
                                    <th>Uploaded Document</th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                @foreach (var item in Model.Leasedocuments)
                                {
                                    <tr>
                                        <td>
                                            @item.DocumentChecklist.Name
                                        </td>
                                        @if (@item.DocumentFileName != "")
                                        {
                                            <td>
                                                <div class="floating-label-wrap mb-3 mb-md-0">
                                                    <a class="badge badge-primary px-2" asp-action="ViewDocumentLeaseApplicationForm" asp-route-id="@item.Id" target="_blank"> (Enclosed)</a>
                                                    @*<a>Enclosed</a>*@
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>  <a>N/A</a></td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/encroachmentregisterationview.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/encroachmentregisterationview.min.js" asp-append-version="true"></script>
</environment>