@model Dto.Master.RoleDto
@await Component.InvokeAsync("PageHeader", new { pageName = "Role" })

<div class="pt-3">
    
                <form asp-action="Create" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
                    <h3 class="mb-3 d-flex">Add Details</h3>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6    ">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input asp-for="Name" placeholder="Name" type="text"
                                       class="floating-label-field floating-label-field--s3" limit="30" />

                                <span asp-validation-for="Name" class="text-danger"></span>

                                <label class="floating-label">Role Name   </label>
                            </div>
                        </div>

                        <div class="col-md-6    ">
                            <div class="floating-label-wrap mb-3 mb-md-0">





                                <select asp-for="IsActive" class="floating-label-field floating-label-field--s3">
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                                <span asp-validation-for="IsActive" class="text-danger"></span>

                                <label for="field-1" class="floating-label">Status</label>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class=" col-md-12">
                            <button class="btn btn-theme " type="submit">Create</button>
                            @Html.ActionLink("Back", "Index", "Role", null, new { @class = "btn btn-theme " })

                        </div>
                    </div>

                </form>
           

</div>
    <partial name="../Shared/_ValidationScriptsPartial.cshtml" />
