@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<style>
    .p {
        color: black;
    }

    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        xmin-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #f5f5f5;
        padding-left: 10px !important;
    }

    label {
        font-weight: 500;
    }
</style>



<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<link href="Styles/bootstrap.css" rel="stylesheet" />

<div class="content" id="DivPrintLabelReport" style="max-width: 780px; margin: auto; background: white; padding: 10px;">


    <div class="panel panel-default">

        <div class="row" style="border: groove; height:110px">
            <table class="table table-bordered" border="0">


                <tr>
                    <td>
                        <img src="https://res.cloudinary.com/deb9cwxor/image/upload/v1596010902/ow9sj5vbbpymed9eydrl.png" style="height:100px" class="img-responsive" alt="">
                    </td>
                    <td align="center">
                        <div>
                            <h style="font-size:20px; color:black">

                                <u> <b> DELHI DEVELOPMENT AUTHORITY</b></u>

                            </h>
                            <p style="color:black; font-size:16px; text-align:center;">

                                <b align="center">
                                    <u>
                                        Vikas Sadan, New Delhi
                                    </u>
                                </b>
                            </p>
                        </div>
                    </td>
                    <td>
                        <img src="https://res.cloudinary.com/deb9cwxor/image/upload/v1596882092/dupx7btfcqjequcgsb00.jpg" style="height:100px" class="img-responsive" alt="">

                    </td>
                </tr>


            </table>
        </div>

        <div class="panel-body">
            <table class="table" border="0" style="border:none;">


                <tr>
                    <td>
                        <p style="color:black; font-weight:700;">File No.</p>
                    </td>
                    <td>
                        <label class="control-label" style="font-size:25px;">F5(6)/2017-2017/NAZ/H.P</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="color:black; font-weight:700;">File Name/Subject </p>
                    </td>
                    <td>
                        <label class="control-label" style="font-size:25px;">F5(6)/2017-2017/NAZ/H.P</label>
                    </td>
                </tr>


            </table>





            <fieldset>
                <legend style="font-size:medium;font-weight:700;">Location Details</legend>

                <div class="form-row col-md-12">

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" border="0">
                            <thead class="thead">
                                <tr>
                                    <th>Record Room No</th>
                                    <th>Almirah No.</th>
                                    <th>Row No.</th>
                                    <th>Column No.</th>
                                    <th>Bundle No.</th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr>
                                    <td style="font-size:25px;">308</td>
                                    <td style="font-size:25px;">
                                        B
                                    </td>
                                    <td style="font-size:25px;">
                                        1
                                    </td>

                                    <td style="font-size:25px;">
                                        A
                                    </td>

                                    <td style="font-size:25px;">
                                        1
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>

            </fieldset>
        </div>
    </div>
</div>
@*<div class="content" id="DivPrintLabelReport" style="max-width: 780px; margin: auto; background: white; padding: 10px;">


        <div class="panel panel-default">

            <div class="row" style="border: groove; height:110px">
                <div class="table-responsive">

                </div>
                <div class="col-md-3" style="border-right:groove;">


                    <img src="https://res.cloudinary.com/deb9cwxor/image/upload/v1596010902/ow9sj5vbbpymed9eydrl.png" style="height:100px" class="img-responsive" alt="">


                </div>

                <div class="col-md-6" style="">
                    <div>
                        <h style="font-size:20px; color:black">

                            <u> <b> DELHI DEVELOPMENT AUTHORITY</b></u>

                        </h>
                        <p style="color:black; font-size:16px; text-align:center;">

                            <b align="center">
                                <u>
                                    Vikas Sadan, New Delhi
                                </u>
                            </b>
                        </p>
                    </div>
                </div>

                <div class="col-md-3" style="border-left:groove;">
                    <img src="https://res.cloudinary.com/deb9cwxor/image/upload/v1596882092/dupx7btfcqjequcgsb00.jpg" style="height:100px" class="img-responsive" alt="">


                </div>

            </div>

            <div class="panel-body">

                <div class="form-row col-md-12">
                    <div class="col-md-4">
                        <p style="color:black; font-weight:700;">File No.</p>
                    </div>
                    <div class="col-md-8">

                        <label class="control-label" style="font-size:25px;">F5(6)/2017-2017/NAZ/H.P</label>
                    </div>

                </div>


                <div class="form-row col-md-12">
                    <div class="col-md-4">
                        <p style="color:black; font-weight:700;">File Name/Subject </p>
                    </div>
                    <div class="col-md-8">

                        <label class="control-label" style="font-size:25px;">RTI Cases W.E.F</label>
                    </div>

                </div>

                <fieldset>
                    <legend style="font-size:medium;font-weight:700;">Location Details</legend>

                    <div class="form-row col-md-12">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" border="0">
                                <thead class="thead">
                                    <tr>
                                        <th>Record Room No</th>
                                        <th>Almirah No.</th>
                                        <th>Row No.</th>
                                        <th>Column No.</th>
                                        <th>Bundle No.</th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">
                                    <tr>
                                        <td style="font-size:25px;">308</td>
                                        <td style="font-size:25px;">
                                            B
                                        </td>
                                        <td style="font-size:25px;">
                                            1
                                        </td>

                                        <td style="font-size:25px;">
                                            A
                                        </td>

                                        <td style="font-size:25px;">
                                            1
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>

                </fieldset>
            </div>
        </div>
    </div>*@

<br />
<br />
<br />
<br />
<br />
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<script src="~/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>


<script>
    $(document).ready(function () {
        window.print();
    });

</script>



