@model Libraries.Model.Entity.Newlandus4plot
@await Component.InvokeAsync("PageHeader", new { pageName = "Under Section 4 Plot" })


<div class="pt-3">

    <form asp-action="Edit" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Edit Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3"
                            asp-for="NotificationId" asp-items="@(new SelectList(Model.NotificationList, "Id","NotificationNo"))">
                        <option selected disabled="disabled" value="">Select</option>
                    </select>
                    <span asp-validation-for="NotificationId" class="text-danger"></span>
                    <label asp-for="NotificationId" class="floating-label">Notification No </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3"
                            asp-for="VillageId" asp-items="@(new SelectList(Model.VillageList, "Id","Name"))"
                            onchange="return onChange(this.options[this.selectedIndex].value);">
                        <option selected disabled="disabled" value="">---Select---</option>
                    </select>
                    <span asp-validation-for="VillageId" class="text-danger"></span>
                    <label asp-for="VillageId" class="floating-label">Village Name </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">

            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3"
                            asp-for="KhasraId" asp-items="@(new SelectList(Model.KhasraList, "Id","Name"))">
                        <option value="">---Select---</option>
                    </select>
                    <span asp-validation-for="KhasraId" class="text-danger"></span>
                    <label asp-for="KhasraId" class="floating-label">Khasra No </label>
                </div>
            </div>
           
        </div>

        


        
        <div class="pt-3">
            <h3 class="mb-3 d-flex">Actual Area</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">



                    <input readonly type="text"  asp-for="ABigha" class="floating-label-field floating-label-field--s3 numbers" placeholder="Bigha" readonly />

                    <label class="floating-label">Bigha</label>

                </div>
            </div>

            <div class="form-group col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">



                    <input readonly type="text"  asp-for="ABiswa" class="floating-label-field floating-label-field--s3 numbers" placeholder="Biswa" readonly />

                    <label class="floating-label">Biswa</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">


                    <input readonly type="text"  asp-for="ABiswanshi" class="floating-label-field floating-label-field--s3 numbers" placeholder="Biswanshi" readonly />

                    <label class="floating-label">Biswanshi</label>
                </div>
            </div>
        </div>



        <div class="pt-3">
            <h3 class="mb-3 d-flex">Notify Area</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">



                    <input limit="4" type="text" asp-for="Bigha" class="floating-label-field floating-label-field--s3 onlynumbers" placeholder="Bigha" />
                    <span asp-validation-for="Bigha" class="text-danger"></span>
                    <label class="floating-label">Bigha</label>

                </div>
            </div>

            <div class="form-group col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">



                    <input limit="2" type="text" asp-for="Biswa" class="floating-label-field floating-label-field--s3 onlynumbers" placeholder="Biswa" />
                    <span asp-validation-for="Biswa" class="text-danger"></span>
                    <label class="floating-label">Biswa</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">


                    <input  limit="2"   type="text" asp-for="Biswanshi" class="floating-label-field floating-label-field--s3 onlynumbers" placeholder="Biswanshi" />
                    <span asp-validation-for="Biswanshi" class="text-danger"></span>
                    <label class="floating-label">Biswanshi</label>
                </div>
            </div>
        </div>

        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <textarea asp-for="Remarks" placeholder="Description" class="floating-label-field floating-label-field--s3"></textarea>

                    <span asp-validation-for="Remarks" class="text-danger"></span>
                    <label class="floating-label">Remarks  </label>
                </div>
            </div>
            <div class=" col-md-6">
                <div class="floating-label-wrap">
                    <select asp-for="IsActive" class="floating-label-field floating-label-field--s3">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label class="floating-label">Status </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="submit">Update</button>
                @Html.ActionLink("Back", "Index", "Newlandus4plot", null, new { @class = "btn btn-theme " })

            </div>
        </div>

    </form>

</div>

<div class="table-section bg-white border shadow rounded">
    <div class="short-section d-md-flex align-items-center">
        <div class="p-3 d-flex align-items-end mr-auto">


        </div>



    </div>

    <div class="table-responsive px-2">
        <div id="divnotificationTable"></div>
    </div>


</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/newus4plotedit.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/newus4plotedit.min.js" asp-append-version="true"></script>
</environment>