@model Libraries.Model.Entity.Legalmanagementsystem
@await Component.InvokeAsync("PageHeader", new { pageName = "Legal Management System" })

<div class="pt-3">

    <form asp-action="Create"  method="post"  class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data">
        <h3 class="mb-3 d-flex">Add Details</h3>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="FileNo" placeholder="LegalFileNo" type="text" class="floating-label-field floating-label-field--s3" limit="100" />

                    <span asp-validation-for="FileNo" class="text-danger"></span>

                    <label class="floating-label">Legal File No.   </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="CourtCaseNo" placeholder="CourtCaseNo" type="text" class="floating-label-field floating-label-field--s3" limit="100" />
                    <span asp-validation-for="CourtCaseNo" class="text-danger"></span>
                    <label class="floating-label"> Court Case No   </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="CourtCaseTitle" placeholder="CourtCaseTitle" class="floating-label-field floating-label-field--s3" type="text" limit="100" />
                    <span asp-validation-for="CourtCaseTitle" class="text-danger"></span>
                    <label class="floating-label"> Court Case Title   </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="Subject" placeholder="Subject" type="text" class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                    <label class="floating-label">Subject</label>

                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="HearingDate" placeholder="HearingDate" class="floating-label-field floating-label-field--s3" type="date" onpaste="return false;" />
                    <span asp-validation-for="HearingDate" class="text-danger"></span>
                    <label class="floating-label">Hearing Date</label>

                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="NextHearingDate" placeholder="HearingDate" class="floating-label-field floating-label-field--s3" type="date" onpaste="return false;" />
                    <span asp-validation-for="NextHearingDate" class="text-danger"></span>
                    <label class="floating-label">Next Hearing Date</label>

                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap" title="Contempt of court">
                    <select class="floating-label-field floating-label-field--s3" asp-for="ContemptOfCourt">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                    <label class="floating-label" asp-for="ContemptOfCourt">Contempt of Court</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap" title="Court Type">
                     <select class="floating-label-field floating-label-field--s3" asp-for="CourtTypeId" asp-items="@(new SelectList(Model.CourttypeList, "Id","CourtType"))">
                             <option value="0">All</option>
                                            </select>
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="CourtTypeId" ></span>
                    <label class="floating-label" asp-for="CourtTypeId">Court Type</label>


                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="CaseStatusId"
                            asp-items="@(new SelectList(Model.CasestatusList, "Id","CaseStatus"))">
                        <option value="0">All</option>
                    </select>
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="CaseStatusId"></span>
                    <label class="floating-label" asp-for="CaseStatusId">Case Status </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="LastDecision" placeholder="LastDecision" class="floating-label-field floating-label-field--s3" type="text" onpaste="return false;" />
                    <span asp-validation-for="LastDecision" class="text-danger"></span>
                    <label class="floating-label">Last Decision</label>

                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3"
                            asp-for="ZoneId"
                            asp-items="@(new SelectList(Model.ZoneList, "Id","Name"))"
                            onchange="return GetLocalityList(this.options[this.selectedIndex].value);">

                        <option value="0">All</option>
                    </select>
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="ZoneId"></span>
                    <label asp-for="ZoneId" class="floating-label">Zone </label>

                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap">

                    <select class="floating-label-field floating-label-field--s3" asp-for="LocalityId">
                        <option value="0">All</option>
                    </select>
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="LocalityId"></span>
                    <label class="floating-label">Locality (Village) Name </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <input type="hidden" asp-for="CaseType" id="CaseType" value="24(2) Case" />
                <label class="control-label lb-sm" asp-for="CaseType">Case Type</label>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="radio-inline  ">
                            <input type="radio" name="grpCaseType" id="Case" checked="checked" />24(2) Case
                        </label>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="radio-inline ">
                            <input type="radio" name="grpCaseType" id="Other"/>Other
                        </label>
                    </div>
                </div>
               

            </div>
            <div class="col-md-6">
                <input type="hidden" asp-for="InFavour" id="InFavour" value="DDA" />
                <label class="control-label lb-sm" asp-for="InFavour">In Favour of</label>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="radio-inline  ">
                            <input type="radio" name="grpInfavour"  id="DDA"  checked="checked" />DDA
                        </label>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="radio-inline ">
                            <input type="radio" name="grpInfavour"  id="ADDA"/>Against DDA
                        </label>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="row mt-md-3">

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <textarea required type="text" class="floating-label-field floating-label-field--s3" placeholder="Panel Laywer" asp-for="PanelLawyer"></textarea>
                    <label class="floating-label">Panel Laywer</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" id="ddlStayInterim" asp-for="StayInterimGranted">
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                    </select>
                    <label class="floating-label" asp-for="StayInterimGranted">Stay Interim Granted</label>
                </div>
            </div>
        </div>

        <div class="row mt-md-3" style="display:none;" id="DivStayInterim">
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <label class="control-label lb-sm">Stay Interim Granted Document</label>
                    <input type="file" asp-for="StayFile" class="floating-label-field floating-label-field--s3" id="Stayfile" />
                                  </div>
                </div>
            <div class="form-group col-md-6">
                <div class="floating-label-wrap">

                    <input type="text" class="floating-label-field floating-label-field--s3" asp-for="StayInterimGrantedRemarks">
                    <label class="floating-label">Stay Interim Granted Remarks</label>
                </div>
                </div>
            </div>

        <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" id="ddlJudgement" asp-for="Judgement">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                        <label class="floating-label" asp-for="Judgement">Judgement</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input asp-for="DocumentFile" type="file" class="floating-label-field floating-label-field--s3" id="DocFile">
                        <span asp-validation-for="DocumentFile" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Document(if any)</label>
                    </div>
                </div>
            </div>
        <div style="display:none;" id="DivJudgement" class="row mt-md-3">
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                   
                    <label class="control-label lb-sm">Judgement Document</label>
                    <input asp-for="JudgementFile" type="file" class="floating-label-field floating-label-field--s3" id="JudgeFile">
                </div>
                </div>
            <div class="form-group col-md-6">
                <div class="floating-label-wrap">
                    <input type="text" class="floating-label-field floating-label-field--s3" asp-for="JudgementRemarks">
                    <label class="floating-label">Judgement Remarks</label>
                    </div>
                </div>
            </div>
        <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <input type="text" asp-for="Remarks" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                        <label class="floating-label">Remarks</label>
                    </div>
                </div>
                <div class="col-md-6">
                   
                        <div class="floating-label-wrap">
                            <select class="floating-label-field floating-label-field--s3">
                                <option value="1">Active</option>
                                <option value="0">InActive</option>
                            </select>
                            <span class="text-danger"></span>
                            <label class="floating-label">Status</label>
                        </div>
                   
                </div>
            </div>
        <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <div class=" col-md-12">
                            <button class="btn btn-theme" type="submit">Create</button>
                            @Html.ActionLink("Back", "Index", "Legalmanagementsystem", null, new { @class = "btn btn-theme " })

                        </div>
                    </div>
                </div>
            </div>
</form>
</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />

<environment include="Development">
    <script src="~/js/legalmanagementsystemcreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/legalmanagementsystemcreate.js" asp-append-version="true"></script>
</environment>
