@model Libraries.Model.Entity.Groundrent
@await Component.InvokeAsync("PageHeader", new { pageName = "Ground Rent " })


<div class="pt-3">

    <form asp-action="Create" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Add Details</h3>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="PropertyTypeId"
                            asp-items="@(new SelectList(Model.PropertyTypeList, "Id","Name"))">
                        <option selected="selected" disabled="disabled" value="">Select </option>
                    </select>
                    <span asp-validation-for="PropertyTypeId" class="text-danger"></span>
                    <label asp-for="PropertyTypeId" class="floating-label">Department </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <input asp-for="GroundRate" placeholder="Name" type="text"
                           class="floating-label-field floating-label-field--s3 number" limit="100" />
                    <span asp-validation-for="GroundRate" class="text-danger"></span>
                    <label class="floating-label">Ground Rate</label>
                </div>
            </div>
        </div>

        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <input asp-for="FromDate" placeholder="Name" type="date"
                           class="floating-label-field floating-label-field--s3" limit="100" />
                    <span asp-validation-for="FromDate" class="text-danger"></span>
                    <label class="floating-label">From Date</label>
                </div>


            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="ToDate" placeholder="Name" type="date"
                           class="floating-label-field floating-label-field--s3" limit="100" />
                    <span asp-validation-for="ToDate" class="text-danger"></span>
                    <label class="floating-label">To Date </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class=" col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="IsActive">

                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label asp-for="IsActive" class="floating-label">Status </label>
                </div>
            </div>
        </div>

        <div class="row mt-md-3">
            <div class="col-md-12">
                <button class="btn btn-theme " type="submit">Create</button>
                @Html.ActionLink("Back", "Index", "Village", null, new { @class = "btn btn-theme " })
            </div>
        </div>

    </form>

</div>
<partial name="../Shared/_ValidationScriptsPartial.cshtml" />

<environment include="Development">
    <script src="~/js/groundrateindex.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/groundrateindex.min.js" asp-append-version="true"></script>
</environment>