@model IEnumerable<Libraries.Model.Entity.Leasenoticegeneration>

<a data-toggle="collapse" href="#collapseHistoryApprroval" id="collapseapp" role="button" aria-expanded="false" aria-controls="collapseHistoryApprroval">
    <h3 class="my-3 d-flex sub-heading">Notice Gneration History Details</h3>
</a>
<div class="collapse" id="collapseHistoryApprroval">
    <table class="table table-sm table-bordered mb-0 table-striped">
        <thead class="text-nowrap">
            <tr>
                <th>Meeting Date</th>
                <th>Meeting Time</th>
                <th>Attachment</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @(item.MeetingDate != null ? Convert.ToDateTime(item.MeetingDate).ToString("dd-MMM-yyyy") : "")
                            @item.MeetingDate
                        </td>
                        <td>
                            @item.MeetingTime
                        </td>
                        <td>
                            @if (item.NoticeFileName != null)
                            {
                                <a class="badge badge-primary px-2" asp-action="ViewNotice" asp-route-id="@item.Id" target="_blank"> (View)</a>
                            }
                            else
                            {
                                <a>No Document</a>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <th colspan="14" style="text-align:center"> No Record Available! </th>
                </tr>
            }
        </tbody>
    </table>

</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/noticegenerationlistpartial.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/noticegenerationlistpartial.min.js" asp-append-version="true"></script>
</environment>
