@*@model Libraries.Model.Entity.Demolitionpoliceassistenceletter*@
@await Component.InvokeAsync("PageHeader", new { pageName = "Notice Generation" })
<br />
<br />

<form asp-action="Create" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @*<input type="hidden" asp-for="FixingDemolitionId" />
        <input type="hidden" asp-for="Id" value="@ViewBag.PrimaryId" />*@
    
    <h3 class="mb-3 d-flex">Police Assistence letter By</h3>


    <div id="divGenerate">
        <div class="row mt-md-3">
            <div class="col-md-3">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="Date" class="floating-label-field floating-label-field--s3" />
                    <span class="text-danger" style="display:none;" id="MessageDate">Meeting Date is Mandatory</span>
                    <label class="floating-label">Meeting Date</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="time" class="floating-label-field floating-label-field--s3" />
                    <span class="text-danger" style="display:none;" id="MessageTime">Meeting Time is Mandatory</span>
                    <label class="floating-label">Meeting Time</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-12">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <textarea type="text" class="floating-label-field floating-label-field--s3"></textarea>
                    <span class="text-danger" style="display:none;" id="MessageDate">Meeting Date is Mandatory</span>
                    <label class="floating-label">Meeting Place</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-md-12">
            <input type="submit" value="Generate" class="btn btn-theme " id="btnGenerate" />
            @Html.ActionLink("Back", "Index", "NoticeGeneration", null, new { @class = "btn btn-theme " })
        </div>
    </div>

</form>
<div class="d-block rounded border p-3 bg-white search-filer shadow mb-3 " id="VisibleLetter" style="display:none;">
    <input type="submit" value="Print" class="btn btn-theme" id="btnPrint" style="display:none;" />
    <div id="LetterDataView">
    </div>
</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/noticegenerationcreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/noticegenerationcreate.min.js" asp-append-version="true"></script>
</environment>