@model Libraries.Model.Entity.ApplicationNotificationTemplate

@await Component.InvokeAsync("PageHeader", new { pageName = "Application Notification Template" })
<div class="pt-3">

    <form asp-action="Edit" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Edit Details<span style="margin-left:800px"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span></h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="Name" placeholder="Action" type="text"
                           class="floating-label-field floating-label-field--s3" limit="100" />

                    <span asp-validation-for="Name" class="text-danger"></span>

                    <label class="floating-label">Template Name<span style="color:red">*</span> </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <textarea asp-for="Template" placeholder="Icon" type="text"
                              class="floating-label-field floating-label-field--s3" limit="2000"></textarea>

                    <span asp-validation-for="Template" class="text-danger"></span>

                    <label class="floating-label">Template <span style="color:red">*</span>  </label>
                </div>
            </div>
        </div>

        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="URL" type="text" class="floating-label-field floating-label-field--s3" limit="2000" />
                    <span asp-validation-for="URL" class="text-danger"></span>
                    <label class="floating-label">URL </label>
                </div>
            </div>
            <div class=" col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="IsActive">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label asp-for="IsActive" class="floating-label">Status </label>
                </div>
            </div>
        </div>
        <br/>
        <div class="row ">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="submit">Update</button>
                @Html.ActionLink("Back", "Index", "ApplicationNotificationTemplate", null, new { @class = "btn btn-theme " })

            </div>
        </div>

    </form>

</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />