
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync("PageHeader", new { pageName = "Payment Verification done by Account Section" })

<br />

<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
      
        <div class="panel-body">
            <form method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" asp-action="Index" id="1">
                <h2 class="my-3 sub-heading">Details</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="row pt-3">
                    <div class="col-md-3">
                        <div class="floating-label-wrap">
                            <select id="" required class="floating-label-field floating-label-field--s3" style="width:100%">
                                <option value="0">---Select---</option>
                                <option value="1">Nimri</option>
                            </select>
                            <label class="floating-label">Locality Name(Village)</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="date" class="floating-label-field floating-label-field--s3" placeholder="Date"/>
                            <label class="floating-label">From Date</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="date" class="floating-label-field floating-label-field--s3" placeholder="Date"/>
                            <label class="floating-label">To Date</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="floating-label-wrap">
                            <select id="" required="" class="floating-label-field floating-label-field--s3" style="width:100%">
                                <option disabled>---Select---</option>
                                <option value="1">Verified</option>
                                <option value="0">Unverified</option>
                            </select>
                            <label class="floating-label">Verification Status</label>
                        </div>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="form-group col-md-12" style="margin-bottom:40px;">
                        <input type="submit" value="Generate" class="btn btn-theme" />
                       
                        @Html.ActionLink("Back", "Index", "DemandReport", null, new { @class = "btn btn-theme" })
                    </div>
                </div>

                @{
                    @if (ViewBag.IsShowData == "Yes")
                    {
            <div id="DivReportDetails">
              
                <h2 class="my-3 sub-heading">Report</h2>
                <div class="table-section">
                    <div class="table-responsive px-2">
                        <table class="table table-sm table-bordered mb-0 table-striped">

                            <thead class="text-nowrap">
                                <tr>
                                   
                                    <th>Locality(Village)</th>
                                    <th>File No.</th>
                                    <th>Payee Name</th>
                                    <th>Property No.</th>
                                    <th>Address</th>
                                    <th>Property/Plot Area(Sq. Yds)</th>
                                    <th>Amount Paid</th>
                                    <th>Payment Date</th>
                                    <th>Mode of Payment</th>
                                    <th>Verification Status (Verified/ Unverified)</th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                <tr>
                                   
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <select class="floating-label-field floating-label-field--s3" disabled="disabled">
                                            <option selected="selected">Verified</option>
                                            <option>Unverified</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                   
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <select class="floating-label-field floating-label-field--s3" disabled="disabled">
                                            <option selected="selected">Verified</option>
                                            <option>Unverified</option>
                                        </select>
                                    </td>
                                </tr>


                            </tbody>

                        </table>

                    </div>
                </div>
                </div>
          

                    }
                    else
                    {

                    }
                }


            </form>
        </div>
    </div>
</div>





