
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Request From Planning Department To CLM</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  myapp-hed1">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%">Add Details </h6>
        </div>
        <div class="panel-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div id="Divclsification">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class=" myapp-hed2">
                                <div class="col-md-12">
                                    <h6 class="pull-left" style="color:white;margin-top:5px;">Details</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Project/Proposal Name</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Project No/File No</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Required Agency</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Area/Locality</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
              
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Total Area Under Request</label>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="radio-inline  ">
                                    <input type="radio" name="court" id="court" value="" />HA
                                </label>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="radio-inline ">
                                    <input type="radio" name="court" id="court" value="" />Acre
                                </label>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="radio-inline ">
                                    <input type="radio" name="court" id="court" value="" />Sq. Meters
                                </label>
                            </div>
                        </div>
                        <input type="text" class="form-control" />
                    </div>

                </div>





                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="control-label lb-sm">Purpose Of Acquisition</label>
                        <textarea type="text" class="form-control" style=" background-color: #dddddd;"></textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Layout plan/ Zonal Plan/ master plan</label>
                        <input type="file" class="form-control" multiple>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="control-label lb-sm">Remarks</label>
                        <textarea type="text" class="form-control" style=" background-color: #dddddd;"></textarea>
                    </div>
                </div>






                <div class="form-row ">
                    <div class="form-group col-md-12" style="margin-bottom:40px;">
                        <input type="submit" value="Create" class="btn btn-primary myapp-hed1" />
                        @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
                        @Html.ActionLink("Back", "Index", "RequestFromPlanningDepartmentToCLM", null, new { @class = "btn btn-primary myapp-hed1" })
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

    <script>

        $(function () {
            $('#Boundary').change(function () {
                var value = $('#Boundary').val();
                if (value == "No") {
                    $('#txtBoundaryRemarks').val('');
                    $("#txtBoundaryRemarks").attr("disabled", "disabled");
                }
                else {
                    $('#txtBoundaryRemarks').val('');
                    $("#txtBoundaryRemarks").attr("disabled", "disabled");
                    $("#txtBoundaryRemarks").removeAttr("disabled", "disabled");
                }
            });
        });

    </script>


    <script>
        $(function () {
            $('#Buit').change(function () {
                var value = $('#Buit').val();
                if (value == "No") {
                    $('#t2').val('');
                    $("#divBuilttype").hide();
                }
                else {
                    $('#t2').val('');
                    $("#divBuilttype").show();
                }
            });
        });

        $(function () {
            $('#Layout').change(function () {
                var value = $('#Layout').val();
                if (value == "No") {
                    $('#fileupload').val('');
                    $("#divLayoutPlan").hide();
                }
                else {
                    $('#fileupload').val('');
                    $("#divLayoutPlan").show();
                }
            });
        });
    </script>


    <script>
      

        $(function () {
            $('#Litigation').change(function () {
                var value = $('#Litigation').val();
                if (value == "No") {
                    $('#t4').val('');
                    $("#divLitigationStatus").hide();
                }
                else {
                    $('#t4').val('');
                    $("#divLitigationStatus").show();
                }
            });
        });

        $(function () {
            $('#GEO').change(function () {
                var value = $('#GEO').val();
                if (value == "No") {
                    $('#5').val('');
                    $("#divGEOReferencing").hide();
                }
                else {
                    $('#t5').val('');
                    $("#divGEOReferencing").show();
                }
            });
        });
    </script>
