
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Request From Planning Department To CLM</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div>
    @Html.ActionLink("Add New", "Create", "RequestFromPlanningDepartmentToCLM", null, new { @class = "btn btn-primary pull-right myapp-hed1 ", style = "margin-top: -10px;" })
</div>
<br />
<br />
<div class="container-fluid" id="MainContentForm">
    <div class="card  table-card" style="overflow:scroll;">

        <table class="table table-responsive table-bordered table-card">

            <thead class="thead">
                <tr>
                    
                    <th>Project/Proposal Name</th>
                    <th>ProjectNo./FileNo</th>
                    <th>Requiring Body</th>
                    <th>Area/Locality</th>
                    <th>Purpose Of Acquistion</th>
                    <th>Remarks</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody class="tbody">

                <tr>
                   
                    <td>DDa project</td>
                    <td>F-1(73)CM</td>
                    <td>DDA</td>
                    <td>Okhla</td>
                    <td>Commercial Use</td>
                    <td>Land is acquired</td>

                    <td> <i class="glyphicon glyphicon-eye-open icon-white cl1"></i> &nbsp; | &nbsp;<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> &nbsp;|&nbsp;<i class="glyphicon glyphicon-trash" aria-hidden="true"></i></td>

                </tr>
                <tr>
                    
                    <td>DDa project</td>
                    <td>F-1(73)CM</td>
                    <td>DDA</td>
                    <td>Okhla</td>
                    <td>Commercial Use</td>
                    <td>Land is acquired</td>
                    <td> <i class="glyphicon glyphicon-eye-open icon-white cl1"></i> &nbsp; | &nbsp;<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> &nbsp;|&nbsp;<i class="glyphicon glyphicon-trash" aria-hidden="true"></i></td>

                </tr>


            </tbody>

        </table>

    </div>
</div>
<br />
<br />




