
@model IEnumerable<Dto.Search.DemandPaymentDetailsDto>

<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">

        <tr>

            <th>Demand Period</th>
            <th>Ground Rent /License Fee </th>
            <th>Days </th>         

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
        <tr>
            <td>@(Convert.ToDateTime(item.fromdate).ToString("dd/MMM/yyyy"))--@(Convert.ToDateTime(item.todate).ToString("dd/MMM/yyyy"))</td>

            <td>@item.amount</td>

            <td>@item.days</td>

        </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="13" style="text-align:center"> Data Not Available </th>
            </tr>
        }

    </tbody>

</table>


