@model Libraries.Model.Entity.Hearingdetails
@await Component.InvokeAsync("PageHeader", new { pageName = "Hearing Details" })

<div class="pt-3">
    <form asp-action="Create" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data">

        @if (Model.Id == 0)
        {
            <h3 class="mb-3 d-flex">Add Details</h3>
        }
        else
        {
            <h3 class="mb-3 d-flex">Edit Details</h3>
        }

        <input type="hidden" asp-for="ReqProcId" />
          <input type="hidden" asp-for="Id" id="RequestForProceedingId" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div id="RequestForProceedingEvictionDiv">

        </div>

        <div class="permission mt-2 accordion list-unstyled m-0 ">
            <div class="card">
                <a class="p-2 no-dec d-flex align-items-center" data-toggle="collapse" href="#collapseApprroval1" role="button" aria-expanded="true"
                   aria-controls="collapseApprroval">
                    <i class="ri-arrow-right-s-fill"></i>
                    <span class="text ml-1 mr-auto"> View Notice Generations Details </span>
                    <i class="arrow ri-arrow-drop-down-line slow"></i>
                </a>
                <div class="list-unstyled m-0 pl-2 pr-1 pl-md-4 pr-md-3 collapse py-4" id="collapseApprroval1">
                    <div id="NoticeGenerationDiv">

                    </div>
                    <link href="~/lib/bootstrap/select2/select2.css" rel="stylesheet" />
                    <script src="~/lib/bootstrap/select2/select2.js" defer></script>

                </div>
            </div>
        </div>


        <div class="permission mt-2 accordion list-unstyled m-0 ">
            <div class="card">
                <a class="p-2 no-dec d-flex align-items-center" data-toggle="collapse" href="#collapseApprroval2" role="button" aria-expanded="true"
                   aria-controls="collapseApprroval">
                    <i class="ri-arrow-right-s-fill"></i>
                    <span class="text ml-1 mr-auto">View Allottee Evidance Document Details  </span>
                    <i class="arrow ri-arrow-drop-down-line slow"></i>
                </a>
                <div class="list-unstyled m-0 pl-2 pr-1 pl-md-4 pr-md-3 collapse py-4" id="collapseApprroval2">

                    <div id="AllotteeEvidenceDiv">

                    </div>

                </div>
            </div>
        </div>


        <div class="permission mt-2 accordion list-unstyled m-0 ">
            <div class="card">
                <a class="p-2 no-dec d-flex align-items-center" data-toggle="collapse" href="#collapseApprroval3" role="button" aria-expanded="true"
                   aria-controls="collapseApprroval">
                    <i class="ri-arrow-right-s-fill"></i>
                    <span class="text ml-1 mr-auto">View Previous Hearing Details </span>
                    <i class="arrow ri-arrow-drop-down-line slow"></i>
                </a>
                <div class="list-unstyled m-0 pl-2 pr-1 pl-md-4 pr-md-3 collapse py-4" id="collapseApprroval3">

                    <div class="table-section bg-white border shadow rounded">
                       
                            <div id="divTable">

                            </div>
                        
                    </div>

                </div>
            </div>
        </div>





        <h3 class="my-3 d-flex sub-heading">Add New Hearing Details </h3>



        <div class="row">


            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">


                    <input class="floating-label-field floating-label-field--s3" placeholder="Hearing Date" type="date" asp-for="HearingDate" />
                    <span class="text-danger" ></span>
                    <label class="floating-label">Hearing Date</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input class="floating-label-field floating-label-field--s3" placeholder="Hearing Venue" type="time" asp-for="HearingTime"/>
                    <span class="text-danger"></span>
                    <label class="floating-label">Hearing Time  </label>
                </div>
            </div>
        </div>

        <div class="row mt-md-3">
            <div class="col-md-6">

                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input class="floating-label-field floating-label-field--s3" placeholder="Hearing Time" type="text" asp-for="HearingVenue" />
                    <span class="text-danger"></span>
                    <label class="floating-label">Hearing Venue </label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input class="floating-label-field floating-label-field--s3" placeholder="Attendee" disabled asp-for="Attendee" />
                    <span class="text-danger"></span>
                    <label class="floating-label">Attendee </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-12">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <textarea class="floating-label-field floating-label-field--s3" placeholder="Hearing Remarks" disabled asp-for="Remark">
                </textarea>
                    <span class="text-danger"></span>
                    <label class="floating-label">Hearing Remarks </label>
                </div>
            </div>

        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">


                    <input class="floating-label-field floating-label-field--s3" placeholder="Hearing Documents" type="file" disabled />
                    <span class="text-danger"></span>
                    <label class="floating-label">Hearing Documents (if any)</label>
                </div>
            </div>
            <div class=" col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span class="text-danger"></span>
                    <label class="floating-label">Status </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class=" col-md-12">
                @if (Model.Id == 0)
                {
                    <button class="btn btn-theme " type="submit">Create</button>
                }
                else
                {
                    <button class="btn btn-theme " type="submit">Update</button>
                }

                @Html.ActionLink("Back", "Index", "HearingDetails", null, new { @class = "btn btn-theme " })
            </div>
        </div>
    </form>
</div>



<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/hearingdetailscreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/hearingdetailscreate.min.js" asp-append-version="true"></script>
</environment>
