
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<script src="~/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>


<script>
    $(function () {
        $("#txtDesignation").keypress(function (e) {
            var keyCode = e.keyCode || e.which;

            $("#lblError").html("");

            //Regex for Valid Characters i.e. Alphabets and Numbers.
            var regex = /^[A-Za-z0-9]+$/;

            //Validate TextBox value against the Regex.
            var isValid = regex.test(String.fromCharCode(keyCode));
            if (!isValid) {
                $("#lblError").html("Only Alphabets and Numbers allowed.");
            }

            return isValid;
        });
    });

</script>
<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Display Label</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading dda-pageheading">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%">Display Label</h6>
        </div>
        <div class="panel-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">

                    <div class="form-group col-md-2">
                        <label class="control-label lb-sm">Enter Parameter </label>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="txtParameter" autocomplete="on">
                    </div>
                </div>
                <div class="form-row">

                </div>


                <div class="form-row ">
                    <div class="form-group col-md-12" style="margin-bottom:40px;">
                        <input type="submit" value="Find" class="btn btn-primary dda-topheading" id="btnFind" />
                       
                        @Html.ActionLink("Back", "Index", "IssueReturnFile", null, new { @class = "btn btn-primary dda-topheading" })
                    </div>
                </div>



            </form>

            <div>
                <br /> <br /> <br /> <br />
                <br />
                @{
                    @if (ViewBag.IsShowData == "Yes")
                    {
                        <div class="form-row" id="divDataLoad">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered" border="0">
                                        <thead class="thead">
                                            <tr>
                                                <th>Sr.No</th>
                                                <th>File No.</th>
                                                <th>File Name</th>
                                                <th>File Particulars/Compactor Details</th>
                                                <th>Status</th>
                                                <th>Display Label</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbody">
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    F1(RTIMIS)/2017-2018/COORDINATION/RTI
                                                </td>
                                                <td>
                                                    ONLINE RTI FILE
                                                </td>
                                                <td>
                                                    <label class="control-label lb-sm">Locations Details</label>
                                                    <table class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Record Room No.</th>
                                                                <th>Al. No./Compactor No.</th>
                                                                <th>Row No</th>
                                                                <th>Col.No.</th>
                                                                <th>Bn No.</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    308
                                                                </td>
                                                                <td>
                                                                    B
                                                                </td>
                                                                <td>
                                                                    1
                                                                </td>
                                                                <td>
                                                                    B
                                                                </td>
                                                                <td>
                                                                    1
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td>
                                                    Available
                                                </td>

                                                <td>
                                                    <a id="btnDisplay" class="btn btn-primary myapp-hed1">Display</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>
                                                    F5(29)/2018-2019/COORDINATION/RNR
                                                </td>
                                                <td>
                                                    REPLY FILES
                                                </td>
                                                <td>
                                                    <label class="control-label lb-sm">Locations Details</label>
                                                    <table class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Record Room No.</th>
                                                                <th>Al. No./Compactor No.</th>
                                                                <th>Row No</th>
                                                                <th>Col.No.</th>
                                                                <th>Bn No.</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    308
                                                                </td>
                                                                <td>
                                                                    C
                                                                </td>
                                                                <td>
                                                                    1
                                                                </td>
                                                                <td>
                                                                    A
                                                                </td>
                                                                <td>
                                                                    1
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td>
                                                    Available
                                                </td>

                                                <td>
                                                    <a id="btnDisplay" class="btn btn-primary myapp-hed1">Display</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    }
                    else
                    {

                    }
                }
            </div>
        </div>
    </div>
</div>





<script>
    $("#btnDisplay").click(function () {
        window.open("@Url.Action("PrintLabel", "DisplayLabel")", "_blank",
            "menubar=no, toolbar=no, resizable=no, top=100, left=200, width=500, height=500");
    });
</script>
<script>
    $(function () {
        $("input[name='btnFind']").click(function () {
            $("#divDataLoad").toggle();
            $(this).toggleClass('class1')
        });
    });

    function DeleteData(id) {

        var Param = id;

        $.ajax({
            url: "/IssueReturnFile/IssueFileData",
           
            data: {},
            traditional: true,
           
            dataType: "text",
            contentType: "application/text; charset=utf-8",
            success: function (result) {
                if (result) {
                    
                    $('#myModaldelete').modal('show');
                } else {
                    alert("Error occurs on the Database level!");
                }
            },
            error: function () {
                alert("An error has occured!!!");
            }
        });
    }
</script>

<style>

    .class1 {
        color: orange;
    }
</style>

<script>
    //For autocomplete in textbox
    $(document).ready(function () {
        $("#txtParameter").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/IssueReturnFile/AutocompleteParameter',
                    type: 'GET',
                    cache: false,
                    data: request,
                    dataType: 'json',
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item,
                                value: item + ""
                            }
                        }))
                    }
                });
            },
            minLength: 2,
           
        });
    });
</script>

<script>
    $(document).ready(function () {
        //Open popup
        $('body').on("click", "a.popup", function (e) {
            e.preventDefault();
            var page = $(this).attr('href');
            OpenPopup(page);
        });
    });


    //open popup
    function OpenPopup(Page) {
        var $pageContent = $('<div/>');
        $pageContent.load(Page);
        $dialog = $('<div class="popupWindow" style="overflow:hidden"></div>')
            .html($pageContent)
            .dialog({
                draggable: true,
                autoOpen: false,
                resizable: true,
                model: true,
                height: 600,
                width: 600,
                close: function () {
                    $dialog.dialog('destroy').remove();
                }
            })
        $dialog.dialog('open');
    }

</script>



