footer.footers {
    background: rgb(44, 48, 145);
    background: -moz-linear-gradient(90deg, rgba(44, 48, 145, 1) 0%, rgba(209, 33, 62, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(44, 48, 145, 1) 0%, rgba(209, 33, 62, 1) 100%);
    background: linear-gradient(90deg, rgba(44, 48, 145, 1) 0%, rgba(209, 33, 62, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2c3091", endColorstr="#d1213e", GradientType=1);
    position: fixed;
    bottom: 0;
    width: calc(100%);
    right: 0;
    color: #fff;
    font-size: .6rem;
    z-index: 99;
}

    footer.footers a {
        color: #bdeaff;
    }

/*.responsive-form {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .responsive-form {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .responsive-form {
        max-width: 700px;
    }
}

@media (min-width: 992px) {
    .responsive-form {
        max-width: 768px;
    }
}*/