@model IEnumerable<Dto.Master.MonthlyRoasterPartial>
<table class="table" id="RoasterTable">
    <thead class="thead table-striped table-bordered table">
        <tr>
            <th>Date</th>
            <th>Day</th>
            <th>Primary No</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var itemRepeater in Model)
        {

<tr>
    <td>
        <input type="text" class="floating-label-field floating-label-field--s3" readonly="readonly" id="Date" value="@itemRepeater.Date" />
    </td>
    <td>
        <input type="text" class="floating-label-field floating-label-field--s3" readonly="readonly" id="Day" value="@itemRepeater.Day" />
    </td>
    <td>
        <select multiple asp-items="@(new SelectList(ViewBag.PrimaryList,"Id","PrimaryListNo"))" id="PrimaryListNo">
            <option>Select</option>
        </select>
        <span id="PrimaryNoMessage" class="text-danger lb-sm" style="display:none;">Primary List No is Mandatory</span>

    </td>
</tr>}
    </tbody>
</table>
<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/MonthlyRoasterPartial.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/MonthlyRoasterPartial.min.js" asp-append-version="true"></script>
</environment>
