
@model Libraries.Model.Entity.Morland





<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Mor Lands</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container-fluid">
    <div class="panel">
        <div class="panel-heading dda-pageheading">
            <h6 class="pull-left color-white " style="margin-top:-0.4%">Add Details</h6>
        </div>
        <div class="panel-body">
            <form asp-action="View">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Notification No.</label>

                        <select class="form-control dda-dropdown" asp-for="LandNotificationId" asp-items="@(new SelectList(Model.LandNotificationList, "Id","Name"))">
                            <option>Select</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm"> Notification Date</label>
                        <input asp-for="NotificationDate" type="date" class="form-control" />

                    </div>


                </div>

                <div class="form-row ">

                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Serial No</label>
                        <select asp-for="SerialnumberId" asp-items="@(new SelectList(Model.SerialnumberList, "Id","SerialNo"))"
                                class="form-control dda-dropdown">
                            <option value="0">---Select---</option>

                        </select>



                    </div>


                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Property/Site No.</label>
                        <input asp-for="PropertySiteNo" class="form-control" />

                    </div>


                </div>



                <div class="form-row ">

                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Location Name(Village)</label>
                        <input asp-for="Name" class="form-control" />

                    </div>


                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Site Description (With Khasra No)</label>
                        <input asp-for="SiteDescription" class="form-control" />

                    </div>


                </div>










                <div id="Divclsification">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class=" dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left" style="color:white;margin-top:5px;">Area </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Bigha</label>
                            <input asp-for="Bigha" class="form-control" />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Biswa</label>
                            <input asp-for="Biswa" class="form-control" />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Biswanshi</label>
                            <input asp-for="Biswanshi" class="form-control" />
                        </div>
                    </div>
                </div>







                <div id="Divclsification">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class="dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left" style="color:white;margin-top:5px;">Add Details</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row ">

                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Status of Land</label>
                            <input asp-for="StatusOfLand" class="form-control" />

                        </div>


                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Occupied By</label>
                            <input asp-for="OccupiedBy" class="form-control" />

                        </div>


                    </div>

                    <div class="form-row ">

                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Developed</label>
                            <input asp-for="Developed" class="form-control" />

                        </div>


                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Land Type</label>
                            <input asp-for="LandType" class="form-control" />

                        </div>


                    </div>
                    <div class="form-row ">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm"> Status</label>
                            <select asp-for="IsActive" class="form-control dda-dropdown">
                                <option value="1">Active</option>
                                <option value="0">InActive</option>
                            </select>
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="control-label lb-sm">Remarks</label>
                            <textarea asp-for="Remarks" class="form-control" style=" background-color: #dddddd;"></textarea>
                        </div>

                    </div>




                </div>





                @*</div>
        </div>*@

        <div class="form-row">
            <div class=" form-group  col-md-12">
                @Html.ActionLink("Back", "Index", "MorLands", null, new { @class = "btn btn-primary dda-pageheading" })
            </div>
        </div>

        </form>
    </div>
    </div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />

