@model Libraries.Model.Entity.Acquiredlandvillage
@await Component.InvokeAsync("PageHeader", new { pageName = "Village" })

<div class="pt-3">
    <form asp-action="Edit" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Edit Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="Code" placeholder="Name" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                    <label class="floating-label">Village Code    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="Name" placeholder="Name" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <label class="floating-label">Village Name    </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class=" col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3"
                            asp-for="DistrictId" asp-items="@(new SelectList(Model.DistrictList, "Id","Name"))">
                        <option>Select</option>
                    </select>
                    <span asp-validation-for="DistrictId" class="text-danger"></span>
                    <label asp-for="DistrictId" class="floating-label">District Name </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3"
                            asp-for="TehsilId" asp-items="@(new SelectList(Model.TehsilList, "Id","Name"))">

                        <option>Select</option>
                    </select>
                    <span asp-validation-for="TehsilId" class="text-danger"></span>
                    <label asp-for="TehsilId" class="floating-label">Tehsil Name </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="YearofConsolidation" placeholder="Name" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="YearofConsolidation" class="text-danger"></span>
                    <label class="floating-label">Year of Consolidation   </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="TotalNoOfSheet" placeholder="Name" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="TotalNoOfSheet" class="text-danger"></span>
                    <label class="floating-label">Total No Of Sheet </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="Zone" placeholder="Name" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="Zone" class="text-danger"></span>
                    <label class="floating-label">Zone  </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="Acquired" placeholder="Name" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="Acquired" class="text-danger"></span>
                    <label class="floating-label">Acquired</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="Circle" placeholder="Name" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="Circle" class="text-danger"></span>
                    <label class="floating-label">Circle  </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="WorkingVillage" placeholder="Name" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="WorkingVillage" class="text-danger"></span>
                    <label class="floating-label">Working Village</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                @*<div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3"
                            asp-for="VillageTypeId" asp-items="@(new SelectList(Model.VillagetypeList, "Id","Name"))">
                        <option>Select</option>
                    </select>
                    <span asp-validation-for="VillageTypeId" class="text-danger"></span>
                    <label asp-for="VillageTypeId" class="floating-label">Khasra No </label>
                </div>*@
            </div>

            <div class=" col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="IsActive">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label asp-for="IsActive" class="floating-label">Status </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="submit">Update</button>
                @Html.ActionLink("Back", "Index", "AcquiredLandVillage", null, new { @class = "btn btn-theme " })
            </div>
        </div>

    </form>

</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
