@model Libraries.Model.Entity.Gramsabhaland
@await Component.InvokeAsync("PageHeader", new { pageName = "Gram Sabha Land " })

<div class="container-fluid" id="MainContentForm">
    <div class="panel">

        <div class="panel-body">
            <form asp-action="Create" enctype="multipart/form-data" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h3 class="mb-3 d-flex">Add Details</h3>

                <div class="row mt-md-3">
                    <div class=" col-md-6">
                        <div class="floating-label-wrap">
                            <select class="floating-label-field floating-label-field--s3" asp-for="ZoneId"
                                    asp-items="@(new SelectList(Model.ZoneList, "Id","Name"))"
                                    onchange="return">
                                <option selected="selected" disabled="disabled" value="">--Select-- </option>
                            </select>
                            <span asp-validation-for="ZoneId" class="text-danger"></span>
                            <label class="floating-label" asp-for="ZoneId">Zone Name<span style="color:red">*&nbsp;</span></label>

                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class="floating-label-wrap">
                            <select class="floating-label-field floating-label-field--s3" asp-for="VillageId"
                                    asp-items="@(new SelectList(Model.VillageList, "Id","Name"))">
                                <option selected="selected" disabled="disabled" value="">--Select-- </option>
                            </select>
                            <span asp-validation-for="VillageId" class="text-danger"></span>
                            <label class="floating-label" asp-for="VillageId">Village<span style="color:red">*&nbsp;</span></label>

                        </div>
                    </div>
                </div>




                <div class="pt-3">
                    <h3 class="mb-3 d-flex">Khasra Details</h3>
                    <div class="row mt-md-3">
                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input type="text" asp-for="KhasraNo" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                                <span asp-validation-for="KhasraNo" class="text-danger"></span>
                                <label class="floating-label">Khasra No<span style="color:red">*&nbsp;</span></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-3">
                    <h3 class="mb-3 d-flex">Total Area</h3>

                    <div class="row mt-md-3">

                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="text" asp-for="TotalAreaBigha" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                                <label class="floating-label">Bigha</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input type="text" asp-for="TotalAreaBiswa" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                                <label class="floating-label">Biswa</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="text" asp-for="TotalAreaBiswanshi" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                                <label class="floating-label">Biswanshi</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-3">
                    <h3 class="mb-3 d-flex">Vacant Area</h3>

                    <div class="row mt-md-3">

                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input type="text" asp-for="VacantAreaBigha" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                                <label class="floating-label">Bigha</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input type="text" asp-for="VacantAreaBiswa" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                                <label class="floating-label">Biswa</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input type="text" asp-for="VacantAreaBiswanshi" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                                <label class="floating-label">Biswanshi</label>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="pt-3">
                    <h3 class="mb-3 d-flex">Builtup Area</h3>

                    <div class="row mt-md-3">



                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input type="text" asp-for="BuiltupAreaBigha" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                                <label class="floating-label">Bigha</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input type="text" asp-for="BuiltupAreaBiswa" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                                <label class="floating-label">Biswa</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input type="text" asp-for="BuiltupAreaBiswanshi" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                                <label class="floating-label">Biswanshi</label>
                            </div>
                        </div>

                    </div>
                </div>



                <div class="pt-3">

                    <h3 class="mb-3 d-flex">Encroached Area</h3>

                    <div class="row mt-md-3">



                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input type="text" asp-for="EncroachedAreaBigha" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                                <label class="floating-label">Bigha</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input type="text" asp-for="EncroachedAreaBiswa" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                                <label class="floating-label">Biswa</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input type="text" asp-for="EncroachedAreaBiswanshi" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                                <label class="floating-label">Biswanshi</label>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="pt-3">

                    <h3 class="mb-3 d-flex">U/S 507 Notification Details</h3>
                    <div class="row mt-md-3">
                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="text" asp-for="Us507notificationNo" class="floating-label-field floating-label-field--s3 " placeholder="Remarks" />
                                <label class="floating-label">(U/S 507) Notification No</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input type="date" asp-for="Us507notificationDate" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                                <label class="floating-label">Date</label>
                            </div>
                        </div>


                    </div>

                    <div class="row mt-md-3">


                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <input type="file" asp-for="GNus507Document1" class="floating-label-field floating-label-field--s3 checkExtension" placeholder="Remarks" />
                                <label class="floating-label">Gazzette Notification U/S 507 of DMC Act 1957<span style="color:red">(Only PDF)</span></label>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="pt-3">

                    <h3 class="mb-3 d-flex">U/S 22(1) Notification Details</h3>
                    <div class="row mt-md-3">
                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="text" asp-for="Us22notificationNo" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                                <label class="floating-label">U/S 22(1) Notification No</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="date" asp-for="Us22notificationDate" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                                <label class="floating-label">Date</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-md-3">
                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="file" asp-for="Us22Document2" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                                <label class="floating-label">U/S 22(1)Notification Document</label>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="file" asp-for="Us22OtherDocument3" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                                <label class="floating-label">Other Notification</label>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input type="Date" value="" placeholder="poss Date" class="floating-label-field floating-label-field--s3" />
                    <span class="text-danger"></span>
                    <label class="floating-label"> Date</label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input type="text" placeholder="Plot No" class="floating-label-field floating-label-field--s3" />
                    <span class="text-danger"></span>
                    <label class="floating-label">Plot No</label>
                </div>
            </div>


        </div>



        <div class="pt-3">

            <h3 class="mb-3 d-flex">Area</h3>


            <div class="row">
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">



                        <input type="text" class="floating-label-field floating-label-field--s3 number" />
                        <label class="floating-label">Bigha</label>

                    </div>
                </div>

                <div class="form-group col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">



                        <input type="text" class="floating-label-field floating-label-field--s3 number" placeholder="Biswa" />
                        <label class="floating-label">Biswa</label>
                    </div>
                </div>

            </div>
        </div>




        <div class="form-row">


            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <textarea type="text" class="floating-label-field floating-label-field--s3" placeholder="Remarks"></textarea>
                    <label class="floating-label">Remarks</label>
                </div>
            </div>




            <div class=" col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span class="text-danger"></span>
                    <label class="floating-label">Status </label>
                </div>
            </div>



        </div>*@
                <div class="pt-3">
                    <h3 class="mb-3 d-flex">Other Details</h3>
                </div>
                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">

                            <textarea type="text" asp-for="TypeOfStructureOnGramLand" class="floating-label-field floating-label-field--s3" placeholder="Remarks"></textarea>

                            <label class="floating-label">Details/Type of Structure on Gram Sabha Land</label>
                        </div>
                    </div>


                    <div class=" col-md-6">
                        <div class="floating-label-wrap">
                            <select asp-for="WhetherTssSurveyDone" class="floating-label-field floating-label-field--s3" id="survey_done">
                                <option value="1">Yes</option>
                                <option value="0" selected>No</option>
                            </select>
                            <span class="text-danger"></span>
                            <label class="floating-label">Whether TSS Survey Done </label>
                        </div>
                    </div>

                </div>

                <div class="row mt-md-3" id="tss_div" style="display:none">


                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">

                            <input asp-for="TssSurveyDocument4" type="file" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                            <label class="floating-label">Upload TSS Survey Report</label>
                        </div>
                    </div>


                </div>

                <div class="row mt-md-3">

                    <div class=" col-md-6">
                        <div class="floating-label-wrap">
                            <select asp-for="BoundaryWallDone" class="floating-label-field floating-label-field--s3">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                            <span class="text-danger"></span>
                            <label class="floating-label">Boundary Wall Done </label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">

                            <input type="file" asp-for="KabzaDocument5" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                            <label class="floating-label">Kabza Proceeding</label>
                        </div>
                    </div>

                </div>



                <div class="row mt-md-3">


                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">

                            <input type="text" asp-for="TakenFrom" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                            <label class="floating-label">Taken From</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">

                            <input type="date" asp-for="DateofTakenOver" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                            <label class="floating-label">Date of Taken over</label>
                        </div>
                    </div>


                </div>


                <div class="row mt-md-3">


                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">

                            <input type="text" asp-for="HandedOverTo" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                            <label class="floating-label">Handed Over to</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">

                            <input type="date" asp-for="HandedOverDate" class="floating-label-field floating-label-field--s3" placeholder="Remarks" />
                            <label class="floating-label">Handed Over Date</label>
                        </div>
                    </div>


                </div>

                <div class="row mt-md-3">


                    <div class=" col-md-6">
                        <div class="floating-label-wrap">
                            <select asp-for="LandRecordReceivedGnctd" class="floating-label-field floating-label-field--s3">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                            <span class="text-danger"></span>
                            <label class="floating-label">Whether Land Record pertaining to GS Land received from GNCTD </label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">

                            <textarea asp-for="Remarks" type="text" class="floating-label-field floating-label-field--s3" placeholder="Remarks"></textarea>
                            <label class="floating-label">Remarks</label>
                        </div>
                    </div>

                </div>
                <div class="row mt-md-3">

                    <div class=" col-md-6">

                        <div class="floating-label-wrap">
                            <select class="floating-label-field floating-label-field--s3" asp-for="IsActive">

                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                            <label asp-for="IsActive" class="floating-label">Status</label>
                        </div>

                    </div>


                </div>



                    <div class="row mt-md-3">
                        <div class=" col-md-12">
                            <button class="btn btn-theme " type="submit">Submit</button>
                            @Html.ActionLink("Back", "Index", "GramSabhaLand", null, new { @class = "btn btn-theme " })
                        </div>
                    </div>



            </form>
        </div>
    </div>
</div>





<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/gramsabhalandcreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/gramsabhalandcreate.min.js" asp-append-version="true"></script>
</environment>




