@*@model IEnumerable<Libraries.Model.Entity.Allotmententry>*@

@await Component.InvokeAsync("PageHeader", new { pageName = "DDA Land Details" })

<div class="pt-3">
    <div class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Search</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
                    <h3 class="mb-3 d-flex">
                        DDA Land Details <span class="ms-auto pull-right">
                            Chart Type:
                            <select id="ddlcharttype">
                                <option value="pie" selected="selected">Pie Chart</option>
                                @*<option value="doughnut">Doughnut Chart</option>*@
                                <option value="bar">bar Chart</option>
                            </select>
                        </span>
                    </h3> 
                    <div  id="apexchart" class="text-center">

                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="table-section bg-white border shadow rounded">
    <div class="table-responsive px-2">
        <div id="divTable">

        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>  

<environment include="Development">
    <script src="~/js/landdetailsindex.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/landdetailsindex.min.js" asp-append-version="true"></script>
</environment>
