@model Libraries.Model.Entity.Newlandus6plot
@await Component.InvokeAsync("PageHeader", new { pageName = "Under Section 6 Plot" })


<div class="pt-3">
    <form asp-action="Create" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Add Details <span style="margin-left:800px"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span> </h3>


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3"
                            asp-for="NotificationId" asp-items="@(new SelectList(Model.NotificationList, "Id","NotificationNo"))">
                        <option selected disabled="disabled" value="">---Select---</option>
                    </select>
                    <span asp-validation-for="NotificationId" class="text-danger"></span>
                    <label asp-for="NotificationId" class="floating-label">Notification No<span style="color:red">*</span></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3"
                            asp-for="VillageId" asp-items="@(new SelectList(Model.VillageList, "Id","Name"))"
                            onchange="return onChange(this.options[this.selectedIndex].value);">
                        <option selected disabled="disabled" value="">---Select---</option>
                    </select>
                    <span asp-validation-for="VillageId" class="text-danger"></span>
                    <label asp-for="VillageId" class="floating-label">Village Name<span style="color:red">*</span> </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3"
                            asp-for="KhasraId" asp-items="@(new SelectList(Model.KhasraList, "Id","Name"))">
                        <option value="">---Select---</option>
                    </select>
                    <span asp-validation-for="KhasraId" class="text-danger"></span>
                    <label asp-for="KhasraId" class="floating-label">Khasra No<span style="color:red">*</span> </label>
                </div>
            </div>

        </div>

        <h3 class="my-3 d-flex sub-heading pt-4"> Actual Area </h3>
        <div class="row mt-md-3">


            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input readonly asp-for="ABigha" placeholder="Notification"
                           class="floating-label-field floating-label-field--s3 numbers" />
                    <span asp-validation-for="ABigha" class="text-danger"></span>
                    <label class="floating-label">Bigha    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input readonly asp-for="ABiswa" placeholder="Name"
                           class="floating-label-field floating-label-field--s3 numbers" />
                    <span asp-validation-for="ABiswa" class="text-danger"></span>
                    <label class="floating-label">Biswa </label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input readonly asp-for="ABiswanshi" placeholder="NoOfKhatauni"
                           class="floating-label-field floating-label-field--s3 numbers" />
                    <span asp-validation-for="ABiswanshi" class="text-danger"></span>
                    <label class="floating-label">Biswanshi </label>
                </div>
            </div>


        </div>
        <h3 class="my-3 d-flex sub-heading pt-4"> Notify Area </h3>
        <div class="row mt-md-3">


            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input limit="4" asp-for="Bigha" placeholder="Notification"
                           class="floating-label-field floating-label-field--s3 onlynumbers" />
                    <span asp-validation-for="Bigha" class="text-danger"></span>
                    <label class="floating-label">Bigha    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input limit="2" asp-for="Biswa" placeholder="Name"
                           class="floating-label-field floating-label-field--s3 onlynumbers" />
                    <span asp-validation-for="Biswa" class="text-danger"></span>
                    <label class="floating-label">Biswa </label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input limit="2" asp-for="Biswanshi" placeholder="NoOfKhatauni"
                           class="floating-label-field floating-label-field--s3 onlynumbers" />
                    <span asp-validation-for="Biswanshi" class="text-danger"></span>
                    <label class="floating-label">Biswanshi </label>
                </div>
            </div>


        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <textarea asp-for="Remarks" placeholder="Description" class="floating-label-field floating-label-field--s3"></textarea>

                    <span asp-validation-for="Remarks" class="text-danger"></span>
                    <label class="floating-label">Remarks  </label>
                </div>
            </div>
            <div class=" col-md-6">
                <div class="floating-label-wrap">
                    <select asp-for="IsActive" class="floating-label-field floating-label-field--s3">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label class="floating-label">Status </label>
                </div>
            </div>

        </div>
        <div class="row mt-md-3">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="submit">Submit</button>
                @Html.ActionLink("Back", "Index", "Newlandus6plot", null, new { @class = "btn btn-theme " })

            </div>
        </div>
    </form>
</div>
<div class="table-section bg-white border shadow rounded">
    <div class="short-section d-md-flex align-items-center">
        <div class="p-3 d-flex align-items-end mr-auto">


        </div>



    </div>

    <div class="table-responsive px-2">
        <div id="divnotificationTable"></div>
    </div>


</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/newus6plotcreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/newus6plotcreate.min.js" asp-append-version="true"></script>
</environment>