body,
html {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.slow {
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out
}

.fixed-bg {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
}

a.no-dec {
    text-decoration: none !important;
    outline: none !important;
}



.theme-bg {
    background: rgb(75, 80, 162);
    background: -moz-linear-gradient(90deg, rgba(75, 80, 162, 1) 0%, rgba(125, 56, 101, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(75, 80, 162, 1) 0%, rgba(125, 56, 101, 1) 100%);
    background: linear-gradient(90deg, rgba(75, 80, 162, 1) 0%, rgba(125, 56, 101, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4b50a2", endColorstr="#7d3865", GradientType=1);
}


.btn-theme {
    font-size: .9rem;
    border-radius: 50px;
    font-weight: 600;
    color: #fff;
    font-size: 1rem;
    background: rgb(140, 31, 71);
    background: -moz-linear-gradient(33deg, rgba(140, 31, 71, 1) 0%, rgba(54, 44, 133, 1) 100%);
    background: -webkit-linear-gradient(33deg, rgba(140, 31, 71, 1) 0%, rgba(54, 44, 133, 1) 100%);
    background: linear-gradient(33deg, rgba(140, 31, 71, 1) 0%, rgba(54, 44, 133, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8c1f47", endColorstr="#362c85", GradientType=1);
    border-color: transparent;
}


.body-loading {
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    color: #fff;
    box-sizing: border-box;
    overflow: hidden;
    display: none;
}

    .body-loading.loader-active {
        display: block;
    }


    .body-loading::after {
        content: "";
        position: fixed;
        width: 48px;
        height: 48px;
        border: 8px solid #fff;
        border-left-color: transparent;
        border-radius: 50%;
        top: calc(50% + 18px);
        left: calc(50% - 24px);
        animation: rotation 1.2s linear infinite;
    }


    .body-loading::before {
        content: 'Loading...';
        position: fixed;
        top: calc(50% - 18px);
        text-align: center;
        width: 100%;
        font-size: 14px;
        letter-spacing: 1px;
    }


@keyframes rotation {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(359deg)
    }
}

/*map css*/
/*
.MapContent,
.map-section {
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 100vh;

}
*/

.map-section .liveMap {
    position: absolute;
    z-index: 0;
    min-height: 100vh;
    width: 100%;
}

    .map-section .liveMap iframe {
        position: relative;
        min-height: 100vh;
        width: 100%;
        display: block;
    }

.actionBtn {
    position: relative;
    background: #fff;
    color: #666;
    display: inline-block;
    border-radius: 10px;
    margin-left: 6px;
    padding: 5px 10px;
    font-size: 1.15rem;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2)
}

    .actionBtn .actionBtn {
        background: #fff;
        color: #666;
        display: inline-block;
        border-radius: 10px;
        margin-left: 6px;
        padding: 5px 10px;
        font-size: 1.15rem;
        box-shadow: none;
    }

    .actionBtn:hover {
    }

.TopActionBtns {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 99;
}

.BottomActionBtns {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 99;
}

.openAction {
    display: none;
    position: absolute;
    bottom: 55px;
    left: 0;
    background: #fff;
    border-radius: 5px;
    padding: 8px 12px;
    z-index: 100;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2)
}

.actionBtn.show .openAction {
    display: block;
}

.openAction::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -5px;
    left: 10px;
    background: #fff;
    z-index: -0;
    transform: rotate(45deg);
}

.TransparencyMap {
    min-width: 160px;
}

    .TransparencyMap small {
        font-size: .7rem;
        text-align: left;
        color: #4c4c4c;
        margin-bottom: 3px;
    }

    .TransparencyMap input {
        width: 100%;
        display: block;
    }

.MapOption figure {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

    .MapOption figure img {
        display: block;
    }

    .MapOption figure figcaption {
        position: absolute;
        bottom: 0;
        z-index: 1;
        font-size: .65rem;
        width: 100%;
        text-align: center;
    }

.leftSection {
    position: absolute;
    background: #fff;
    padding: 8px 12px 0 12px;
    z-index: 100;
    box-shadow: 0px 2px 5px 2px rgb(0 0 0 / 20%);
    left: 1rem;
    top: 1rem;
    border-radius: 10px;
    width: 340px;
    height: calc(102vh - 2rem);
}

    .leftSection.goleft {
        left: -342px
    }

        .leftSection.goleft .MenuToggle i {
            transform: rotate(180deg);
        }

#LeftNavTab .nav-link {
    font-size: .7rem;
    color: #4c4c4c;
    padding: 8px 11px;
}

    #LeftNavTab .nav-link.active {
        background: #fcfcfc;
        border-bottom-color: transparent;
    }

#LeftNavTabContent .tab-pane {
    background: #fcfcfc;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-top: 0;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

#LeftNavTabContent .search {
    position: relative;
    margin-bottom: 10px;
}

#LeftNavTabContent i {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 24px;
    left: .8rem;
    color: #747474;
}

#LeftNavTabContent table i {
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto;
    height: auto;
    left: 0rem;
}

#LeftNavTabContent table .form-check {
    min-height: 0;
}

#LeftNavTabContent .search .form-control-sm {
    font-size: .75rem;
    padding: .45rem .5rem .45rem 2.5rem;
    border-radius: .5rem;
}

#LeftNavTabContent .accordion-item {
    border-radius: .3rem;
    font-size: .8rem;
    color: #4c4c4c;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: 5px;
    overflow: hidden;
}

    #LeftNavTabContent .accordion-item .accordion-button {
        border: 0rem;
        padding: .45rem .45rem .45rem 2.5rem;
        font-size: .8rem;
        color: #4c4c4c;
        background: #fff;
        box-shadow: none !important;
    }

#LeftNavTabContent .accordion-collapse {
    border: none;
}

#LeftNavTabContent .accordion-button::after {
    content: "\ea12";
    font-family: 'remixicon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: none;
    line-height: 1.5;
}


#LeftNavTabContent .accordion-button:not(.collapsed)::after {
    content: "\f1af";
    background: none;
}

#LeftNavTabContent .accordion-button i {
    height: 15px;
    left: .9rem;
}

#LeftNavTabContent .accordion-body {
    padding: 0rem .25rem 0 2.5rem;
}

#LeftNavTabContent .list-group-item {
    position: relative;
    display: block;
    padding: .35rem 0rem;
    text-decoration: none;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    font-size: .75rem;
    border-radius: 0;
    position: relative;
    display: block;
    padding-left: 2.2rem;
}

    #LeftNavTabContent .list-group-item i {
        top: 5px;
    }

    #LeftNavTabContent .list-group-item.active {
        color: #4c4c4c;
        background-color: #f9f9f9;
    }

    #LeftNavTabContent .list-group-item:last-child {
        border-bottom: none;
    }

#leftSection .MenuToggle {
    position: absolute;
    padding: 3px 15px;
    cursor: pointer;
    right: -30px;
    background: #fff;
    z-index: -10;
    border-radius: 10px;
    width: 40px;
    font-size: 1.7rem;
    display: block;
    top: 40px;
    /*    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);*/
}

    #leftSection .MenuToggle i {
        position: relative;
        left: 0;
        margin: 0 9px 0 -5px;
    }

#LeftNavTabContent .tab-pane {
    height: calc(100vh - 140px);
    overflow: auto;
}

    #LeftNavTabContent .tab-pane .tab-pane {
        height: auto;
        overflow: visible;
    }

.LogoBottom {
    position: absolute;
    bottom: 0;
    right: -210px;
    background: #fff;
    padding: 10px 10px 10px 8px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.nav-tabs .nav-link.active {
    background-color: #fcfcfc;
    border-color: #dee2e6 #dee2e6 #fcfcfc;
}

.nav-tabs .nav-link {
    font-size: .7rem;
    color: #4c4c4c;
}

.btn-group-sm > .btn,
.btn-sm,
.form-select-sm {
    padding-top: .35rem;
    padding-bottom: .35rem;
    padding-left: .6rem;
    font-size: .75rem;
}

#RouteDetailShow {
    position: fixed;
    z-index: 99999;
    right: 0;
    max-width: 320px;
    min-width: 320px;
}

.table-sm > :not(caption) > * > * {
    padding: .35rem .35rem;
}

#RouteDetailShow .card-header {
    cursor: move;
}

#RouteDetailShow .table {
    /*height: calc(100vh - 140px);*/
    overflow: auto;
}

#CourtCaseDetailShow {
    position: fixed;
    z-index: 99999;
    right: 0;
    max-width: 320px;
    min-width: 320px;
}

    #CourtCaseDetailShow .card-header {
        cursor: move;
    }

    #CourtCaseDetailShow .table {
        height: calc(100vh - 140px);
        overflow: auto;
    }
/*

@media(min-width:576px) {}

@media(min-width:768px) {}

@media(min-width:992px) {}

@media(min-width:1200px) {}
*/


/*New accordian style*/
.permission {
    font-size: .8rem;
}

    .permission .card {
        border-radius: .3rem !important;
        margin-bottom: .5rem !important;
        border: 1px solid rgba(0, 0, 0, .125) !important;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    }

    .permission a {
        color: #555;
        font-weight: 700;
    }

    .permission li.form-check {
        margin-left: 1rem;
        -ms-flex-align: center !important;
        align-items: center !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

        .permission li.form-check .form-check-input {
            margin-top: 0rem;
            margin-left: -1.1rem;
        }




/*new css for timeline*/

.tracking-list .tracking-content p span img {
    filter: grayscale(100%);
    opacity: .6;
    cursor: not-allowed;
}

@media(min-width:768px) {
    .tracking-list .tracking-content {
        background: rgb(245, 245, 245);
        background: -moz-linear-gradient(0deg, rgba(245, 245, 245, .8) 0%, rgba(255, 255, 255, 1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(245, 245, 245, .8) 0%, rgba(255, 255, 255, 1) 100%);
        background: linear-gradient(0deg, rgba(245, 245, 245, .8) 0%, rgba(255, 255, 255, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ededed", endColorstr="#ffffff", GradientType=1);
    }

    .tracking-list .tracking-content {
        position: relative;
    }

        .tracking-list .tracking-content::before {
            content: '';
            position: absolute;
            width: 1px;
            height: calc(100% + 1.1rem);
            background: #00d8ba;
            left: -1.25rem;
            top: -5px;
        }

        .tracking-list .tracking-content::after {
            content: '';
            position: absolute;
            width: 14px;
            height: 14px;
            background: #00d8ba;
            border-radius: 50%;
            left: -1.25rem;
            top: 17px;
            margin-left: -7px;
        }
}


/*new loader*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;
        -webkit-animation: spin 3s linear infinite;
        /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite;
        /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;
        -webkit-animation: spin 1.5s linear infinite;
        /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite;
        /* Chrome, Firefox 16+, IE 10+, Opera */
    }

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

/* 404 error page css*/

.error-bg {
    background: url(../img/error_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.error-text-box .error-type {
    font-size: 170px;
    font-weight: 800;
    margin: 0;
    line-height: 1;
    margin-top: -50px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}


.error-text-box .error-text {
    font-size: 13px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
    max-width: 600px;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto
}

.error-text-box .btn {
    font-size: 16px;
    font-weight: 600;
}

    .error-text-box .btn img {
        width: 35px
    }



@-webkit-keyframes zoomRotate {
    0% {
        -webkit-transform: rotate(0deg) scale3d(1, 1, 1);
        transform: rotate(0deg) scale3d(1, 1, 1)
    }

    100% {
        -webkit-transform: rotate(500deg) scale3d(0, 0, 0);
        transform: rotate(500deg) scale3d(0, 0, 0)
    }
}

@keyframes zoomRotate {
    0% {
        -webkit-transform: rotate(0deg) scale3d(1, 1, 1);
        transform: rotate(0deg) scale3d(1, 1, 1)
    }

    100% {
        -webkit-transform: rotate(500deg) scale3d(0, 0, 0);
        transform: rotate(500deg) scale3d(0, 0, 0)
    }
}

.zoomRotate {
    -webkit-animation-name: zoomRotate;
    animation-name: zoomRotate
}

.error-text-box .error-type::after {
    content: '';
    width: 125px;
    height: 165px;
    background: url(../img/error_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    position: absolute;
    z-index: 1;
    top: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-animation-duration: 120s;
    animation-duration: 120s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: zoomRotate;
    animation-name: zoomRotate
}

.error-text-box .error-type::before {
    content: attr(error-type);
    display: block;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    top: auto;
    bottom: -10px;
    left: auto;
    right: 0;
    margin: auto;
    font-weight: 600;
    color: #ffbf00;
}

@media(min-width:992px) {
    .error-text-box .error-type {
        font-size: 230px;
        margin-top: -60px;
    }

    .error-text-box .error-text {
        font-size: 14px;
    }


    .error-text-box .error-type::after {
        width: 200px;
        height: 280px;
    }
}

/*

/* 500 error css*/
.error-type-2 {
    font-size: 1.2rem;
    font-weight: 700;
}
/*
@media(min-width:576px) {}

@media(min-width:768px) {}

@media(min-width:992px) {}

@media(min-width:1200px) {}
*/

/*new loader*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;
        -webkit-animation: spin 3s linear infinite;
        /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite;
        /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;
        -webkit-animation: spin 1.5s linear infinite;
        /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite;
        /* Chrome, Firefox 16+, IE 10+, Opera */
    }

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

/*404 error page css*/

.error-bg {
    background: url(../images/error_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.error-text-box .error-type {
    font-size: 170px;
    font-weight: 800;
    margin: 0;
    line-height: 1;
    margin-top: -50px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}


.error-text-box .error-text {
    font-size: 13px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
    max-width: 600px;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto
}

.error-text-box .btn {
    font-size: 16px;
    font-weight: 600;
}

    .error-text-box .btn img {
        width: 35px
    }



@-webkit-keyframes zoomRotate {
    0% {
        -webkit-transform: rotate(0deg) scale3d(1, 1, 1);
        transform: rotate(0deg) scale3d(1, 1, 1)
    }

    100% {
        -webkit-transform: rotate(500deg) scale3d(0, 0, 0);
        transform: rotate(500deg) scale3d(0, 0, 0)
    }
}

@keyframes zoomRotate {
    0% {
        -webkit-transform: rotate(0deg) scale3d(1, 1, 1);
        transform: rotate(0deg) scale3d(1, 1, 1)
    }

    100% {
        -webkit-transform: rotate(500deg) scale3d(0, 0, 0);
        transform: rotate(500deg) scale3d(0, 0, 0)
    }
}

.zoomRotate {
    -webkit-animation-name: zoomRotate;
    animation-name: zoomRotate
}

.error-text-box .error-type::after {
    content: '';
    width: 125px;
    height: 165px;
    background: url(../images/error_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    position: absolute;
    z-index: 1;
    top: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-animation-duration: 120s;
    animation-duration: 120s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: zoomRotate;
    animation-name: zoomRotate
}

.error-text-box .error-type::before {
    content: attr(error-type);
    display: block;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    top: auto;
    bottom: -10px;
    left: auto;
    right: 0;
    margin: auto;
    font-weight: 600;
    color: #ffbf00;
}

@media(min-width:992px) {
    .error-text-box .error-type {
        font-size: 230px;
        margin-top: -60px;
    }

    .error-text-box .error-text {
        font-size: 14px;
    }


    .error-text-box .error-type::after {
        width: 200px;
        height: 280px;
    }
}


/* 500 error css*/
.error-type-2 {
    font-size: 1.2rem;
    font-weight: 700;
}
/*