@model Dto.Component.PageHeaderDto
<nav class="border-bottom" aria-label="breadcrumb">
    <ol class="breadcrumb p-0 mb-2">
        <li class="breadcrumb-item icons"><a href="Home"><i class="ri-home-4-line text-muted"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="#">@Model.PageName</a></li>
    </ol>
</nav>