@model Libraries.Model.Entity.Saknidetails
@await Component.InvokeAsync("PageHeader", new { pageName = "Sakni Details" })


<div class="pt-3">
    <form asp-action="View" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">View Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">

                    <select disabled class="floating-label-field floating-label-field--s3"
                            asp-for="VillageId" asp-items="@(new SelectList(Model.AcquiredlandvillageList, "Id","Name"))"
                            onchange="return onChange(this.options[this.selectedIndex].value);">
                        <option disabled="disabled">Select</option>
                    </select>
                    <span asp-validation-for="VillageId" class="text-danger"></span>
                    <label asp-for="VillageId" class="floating-label">Village Name </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select disabled class="floating-label-field floating-label-field--s3"
                            asp-for="KhasraId" asp-items="@(new SelectList(Model.KhasraList, "Id","Name"))">
                        <option disabled="disabled">Select</option>
                    </select>
                    <span asp-validation-for="KhasraId" class="text-danger"></span>
                    <label asp-for="KhasraId" class="floating-label">Khasra No </label>
                </div>
            </div>

        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="YearOfjamabandi" placeholder="Notification" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="YearOfjamabandi" class="text-danger"></span>
                    <label class="floating-label">Year Of Jamabandi    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="NoOfKhewat" placeholder="Name" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="NoOfKhewat" class="text-danger"></span>
                    <label class="floating-label">No Of Khewat </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="NoOfKhatauni" placeholder="NoOfKhatauni" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="NoOfKhatauni" class="text-danger"></span>
                    <label class="floating-label">No Of Khatauni    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="Location" placeholder="NaamPatti" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                    <label class="floating-label">Location </label>
                </div>
            </div>
        </div>

        <h3 class="my-3 d-flex sub-heading pt-4">Owner Details </h3>
        <div class="table-section bg-white border shadow rounded">
            <div class="table-responsive">
                <table class="table table-sm table-bordered mb-0 table-striped" id="tbl_posts">
                    <thead class="text-nowrap">

                        <tr>
                            <th>Sr.No</th>
                            <th>Owner Name</th>
                            <th>Father's Name</th>
                            <th>Address</th>
                            @*<th>Action</th>*@
                        </tr>
                    </thead>
                    <tbody id="tbl_posts_body">
                    </tbody>
                    <tbody class="tbody" id="add">
                        <tr id="">
                            <td style="text-align:center;"><span class="sn">1</span></td>
                            <td>
                                <input disabled asp-for="OwnerName" type="text" class="floating-label-field floating-label-field--s3" />
                                <span asp-validation-for="OwnerName" class="d-block text-danger field-validation-valid msg"></span>
                            </td>
                            <td>
                                <input disabled asp-for="FatherName" type="text" class="floating-label-field floating-label-field--s3" />
                                <span asp-validation-for="FatherName" class="d-block text-danger field-validation-valid"></span>
                            </td>

                            <td>
                                <input disabled asp-for="Address" type="text" class="floating-label-field floating-label-field--s3" />
                                <span asp-validation-for="Address" class="d-block text-danger field-validation-valid"></span>
                            </td>
                            @*<td>
                                <div class="action-btns">
                                    <a class="remove delete-record " title="delete" data-id="0" style="display:none;font-size:30px;"><i class="ri-delete-bin-fill"></i></a>
                                    <a class="view add-record" data-added="0" title="Add" style="font-size:30px;"><i class="ri-add-circle-fill"></i></a>
                                </div>
                            </td>*@
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>


        <h3 class="my-3 d-flex sub-heading pt-4"> Lessee Details</h3>
        <div class="table-section bg-white border shadow rounded">
            <div class="table-responsive">
                <table class="table table-sm table-bordered mb-0 table-striped" id="tbl_posts1">
                    <thead class="text-nowrap">

                        <tr>
                            <th>Sr.No</th>
                            <th>Lessee Name</th>
                            <th>Father's Name</th>
                            <th>Address</th>
                            <th>Mortgage Details</th>
                            @*<th>Action</th>*@
                        </tr>
                    </thead>
                    <tbody id="tbl_posts1_body">
                    </tbody>
                    <tbody class="tbody" id="add1">
                        <tr id="">
                            <td style="text-align:center;"><span class="sn1">1</span></td>
                            <td>
                                <input disabled asp-for="LesseeName" type="text" class="floating-label-field floating-label-field--s3 Namecheck" />
                                <span asp-validation-for="LesseeName" class="d-block text-danger field-validation-valid msg"></span>
                            </td>
                            <td>
                                <input disabled asp-for="LFather" type="text" class="floating-label-field floating-label-field--s3" />
                                <span asp-validation-for="LFather" class="d-block text-danger field-validation-valid"></span>

                            </td>
                            <td>
                                <input disabled asp-for="LAddress" type="text" class="floating-label-field floating-label-field--s3 NoCheck" />
                                <span asp-validation-for="LAddress" class="d-block text-danger field-validation-valid msg2"></span>

                            </td>
                            <td>
                                <input disabled asp-for="LShare" type="text" class="floating-label-field floating-label-field--s3 NoCheck" />
                                <span asp-validation-for="LShare" class="d-block text-danger field-validation-valid msg2"></span>

                            </td>
                            <td>
                                <input disabled asp-for="LMortgage" type="text" class="floating-label-field floating-label-field--s3 NoCheck" />
                                <span asp-validation-for="LMortgage" class="d-block text-danger field-validation-valid msg2"></span>

                            </td>

                            @*<td>
                                <div class="action-btns">
                                    <a class="remove delete-record1 " title="delete" data-id="0" style="display:none;font-size:30px;"><i class="ri-delete-bin-fill"></i></a>
                                    <a class="view add-record1" data-added="0" title="Add" style="font-size:30px;"><i class="ri-add-circle-fill"></i></a>
                                </div>
                            </td>*@
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>



        <h3 class="my-3 d-flex sub-heading pt-4"> Tenant Details</h3>
        <div class="table-section bg-white border shadow rounded">
            <div class="table-responsive">
                <table class="table table-sm table-bordered mb-0 table-striped" id="tbl_posts2">
                    <thead class="text-nowrap">
                        <tr>
                            <th>Sr.No</th>
                            <th>Farmer Name</th>
                            <th>Father's Name</th>
                            <th>Address</th>
                            @*<th>Action</th>*@
                        </tr>
                    </thead>
                    <tbody id="tbl_posts2_body">
                    </tbody>
                    <tbody class="tbody" id="add2">
                        <tr id="">

                            <td style="text-align:center;"><span class="sn2">1</span></td>
                            <td>
                                <input disabled asp-for="TName" type="text" class="floating-label-field floating-label-field--s3" id="txtDamageAssesseeName" />
                                <span asp-validation-for="TName" class="d-block text-danger field-validation-valid"></span>

                            </td>
                            <td>
                                <input disabled asp-for="TFatherName" type="text" class="floating-label-field floating-label-field--s3" id="txtDamageAssesseeFather" />
                                <span asp-validation-for="TFatherName" class="d-block text-danger field-validation-valid"></span>

                            </td>
                            <td>
                                <input disabled asp-for="TAddress" type="text" class="floating-label-field floating-label-field--s3" id="txtDateofWill" />
                                <span asp-validation-for="TAddress" class="d-block text-danger field-validation-valid"></span>

                            </td>

                            @*<td>
                                <div class="action-btns">
                                    <a class="remove delete-record2 " title="delete" data-id="0" style="display:none;font-size:30px;"><i class="ri-delete-bin-fill"></i></a>
                                    <a class="view add-record2" data-added="0" title="Add" style="font-size:30px;"><i class="ri-add-circle-fill"></i></a>
                                </div>
                            </td>*@
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-md-3 pt-4">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="Mortgage" placeholder="NaamMalik" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="Mortgage" class="text-danger"></span>
                    <label class="floating-label">Mortgage    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="RentAmount" placeholder="Revenue" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="RentAmount" class="text-danger"></span>
                    <label class="floating-label">Rent Amount </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="OldMutationNo" placeholder="OldMutationNo" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="OldMutationNo" class="text-danger"></span>
                    <label class="floating-label">Old Mutation No.  </label>
                </div>
            </div>
            <div class=" col-md-6">
                <div class="floating-label-wrap">
                    <select disabled asp-for="IsActive" class="floating-label-field floating-label-field--s3">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label class="floating-label">Status </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-12">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <textarea disabled asp-for="Remarks" placeholder="Description" class="floating-label-field floating-label-field--s3"></textarea>

                    <span asp-validation-for="Remarks" class="text-danger"></span>
                    <label class="floating-label">Remarks  </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class=" col-md-12">
                @Html.ActionLink("Back", "Index", "SakaniDetails", null, new { @class = "btn btn-theme " })

            </div>
        </div>

    </form>

</div>



<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/jaraicreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/jaraicreate.min.js" asp-append-version="true"></script>
</environment>