@model Libraries.Model.Entity.Nazulland

<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left color-white" style="margin-top:5px;">Nazul Land Information </h6>
                <i class="glyphicon glyphicon-arrow-right pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid">
    <div class="panel">
        <div class="panel-heading  dda-pageheading">
            <h6 class="pull-left color-white" style="margin-top:-0.4%">
                Edit Details <span class="ms-auto"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span>

            </h6>
        </div>
        <div class="panel-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />



                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label lb-sm">Khasra No.</label>
                        <input asp-for="KhasraNo" type="text" class="form-control" />
                        <span asp-validation-for="KhasraNo" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label lb-sm">Land Area Acquired</label>
                        <input asp-for="LandAreaAcquired" type="text" class="form-control" />
                        <span asp-validation-for="LandAreaAcquired" class="text-danger"></span>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label lb-sm">Award No.</label>
                        <input asp-for="AwardNo" type="text" class="form-control" />
                        <span asp-validation-for="AwardNo" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Award Date</label>
                        <input asp-for="AwardDate" type="date" class="form-control" />
                        <span asp-validation-for="AwardDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Date of Possession</label>
                        <input asp-for="DateOfPossession" type="date" class="form-control" />
                        <span asp-validation-for="DateOfPossession" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Area of which possession taken over</label>
                        <input asp-for="AreaOfWhichPossessionTakenOver" type="text" class="form-control" />
                        <span asp-validation-for="AreaOfWhichPossessionTakenOver" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Date on which possession taken over</label>
                        <input asp-for="DateOnWhichPossessionTakenOver" type="date" class="form-control" />
                        <span asp-validation-for="DateOnWhichPossessionTakenOver" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Scheme for which Acquired</label>
                        <input asp-for="SchemeForWhichAcquired" type="text" class="form-control" />
                        <span asp-validation-for="SchemeForWhichAcquired" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Amount of Award</label>
                        <input asp-for="AmountOfAward" type="text" class="form-control" />
                        <span asp-validation-for="AmountOfAward" class="text-danger"></span>
                    </div>

                </div>

                <div id="Divclsification">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class="dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left" style="color:white;margin-top:5px;">Enhanced compensation if any</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">ADI Court</label>
                            <input asp-for="AdiCourt" type="text" class="form-control" />
                            <span asp-validation-for="AdiCourt" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">High Court</label>
                            <input asp-for="HighCourt" type="text" class="form-control" />
                            <span asp-validation-for="HighCourt" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Supreme Court</label>
                            <input asp-for="SupremeCourt" type="text" class="form-control" />
                            <span asp-validation-for="SupremeCourt" class="text-danger"></span>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Certificate by Land Record Officer to the correctness of entry</label>
                        <input asp-for="CertificateToCorrectnessOfEntry" type="text" class="form-control" />
                        <span asp-validation-for="CertificateToCorrectnessOfEntry" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm lb-sm">Division to Which Land has been transfered</label>
                        <select asp-for="DivisionId"
                                asp-items="@(new SelectList(Model.DivisionList, "Id","Name"))" class="form-control dda-dropdown">
                            <option value="1">---Select---</option>
                            <option value="0">financial</option>
                        </select>
                        <span asp-validation-for="DivisionId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Date of Transfer</label>
                        <input asp-for="DateOfTransfer" type="date" class="form-control" />
                        <span asp-validation-for="DateOfTransfer" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Status</label>
                        <select asp-for="IsActive" class="form-control dda-dropdown">
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label lb-sm">Remarks</label>
                        <textarea asp-for="Remarks" type="text" class="form-control" style=" background-color: #dddddd;"></textarea>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                </div>


                <div class="row ">
                    <div class="form-group col-md-12" style="margin-bottom:40px;">
                        <input type="submit" value="Update" class="btn btn-primary dda-pageheading" />
                        @Html.ActionLink("Back", "Index", "FormN1", null, new { @class = "btn btn-primary dda-pageheading" })
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />