
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync("PageHeader", new { pageName = "Damage Payee Register Approval" })

@*<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <script src="~/js/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>*@
@*<div class="row">
        <div class="col-sm-12">
            <div class="myapp-hed">
                <div class="col-md-12">
                    <h6 class="pull-left" style="color:white;margin-top:5px;">Damage Payee Register Approval Process</h6>
                    <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
                </div>
            </div>
        </div>
    </div>
    <br />*@

<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        @*<div class="panel-heading  myapp-hed1">
                <h6 class="pull-left" style="color:white; margin-top:-0.4%">Details</h6>
            </div>*@
        <br />
        <br />
        <div class="panel-body">
            <form asp-action="Create" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div id="DivDamagePayeeRegisterDetails">
                    <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <div class="row" style="margin-bottom:35px;">
                            <div class="col-md-12">
                                <div class=" myapp-hed2">
                                    <div class="col-md-12">

                                        <h6 class="my-3 sub-heading">Damage Payee Register Details</h6>

                                        <i class="fa-angle-right fa pull-right" aria-hidden="true" style="padding-top:4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                    <div class="collapse" id="collapseExample">



                        <div id="DivFileInformation">
                            @*<div class="row" style="margin-bottom:35px;">
                                    <div class="col-sm-12">
                                        <div class=" myapp-hed2">
                                            <div class="col-md-12">


                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            <h2 class="my-3 sub-heading">File Information</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="floating-label-wrap mb-3 mb-md-0">

                                        <input type="text" class="floating-label-field floating-label-field--s3" placeholder="File No" required />
                                        <label class="floating-label">File No.  <span class="text-danger" style="color:red">*</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div id="DivForPreviousDamagee">

                            <h2 class="my-3 sub-heading">Personal Information of Damage Assessee</h2>


                            <div class="table-section bg-white border shadow rounded">
                                <div class="table-responsive ">
                                    <table id="tbl_posts" class="table table-sm table-bordered mb-0 table-striped">
                                        <thead class="text-nowrap">
                                            <tr>
                                                <th>Sr.No</th>
                                                <th>Name</th>
                                                <th>Father's/Husband's Name</th>
                                                <th>Gender</th>
                                                <th>Address</th>
                                                <th>Mobile No.</th>
                                                <th>Email-Id</th>
                                                <th>Operation</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbl_posts_body">
                                        </tbody>
                                        <tbody class="tbody" id="add">
                                            <tr id="">
                                                <td>1</td>
                                                <td>
                                                    <input type="text" id="txtPersonalName" class="floating-label-field floating-label-field--s3" />
                                                </td>
                                                <td>
                                                    <input type="text" id="txtPersonalFatherName" class="floating-label-field floating-label-field--s3" />
                                                </td>
                                                <td>
                                                    <div class="floating-label-wrap">
                                                        <select class="floating-label-field floating-label-field--s3" id="drpPersonalGender">
                                                            <option value="0">---Select---</option>
                                                            <option value="1">Male</option>
                                                            <option value="2">Female</option>
                                                            <option value="3">Other</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input type="text" id="txtPersonalAddress" class="floating-label-field floating-label-field--s3" />
                                                </td>
                                                <td>
                                                    <input type="text" id="txtPersonalMobileNo." class="floating-label-field floating-label-field--s3" />
                                                </td>
                                                <td>
                                                    <input type="text" id="txtPersonalEmailid" class="floating-label-field floating-label-field--s3" />
                                                </td>
                                                <td>
                                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                                        <a class="btn btn-theme delete-record" data-id="0" style="display:none;color:white;"><i class="fa fa-trash"></i></a>
                                                        <a class="btn btn-theme add-record" data-added="0" style="color:white;"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                                @*<div class="panel-body">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label lb-sm">Name </label><span style="color:red">*</span>
                                                <input type="text" class="form-control" />
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label lb-sm">Father's/Husband's Name</label><span style="color:red">*</span>
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label lb-sm">Gender </label><span style="color:red">*</span>
                                                <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                                    <option value="0">---Select---</option>
                                                    <option value="1">Male</option>
                                                    <option value="2">Female</option>
                                                    <option value="3">Other</option>
                                                </select>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label lb-sm">Address</label><span style="color:red">*</span>
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label lb-sm">Mobile No.</label><span style="color:red">*</span>
                                                <input type="text" class="form-control" />
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label lb-sm">Email-ID</label><span style="color:red">*</span>
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                        </div>

                        <div id="Divclsification">
                            @*<div class="row" style="margin-bottom:35px;">
                                <div class="col-sm-12">
                                    <div class=" myapp-hed2">
                                        <div class="col-md-12">*@
                            @*<h6 class="pull-left" style="color:white;margin-top:5px;">Type of Damage Assessee</h6>*@
                            <h2 class="my-3 sub-heading">Type of Damage Assessee</h2>
                            @*</div>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check theme">
                                        <input type="radio" name="grpDamageAssesseeType" id="rOriginal" class="form-check-input" checked>
                                        <label class="form-check-label" for="radio">
                                            Original
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check theme">
                                        <input type="radio" name="grpDamageAssesseeType" id="rSubsequent" class="form-check-input" checked>
                                        <label class="form-check-label" for="radio">
                                            Subsequent Purchaser/Occupier
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="DivForSubsequentPurchaser">
                            @*<div class="row" style="margin-bottom:35px;">
                                    <div class="col-sm-12">
                                        <div class=" myapp-hed2">
                                            <div class="col-md-12">
                                                <h6 class="pull-left" style="color:white;margin-top:5px;">Chain of Previous Damage Assessee, starting from Original Damage Assessee</h6>

                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            <h2 class="my-3 sub-heading">Chain of Previous Damage Assessee, starting from Original Damage Assessee</h2>
                            <div class="table-section bg-white border shadow rounded">
                                <div class="table-responsive ">
                                    <table id="tbl_posts" class="table table-sm table-bordered mb-0 table-striped">
                                        <thead class="text-nowrap">
                                            <tr>
                                                <th>Sr.No</th>
                                                <th>Name</th>
                                                <th>Father's Name</th>
                                                <th>Date of GPA/Will</th>
                                                <th>Upload ATS & GPA/Will</th>
                                                <th>Operation</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbl_DamageAssessee_body">
                                        </tbody>
                                        <tbody class="tbody" id="addDamageAssessee">
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    <input type="text" class="floating-label-field floating-label-field--s3" id="txtDamageAssesseeName" />
                                                </td>
                                                <td>
                                                    <input type="text" class="floating-label-field floating-label-field--s3" id="txtDamageAssesseeFather" />
                                                </td>
                                                <td>
                                                    <input type="date" class="floating-label-field floating-label-field--s3" id="txtDateofWill" />
                                                </td>
                                                <td style="min-width:200px">
                                                    <input type="file" class="floating-label-field floating-label-field--s3" id="txtDamageAssesseeFile" />
                                                </td>
                                                <td>
                                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                                        <a class="btn btn-theme delete-record" data-id="0" style="display:none;color:white;"><i class="fa fa-trash"></i></a>
                                                        <a class="btn btn-theme add-record" data-added="0" style="color:white;"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                        <div id="MainContentForm">
                            @*<div class="row" style="margin-bottom:35px;">
                                <div class="col-sm-12">
                                    <div class=" myapp-hed2">
                                        <div class="col-md-12">
                                            <h6 class="pull-left" style="color:white;margin-top:5px;">Property Identification Details</h6>
                                        </div>
                                    </div>
                                </div>*@
                            <h2 class="my-3 sub-heading">Property Identification Details</h2>

                            <div class="row pt-3">
                                <div class="col-md-6">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Property" />
                                        <label class="floating-label">Property/House/Municipal No.</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="floating-label-wrap">
                                        <select class="floating-label-field floating-label-field--s3" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                            <option value="0">---Select---</option>
                                            <option value="1">Inactive</option>
                                        </select>
                                        <label class="floating-label">Locality</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-3">
                                <div class="col-md-6">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Floor No" />
                                        <label class="floating-label">Floor No(if purchased floor wise)</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Street" />
                                        <label class="floating-label">Road/Street Name</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-3">
                                <div class="col-md-6">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Pin" />
                                        <label class="floating-label">Pin Code</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="floating-label-wrap">
                                        <select class="floating-label-field floating-label-field--s3" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                            <option value="0">---Select---</option>
                                            <option value="1">Inactive</option>
                                        </select>
                                        <label class="floating-label">District</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-3">
                                <div class="col-md-6">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input type="text" class="floating-label-field floating-label-field--s3" id="txtPlotyds" placeholder="Plot" />
                                        <label class="floating-label">Plot Area in Sq.yds.</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input type="text" class="floating-label-field floating-label-field--s3" id="txtPlotmts" placeholder="Sq" disabled />
                                        <label class="floating-label">Sq. Mtr.-</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-3">
                                <div class="col-md-6">
                                    <div class="floating-label-wrap mb-3 mb-md-0">

                                        <input type="text" class="floating-label-field floating-label-field--s3" id="txtFlooryds" placeholder="Floor" />
                                        <label class="floating-label">Floor Area in Sq. yds.(if purchased floor wise)</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input type="text" class="floating-label-field floating-label-field--s3" id="txtFloormts" placeholder="Sq" disabled />
                                        <label class="floating-label">Sq. Mtr.-</label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="DivMainContentForm">
                            @*<div class="row" style="margin-bottom:35px;">
                                    <div class="col-sm-12">
                                        <div class=" myapp-hed2">
                                            <div class="col-md-12">
                                                <h6 class="pull-left" style="color:white;margin-top:5px;">Use of Property</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            <h2 class="my-3 sub-heading">Use of Property</h2>

                            <div class="row ">
                                <div class="col-md-4">
                                    <div class="form-check theme">
                                        <input type="radio" name="grpUseofpeoperty" id="rdbResidential" class="form-check-input" checked>
                                        <label class="form-check-label" for="radio">
                                            Residential
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check theme">
                                        <input type="radio" name="grpUseofpeoperty" id="rdbCommercial" class="form-check-input" checked>
                                        <label class="form-check-label" for="radio">
                                            Commercial
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check theme">
                                        <input type="radio" name="grpUseofpeoperty" id="rdbMixed" class="form-check-input" checked>
                                        <label class="form-check-label" for="radio">
                                            Mixed
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <br />
                            <br />
                            <div class="row pt-3">
                                <div class="col-md-6">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Residential" id="txtResidential" disabled />
                                        <label class="floating-label">Residential floor area in Sq.yds.</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Sq" id="txtResidentialmts" disabled />
                                        <label class="floating-label">Sq. Mtr.-</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-3">
                                <div class="col-md-6">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Commercial" id="txtCommercial" disabled />
                                        <label class="floating-label">Commercial floor area in Sq.yds.</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Sq" id="txtCommercialmts" disabled />
                                        <label class="floating-label">Sq. Mtr.-</label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="DivMainContentForm">
                            @*<div class="row" style="margin-bottom:35px;">
                                    <div class="col-sm-12">
                                        <div class=" myapp-hed2">
                                            <div class="col-md-12">
                                                <h6 class="pull-left" style="color:white;margin-top:5px;">Litigation Status</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            <h2 class="my-3 sub-heading">Litigation Status</h2>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check theme">
                                        <input type="radio" name="grpLitigation" class="form-check-input" placeholder="Land" id="rdbNoLitigation" checked>
                                        <label class="form-check-label" for="radio">
                                            The Land Property is not a subject matter of any litigation/Court Case
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check theme">
                                        <input type="radio" name="grpLitigation" id="rbdYesLitigation" placeholder="LandProperty" class="form-check-input">
                                        <label class="form-check-label" for="radio">
                                            LandProperty title is under litigation
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="DivForLitigationStatus">
                            @*<div class="row" style="margin-bottom:35px;">
                                    <div class="col-sm-12">
                                        <div class=" myapp-hed2">
                                            <div class="col-md-12">
                                                <h6 class="pull-left" style="color:white;margin-top:5px;">Details of Court Case(if any)</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            <h2 class="my-3 sub-heading">Details of Court Case(if any)</h2>

                            <div class="row pt-3">
                                <div class="col-md-6">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Court" />
                                        <label class="floating-label">Name of Court <span style="color:red">*</span></label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Case" />
                                        <label class="floating-label">Case Number <span style="color:red">*</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-md-6">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Opposition" />
                                        <label class="floating-label">Name of Opposition Party <span style="color:red">*</span></label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-check theme">
                                        @*&nbsp;
                                            <label class="control-label lb-sm">I am</label>*@


                                        <input class="form-check-input" type="radio" name="grpSearchby" id="rdbFilename" value="" checked="checked" />
                                        <label class="form-check-label">Petitioner </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check theme">

                                        <input class="form-check-input" type="radio" name="grpSearchby" id="rdbDocumentname" />
                                        <label class="form-check-label">Respondant</label>

                                    </div>
                                </div>

                                @*<label class="form-check-label" for="radio">I am</label><span style="color:red">*</span>*@

                            </div>
                        </div>

                        <div id="DivMainContentForm">
                            @*<div class="row" style="margin-bottom:35px;">
                                    <div class="col-sm-12">
                                        <div class=" myapp-hed2">
                                            <div class="col-md-12">
                                                <h6 class="pull-left" style="color:white;margin-top:5px;">Whether present occupant's is/are damage payee in DDA record</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            <h2 class="my-3 sub-heading">Whether present occupant's is/are damage payee in DDA record</h2>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <div class="form-check theme">
                                        <input type="radio" class="form-check-input" checked name="grpYESNO">
                                        <label class="form-check-label" for="radio">
                                            Yes
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="form-check theme">
                                        <input type="radio" class="form-check-input" name="grpYESNO">
                                        <label class="form-check-label" for="radio">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="DivMainContentForm">
                            @*<div class="row" style="margin-bottom:35px;">
                                    <div class="col-sm-12">
                                        <div class=" myapp-hed2">
                                            <div class="col-md-12">
                                                <h6 class="pull-left" style="color:white;margin-top:5px;">Payment History</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                            <h2 class="my-3 sub-heading">Payment History</h2>

                            <div class="table-section bg-white border shadow rounded">
                                <div class="table-responsive ">
                                    <table id="tbl_posts" class="table table-sm table-bordered mb-0 table-striped">
                                        <thead class="text-nowrap">
                                            <tr>
                                                <th>Sr.No</th>
                                                <th>Payee Name</th>
                                                <th>Receipt No.</th>
                                                <th>Mode of Payment</th>
                                                <th>Date of Payment</th>
                                                <th>Amount</th>
                                                <th>Upload receipt</th>
                                                <th>Operation</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbody">
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    <input type="text" class="floating-label-field floating-label-field--s3" id="txtStructure" />
                                                </td>
                                                <td>
                                                    <input type="text" class="floating-label-field floating-label-field--s3" id="txtAreaRep" />
                                                </td>
                                                <td>
                                                    <input type="text" class="floating-label-field floating-label-field--s3" id="txtType" />
                                                </td>
                                                <td>
                                                    <input type="date" class="floating-label-field floating-label-field--s3" id="txtDateRep" />
                                                </td>
                                                <td>
                                                    <input type="text" class="floating-label-field floating-label-field--s3" id="txtReferenceNo" />
                                                </td>
                                                <td style="min-width:200px">
                                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                                        <input type="file" class="floating-label-field floating-label-field--s3" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                                        <a class="btn btn-theme delete-record" data-id="0" style="display:none;color:white;"><i class="fa fa-trash"></i></a>
                                                        <a class="btn btn-theme add-record" data-added="0" style="color:white;"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <div id="DivMainContentForm">
                            @*<div class="row" style="margin-bottom:35px;">
                                    <div class="col-sm-12">
                                        <div class=" myapp-hed2">
                                            <div class="col-md-12">
                                                <h6 class="pull-left" style="color:white;margin-top:5px;">Online Payment</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            <h2 class="my-3 sub-heading">Online Payment</h2>

                            <div class="form-row">
                                <div class="col-md-12">
                                    @Html.ActionLink("Damage Calculator", "DamageCalculator", "DamagePayeeRegistration", null, new { })
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <br />
                <div class="row form-group">
                    <div class="form-group col-md-6">

                        <select style="height:30px; background-color: #dddddd;" id="drpReqType" required="" class="floating-label-field floating-label-field--s3">
                            <option value="1">Forward To CLM</option>
                            <option value="2">Approved</option>
                            <option value="3">Reject</option>
                        </select>
                        <label class="floating-label">Status</label>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col-md-12">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <textarea type="text" class="floating-label-field floating-label-field--s3 pt-3" placeholder="Remarks"></textarea>
                            <label class="floating-label">Remarks</label>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="form-group col-md-12" style="margin-bottom:40px;">
                        <input type="submit" value="Submit" class="btn btn-theme " />
                        @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
                        @Html.ActionLink("Back", "Index", "RequestFromPlanningDepartmentApproval", null, new { @class = "btn btn-theme" })
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>


<script>
    $(function () {
        $('#drp1').change(function () {
            var id = $("#drp1").val();
            if (id == 1) {
                $("#txt1").show();

            }
            else {
                $("#txt1").hide();
            }
        });
    });

    $(function () {
        $('#drp2').change(function () {
            var id = $("#drp2").val();
            if (id == 1) {
                $("#txt2").show();

            }
            else {
                $("#txt2").hide();
            }
        });
    });

    $(function () {
        $('#drp3').change(function () {
            var id = $("#drp3").val();
            if (id == 1) {
                $("#txt3").show();

            }
            else {
                $("#txt3").hide();
            }
        });
    });

    $(function () {
        $('#drp4').change(function () {
            var id = $("#drp4").val();
            if (id == 1) {
                $("#txt4").show();

            }
            else {
                $("#txt4").hide();
            }
        });
    });
    $(function () {
        $('#drpHasLand').change(function () {
            var id = $("#drpHasLand").val();
            if (id == 0) {
                $("#txtDateLand").hide();
                $("#txtLand").hide();
                $("#fileland").hide();
            }
            else {
                $("#txtDateLand").show();
                $("#txtLand").show();
                $("#fileland").show();
            }
        });
    });
</script>



