

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync("PageHeader", new { pageName = "Damage Payee Register Approval Proccess" })

<br />
<br />
@*<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <script src="~/js/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>
    <div class="row">
        <div class="col-sm-12">
            <div class="myapp-hed">
                <div class="col-md-12">
                    <h6 class="pull-left" style="color:white;margin-top:5px;">Damage Payee Register Approval Process</h6>
                    <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />*@
<div class="table-section bg-white border shadow rounded">
    <div class="short-section d-md-flex align-items-center">
        <div class="p-3 d-flex align-items-end mr-auto">
            <div class="floating-label-wrap">
                <select class="floating-label-field floating-label-field--s3">
                    <option selected="selected" disabled="disabled">Select One</option>
                    <option>File No.</option>
                    <option>Type of Damage Assessee</option>
                    <option>Property/House/Municipal No.</option>
                    <option>Locality</option>
                    <option>Whether present occupant's is/are damage payee in DDA record</option>
                    <option>Submitted On</option>
                    <option>Status</option>

                </select>
                <label for="field-1" class="floating-label">Sort by</label>
            </div>
            <div class="short-btn d-flex align-items-center">
                <span class="btn slow active" title="Descending order"><i class="ri-sort-desc"></i></span>
                <span class="btn slow" title="Ascending order"><i class="ri-sort-asc"></i></span>
            </div>
        </div>

        <div class="download-table d-flex align-items-center px-3 mb-3 mb-md-0">
            <a href="javascript:void(0)" class="d-flex align-items-center btn btn-success">
                <i class="ri-download-2-line mr-2 mr-lg-1"></i>
                <small>Download</small>
            </a>
        </div>
    </div>

    <div class="table-responsive px-2">

        <table class="table table-sm table-bordered mb-0 table-striped">

            <thead class="text-nowrap">
                <tr>
                    <th>Sr.No</th>
                    <th>File No.</th>
                    <th>Type of Damage Assessee</th>
                    <th>Property/House/Municipal No.</th>
                    <th>Locality</th>
                    <th>Whether present occupant's is/are damage payee in DDA record </th>
                    <th>Submitted On</th>
                    <th>Status</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>F.001.2019</td>
                    <td>Original</td>
                    <td>P45</td>
                    <td>Nimri</td>
                    <td>No</td>
                    <td>10-Aug-2019</td>
                    <td>Pending</td>
                    <td>
                        <div class="action-btns">
                            @*<a asp-action="View" asp-route-id="@item.Id" title="View" class="view"><i class="ri-eye-fill"></i> </a>*@
                            <a asp-action="Create" title="edit" class="edit"> <i class="ri-edit-line"></i> </a>

                            @*<a asp-action="Delete" asp-route-id="@item.Id" title="delete" class="remove" onclick="return confirm('Are You Sure, You want to Delete this Record?')">  <i class="ri-delete-bin-5-fill"></i></a>*@
                        </div>
                    </td>
                    @*<td> <a href="/DamagePayeeApproval/Create"><i class="fa fa-pencil" aria-hidden="true"></i> </a></td>*@
                </tr>
                <tr>
                    <td>2</td>
                    <td>F.005.2019</td>
                    <td>Original</td>
                    <td>P47</td>
                    <td>Saroda</td>
                    <td>No</td>
                    <td>10-Aug-2019</td>
                    <td>Pending</td>
                    <td>
                        <div class="action-btns">
                            @*<a asp-action="View" asp-route-id="@item.Id" title="View" class="view"><i class="ri-eye-fill"></i> </a>*@
                            <a asp-action="Create" title="edit" class="edit"><i class="ri-edit-line"></i> </a>
                            @*<a asp-action="Delete" asp-route-id="@item.Id" title="delete" class="remove" onclick="return confirm('Are You Sure, You want to Delete this Record?')">  <i class="ri-delete-bin-5-fill"></i></a>*@
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
