@model IEnumerable<Libraries.Model.Entity.Menu>
<!--@await Component.InvokeAsync("PageHeader", new { pageName = "Menu" })-->
@*@{int rowNo = 0; }*@


<!--<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Menu</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div>
    <a asp-action="Create" class="btn btn-primary pull-right dda-pageheading" style="margin-top: -10px;">Add New</a>
</div>
<br />
<br />
<div class="container-fluid">
    <div class="card  table-responsive table-card">
        <div id="divMenuTable"></div>

    </div>
</div>-->
@await Component.InvokeAsync("PageHeader", new { pageName = "Menu" })

<div class="pt-3">
    <form class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Search</h3>
        <div class="row">
            <div class="col-md-3    ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" id="txtName" class="floating-label-field floating-label-field--s3" placeholder="Module Name" />
                    <label for="txtName" class="floating-label">Module Name</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="number" id="txtnumber" class="floating-label-field floating-label-field--s3" placeholder="Sort By" />
                    <label for="txtnumber" class="floating-label">Sort By </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" id="txtParent" class="floating-label-field floating-label-field--s3" placeholder="Parent Menu">
                    <label for="txtParent" class="floating-label">Parent Menu</label>
                </div>
            </div>
            @*<div class="col-md-3">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="email" id="txtPhoneNumber" class="floating-label-field floating-label-field--s3" placeholder="Phone Number">
                    <label for="txtPhoneNumber" class="floating-label">Phone Number</label>
                </div>
            </div>*@
        </div>
        <div class="row mt-md-3">
            <div class="col-md-12 col-xl-3">
                <div class="row">
                    <div class="col-6 col-md-5 col-xl-6">
                        <button class="btn btn-link btn-block d-flex align-items-center justify-content-center" type="reset">
                            <i class="ri-refresh-line mr-2"></i>Reset
                        </button>
                    </div>
                    <div class="col-6 col-md-7 col-xl-6">
                        <button class="btn btn-theme btn-block" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="table-section bg-white border shadow rounded">
        <div class="short-section d-md-flex align-items-center">
            <div class="p-3 d-flex align-items-end mr-auto">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3">
                        <option selected="selected" disabled="disabled">Select One</option>
                        <option>Name</option>
                        <option>Email</option>
                        <option>Status</option>
                        <option>Department</option>
                    </select>
                    <label for="field-1" class="floating-label">Short by</label>
                </div>
                <div class="short-btn d-flex align-items-center">
                    <span class="btn slow active" title="Descending order"><i class="ri-sort-desc"></i></span>
                    <span class="btn slow" title="Ascending order"><i class="ri-sort-asc"></i></span>
                </div>
            </div>

            <div class="download-table d-flex align-items-center px-3 mb-3 mb-md-0">
                <a href="/Menu/create" class="d-flex align-items-center btn btn-primary mr-2">
                    <i class="ri-add-fill mr-2 mr-lg-1"></i>
                    <small>Add More</small>
                </a>
                <a href="javascript:void(0)" class="d-flex align-items-center btn btn-success">
                    <i class="ri-download-2-line mr-2 mr-lg-1"></i>
                    <small>Download</small>
                </a>
            </div>
        </div>
        <div class="table-responsive px-2" id="divMenuTable">

        </div>
    </div>
</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/menuindex.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/menuindex.min.js" asp-append-version="true"></script>
</environment>