@model Libraries.Model.Entity.Nazul
@await Component.InvokeAsync("PageHeader", new { pageName = "Nazul Villages" })
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="pt-3">
    <form asp-action="Edit" id="create_user" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap">

                    <select class="floating-label-field floating-label-field--s3" asp-for="VillageId" asp-items="@(new SelectList(Model.VillageList, "Id","Name"))">
                        <option>Select</option>
                    </select>
                    <span asp-validation-for="VillageId" class="text-danger"></span>
                    <label class="floating-label">Village Name</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="YearOfConsolidation" type="date" class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="YearOfConsolidation" class="text-danger"></span>
                    <label class="floating-label">Year of Consolidation</label>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <label>
                            Jarai/Sakani:
                        </label>
                    </div>
                    <div class="col-md-3">
                        <input type="hidden" asp-for="JaraiSakani" />

                        <div class="form-check theme">
                            <input class="form-check-input" type="radio" asp-for="JaraiSakani" name="jarairadio" id="rJarai" value="Jarai" checked="checked">
                            <label class="form-check-label" for="radio">
                                Jarai
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check theme">
                            <input class="form-check-input" type="radio" asp-for="JaraiSakani" name="jarairadio" id="rSakani" value="Sakani">
                            <label class="form-check-label" for="radio">
                                Sakani
                            </label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <label>
                            Language:
                        </label>
                    </div>
                    <div class="col-md-3">
                        <input type="hidden" asp-for="Language" />

                        <div class="form-check theme">
                            <input class="form-check-input" type="radio" asp-for="Language" name="villageradio" id="rHindi" value="Hindi" checked="checked">
                            <label class="form-check-label" for="radio">
                                Hindi
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check theme">
                            <input class="form-check-input" type="radio" asp-for="Language" name="villageradio" id="rUrdu" value="Urdu">
                            <label class="form-check-label" for="radio">
                                Urdu
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>




        <div class="row pt-3">

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">



                    <input asp-for="YearOfJamabandi" type="date" class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="YearOfJamabandi" class="text-danger"></span>
                    <label class="floating-label">Year of Jamabandi</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="LastMutationNo" class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="LastMutationNo" class="text-danger"></span>
                    <label class="floating-label">Last Mutation No.</label>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class=" col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="IsActive">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label asp-for="IsActive" class="floating-label">Status </label>
                </div>
            </div>
        </div>



        <div class="row mt-md-3">
            <div class=" col-md-12">
                <input type="submit" value="Update" class="btn btn-theme" onclick="return PasswordMatch();" />
                @Html.ActionLink("Back", "Index", "Nazul", null, new { @class = "btn btn-theme" })
            </div>
        </div>

    </form>
</div>
   




