@model Libraries.Model.Entity.Noticetodamagepayee
<div class="content" id="MainContentForm" style="max-width: 780px; margin: auto; background: white; padding: 10px;">
    <div class="panel panel-default">
        <div class="row" style="border: groove; height:162px">
            <table class="table table-bordered" border="0">
                <tr>
                    <td>
                        <img src="https://res.cloudinary.com/deb9cwxor/image/upload/v1596010902/ow9sj5vbbpymed9eydrl.png" style="height:100px" class="img-responsive" alt="">
                    </td>
                    <td align="center">

                        <h style="font-size:20px; color:black">

                            <u> <b> DELHI DEVELOPMENT AUTHORITY</b></u>

                        </h>
                        <p style="color:black; font-size:11px; margin-left:60px; text-align:justify">

                            <b>
                                The Authorized Signatory-||<br />
                               Florence Nightangle Educational Society<br />
                                Sector-16B Dwarka Phase-II,<br />
                                New Delhi-110075<br />
                               <br />
                                
                            </b>
                        </p>

                    </td>
                    <td>
                        <img src="https://res.cloudinary.com/deb9cwxor/image/upload/v1596882092/dupx7btfcqjequcgsb00.jpg" style="height:100px" class="img-responsive" alt="">

                    </td>
                </tr>
            </table>

        </div>


        <div class="panel-body">

            @*<div class="row">
                <div class="col-md-4">
                    <label> फाइल सं. -</label>

                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <label> दिनांक -</label>


                </div>

            </div>*@


            <div class="row">
                <div class="col-md-4">

                    <label>File No.-18(11)94/IL</label>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">


                    <label>Dated -</label>
                </div>

            </div>



            <br />
            @*<div class="row">
                <div class="col-md-6">
                    <label> श्री/श्रीमती  -</label>
                    <p style="color:black">Shri/smt -</p>
                </div>
                <div class="col-md-6">
                    <label> </label>
                </div>

            </div>*@


            @*<br />
            <div class="row">
                <div class="col-md-12">
                    <label> पता- </label>
                    <p style="color:black">Address-</p>
                </div>


            </div>

            <br />*@
            @*<div class="row">
                <div class="col-md-12">
                    <p style="color: black">
                        विषय :




                        क्षतिपूर्ति प्रभारो के स्व आकलन हेतु सरकारी स्थान (अप्राधिकृत  अभिभोगियो  की  बेदखली )
                    </p>
                    <p style="margin-left:42px; color:black">
                        अधिनियम , 1971  की  धारा 7 की उपधारा (3) के अंतर्गत नोटिस |
                    </p>



                </div>


            </div><br />*@

            <div class="row">
                <div class="col-md-12">
                    <p style="color:black">
                        Subject:Regariding outstanding dues in respect of land measuring 3999.42SqM allotted to
                        Florence Nightangle Educational SocietyAt  Sector-16B Dwarka Phase-II  New Delhi-110075,<br />

                       New Delhi For construction Of school
                    </p>
                    <p style="margin-left:50px; color:black">
                        occupants) Act ,for self-assessment of damage charges.
                    </p>

                </div>

            </div>

            <br />


            <div class="row">
                <div class="col-md-12">
                    <p style="color: black;margin-left: 50px;text-align: justify">

                       It has been examined and intimated by the accountswing,DDa that an amount of Rs18,75,896 is outstanding agianst
                        ypur society on account of outstanding ground rent<br />
                    </p>
                    <p style="color:black; margin-left:30px;">
                        अधिभोगी हैं/थेः-<br />
                    </p>

                    <br />
                    @*<p style="color: black; margin-left: 50px; text-align: justify">
                        Whereas , it  has  been  brought  to  my  notice  that    you   are /   were   in   unauthorized <br />
                    </p>     <p style="color:black; margin-left:30px;">
                        occupation of the public premises described below: -

                    </p>*@

                </div>
            </div>
            <br />

            <div class="row" style="color:black; margin-left:12px">
                <div class="col-md-6">
                    <p style="color:black">Due ground Rent:-Rs 12,07527 </p>
                </div>
            </div>

            <div class="row" style="color:black; margin-left:12px">
                <div class="col-md-6">


                    <p style="color:black">Licence Fee:-Rs 12,07527 </p>

                </div>
            </div>

            <div class="row" style="color:black; margin-left:12px">
                <div class="col-md-6">

                    <p style="color:black">Due Interest On GRent:-Rs 12,07527</p>
                </div>
            </div>

            <div class="row" style="color:black; margin-left:12px">
                <div class="col-md-6">

                    <p style="color:black"> Due Interest onL/Fee:-Rs 18,706</p>

                </div>

            </div>

            @*<div class="row">
                <div class="col-md-12">
                    <p style="color:black; margin-left:100px;margin-bottom:0.2%; text-align-last:justify">


                        और जबकि सरकारी स्थान (अप्राधिकृत अधिभागियों की बेदखली) अधिनियम, 1971 की धारा 7 <br />
                    </p>  <p style="color:black; margin-left:30px; text-align-last:justify">
                        की उपधारा (2ए) द्वारा प्रदत्त शक्तियों का प्रयोग करते हुए मेरा विचार है कि उक्त स्थान के संबंध में<br />
                        क्षतिपूर्ति की बकाया राशि देय है, जिसका भुगतान आपके द्वारा दिल्ली विकास प्राधिकरण को किया जाना<br />
                        है।



                    </p>

                </div>


            </div><br />*@

            <div class="row">
                <div class="col-md-12">
                    <p style="color:black; margin-left:100px; margin-bottom:0.2%;text-align-last:justify">


                        Therefore you are requested to deposit the above amountwithin 15 days from the date of issue of this leeter <br />
                    </p>  <p style="color:black; margin-left:30px; text-align-last:justify">
                        of the Public Premises (Eviction of Unauthorized Occupants)Act 1971, I consider that arrears of<br />
                        damages in respect of the said premises is due and payable by you to the Delhi Development<br />
                        Authority.



                    </p>

                </div>


            </div>
            <br />

            @*<div class="row">
                <div class="col-md-12">
                    <p style="color:black; margin-left:100px;margin-bottom:0.2% ;text-align-last:justify">

                        और जबकि सरकारी स्थान (अप्राधिकृत अधिभोगियों की बेदखली) अधिनियम, 1971 की धारा 7 की<br />
                    </p>   <p style="color:black; margin-left:30px; text-align-last:justify">
                        उपधारा (2ए) द्वारा प्रदत्त शक्तियों का प्रयोग करते हुए मेरा विचार है कि आपको दिल्ली विकास प्राधिकरण<br />
                        को उक्त बकाया राशि के ब्याज का भुगतान प्राधिकरण द्वारा निर्धारित दर पर इसके अंतिम भुगतान तक <br />



                    </p>
                    <p style="color: black; margin-left: 30px; margin-top: -1.2%;"> करना होगा।</p>

                </div>

            </div>*@

            @*<br />
            <div class="row">
                <div class="col-md-12">
                    <p style="color: black;margin-left: 100px;text-align-last: justify;margin-bottom: -0.2%">
                        And whereas in exercise of the powers conferred on me by Sub Section (2A) of Section 7 <br />
                    </p> <p style="color:black; margin-left:30px; text-align-last:justify">
                        of the Public Premises (Eviction of Unauthorized Occupants)Act 1971, I consider that you are<br />
                        also liable to pay interest to the Delhi Development Authority on the said arrears at the rate<br />

                    </p>
                    <p style="color: black; margin-left: 30px; margin-top: -1.2%;">determined by the Authority till its final payment.</p>

                </div>

            </div>

            <br />*@
            @*<div class="row">
                <div class="col-md-12">
                    <p style="color: black;margin-left: 100px;text-align-last: justify;margin-bottom: -0.2%">

                        इसलिए अब सरकारी स्थान (अप्राधिकृत अधिभोगियों की बेदखली) अधिनियम, 1971 की धारा 7
                    </p>
                    <p style="color:black; margin-left:30px; text-align-last:justify">
                        की उपधारा (3) के अनुपालन में,  मैं एतद् द्वारा आपसे देय क्षतिपूर्ति प्रभारों का स्व आकलन करने और<br />
                        ब्याज सहित आपके प्रति लंबित बकाया राशि का भुगतान करने तथा सात दिन के अंदर डी.डी.ए. के पोर्टल <br />
                        (http://dda.org.in/damage) पर भुगतान के प्रमाण और आपत्ति, यदि कोई हो, को फाइल करने की
                    </p>
                    <p style="color:black; margin-left:30px; margin-top:-1.2%"> अपेक्षा करता हूं।</p>



                </div>


            </div>*@



            <br />
            @*<div class="row">
                <div class="col-md-12">
                    <p style="color: black; margin-left: 100px; text-align-last: justify; margin-bottom: -0.2%">

                        Now, therefore, in pursuance of Sub Section (3) of Section 7 of Public Premises (Eviction
                    </p>
                    <p style="color:black; margin-left:30px; text-align-last:justify">
                        of Unauthorized Occupants)Act 1971, I hereby call upon you to make the self-assessment of<br />
                        damage charges due against you and pay the outstanding amount pending against you along <br />
                        with interest and file the proof of payment and the objections, if any, on the DDA’s <br />

                    </p>

                    <p style="color:black; margin-left:30px; margin-top:-1.2%">  Portal(http://dda.org.in/damage) within seven days.</p>

                </div>

            </div>*@

            <br />
            @*<div class="row">
                <div class="col-md-12">
                    <p style="color:black; margin-left:100px; text-align-last:justify">
                        आपकी सुविधा के लिए दि.वि.प्रा. ने स्व आकलन स्कीम का लाभ उठान वाले व्यक्तियों के संबंध में <br />



                    </p>

                    <p style="color:black; margin-left:30px; margin-top:-1.2%">

                        बकाया राशि पर देय% ब्याज प्रभार को माफ कर दिया है।

                    </p>

                    <p style="color:black; margin-left:100px; text-align-last:justify">
                        For your convenience the DDA has waived % of interest charges due on the  <br />



                    </p>

                    <p style="color:black; margin-left:30px; margin-top:-1.2%">

                        outstanding amount in respect of the persons availing self-assessment scheme.

                    </p>
                </div>

            </div>

            <br />*@

            @*<div class="row" id="contnet">
                <div class="col-md-12">
                    <p style="color:black; margin-left:100px;margin-bottom:0.2% ;text-align-last:justify">

                        यदि निर्धारित अवधि के अंदर कोई उत्तर प्राप्त नहीं होता है, तो आपके द्वारा चक्रवृद्धि ब्याज सहित<br />
                    </p>   <p style="color:black; margin-left:30px; text-align-last:justify">
                        क्षतिपूर्ति की उक्त बकाया राशि का भुगतान करने के लिए आदेश पारित किया जाएगा तथा सरकारी स्थान<br />
                        (अप्राधिकृत अधिभोगियों की बेदखली) अधिनियम, 1971 की धारा 4 (1) के अंतर्गत आपके विरूद्ध बेदखली
                        <br />
                    </p>
                    <p style=" color: black; margin-left: 30px; margin-top: -1.2%;"> की कार्रवाई शुरू की जाएगी।</p>
                </div>
            </div>
            <br />*@
            @*<div class="row">
                <div class="col-md-12">
                    <p style="color: black;margin-left: 100px;text-align-last: justify;margin-bottom: -0.2%">
                        If no reply is received within the prescribed period then order requiring you to pay the  <br />
                    </p> <p style="color:black; margin-left:30px; text-align-last:justify">
                        said arrears of the damages together with compound interest will be passed and action for <br />
                        eviction under Section 4(1) of the Public Premises (Eviction of Unauthorized Occupants) Act <br />

                    </p>
                    <p style="color: black;margin-left: 30px; margin-top: -1.2%;">1971, will be initiated against you.</p>

                </div>


            </div>*@


            <br /><br />

            <div class="row">
                <div class="col-md-6">


                </div>


                <div class="col-md-2">


                </div>

                <div class="col-md-4">

                    <p style="color:black">
                        Sada Shiv<br />
                        Dy.Director(IL)/DDA
                    </p>

                </div>
            </div>

            @*<div class="row">
                <div class="col-md-1">
                                    </div>

                <div class="col-md-9">
                    <p style="color:black">Date - </p><p style="color:black">
                                                          


                        दिनांक -
                    </p>

                </div>
                <div class="col-md-2">
                </div>
            </div>
            </div>*@
    </div>
</div>

<div class="row mt-md-3">
    <div class="col-md-12">

        <button class="btn btn-theme " id="btnCreate" type="button">Print</button>

        @Html.ActionLink("Back", "Create", "NoticeToDamagePayee", null, new { @class = "btn btn-theme" })
    </div>
</div>

<!-- HTML content for PDF creation -->

<div id="elementH"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
<script src="~/js/noticetodamagepayeelist.js"></script>