@*@model DDAPropertyREG.Models.Tblinterims*@

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .btn {
        Background: linear-gradient(33deg, #8c1f47,#362c85);
        Font-size: 1.0rem;
        Font-Family: Open SansSemibold;
        color: #ffffff
    }
</style>

<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;"> Legal Management System</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  myapp-hed1">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%"> Add Details </h6>
        </div>
        <div class="panel-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Legal File No.</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label class="control-label lb-sm">Case No.</label>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <select style="height:30px;    background-color: #dddddd;" required class="form-control">
                                    <option>--Select Case Type--</option>
                                    <option>CS4569</option>
                                    <option>CS859766</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" placeholder="Case No." />
                            </div>
                            <div class="form-group col-md-3">
                                <select style="height:30px;    background-color: #dddddd;" required class="form-control">
                                    <option>--Select Year--</option>
                                    <option>2020</option>
                                    <option>2019</option>
                                    <option>2018</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Case Title</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Subject</label>
                        <input type="text" class="form-control" />

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">

                        <label class="control-label lb-sm">Hearing Date</label>
                        <input required type="date" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Next Date of Hearing(NDOH)   </label>
                        <input required type="date" class="form-control">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Contempt of Court</label>
                        <select style="height:30px;    background-color: #dddddd;" required class="form-control">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Court Type </label>
                        <select style="height:30px;    background-color: #dddddd;" required class="form-control">
                            <option>High Court</option>
                            <option>District Court</option>
                            <option>Supreme Court</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Case Status</label>
                        <select style="height:30px;    background-color: #dddddd;" required class="form-control">
                            <option>Writ</option>
                            <option>SLP</option>
                            <option>Review</option>
                            <option>Creative</option>
                            <option>Petition</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Last Decision</label>
                        <textarea required type="text" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Zone</label>
                        <select style="height:30px;    background-color: #dddddd;" required class="form-control">
                            <option>--Select--</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Village</label>
                        <select style="height:30px;    background-color: #dddddd;" required class="form-control">
                            <option>--Select--</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Case Type</label>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="radio-inline  ">
                                    <input type="radio" name="court" id="court" value="" />24(2) Case
                                </label>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="radio-inline ">
                                    <input type="radio" name="court" id="court" value="" />Other
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">In Favour of</label>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="radio-inline  ">
                                    <input type="radio" name="court" id="court" value="" />DDA
                                </label>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="radio-inline ">
                                    <input type="radio" name="court" id="court" value="" />Against DDA
                                </label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="control-label lb-sm">Panel Laywer</label>
                        <textarea required type="text" class="form-control"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Stay Interim Granted</label>
                        <select id="ddlStayInterim" style="height:30px;    background-color: #dddddd;" required class="form-control">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>
                </div>

                <div class="form-row" style="display:none;" id="DivStayInterim">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Stay Interim Granted Document</label>
                        <input required type="file" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Stay Interim Granted Remarks</label>
                        <input  type="text" class="form-control">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Judgement</label>
                        <select id="ddlJudgement" style="height:30px;    background-color: #dddddd;" required class="form-control">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>

                    <div style="display:none;" id="DivJudgement">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Judgement Document</label>
                            <input required type="file" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Judgement Remarks</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Document(if any)</label>
                        <input required type="file" class="form-control">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="control-label lb-sm">Remarks</label>
                        <textarea type="text" class="form-control" style=" background-color: #dddddd;"></textarea>
                    </div>
                </div>



                <div class="form-row ">
                    <div class="form-group col-md-12" style="margin-bottom:40px;">
                        <input type="submit" value="Create" class="btn btn-primary myapp-hed1" />
                        @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
                        @Html.ActionLink("Back", "Index", "CaseHearingAppealDetail", null, new { @class = "btn btn-primary myapp-hed1" })
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<script>
    $('#ddlStayInterim').change(function () {
        var value = $('#ddlStayInterim option:selected').val();
        if (value == 0) {
            $('#DivStayInterim').hide();
        }
        else {
            $('#DivStayInterim').show();
        }
    });


    $('#ddlJudgement').change(function () {
        var value = $('#ddlJudgement option:selected').val();
        if (value == 0) {
            $('#DivJudgement').hide();
        }
        else {
            $('#DivJudgement').show();
        }
    });
</script>


@*@if (ViewData["Msg"] != null)
    {
        DDAPropertyREG.Models.Message msg = ViewData["Msg"] as DDAPropertyREG.Models.Message;
        @await Html.PartialAsync("~/Views/Shared/_ShowMsg.cshtml", msg);
    }*@
