

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<script src="~/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>
<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">  Case Hearing/Appeal Detail  </h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div>
    @Html.ActionLink("Add New", "Create", "CaseHearingAppealDetail", null, new { @class = "btn btn-primary pull-right myapp-hed1 ", style = "margin-top: -10px;" })
</div>
<br />
<br />
<div class="container-fluid" id="MainContentForm">
    <div class="card  table-card table-responsive ">

        <table class="table table-responsive table-bordered table-card">
            <tr class="myapp-hed1">

                <th>Sr.No</th>
                <th>Date Of Hearing</th>
                <th>Contempt of Court</th>
                <th>Case No </th>
                <th> Case Title </th>
                <th> Legal File No </th>
                <th>Court Type </th>
                <th>Active Status</th>
                <th>Remarks</th>
                <th>Operation</th>
            </tr>

            <tr>
                <td>1</td>
                <td>20-Aug-2020</td>
                <td></td>
                <td>11111</td>
                <td>CaseTitle</td>
                <td>F123456 </td>
                <td>High Court</td>
                <td>Active</td>
                <td>general remarks </td>
                <td>
                    <a asp-action="Edit" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                    <a asp-action="Delete" title="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>


            </tr>

        </table>

    </div>
</div>
<br />
<br />

