@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@model Libraries.Model.Entity.Module*@
<script src="~/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>


<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left color-white" style="margin-top:5px;">Khasra  </h6>
                <i class="glyphicon glyphicon-arrow-right pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid">
    <div class="panel">
        <div class="panel-heading  dda-pageheading">
            <h6 class="pull-left color-white " style="margin-top:-0.4%">Village And Khasra Details</h6>
        </div>
        <div class="panel-body">
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Village </label>
                        <select class="form-control">
                            <option value="dept1">	Bajitpur</option>
                            <option value="dept2">	Narela</option>
                            <option value="dept3">	Driyapur </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Khasra</label>
                        <select class="form-control dda-dropdown">
                            <option>KH123</option>
                            <option>KH245</option>
                            <option>KH2452</option>
                            <option>KH2005</option>
                        </select>

                    </div>
                </div>
                <div class="form-row ">
                    <div class="form-group col-md-12" style="margin-bottom:40px;">
                        <input type="submit" value="Result" id="btnFind" class="btn btn-primary dda-pageheading" />
                        @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-primary dda-pageheading" })
                    </div>
                </div>

            </form>
            @*@{
        @if (ViewBag.IsShowData == "Yes")
        {*@
        <div id="divDataLoad">
            <div class="row" style="margin-bottom:35px;">
                <div class="col-sm-12">
                    <div class="dda-innerheading">
                        <div class="col-md-12">
                            <h6 class="pull-left" style="color:white;margin-top:5px;">KHASRA / PLOT DETAILS  </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" border="0">
                            <thead class="thead">
                                @*<tr>
                                    <th>Village Name</th>
                                    <th>Khasra No</th>
                                    <th>Area (Bigha - Biswa - Biswansi)(ACRE)</th>
                                    <th>Notification(s) US-4</th>
                                    <th>Notification(s) US-6</th>
                                    <th>Notification(s) US-17</th>

                                    <th>Award(s)</th>
                                    <th>Notification(s) US-22</th>
                                    <th>Date of Possesion</th>
                                    <th>Date of Allotement</th>
                                    <th>Transfer Department</th>

                                    <th>Scheme Transfer</th>
                                    <th>Remarks</th>
                                    <th>Party Name</th>
                                    <th>Demand List No.</th>
                                    <th>L&B No - Date</th>
                                    <th>L.A.C. No</th>
                                    <th>R.F.A.No</th>
                                    <th>S.L.P. No</th>
                                    <th>Court Involved</th>

                                    <th>Payble Amount</th>
                                    <th>Appealable Amount</th>
                                    

                                </tr>*@
                               
                            </thead>
                           
                            <tbody class="tbody">
                                <tr>
                                    <td >Village Name</td>

                                    <td >aali</td>
                                </tr>
                                <tr>
                                    <td>Khasra No </td>

                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Area (Bigha - Biswa - Biswansi)(ACRE) </td>

                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Notification(s) US-4 </td>

                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Notification(s) US-6 </td>

                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Notification(s) US-17 </td>

                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Award(s) </td>

                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Notification(s) US-22 </td>

                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Date of Possesion </td>

                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Date of Allotement </td>

                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Transfer Department </td>

                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Scheme Transfer </td>

                                    <td></td>
                                </tr>

                                <tr>
                                    <td>Party Name </td>

                                    <td></td>

                                </tr>
                                <tr>
                                    <td >Demand List No. </td>

                                    <td></td>

                                </tr>
                                <tr>
                                    <td>L&B No - Date </td>

                                    <td></td>

                                </tr>
                                <tr>
                                    <td>L.A.C. No </td>

                                    <td></td>

                                </tr>
                                <tr>
                                    <td>R.F.A.No </td>

                                    <td></td>

                                </tr>
                                <tr>
                                    <td>S.L.P. No </td>

                                    <td></td>

                                </tr>
                                <tr>
                                    <td>Court Involved </td>

                                    <td></td>

                                </tr>
                                <tr>
                                    <td>Payble Amount </td>

                                    <td></td>

                                </tr>
                                <tr>
                                    <td>Appealable Amount </td>

                                    <td></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
            @*}
            else
            {

            }
        }*@
        </div>
    </div>
</div>

@*<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
    <environment include="Development">
        <script src="~/js/designationmastercreate.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/designationmastercreate.js" asp-append-version="true"></script>
    </environment>*@
<script>
    //$(function () {
    //    $("#btnFind").click(function () {
    //        $("#divDataLoad").show();
    //        //$(this).toggleClass('class1')
    //    });
    //});



    $(document).ready(function () {
        $("#btnFind").click(function () {
            $("#divDataLoad").toggle();
        });
    });
</script>
