
@{
    ViewData["Title"] = "ForgetPasswordMailConfirmation";
    Layout = "~/Views/Shared/_LayoutForgetPass.cshtml";
}
<p class="text-danger">
    Dear @HttpContextAccessor.HttpContext.Session.GetString("username"),
</p>
<p class="text-danger">
    Reset Link has been shared on your registered email(@HttpContextAccessor.HttpContext.Session.GetString("emailId")). Kindly check your email for reset password link(link validity 2 hours).
</p>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor