
@{
    ViewData["Title"] = "ForgetPasswordMailConfirmation";
    Layout = "~/Views/Shared/_LayoutForgetPass.cshtml";
}
<p class="text-danger">
    Dear @ViewBag.name,
</p>
<p class="text-danger">
    Reset Link has been shared on your registered email. Kindly check your email for reset password link(link validity 2 hours).
</p>