
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_LayoutForgetPass.cshtml";
}

<p>
    Your password has been reset. Please <a href="https://www.managemybusinessess.com/">click here to log in</a>.
</p>
