@{Layout = null;}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKdXoEy8iDv_7yvzRJkH2mW9LFieOIT4g&libraries=places"></script>*@
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <link href="~/img/favicon.ico" rel="shortcut icon" type="image/x-icon" sizes="16x16" />
    <link rel="icon" href="~/img/favicon.png" type="image/png" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Site Title-->
    <title>DDA! MAP</title>

    <!--font css-->
    <link href="~/font/open-sans/stylesheet.css" rel="stylesheet">

    <!--icon css-->
    <link rel="stylesheet" href="~/font/icon/remixicon.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <section class="map-section">
        <!--live map-->
        <div class="liveMap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d448181.163741622!2d76.81306442366602!3d28.64727993557044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x37205b715389640!2sDelhi!5e0!3m2!1sen!2sin!4v1612367296523!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <!--live map end-->
        <div class="container-fluid p-4 MapContent position-relative">
            <!--top buttons-->
            <div class="text-right TopActionBtns">
                <a href="#" class="btn actionBtn slow" title="Home">
                    <i class="ri-home-4-line"></i>
                </a>
                <a href="#" class="btn actionBtn slow" title="Print">
                    <i class="ri-printer-line"></i>
                </a>
                <a href="#" class="btn actionBtn slow" title="Full Screen">
                    <i class="ri-fullscreen-line"></i>
                </a>
                <a href="#" class="btn actionBtn slow" title="User">
                    <i class="ri-login-circle-line"></i>
                </a>
            </div>
            <!--top buttons end-->
            <div id="leftSection" class="leftSection slow">
                <div class="MenuToggle">
                    <i class="ri-arrow-left-s-line slow"></i>
                </div>
                <!--                DDA Logo-->
                <div class="LogoBottom">
                    <img src="~/img/logo.png" alt="logo" />
                </div>
                <!--                DDA Logo end-->
                <!--tab nav bar-->
                <nav>
                    <div class="nav nav-tabs d-flex justify-content-between" id="LeftNavTab" role="tablist">
                        <a class="nav-item nav-link active" id="navListtab" data-toggle="tab" href="#navList" role="tab" aria-controls="navList" aria-selected="true">List</a>
                        <a class="nav-item nav-link" id="navQuerytab" data-toggle="tab" href="#navQuery" role="tab" aria-controls="navQuery" aria-selected="false">Query</a>
                        <a class="nav-item nav-link" id="navLayerstab" data-toggle="tab" href="#navLayers" role="tab" aria-controls="navLayers" aria-selected="false">Layers</a>
                        <a class="nav-item nav-link" id="navLegendstab" data-toggle="tab" href="#navLegends" role="tab" aria-controls="navLegends" aria-selected="false">Legends</a>
                        <a class="nav-item nav-link" id="navInformationtab" data-toggle="tab" href="#navInformation" role="tab" aria-controls="navInformation" aria-selected="false">Information</a>
                    </div>
                </nav>
                <!--tab nav bar end-->
                <!--tab nav content-->
                <div class="tab-content" id="LeftNavTabContent">
                    <div class="tab-pane fade show active" id="navList" role="tabpanel" aria-labelledby="navListtab">
                        <!--search from-->
                        <form class="search">
                            <div class="form-group">
                                <i class="ri-search-line"></i>
                                <input type="search" class="form-control form-control-sm" placeholder="Search Area Name">
                            </div>
                        </form>
                        <!--search from end-->
                        <!--data accordion -->
                        <div class="accordion" id="accordionData">
                        </div>
                        <!--data accordion end -->
                    </div>
                    <div class="tab-pane fade" id="navQuery" role="tabpanel" aria-labelledby="navQuerytab">2</div>
                    <div class="tab-pane fade" id="navLayers" role="tabpanel" aria-labelledby="navLayerstab">3</div>
                    <div class="tab-pane fade" id="navLegends" role="tabpanel" aria-labelledby="navLegendstab">4</div>
                    <div class="tab-pane fade" id="navInformation" role="tabpanel" aria-labelledby="navInformationtab">5</div>
                </div>
                <!--tab nav content end-->
                <!--                tab nav content end-->
                <!--area text-->
                <p style="font-size: .7rem" class="my-2">
                    State : <strong class="text-dark">Delhi</strong><br />
                    No of Zones : <strong class="text-dark">18</strong><br />
                    Total Area : <strong class="text-dark">366704 Acres</strong>
                </p>
            </div>
            <!--bottom btns-->
            <div class="text-right BottomActionBtns">
                <div class="btn actionBtn slow" id="TransparencyRange">
                    <i class="ri-search-eye-line"></i>
                    <div class="TransparencyMap openAction">
                        <small class="d-block">Transparency : <strong>50%</strong></small>
                        <input type="range" class="form-range" min="0" max="5">
                    </div>
                </div>
                <div class="btn actionBtn slow" id="MapOption">
                    <i class="ri-map-2-line"></i>
                    <div class="openAction MapOption">
                        <div class="mapImg">
                            <a href="#" class="d-block mb-2" title="Road Map">
                                <figure class="rounded">
                                    <img src="~/img/Roadmap.jpg" alt="Road Map" />
                                    <figcaption class="text-center py-1 w-100 d-block bg-primary text-white">Road Map</figcaption>
                                </figure>
                            </a>
                            <a href="#" class="d-block" title="Topographic Map">
                                <figure class="rounded">
                                    <img src="~/img/Topographicmap.jpg" alt="Topographic Map" />
                                    <figcaption class="text-center py-1 w-100 d-block bg-primary text-white">Topographic Map</figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="btn actionBtn p-0">
                    <a href="#" class="btn actionBtn m-0">
                        <i class="ri-subtract-line"></i>
                    </a>|
                    <a href="#" class="btn actionBtn m-0">
                        <i class="ri-add-fill"></i>
                    </a>
                </div>
            </div>
            <!--bottom btns end-->
        </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS , any custom js-->
    <script src="~/js/main.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/js.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</body>
</html>
