@{Layout = null;}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKdXoEy8iDv_7yvzRJkH2mW9LFieOIT4g&libraries=places"></script>
    <link href="~/img/favicon.ico" rel="shortcut icon" type="image/x-icon" sizes="16x16" />
    <link rel="icon" href="~/img/favicon.png" type="image/png" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Site Title-->
    <title>DDA! MAP</title>

    <!--font css-->
    <link href="~/font/open-sans/stylesheet.css" rel="stylesheet">
    <link href="~/css/gisindex.css" rel="stylesheet" />
    <!--icon css-->
    <link rel="stylesheet" href="~/font/icon/remixicon.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link href="~/lib/toaster/toastr.min.css" rel="stylesheet" />
</head>
<body>
    <section class="map-section">
        <!--live map-->
        <div class="liveMap" id="map-canvas">
            @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d448181.163741622!2d76.81306442366602!3d28.64727993557044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x37205b715389640!2sDelhi!5e0!3m2!1sen!2sin!4v1612367296523!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>*@
        </div>
        <!--live map end-->
        <div class="container-fluid p-4 MapContent position-relative" id="topRightActionButton">
            <!--top buttons-->
            <div class="text-right TopActionBtns">
                <a href="/GIS/Index" class="btn actionBtn slow" title="Home">
                    <i class="ri-home-4-line"></i>
                </a>
                <a href="#" class="btn actionBtn slow" title="Print" onclick="printMaps();" id="printDocMob">
                    <i class="ri-printer-line"></i>
                </a>
            </div>
            <!--top buttons end-->
            <div id="leftSection" class="leftSection slow">
                <div class="MenuToggle">
                    <i class="ri-arrow-left-s-line slow"></i>
                </div>
                <!--                DDA Logo-->
                <div class="LogoBottom">
                    <img src="~/img/logo.png" alt="logo" />
                </div>
                <!--                DDA Logo end-->
                <!--tab nav bar-->
                <nav>
                    <div class="nav nav-tabs d-flex justify-content-between" id="LeftNavTab" role="tablist">
                        <a class="nav-item nav-link active" id="navListtab" data-toggle="tab" href="#navList" role="tab" aria-controls="navList" aria-selected="true">Village List</a>
                        <a class="nav-item nav-link" id="navQuerytab" data-toggle="tab" href="#navQuery" role="tab" aria-controls="navQuery" aria-selected="false">Query</a>
                        <a class="nav-item nav-link" id="navLayerstab" data-toggle="tab" href="#navLayers" role="tab" aria-controls="navLayers" aria-selected="false">Layers</a>
                        <a class="nav-item nav-link" id="navLegendstab" data-toggle="tab" href="#navLegends" role="tab" aria-controls="navLegends" aria-selected="false">Legends</a>
                        @*<a class="nav-item nav-link" id="navInformationtab" data-toggle="tab" href="#navInformation" role="tab" aria-controls="navInformation" aria-selected="false">Information</a>*@
                    </div>
                </nav>
                <!--tab nav bar end-->
                <!--tab nav content-->
                <div class="tab-content" id="LeftNavTabContent">
                    <div class="tab-pane fade show active" id="navList" role="tabpanel" aria-labelledby="navListtab">
                        <!--search from-->
                        <form class="search">
                            <div class="form-group">
                                <i class="ri-search-line"></i>
                                <input type="search" class="form-control form-control-sm" placeholder="Search Village Name" id="txtSearch">
                            </div>
                        </form>
                        <!--search from end-->
                        <!--data accordion -->
                        <div class="accordion" id="accordionData">
                        </div>
                        <!--data accordion end -->
                    </div>
                    <div class="tab-pane fade" id="navQuery" role="tabpanel" aria-labelledby="navQuerytab">
                        <div class="accordion" id="navQueryData">
                            <!--                            Query accordion-->
                            <div class="accordion-item">
                                <h5 class="accordion-header" id="Query1">
                                    <button class="accordion-button collapsed py-2 bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#Query" aria-expanded="true" aria-controls="Query">
                                        <i class="ri-search-line text-white"></i>Query
                                    </button>
                                </h5>
                                <div id="Query" class="accordion-collapse collapse" aria-labelledby="Query1" data-bs-parent="#navQueryData">
                                    <div class="p-3">
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a href="#Zone" class="nav-link active" id="Zone-tab" data-bs-toggle="tab" data-bs-target="#Zone" type="button" role="tab" aria-controls="Zone" aria-selected="true">Zone wise</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a href="#Allottee" class="nav-link" id="Allottee-tab" data-bs-toggle="tab" data-bs-target="#Allottee" type="button" role="tab" aria-controls="Allottee" aria-selected="false">Allottee wise</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="Zone" role="tabpanel" aria-labelledby="Zone-tab">
                                                <form id="searchWise">
                                                    <div class="mb-2">
                                                        <label for="ZoneSelectList" class="form-label mb-1 small">Zone :</label>
                                                        <select class="form-select form-select-sm" id="ZoneSelectList">
                                                            <option>---Select Zone---</option>
                                                            <option>---Select Zone---</option>
                                                            <option>---Select Zone---</option>
                                                            <option>---Select Zone---</option>
                                                            <option>---Select Zone---</option>
                                                            <option>---Select Zone---</option>
                                                        </select>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label for="LocalitySelectList" class="form-label mb-1 small">Locality :</label>
                                                        <select class="form-select form-select-sm" id="LocalitySelectList">
                                                            <option>---Select Locality---</option>
                                                            <option>---Select Locality---</option>
                                                            <option>---Select Locality---</option>
                                                            <option>---Select Locality---</option>
                                                            <option>---Select Locality---</option>
                                                            <option>---Select Locality---</option>
                                                        </select>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label for="PlotSelectList" class="form-label mb-1 small">Plot :</label>
                                                        <select class="form-select form-select-sm" id="PlotSelectList">
                                                            <option>---Select Plot---</option>
                                                            <option>---Select Plot---</option>
                                                            <option>---Select Plot---</option>
                                                            <option>---Select Plot---</option>
                                                            <option>---Select Plot---</option>
                                                            <option>---Select Plot---</option>
                                                        </select>
                                                    </div>
                                                    <div class="mt-3 text-center">
                                                        <button type="submit" class="btn d-block w-100 small btn-sm btn-primary">Find</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="tab-pane fade" id="Allottee" role="tabpanel" aria-labelledby="Allottee-tab">
                                                <form id="searchWise">
                                                    <div class="mb-2">
                                                        <label for="ZoneSelectList2" class="form-label mb-1 small">Zone :</label>
                                                        <select class="form-select form-select-sm" id="ZoneSelectList2">
                                                            <option>---Select Zone---</option>
                                                            <option>---Select Zone---</option>
                                                            <option>---Select Zone---</option>
                                                            <option>---Select Zone---</option>
                                                            <option>---Select Zone---</option>
                                                            <option>---Select Zone---</option>
                                                        </select>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label for="LocalitySelectList2" class="form-label mb-1 small">Locality :</label>
                                                        <select class="form-select form-select-sm" id="LocalitySelectList2">
                                                            <option>---Select Locality---</option>
                                                            <option>---Select Locality---</option>
                                                            <option>---Select Locality---</option>
                                                            <option>---Select Locality---</option>
                                                            <option>---Select Locality---</option>
                                                            <option>---Select Locality---</option>
                                                        </select>
                                                    </div>
                                                    <div class="mb-2">
                                                        <label for="AllotteeSelectList" class="form-label mb-1 small">Allottee :</label>
                                                        <select class="form-select form-select-sm" id="AllotteeSelectList">
                                                            <option>---Select Allottee---</option>
                                                            <option>---Select Allottee---</option>
                                                            <option>---Select Allottee---</option>
                                                            <option>---Select Allottee---</option>
                                                            <option>---Select Allottee---</option>
                                                            <option>---Select Allottee---</option>
                                                        </select>
                                                    </div>
                                                    <div class="mt-3 text-center">
                                                        <button type="submit" class="btn d-block w-100 small btn-sm btn-primary">Find</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--                            Query accordion end-->
                            <!--                            Find Routes accordion-->
                            @*<div class="accordion-item">
                                    <h5 class="accordion-header" id="Routes1">
                                        <button class="accordion-button collapsed  py-2 bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#Routes" aria-expanded="true" aria-controls="Routes">
                                            <i class="ri-road-map-line text-white"></i>Find Routes
                                        </button>
                                    </h5>
                                    <div id="Routes" class="accordion-collapse collapse" aria-labelledby="Routes1" data-bs-parent="#navQueryData">
                                        <div class="p-3">
                                            <form id="searchWise">
                                                <div class="mb-2">
                                                    <label for="TravelList" class="form-label mb-1 small">Travel :</label>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="form-check position-relative d-flex-align-items-center">
                                                                <input class="form-check-input" type="radio" name="Travel" id="Driving1">
                                                                <label class="form-check-label" for="Driving1">
                                                                    <i class="ri-roadster-line position-relative" style="left: -2px"></i> Driving
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-check position-relative d-flex-align-items-center">
                                                                <input class=" form-check-input" type="radio" name="Travel" id="Transit2">
                                                                <label class="form-check-label" for="Transit2">
                                                                    <i class="ri-bus-2-line position-relative" style="left: -2px"></i> Transit
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-2">
                                                    <label for="Source" class="form-label mb-1 small">Source :</label>
                                                    <input class="form-control form-control-sm" id="Source" type="text" placeholder="Source" aria-label="Source" />
                                                </div>
                                                <div class="mb-2">
                                                    <label for="Source" class="form-label mb-1 small">Destination :</label>
                                                    <input class="form-control form-control-sm" id="Destination" type="text" placeholder="Destination" aria-label="Destination" />
                                                </div>
                                                <div class="mt-3 text-center">
                                                    <a href="javascript:;" id="RouteDetail" class="btn d-block w-100 small btn-sm btn-info text-white">Get Route</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>*@
                            <!--                            Find Routes accordion end-->


                        </div>
                    </div>

                    <div class="tab-pane fade" id="navLayers" role="tabpanel" aria-labelledby="navLayerstab">
                        <div class="accordion" id="navLayersdata">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button px-3 py-2 bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#Infrastructure" aria-expanded="true" aria-controls="Infrastructure">
                                        Important Infrastructure
                                    </button>
                                </h2>
                                <div id="Infrastructure" class="accordion-collapse collapse show" data-bs-parent="#navLayersdata">
                                    <div class="accordion-body p-2">
                                        <table class="table table-sm mb-0">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">
                                                        <div class="form-check" id="chkSelectAll" style="display:none;">
                                                            <input class="form-check-input" type="checkbox" id="chkAllImpInfra" checked="checked">
                                                            <label class="form-check-label" for="AllSelectImportant">
                                                                Select All
                                                            </label>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody id="infrastructureData">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="navLegends" role="tabpanel" aria-labelledby="navLegendstab">4</div>
                    @*<div class="tab-pane fade" id="navInformation" role="tabpanel" aria-labelledby="navInformationtab">5</div>*@
                </div>
                <!--tab nav content end-->
                <!--                tab nav content end-->
                <!--area text-->
                <p style="font-size: .7rem" class="my-2">
                    State : <strong class="text-dark">Delhi</strong><br />
                    No of Zones : <strong class="text-dark">18</strong><br />
                    Total Area : <strong class="text-dark">366704 Acres</strong>
                </p>
            </div>
            <!--bottom btns-->
            <div class="text-right BottomActionBtns" id="rightsidebuttons">
                <div class="btn actionBtn slow" id="TransparencyRange">
                    <i class="ri-search-eye-line"></i>
                    <div class="TransparencyMap openAction">
                        <small class="d-block">Transparency : <strong id="demo">30</strong>%</small>
                        <input type="range" min="0.0" max="1.0" value="0.30" step="0.01" class="slider" id="OpacityRange">
                    </div>
                </div>
                <div class="btn actionBtn slow" id="MapOption">
                    <i class="ri-map-2-line"></i>
                    <div class="openAction MapOption">
                        <div class="mapImg">
                            <a href="#" class="d-block mb-2" title="Road Map">
                                <figure class="rounded" id="maproad">
                                    <img src="~/img/Roadmap.jpg" alt="Road Map" />
                                    <figcaption class="text-center py-1 w-100 d-block bg-primary text-white">Road Map</figcaption>
                                </figure>
                            </a>
                            <a href="#" class="d-block mb-2" title="Topographic Map">
                                <figure class="rounded" id="maphybrid">
                                    <img src="~/img/Topographicmap.jpg" alt="Topographic Map" />
                                    <figcaption class="text-center py-1 w-100 d-block bg-primary text-white">Topographic Map</figcaption>
                                </figure>
                            </a>
                            <a href="#" class="d-block" title="Satallite Map">
                                <figure class="rounded" id="mapsatellite">
                                    <img src="~/img/satelite.jpg" alt="Satallite Map" />
                                    <figcaption class="text-center py-1 w-100 d-block bg-primary text-white">Satallite Map</figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                @*<div class="btn actionBtn p-0">
                        <a href="#" class="btn actionBtn m-0">
                            <i class="ri-subtract-line"></i>
                        </a>|
                        <a href="#" class="btn actionBtn m-0">
                            <i class="ri-add-fill"></i>
                        </a>
                    </div>*@
            </div>
            <!--bottom btns end-->
        </div>

        <div id="RouteDetailShow" style="display: none; ">
            <div class="card">
                <div class="card-header text-white bg-primary small px-2 py-1 d-flex align-items-center">
                    Information <a href="javascript:;" id="HideRouteDetail" class="close text-white ms-auto badge bg-danger" style="text-decoration: none">X</a>
                </div>
                <div class="card-body p-1">
                    <ul class="list-unstyled small">
                        <li>
                            <table style="border-collapse: collapse; font-size:11px !important; margin-bottom: 0px;" class="table table-bordererd table-primary table-responsive">
                                <tbody >
                                    <tr> <td> <p class="m-0">Village Name : <strong id="tagVillageName"></strong></p></td> </tr>
                                    <tr><td><p class="m-0">Khasra No : <strong id="tagKhasra"></strong></p></td></tr>
                                    <tr><td><p class="m-0">Area (Bigha - Biswa - Biswansi)(ACRE) : <strong id="tagArea"></strong></p></td></tr>
                                    <tr><td> <p class="m-0">Notification(s) US-4 : <strong id="tagUs4"></strong></p></td></tr>
                                    <tr><td><p class="m-0">Notification(s) US-6 : <strong id="tagUs6"></strong></p></td></tr>
                                    <tr><td><p class="m-0">Notification(s) US-17 : <strong id="tagUs17"></strong></p></td></tr>
                                    <tr><td><p class="m-0">Notification(s) US-22 : <strong id="tagUs22"></strong></p></td></tr>
                                    <tr><td><p class="m-0">Award(s) : <strong id="tagAward"></strong></p></td></tr>
                                    <tr><td><p class="m-0">Date of Possession : <strong id="tagPossessionDate"></strong></p></td></tr>
                                    <tr><td><p class="m-0">Date of Allotment : <strong id="tagAllotmentDate"></strong></p></td></tr>
                                    <tr><td><p class="m-0">Transfer Department : <strong id="tagTransferDepartment"></strong></p></td></tr>
                                    <tr><td><p class="m-0">Scheme Transfer : <strong id="tagSchemeTransfer"></strong></p></td></tr>
                                    <tr><td><p class="m-0">Remarks : <strong id="tagRemarks"></strong></p></td></tr>
                                    <tr><td><p class="m-0">Party Name : <strong id="tagPartyName"></strong></p></td></tr>
                                    <tr><td><p class="m-0">Demand List No. : <strong id="tagDemandListNo"></strong></p></td></tr>
                                    <tr><td><p class="m-0">L&B No - Date : <strong id="tagLBDate"></strong></p></td></tr>
                                    <tr><td><p class="m-0">L.A.C. No : <strong id="tagLACNo"></strong></p></td></tr>
                                    <tr><td><p class="m-0">R.F.A.No : <strong id="tagRFANo"></strong></p></td></tr>
                                    <tr><td><p class="m-0">S.L.P. No : <strong id="tagSLANo"></strong></p></td></tr>
                                    <tr><td><p class="m-0">Court Involved : <strong id="tagCourt"></strong></p></td></tr>
                                    <tr><td><p class="m-0">Payble Amount : <strong id="tagPayableAmt"></strong></p></td></tr>
                                    <tr><td><p class="m-0">Appealable Amount : <strong id="tagAppealableAmt"></strong></p></td></tr>
                                </tbody>
                            </table>
                            @*<p class="m-0">Village Name : <strong id="tagVillageName"></strong></p>
                            <p class="m-0">Khasra No : <strong id="tagKhasra"></strong></p>
                            <p class="m-0">Area (Bigha - Biswa - Biswansi)(ACRE) : <strong id="tagArea"></strong></p>
                            <p class="m-0">Notification(s) US-4 : <strong id="tagUs4"></strong></p>
                            <p class="m-0">Notification(s) US-6 : <strong id="tagUs6"></strong></p>
                            <p class="m-0">Notification(s) US-17 : <strong id="tagUs17"></strong></p>
                            <p class="m-0">Notification(s) US-22 : <strong id="tagUs22"></strong></p>
                            <p class="m-0">Award(s) : <strong id="tagAward"></strong></p>
                            <p class="m-0">Date of Possession : <strong id="tagPossessionDate"></strong></p>
                            <p class="m-0">Date of Allotment : <strong id="tagAllotmentDate"></strong></p>
                            <p class="m-0">Transfer Department : <strong id="tagTransferDepartment"></strong></p>
                            <p class="m-0">Scheme Transfer : <strong id="tagSchemeTransfer"></strong></p>
                            <p class="m-0">Remarks : <strong id="tagRemarks"></strong></p>
                            <p class="m-0">Party Name : <strong id="tagPartyName"></strong></p>
                            <p class="m-0">Demand List No. : <strong id="tagDemandListNo"></strong></p>
                            <p class="m-0">L&B No - Date : <strong id="tagLBDate"></strong></p>
                            <p class="m-0">L.A.C. No : <strong id="tagLACNo"></strong></p>
                            <p class="m-0">R.F.A.No : <strong id="tagRFANo"></strong></p>
                            <p class="m-0">S.L.P. No : <strong id="tagSLANo"></strong></p>
                            <p class="m-0">Court Involved : <strong id="tagCourt"></strong></p>
                            <p class="m-0">Payble Amount : <strong id="tagPayableAmt"></strong></p>
                            <p class="m-0">Appealable Amount : <strong id="tagAppealableAmt"></strong></p>*@

                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS , any custom js-->
    <partial name="../Shared/_ValidationScriptsPartial.cshtml" />
    <environment include="Development">
        <script src="~/js/main.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/main.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <environment include="Development">
        <script src="~/js/gisindex.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/gisindex.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <environment include="Development">
        <script src="~/js/Zoom.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Zoom.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/fullscreen.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/fullscreen.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/gOverlay.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/gOverlay.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/common.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/common.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/lib/toaster/toastr.min.js"></script>

    @*Jquery for Autocomplete Start*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*Jquery for Autocomplete End*@

</body>
</html>
