@{Layout = null;}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKdXoEy8iDv_7yvzRJkH2mW9LFieOIT4g&libraries=places"></script>
    <link href="~/img/favicon.ico" rel="shortcut icon" type="image/x-icon" sizes="16x16" />
    <link rel="icon" href="~/img/favicon.png" type="image/png" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Site Title-->
    <title>DDA! MAP</title>

    <!--font css-->
    <link href="~/font/open-sans/stylesheet.css" rel="stylesheet">
    <link href="~/css/gisindex.css" rel="stylesheet" />
    <!--icon css-->
    <link rel="stylesheet" href="~/font/icon/remixicon.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link href="~/lib/toaster/toastr.min.css" rel="stylesheet" />
</head>
<body>
    <section class="map-section">
        <!--live map-->
        <div class="liveMap" id="map-canvas">
            @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d448181.163741622!2d76.81306442366602!3d28.64727993557044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x37205b715389640!2sDelhi!5e0!3m2!1sen!2sin!4v1612367296523!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>*@
        </div>
        <!--live map end-->
        <div class="container-fluid p-4 MapContent position-relative" id="topRightActionButton">
            <!--top buttons-->
            <div class="text-right TopActionBtns">
                <a href="/GIS/Index" class="btn actionBtn slow" title="Home">
                    <i class="ri-home-4-line"></i>
                </a>
                <a href="#" class="btn actionBtn slow" title="Print" onclick="printMaps();" id="printDocMob">
                    <i class="ri-printer-line"></i>
                </a>
                @*<a href="#" class="btn actionBtn slow" title="Full Screen">
                        <i class="ri-fullscreen-line"></i>
                    </a>*@
                @*<a href="#" class="btn actionBtn slow" title="User">
                        <i class="ri-login-circle-line"></i>
                    </a>*@
            </div>
            <!--top buttons end-->
            <div id="leftSection" class="leftSection slow">
                <div class="MenuToggle">
                    <i class="ri-arrow-left-s-line slow"></i>
                </div>
                <!--                DDA Logo-->
                <div class="LogoBottom">
                    <img src="~/img/logo.png" alt="logo" />
                </div>
                <!--                DDA Logo end-->
                <!--tab nav bar-->
                <nav>
                    <div class="nav nav-tabs d-flex justify-content-between" id="LeftNavTab" role="tablist">
                        <a class="nav-item nav-link active" id="navListtab" data-toggle="tab" href="#navList" role="tab" aria-controls="navList" aria-selected="true">List</a>
                        <a class="nav-item nav-link" id="navQuerytab" data-toggle="tab" href="#navQuery" role="tab" aria-controls="navQuery" aria-selected="false">Query</a>
                        <a class="nav-item nav-link" id="navLayerstab" data-toggle="tab" href="#navLayers" role="tab" aria-controls="navLayers" aria-selected="false">Layers</a>
                        <a class="nav-item nav-link" id="navLegendstab" data-toggle="tab" href="#navLegends" role="tab" aria-controls="navLegends" aria-selected="false">Legends</a>
                        <a class="nav-item nav-link" id="navInformationtab" data-toggle="tab" href="#navInformation" role="tab" aria-controls="navInformation" aria-selected="false">Information</a>
                    </div>
                </nav>
                <!--tab nav bar end-->
                <!--tab nav content-->
                <div class="tab-content" id="LeftNavTabContent">
                    <div class="tab-pane fade show active" id="navList" role="tabpanel" aria-labelledby="navListtab">
                        <!--search from-->
                        <form class="search">
                            <div class="form-group">
                                <i class="ri-search-line"></i>
                                <input type="search" class="form-control form-control-sm" placeholder="Search Area Name" id="txtSearch">
                            </div>
                        </form>
                        <!--search from end-->
                        <!--data accordion -->
                        <div class="accordion" id="accordionData">
                        </div>
                        <!--data accordion end -->
                    </div>
                    <div class="tab-pane fade" id="navQuery" role="tabpanel" aria-labelledby="navQuerytab">2</div>
                    <div class="tab-pane fade" id="navLayers" role="tabpanel" aria-labelledby="navLayerstab">
                        <div class="accordion" id="navLayersdata">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button px-3 py-2 bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#Infrastructure" aria-expanded="true" aria-controls="Infrastructure">
                                        Important Infrastructure
                                    </button>
                                </h2>
                                <div id="Infrastructure" class="accordion-collapse collapse show" data-bs-parent="#navLayersdata">
                                    <div class="accordion-body p-2">
                                        <table class="table table-sm mb-0">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="chkAllImpInfra">
                                                            <label class="form-check-label" for="AllSelectImportant">
                                                                Select All
                                                            </label>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="chkAbadi" checked="checked">
                                                            <label class="form-check-label" for="chkAbadi">
                                                                Abadi
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-checkbox-blank-fill" style="color: #900C3F"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Water_Connection">
                                                            <label class="form-check-label" for="Water_Connection">
                                                                Water Connection
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-drop-fill" style="color: #8BBDEB"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="HT_Line">
                                                            <label class="form-check-label" for="HT_Line">
                                                                HT Line
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-subtract-line" style="color: #4679BD;"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Electricity_Pole">
                                                            <label class="form-check-label" for="Electricity_Pole">
                                                                Electricity Pole
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-lightbulb-flash-fill" style="color: #333"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Railway_Track">
                                                            <label class="form-check-label" for="Railway_Track">
                                                                Railway Track
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-subtract-fill" style="color: #333"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Sewerage_Connection">
                                                            <label class="form-check-label" for="Sewerage_Connection">
                                                                Sewerage Connection
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-checkbox-blank-fill" style="color: #5B5BA2"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Gas_Connection">
                                                            <label class="form-check-label" for="Gas_Connection">
                                                                Gas Connection
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-database-2-fill" style="color: #333"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Utility">
                                                            <label class="form-check-label" for="Utility">
                                                                Utility
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-checkbox-blank-fill" style="color: #AF7AC5"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            @*<div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed px-3 py-2 bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#Additional" aria-expanded="false" aria-controls="Additional">
                                        Additional Infrastructure
                                    </button>
                                </h2>
                                <div id="Additional" class="accordion-collapse collapse" data-bs-parent="#navLayersdata">
                                    <div class="accordion-body p-2">
                                        <table class="table table-sm mb-0">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="AllSelectAdditional">
                                                            <label class="form-check-label" for="AllSelectAdditional">
                                                                Select All
                                                            </label>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Bridge">
                                                            <label class="form-check-label" for="Bridge">
                                                                Bridge
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-gradienter-fill" style="color: #4679BD"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Green_Belt">
                                                            <label class="form-check-label" for="Green_Belt">
                                                                Green Belt
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-checkbox-blank-fill" style="color: #55E82D"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Footpath">
                                                            <label class="form-check-label" for="Footpath">
                                                                Footpath
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-checkbox-blank-fill" style="color: #BFC0C0;"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Lamp_Post">
                                                            <label class="form-check-label" for="Lamp_Post">
                                                                Lamp Post
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-map-pin-3-fill" style="color: #FF0000"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Metro_Station">
                                                            <label class="form-check-label" for="Metro_Station">
                                                                Metro Station
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-train-fill" style="color: #cc00ff"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed px-3 py-2 bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#Miscellaneous" aria-expanded="false" aria-controls="Miscellaneous">
                                        Miscellaneous
                                    </button>
                                </h2>
                                <div id="Miscellaneous" class="accordion-collapse collapse" data-bs-parent="#navLayersdata">
                                    <div class="accordion-body p-2">
                                        <table class="table table-sm mb-0">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="AllSelectMiscellaneous">
                                                            <label class="form-check-label" for="AllSelectMiscellaneous">
                                                                Select All
                                                            </label>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Boundary">
                                                            <label class="form-check-label" for="Boundary">
                                                                Boundary
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-checkbox-blank-fill" style="color: #333;"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Sector">
                                                            <label class="form-check-label" for="Sector">
                                                                Sector
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-checkbox-blank-fill" style="color: #393939;"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Others">
                                                            <label class="form-check-label" for="Others">
                                                                Others
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-checkbox-blank-fill" style="color: #ffc34d"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Water_Tanks">
                                                            <label class="form-check-label" for="Water_Tanks">
                                                                Water HEAD Tanks
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-water-flash-fill" style="color: #b3b3ff"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Parking">
                                                            <label class="form-check-label" for="Parking">
                                                                Parking
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-car-fill" style="color: #bf80ff"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Water_Body">
                                                            <label class="form-check-label" for="Water_Body">
                                                                Water Body
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-drop-fill" style="color: #B2D1EA"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Nala">
                                                            <label class="form-check-label" for="Nala">
                                                                Nala
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-checkbox-blank-fill" style="color: #99ffcc"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Police_Station">
                                                            <label class="form-check-label" for="Police_Station">
                                                                Police Station
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-secure-payment-fill" style="color: #F76085"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Fire_Stations">
                                                            <label class="form-check-label" for="Fire_Stations">
                                                                Fire Stations
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-fire-fill" style="color: #cc0000"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Telecom_Towers">
                                                            <label class="form-check-label" for="Telecom_Towers">
                                                                Telecom Towers
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-cellphone-fill" style="color: #009688;"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="Encroachment_Area">
                                                            <label class="form-check-label" for="Encroachment_Area">
                                                                Encroachment Area
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-right" align="right"><i class="ri-checkbox-blank-fill" style="color: #afaf45"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>


                    <div class="tab-pane fade" id="navLegends" role="tabpanel" aria-labelledby="navLegendstab">4</div>
                    <div class="tab-pane fade" id="navInformation" role="tabpanel" aria-labelledby="navInformationtab">5</div>
                </div>
                <!--tab nav content end-->
                <!--                tab nav content end-->
                <!--area text-->
                <p style="font-size: .7rem" class="my-2">
                    State : <strong class="text-dark">Delhi</strong><br />
                    No of Zones : <strong class="text-dark">18</strong><br />
                    Total Area : <strong class="text-dark">366704 Acres</strong>
                </p>
            </div>
            <!--bottom btns-->
            <div class="text-right BottomActionBtns" id="rightsidebuttons">
                <div class="btn actionBtn slow" id="TransparencyRange">
                    <i class="ri-search-eye-line"></i>
                    <div class="TransparencyMap openAction">
                        <small class="d-block">Transparency : <strong id="demo">30</strong>%</small>
                        <input type="range" min="0.0" max="1.0" value="0.30" step="0.01" class="slider" id="OpacityRange">
                    </div>
                </div>
                <div class="btn actionBtn slow" id="MapOption">
                    <i class="ri-map-2-line"></i>
                    <div class="openAction MapOption">
                        <div class="mapImg">
                            <a href="#" class="d-block mb-2" title="Road Map">
                                <figure class="rounded" id="maproad">
                                    <img src="~/img/Roadmap.jpg" alt="Road Map" />
                                    <figcaption class="text-center py-1 w-100 d-block bg-primary text-white">Road Map</figcaption>
                                </figure>
                            </a>
                            <a href="#" class="d-block mb-2" title="Topographic Map">
                                <figure class="rounded" id="maphybrid">
                                    <img src="~/img/Topographicmap.jpg" alt="Topographic Map" />
                                    <figcaption class="text-center py-1 w-100 d-block bg-primary text-white">Topographic Map</figcaption>
                                </figure>
                            </a>
                            <a href="#" class="d-block" title="Satallite Map">
                                <figure class="rounded" id="mapsatellite">
                                    <img src="~/img/satelite.jpg" alt="Satallite Map" />
                                    <figcaption class="text-center py-1 w-100 d-block bg-primary text-white">Satallite Map</figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                @*<div class="btn actionBtn p-0">
                        <a href="#" class="btn actionBtn m-0">
                            <i class="ri-subtract-line"></i>
                        </a>|
                        <a href="#" class="btn actionBtn m-0">
                            <i class="ri-add-fill"></i>
                        </a>
                    </div>*@
            </div>
            <!--bottom btns end-->
        </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS , any custom js-->
    <partial name="../Shared/_ValidationScriptsPartial.cshtml" />
    <environment include="Development">
        <script src="~/js/main.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/main.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <environment include="Development">
        <script src="~/js/gisindex.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/gisindex.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <environment include="Development">
        <script src="~/js/Zoom.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Zoom.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/fullscreen.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/fullscreen.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/gOverlay.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/gOverlay.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/common.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/common.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/lib/toaster/toastr.min.js"></script>

    @*Jquery for Autocomplete Start*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*Jquery for Autocomplete End*@

    @*<script src="~/js/main.js"></script>
        <script src="~/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/js.js"></script>
        <script src="~/js/site.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/Zoom.js"></script>
        <script src="~/js/fullscreen.js"></script>*@
</body>
</html>
