@model Libraries.Model.Entity.Khasra
@await Component.InvokeAsync("PageHeader", new { pageName = "Village Khasra Report" })


<div class="pt-3">
    <div class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Details <span class="ms-auto"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span> </h3>


        <div class="row">
            <div class="form-group col-md-6">
                <div class="floating-label-wrap">
                    <select required class="floating-label-field floating-label-field--s3" asp-for="AcquiredlandvillageId"
                            asp-items="@(new SelectList(Model.VillageList, "Id","Name"))"
                            onchange="return onChange(this.options[this.selectedIndex].value);">
                        <option value="0">All</option>
                    </select>
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="AcquiredlandvillageId"></span>
                    <label asp-for="AcquiredlandvillageId" class="floating-label">Village<span style="color:red">*</span></label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="floating-label-wrap">
                    <select required class="floating-label-field floating-label-field--s3" asp-for="Name"
                            asp-items="@(new SelectList(Model.KhasraList, "Id","Name"))">
                        <option value="0">All</option>
                    </select>
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="Name"></span>
                    <label asp-for="Name" class="floating-label">Khasra No<span style="color:red">*</span> </label>
                </div>
            </div>
        </div>


        <div class="row mt-md-3">
            <div class="col-md-12 col-xl-3">
                <div class="row">
                    <div class="col-6 col-md-5 col-xl-6">
                        <button id="btnReset" class="btn btn-link btn-block d-flex align-items-center justify-content-center" type="reset">
                            <i class="ri-refresh-line me-2"></i>Reset
                        </button>
                    </div>
                    <div class="col-6 col-md-7 col-xl-6">

                        <input type="submit" value="Generate" id="btnGenerate" class="btn btn-theme" />

                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="table-section bg-white border shadow rounded">
        <div class="short-section d-md-flex align-items-center">
            <div class="p-3 d-flex align-items-end me-auto">
                <div class="floating-label-wrap">
                    <select id="ddlSort" class="floating-label-field floating-label-field--s3">
                        <option value="Village"> Village</option>
                        <option value="Khasra"> Khasra</option>


                    </select>
                    <label for="field-1" class="floating-label">Sort by</label>
                </div>
                <div class="short-btn d-flex align-items-center">
                    <span class="btn slow active" id="btnAscending" title="Ascending order"><i class="ri-sort-asc"></i></span>
                    <span class="btn slow" id="btnDescending" title="Descending order"><i class="ri-sort-desc"></i></span>
                </div>
            </div>


            <div class="download-table d-flex align-items-center px-3 mb-3 mb-md-0">
               
                <a href="#" id="btndownload" class="d-flex align-items-center btn btn-success">
                    <i class="ri-download-2-line me-2 me-lg-1"></i>
                    <small>Download</small>
                </a>
            </div>
        </div>
        <div class="table-responsive px-2">
            <div id="LoadReportView">

            </div>
        </div>
    </div>

</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/villagekhasrareportindex.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/villagekhasrareportindex.min.js" asp-append-version="true"></script>
</environment>
