@model Libraries.Model.Entity.Premiumrate
@await Component.InvokeAsync("PageHeader", new { pageName = "Premium Rate" })

<div class="pt-3">
    <form asp-action="Create" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Add Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="LeasePurposesTypeId" asp-items="@(new SelectList(Model.LeasePurposeList, "Id","PurposeUse"))"
                            onchange="return onChange(this.options[this.selectedIndex].value);">
                        <option disabled="disabled" selected value="">Select</option>



                    </select>
                    <span asp-validation-for="LeasePurposesTypeId" class="text-danger"></span>
                    <label class="floating-label">Purpose<span style="color:red">*</span> </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="LeaseSubPurposeId" asp-items="@(new SelectList(Model.LeaseSubPurposeList, "Id","SubPurposeUse"))">
                        <option value="">--Select-- </option>
                    </select>




                    <span asp-validation-for="LeaseSubPurposeId" class="text-danger"></span>
                    <label class="floating-label">SubPurpose<span style="color:red">*</span> </label>
                </div>
            </div>
            
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="FromDate" placeholder="Name" type="date"
                           class="floating-label-field floating-label-field--s3 " value="" />
                    <span asp-validation-for="FromDate" class="text-danger"></span>
                    <label class="floating-label">From Date<span style="color:red">*</span>    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="ToDate" placeholder="Name" type="date"
                           class="floating-label-field floating-label-field--s3 " value="" />
                    <span asp-validation-for="ToDate" class="text-danger msg"></span>
                    <label class="floating-label">  To Date <span style="color:red">*</span>  </label>
                </div>
            </div>
          

        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="PremiumRate" placeholder="Name" type="text"
                           class="floating-label-field floating-label-field--s3 numbers" value="" />
                    <span asp-validation-for="PremiumRate" class="text-danger"></span>
                    <label class="floating-label">Premium Rate <span style="color:red">*</span>  </label>
                </div>
            </div>
            <div class=" col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="IsActive">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label asp-for="IsActive" class="floating-label">Status </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="submit">Submit</button>
                @Html.ActionLink("Back", "Index", "Premiumrate", null, new { @class = "btn btn-theme " })
            </div>
        </div>
    </form>
</div>



<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/premiumrate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/premiumrate.min.js" asp-append-version="true"></script>
</environment>
