@*@model Libraries.Model.Entity.Propertyregistration*@

<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left color-white" style="margin-top:5px; color:white;">Case Hearing Report </h6>
                <i class="glyphicon glyphicon-arrow-right pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />


<div class="container-fluid">
    <div class="panel">
        <div class="panel-heading  myapp-hed1">
            <h6 class="pull-left color-white" style="margin-top:-0.4%;color:white;">Details</h6>
        </div>
        <div class="panel-body">
            @*<form>*@
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label lb-sm">Hearing From Date</label>
                   <input type="date" class="form-control" />
                    <span class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label lb-sm">Hearing To Date</label>
                    <input type="date" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                
            </div>

            

            



            @*<div class="row">

                    <div class="form-group col-md-4">
                        <label class="control-label lb-sm" asp-for="DivisionId">Division</label>
                        <select class="form-control dda-dropdown" asp-for="DivisionId">
                            <option value="0">All</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label lb-sm" asp-for="LocalityId">Locality(Village)</label>
                        <select class="form-control dda-dropdown" asp-for="LocalityId">
                            <option value="0">All</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label lb-sm" asp-for="PlannedUnplannedLand">Planned/Unplanned Land</label>
                        <select class="form-control dda-dropdown" asp-for="PlannedUnplannedLand">
                            <option value="0">All</option>
                            <option value="Planned Land">Planned Land</option>
                            <option value="Unplanned Land">Unplanned Land</option>
                        </select>

                    </div>
                </div>*@



            <div class="row ">
                <div class="form-group col-md-12" style="margin-bottom:40px;">
                    <input type="submit" value="Generate" id="btnGenerate" class="btn btn-primary myapp-hed1" />
                    @Html.ActionLink("Back", "Create", "CaseHearingReport", null, new { @class = "btn btn-primary myapp-hed1" })
                </div>
            </div>

            <div id="LoadReportView">
                <div class="card  table-card " style="overflow:scroll;">

                    <table class="table table-responsive table-bordered table-card">
                        <thead class="thead">
                            <tr>

                                <th>Sr.No</th>
                                <th>Legal File No </th>
                                <th>Case No </th>
                                <th>Case Title </th>
                                <th>Subject</th>
                                <th>Hearing Date</th>
                                <th>Next Date of Hearing(NDOH)</th>
                                <th>Case Type</th>
                                <th>In Favour</th>
                                <th>Panel Laywer</th>
                                <th>Stay Interim Granted</th>
                                <th>Judgement</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            <tr>
                                <td>1</td>
                                <td>F123456 </td>
                                <td>11111</td>
                                <td>CaseTitle</td>
                                <td></td>
                                <td>20-Aug-2020</td>
                                <td></td>
                                <td>Other</td>
                                <td>DDA</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>general remarks </td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            @*</form>*@
        </div>
    </div>
</div>

<br />
<br />


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
@*<environment include="Development">
        <script src="~/js/propertyregisterationreportcreate.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/propertyregisterationreportcreate.js" asp-append-version="true"></script>
    </environment>*@
