@model Libraries.Model.Entity.Legalmanagementsystem
@await Component.InvokeAsync("PageHeader", new { pageName = "Case Hearing Report" })


<div class="pt-3">
    <div class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Details</h3>
        <div class="row">

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="date" asp-for="HearingDate" placeholder="Date" id="txtHearingDate" class="floating-label-field floating-label-field--s3" value="" />
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="HearingDate"></span>
                    <label class="floating-label">Hearing From Date</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="date" asp-for="NextHearingDate" placeholder="Date" id="txtNextHearingDate" class="floating-label-field floating-label-field--s3" value="" />
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="NextHearingDate"></span>
                    <label class="floating-label"> Hearing To Date</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-12 ">
                <input type="submit" value="Generate" id="btnGenerate" class="btn btn-theme" />
                <input type="button" value="Reset" onclick="location.reload(true);" class="btn btn-theme" />
            </div>
        </div>
    </div>
    <div class="table-section bg-white border shadow rounded">
        <div class="short-section d-md-flex align-items-center">
            <div class="p-3 d-flex align-items-end me-auto">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" id="ddlSort">
                        <option selected="selected" disabled="disabled">Select One</option>
                        <option value="HearingDate">Hearing Date</option>
                        <option value="FileNo">File No.</option>
                    </select>
                    <label for="field-1" class="floating-label">Sort by</label>
                </div>
                <div class="short-btn d-flex align-items-center">
                    <span class="btn slow active"   id="btnDescending"  title="Descending order"><i class="ri-sort-desc"></i></span>
                    <span class="btn slow" title="Ascending order" id="btnAscending"><i class="ri-sort-asc"></i></span>
                </div>
            </div>
            <div class="download-table d-flex align-items-center px-3 mb-3 mb-md-0">
                <a href="#" id="btndownload" class="d-flex align-items-center btn btn-success">
                    <i class="ri-download-2-line me-2 me-lg-1"></i>
                    <small>Download</small>
                </a>
            </div>
        </div>
        <div class="table-responsive px-2">
            <div id="LoadReportView">

            </div>
        </div>
    </div>

</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/legalmanagementsytemreportindex.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/legalmanagementsytemreportindex.min.js" asp-append-version="true"></script>
</environment>
