<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/toaster/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/styles.css" rel="stylesheet" />

    <style>
        .canvasjs-chart-credit {
            display: none !important;
        }

        .btn {
            width: 100px;
        }

        .nav li {
            background: #3e4a9a;
        }
    </style>

    <style>

        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 50px;
            margin-top: 50px;
            margin-bottom: -10px;
        }
    </style>
</head>

<body style="font-family:sans-serif">
    <header class="navbar navbar-custom navbar-fixed-top" style="min-height:30px;height:30px; Background: linear-gradient(to left, #9e1c32, #991141, #900f50, #83155d, #721e68, #68226f, #5d2675, #4f2a7a, #492b80, #422c85, #392e8b, #2c3091); " role="navigation">
        <div class="col-md-offset-11" style="color:#fff; padding-top:6px; font-size:13px">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" style="background-color:#991141; border:#991141; margin-top:-25px; margin-left:-20px; color:white;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa-user-circle fa"></i> Hi, DDA
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="/Login/Create">Logout</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </div>
            @*<a data-toggle="collapse" href="#sub-item-4" style="Background: linear-gradient(to left, #9e1c32, #991141, #900f50, #83155d, #721e68, #68226f, #5d2675, #4f2a7a, #492b80, #422c85, #392e8b, #2c3091); ">
                     Hi DDA <span data-toggle="collapse" href="#sub-item-4" ><i class="fa-angle-down fa"></i></span>
                </a>
                <ul class="children collapse" id="sub-item-4">
                    <li>
                        <a class="" href="/PropertyRegistration/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Property Registration
                        </a>
                    </li>
                </ul>*@

            @*<i class="fa-user-circle fa"></i> Hi, DDA <i class="fa-angle-down fa"></i>*@
        </div>
    </header>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 col-md-2 sidebar" style="position: fixed;Font-size: 14px; color: #ffffff; Background: #2c3091;margin-top:-30px;">
        <div role="separator" class="divider">
            <img src="~/images/DDAL.JPG" height="70" class="img-responsive" alt="">
        </div>
        <hr style="color:darkblue; border-top: 1px solid #534e9a ;" />
        <div style="padding-left:10px; padding-right:10px;">
            <a href="/Dashboard/Index"><h4 style="color:#fff;">Dashboard <span data-toggle="collapse" href="#sub-item-0" class="icon pull-right"><em class="fa-dashboard fa"></em></span></h4>  </a>
        </div>
        <ul class="nav menu" style="font-family:sans-serif; font-size:13px!important;">
            @*<li class=""><a href="#"><h4 style="color:#fff;">Dashboard <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa-dashboard fa"></em></span></h4>  </a></li>*@
            <li class=""></li>

            <li class="parent divider">
                <a data-toggle="collapse" href="#sub-item-1">
                    <em class="fa fa-asterisk">&nbsp;</em> Masters<span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa-angle-right fa"></em></span>
                </a>
                <ul class="children collapse" id="sub-item-1">

                    <li>
                        <a class="" href="/District/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>District Master
                        </a>
                    </li>
                    <li>
                        <a class="" href="/Department/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Department Master
                        </a>
                    </li>
                    <li>
                        <a class="" href="/Zone/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Zone Master
                        </a>
                    </li>
                    <li>
                        <a class="" href="/Locality/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Locality Master
                        </a>
                    </li>
                    <li>
                        <a class="" href="/MasterDivisions/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Divisions Master
                        </a>
                    </li>
                    <li>
                        <a class="" href="/VillageMaster/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Village Master
                        </a>
                    </li>
                    <li>
                        <a class="" href="/Designation/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Designation Master
                        </a>
                    </li>
                    <li>
                        <a class="" href="/EmployeeMaster/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Employee Master
                        </a>
                    </li>
                    <li>
                        <a class="" href="/Role/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Role Master
                        </a>
                    </li>
                    <li>
                        <a class="" href="/ModuleMaster/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Module Master
                        </a>
                    </li>
                    <li>
                        <a class="" href="/PageMaster/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Page Master
                        </a>
                    </li>
                    <li>
                        <a class="" href="/UserManagement/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>User Management Master
                        </a>
                    </li>
                    <li>
                        <a class="" href="/InterestMaster/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Interest Master
                        </a>
                    </li>
                    <li>
                        <a class="" href="/RateMaster/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Rate Master
                        </a>
                    </li>
                    <li>
                        <a class="" href="/RebateMaster/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Rebate Master
                        </a>
                    </li>
                    <li>
                        <a class="" href="/NotificationMaster/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Notification Master
                        </a>
                    </li>
                    <li>
                        <a class="" href="/PageRoleMaster/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Page Role Master
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>

    <partial name="_CookieConsentPartial" />
    <div class="col-lg-10 col-md-10 col-md-offset-2" style="padding-left:0; margin-top:-2%;">
        <div class="row">
            <img src="http://res.cloudinary.com/deb9cwxor/image/upload/v1595791041/oy34mzpbprqa1fwnbxgd.jpg" height="75" style="position: relative; z-index: 0; width:100%;" />
        </div>
        @RenderBody()
    </div>

    <footer style="background: linear-gradient(to left,#9e1c32, #991141, #900f50,#83155d, #721e68, #68226f,#5d2675,#4f2a7a, #492b80,#422c85, #392e8b,#2c3091); Color: #ffffff; Font-size: 0.80rem; Font-Family: Open SansRegular;">
        <div class="col-sm-12" style="color: #f8f8f8; float: none; font-family:sans-serif; font-size:11px; line-height: 150%; padding: 5px 25px 0px 10px; text-align: left; width: auto; ">
            <div class="pull-left">
                Terms & Conditions | Privacy Policy | Copyright Policy | Hyperlink policy |  Accessibility Statement | Help <br />
                © Content Owned by DDA, Government of India.
            </div>

            <div class="pull-right" style="padding-left:40%; text-align: right; width: auto; ">
                <table>
                    <tr>
                        <td>
                            <a href="#" style="color:#fff;">
                                Contact with us: &nbsp; <i class="fa fa-facebook" style="color:#ffffff;"></i> &nbsp; <i class="fa fa-twitter" style="color:#ffffff;"></i>&nbsp; <i class="fa fa-youtube" style="color:#ffffff;"></i><br /><span>Visitors: 137713714, last Updated On: 31/07/2020</span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/chart.js/dist/Chart.min.js"></script>
    <script src="~/lib/toaster/toastr.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/styles.css" rel="stylesheet" />
    @RenderSection("Scripts", required: false)
    @Html.Raw(ViewBag.Message)
</body>
</html>
