<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" sizes="16x16" />
    <link rel="icon" href="~/images/favicon.png" type="image/png" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Dashboard</title>
    <!--font css-->
    <link rel="stylesheet" href="~/font/open-sans/stylesheet.css" />

    <!--icon css-->
    <link rel="stylesheet" href="~/font/icon/remixicon.css" />

    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/lib/toaster/toastr.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/lib/select2/select2.css" rel="stylesheet" />
    <script src="~/lib/select2/select2.js"></script>

</head>
<body class="bg-gray">
    <div class="top-header">
        <header>
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <div class="menu mr-3 p-2 text-white order-md-2 mr-md-auto open" id="mobileMenu">
                        <i class="ri-menu-fold-line"></i>
                        <i class="ri-menu-unfold-line"></i>
                    </div>
                    <div class="logo py-1 mr-auto mr-md-4 order-md-1">
                        <a href="/" class="d-block">
                            <figure class="m-0">
                                <img src="~/images/header-logo.png" alt="" class="img-fluid">
                            </figure>
                        </a>
                    </div>
                    <div class="dropdown noti text-white my-2  mr-3 order-md-3">
                        <a href="#" role="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='p-2 d-block text-white no-dec'>
                            <i class="ri-notification-2-line"></i>
                            <small class="bg-success rounded-circle position-absolute nofi-active">99</small>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notification">
                            <ul class="list-unstyled m-0 p-0">
                                <li class="px-3">
                                    <a href="#" class="d-flex align-items-center py-2 border-bottom">
                                        <div class="noti-time text-center pr-2">
                                            <i class="ri-discuss-line"></i>
                                            <small class="d-block w-100">12:00</small>
                                        </div>
                                        <p class="m-0 text-truncate text-left">
                                            Some notification message new message
                                            <small class="d-block text-truncate text-left">Lorem Ipsum is simply dummy text dummy text</small>
                                        </p>
                                    </a>
                                </li>
                                <li class="px-3">
                                    <a href="#" class="d-flex align-items-center py-2 border-bottom read">
                                        <div class="noti-time text-center pr-2">
                                            <i class="ri-discuss-line"></i>
                                            <small class="d-block w-100">2 Days</small>
                                        </div>
                                        <p class="m-0 text-truncate text-left">
                                            Some notification message new message
                                            <small class="d-block text-truncate text-left">Lorem Ipsum is simply dummy text dummy text</small>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    @await Component.InvokeAsync("SignInProfile")
                </div>
            </div>
        </header>
    </div>
    <aside class="left-menu small slow" id="leftMenu">
        <div class="accordion" id="leftMenu">
            <a class="no-dec d-flex align-items-center collapsed active" data-toggle="collapse" href="#m0" role="button" aria-expanded="false" aria-controls="m0">
                <i class="main-icon ri-dashboard-line"></i>
                <span class="text mr-auto">Dashboard</span>
                <i class="arrow ri-arrow-drop-down-line slow"></i>
            </a>
            <a class="no-dec d-flex align-items-center collapsed" data-toggle="collapse" href="#m1" role="button" aria-expanded="false" aria-controls="m1">
                <i class="main-icon ri-group-line"></i>
                <span class="text mr-auto">Master</span>
                <i class="arrow ri-arrow-drop-down-line slow"></i>
            </a>
            <div class="collapse sub-menu" id="m1" data-parent="#leftMenu">
                <ul class="list-unstyled m-0 p-0">
                    <li>
                        <a href="/district" class="d-block">District</a>
                    </li>
                    <li>
                        <a href="/department" class="d-block">Department</a>
                    </li>
                    <li>
                        <a href="/zone" class="d-block">Zone</a>
                    </li>
                    <li>
                        <a href="/division" class="d-block">Division</a>
                    </li>
                    <li>
                        <a href="/locality" class="d-block">Locality</a>
                    </li>

                    <li>
                        <a href="/village" class="d-block">Village</a>
                    </li>

                    <li>
                        <a href="/usermanagement" class="d-block">User Management</a>
                    </li>
                    <li>
                        <a href="/role" class="d-block">Role</a>
                    </li>

                    <li>
                        <a href="/module" class="d-block">Module</a>
                    </li>


                    <li>
                        <a href="/page" class="d-block">Page</a>
                    </li>
                    <li>
                        <a href="/employee" class="d-block">Employee</a>
                    </li>

                    <li>
                        <a href="/menu" class="d-block">Menu</a>
                    </li>



                    <li>
                        <a href="/designation" class="d-block">Designation</a>
                    </li>
                    <li>
                        <a href="/interest" class="d-block">Interest</a>
                    </li>
                </ul>
            </div>
            <a class="no-dec d-flex align-items-center collapsed" data-toggle="collapse" href="#m2" role="button" aria-expanded="false" aria-controls="m2">
                <i class="main-icon ri-landscape-line"></i>
                <span class="text mr-auto">New Land Acquisition</span>
                <i class="arrow ri-arrow-drop-down-line slow"></i>
            </a>
            <div class="collapse sub-menu" id="m2" data-parent="#leftMenu">
                <ul class="list-unstyled m-0 p-0">
                    <li>
                        <a href="/" class="d-block">2 Sub-menu</a>
                    </li>
                    <li>
                        <a href="/" class="d-block">2 Sub-menu</a>
                    </li>
                    <li>
                        <a href="/" class="d-block">2 Sub-menu</a>
                    </li>
                </ul>
            </div>
            <a class="no-dec d-flex align-items-center collapsed" data-toggle="collapse" href="#m3" role="button" aria-expanded="false" aria-controls="m3">
                <i class="main-icon ri-sound-module-line"></i>
                <span class="text mr-auto">Acquired Land Information Management Module </span>
                <i class="arrow ri-arrow-drop-down-line slow"></i>
            </a>
            <div class="collapse sub-menu" id="m3" data-parent="#leftMenu">
                <ul class="list-unstyled m-0 p-0">
                    <li>
                        <a href="/" class="d-block">3 Sub-menu</a>
                    </li>
                    <li>
                        <a href="/" class="d-block">3 Sub-menu</a>
                    </li>
                    <li>
                        <a href="/" class="d-block">3 Sub-menu</a>
                    </li>
                </ul>
            </div>
        </div>
    </aside>


    <partial name="_CookieConsentPartial" />
    <section id="rightSection" class="slow bg-gray">
        <div class="container-fluid">
            <div class="section-wraper p-3 pb-md-0">
                @RenderBody()
            </div>
        </div>
    </section>
    <footer class="footer slow">
        <div class="container-fluid">
            <p class="my-0 py-2">
                <a href="#">Terms & Conditions</a>
                | <a href="#">Privacy Policy</a>
                | <a href="#">Copyright Policy</a>
                | <a href="#">Hyperlink policy</a>
                | <a href="#">Accessibility Statement</a>
                | <a href="#">Help</a><br>
                &copy; Content Owned by DDA, Government of India.
            </p>
        </div>
    </footer>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/chart.js/dist/Chart.min.js"></script>
    <script src="~/lib/toaster/toastr.min.js"></script>

    <environment include="Development">
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
    @Html.Raw(ViewBag.Message)
</body>
</html>
