<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>

    @*<script src="~/js/jquery.min.js"></script>*@

    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <script src="~/js/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="~/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Admin/css/datepicker3.css" />
    <link rel="stylesheet" href="~/Admin/css/styles.css" />
    <link rel="stylesheet" href="~/Admin/css/font-awesome.min.css" />

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <style>
        .canvasjs-chart-credit {
            display: none !important;
        }

        .btn {
            width: 100px;
        }

        .nav li {
            background: #3e4a9a;
        }
    </style>

    <style>

        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 50px;
            margin-top: 50px;
            margin-bottom: -10px;
        }
    </style>
</head>

<body style="font-family:sans-serif">
    <header class="navbar navbar-custom navbar-fixed-top" style="min-height:30px;height:30px; Background: linear-gradient(to left, #9e1c32, #991141, #900f50, #83155d, #721e68, #68226f, #5d2675, #4f2a7a, #492b80, #422c85, #392e8b, #2c3091); " role="navigation">
        <div class="col-md-offset-11" style="color:#fff; padding-top:6px; font-size:13px">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" style="background-color:#991141; border:#991141; margin-top:-25px; margin-left:-20px; color:white;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa-user-circle fa"></i> Hi, DDA
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="/Login/Create">Logout</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </div>
            @*<a data-toggle="collapse" href="#sub-item-4" style="Background: linear-gradient(to left, #9e1c32, #991141, #900f50, #83155d, #721e68, #68226f, #5d2675, #4f2a7a, #492b80, #422c85, #392e8b, #2c3091); ">
                     Hi DDA <span data-toggle="collapse" href="#sub-item-4" ><i class="fa-angle-down fa"></i></span>
                </a>
                <ul class="children collapse" id="sub-item-4">
                    <li>
                        <a class="" href="/PropertyRegistration/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Property Registration
                        </a>
                    </li>
                </ul>*@

            @*<i class="fa-user-circle fa"></i> Hi, DDA <i class="fa-angle-down fa"></i>*@
        </div>
    </header>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 col-md-2 sidebar" style="position: fixed;Font-size: 14px; color: #ffffff; Background: #2c3091;margin-top:-30px;">
        <div role="separator" class="divider">
            <img src="~/images/DDAL.JPG" height="70" class="img-responsive" alt="">
        </div>
        <hr style="color:darkblue; border-top: 1px solid #534e9a ;" />
        <div style="padding-left:10px; padding-right:10px;">
            <a href="/Dashboard/Index"><h4 style="color:#fff;">Dashboard <span data-toggle="collapse" href="#sub-item-0" class="icon pull-right"><em class="fa-dashboard fa"></em></span></h4>  </a>
        </div>
        <ul class="nav menu" style="font-family:sans-serif; font-size:13px!important;">
            @*<li class=""><a href="#"><h4 style="color:#fff;">Dashboard <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa-dashboard fa"></em></span></h4>  </a></li>*@
            <li class=""></li>
            <li class="parent divider">
                <a data-toggle="collapse" href="#sub-item-15">
                    <em class="fa fa-bookmark">&nbsp;</em>Court Cases Management<span data-toggle="collapse" href="#sub-item-15" class="icon pull-right"><em class="fa-angle-right fa"></em></span>
                </a>
                <ul class="children collapse" id="sub-item-15">
                    <li>
                        <a class="" href="/Branch/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Branch Master
                        </a>
                    </li>
                    <li>
                        <a class="" href="/CaseNature/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Case Nature
                        </a>
                    </li>
                    <li>
                        <a class="" href="/CaseSubject/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Case Subject
                        </a>
                    </li>
                    <li>
                        <a class="" href="/DecisionType/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Decision Type
                        </a>
                    </li>
                    <li>
                        <a class="" href="/CourtMaster/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Court Master
                        </a>
                    </li>
                    <li>
                        <a class="" href="/CaseHeader/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Case Header Master
                        </a>
                    </li>

                    <li>
                        <a class="" href="/CaseYear/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Case Year
                        </a>
                    </li>
                    <li>
                        <a class="" href="/Employee/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Employee Master
                        </a>
                    </li>
                    <li>
                        <a class="" href="/LawyerMaster/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Lawyer Master
                        </a>
                    </li>
                    <li>
                        <a class="" href="/BuildingPlanning/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Building Planning
                        </a>
                    </li>

                    <li>
                        <a class="" href="/DirectorWorkDept/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Director Work Dept.
                        </a>
                    </li>
                    <li>
                        <a class="" href="/EnforcementDept/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Enforcement Dept.
                        </a>
                    </li>
                    <li>
                        <a class="" href="/EngineeringDept/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Engineering Dept.
                        </a>
                    </li>

                    <li>
                        <a class="" href="/HorticultureDept/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Horticulture Dept.
                        </a>
                    </li>
                    <li>
                        <a class="" href="/Interims/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Interims
                        </a>
                    </li>
                    <li>
                        <a class="" href="/StayInterim/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Manage Stay/Interims
                        </a>
                    </li>

                    <li>
                        <a class="" href="/ManageFinalDecision/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Manage Final Decision
                        </a>
                    </li>
                    <li>
                        <a class="" href="/NazaratFinanceDept/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Nazarat Finance Dept.
                        </a>
                    </li>
                    <li>
                        <a class="" href="/PersonnelVigilanceDetail/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Personnel Vigilance Detail
                        </a>
                    </li>

                    <li>
                        <a class="" href="/StaffQuarters/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Staff Quarters
                        </a>
                    </li>
                    <li>
                        <a class="" href="/CaseDetails/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Case Details
                        </a>
                    </li>
                    <li>
                        <a class="" href="/CaseHearingAppealDetail/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Case Hearing Appeal Details
                        </a>
                    </li>

                    <li>
                        <a class="" href="/LawyerAppointmentDetail/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Lawyer Appointment Details
                        </a>
                    </li>
                    <li>
                        <a class="" href="/LegalDetailsOfHousingDept/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Legal Details Of Housing Dept
                        </a>
                    </li>

                    <li>
                        <a class="" href="/LegalDetailsOfLandDisposalDept/Index">
                            <span class="fa fa-arrow-right">&nbsp;</span>Legal Details Of Land Disposal Dept
                        </a>
                    </li>
                    <li>
                        <a class="" href="/CaseDetailsHousing/Create">
                            <span class="fa fa-arrow-right">&nbsp;</span>Case Details Housing
                        </a>
                    </li>
                    <li>
                        <a class="" href="/CaseDetailsLandDisposal/Create">
                            <span class="fa fa-arrow-right">&nbsp;</span>Case Details Land Disposal
                        </a>
                    </li>
                    <li>
                        <a class="" href="/ListOfCourtCasesForHearingNext/ListOfCourtCasesForHearing_NextHearingDate">
                            <span class="fa fa-arrow-right">&nbsp;</span>List Of Court Cases For Hearing Next Hearing Date
                        </a>
                    </li>
                    <li>
                        <a class="" href="/HearingDetailsLawyerWise/HearingDetailsLawyerWise">
                            <span class="fa fa-arrow-right">&nbsp;</span>Hearing Details Lawyer Wise
                        </a>
                    </li>
                    <li>
                        <a class="" href="/ListofCasesDeptFileNull/ListofCases_Dept_File_Null">
                            <span class="fa fa-arrow-right">&nbsp;</span>List of Cases Dept File Null
                        </a>
                    </li>
                    <li>
                        <a class="" href="/ListOfCourtCasesForHearingLast/ListOfCourtCasesForHearing_LastHearingDate">
                            <span class="fa fa-arrow-right">&nbsp;</span>List Of Court Cases For Hearing Last Hearing Date
                        </a>
                    </li>

                    <li>
                        <a class="" href="/LegalDetailsOfManagementDepttCase/Create">
                            <span class="fa fa-arrow-right">&nbsp;</span>Legal Details Of Management Dept. Case
                        </a>
                    </li>
                    <li>
                        <a class="" href="/ListofPendingCasesCourtwiseCaseTitleWise/PendingCasesCourtwiseCaseTitleWise">
                            <span class="fa fa-arrow-right">&nbsp;</span>List of Pending Cases Court wise Case Title Wise
                        </a>
                    </li>
                    <li>
                        <a class="" href="/ListofPendingCasesYearCaseIDWise/ListofPendingCasesYearCaseIDWise">
                            <span class="fa fa-arrow-right">&nbsp;</span>List of Pending Cases Year Case ID Wise
                        </a>
                    </li>
                    <li>
                        <a class="" href="/ReportLawyerFiledspecifiedPeriodWise/RptLawyerFiledspecifiedPeriod">
                            <span class="fa fa-arrow-right">&nbsp;</span>Report Lawyer File ds pecified Period Wise
                        </a>
                    </li>
                    <li>
                        <a class="" href="/ReportOfCasesBranchCourtWise/RptCasesBranchCourtWise">
                            <span class="fa fa-arrow-right">&nbsp;</span>Report Of Cases Branch Court Wise
                        </a>
                    </li>
                    <li>
                        <a class="" href="/ReportOfCasesBranchLawyerSpecified/RptCasesBranchLawyerSpecified">
                            <span class="fa fa-arrow-right">&nbsp;</span>Report Of Cases Branch Lawyer Specified
                        </a>
                    </li>

                    <li>
                        <a class="" href="/ReportOfCasesBranchLawyerStatusWise/RptBranchLawyerStatusWise">
                            <span class="fa fa-arrow-right">&nbsp;</span>Report Of Cases Branch Lawyer Status Wise
                        </a>
                    </li>
                    <li>
                        <a class="" href="/ReportOfCasesBranchWise/RptCasesBranchWise">
                            <span class="fa fa-arrow-right">&nbsp;</span>Report Of Cases Branch Wise
                        </a>
                    </li>
                    <li>
                        <a class="" href="/ReportOfCasesCourtWise/RptCasesCourtWise">
                            <span class="fa fa-arrow-right">&nbsp;</span>Report Of Cases Court Wise
                        </a>
                    </li>
                    <li>
                        <a class="" href="/FinallyDecided/Create">
                            <span class="fa fa-arrow-right">&nbsp;</span>Finally Decided
                        </a>
                    </li>
                    <li>
                        <a class="" href="/HearingIsDueBranchCourtWise/Create">
                            <span class="fa fa-arrow-right">&nbsp;</span>Hearing Is Due Branch Court Wise
                        </a>
                    </li>
                    <li>
                        <a class="" href="/HearingIsDueDepartmentWiseBranchWise/Create">
                            <span class="fa fa-arrow-right">&nbsp;</span>Hearing Is Due Department Wise Branch Wise
                        </a>
                    </li>
                    <li>
                        <a class="" href="/HearingIsDueForSpecifiedPeriod/Create">
                            <span class="fa fa-arrow-right">&nbsp;</span>Hearing Is Due For Specified Period
                        </a>
                    </li>
                    <li>
                        <a class="" href="/LastHearingIsDueDepartmentBranchWise/Create">
                            <span class="fa fa-arrow-right">&nbsp;</span>Last Hearing Is Due Department Branch Wise
                        </a>
                    </li>
                    <li>
                        <a class="" href="/ListOfPendingCasesCourtWise/Create">
                            <span class="fa fa-arrow-right">&nbsp;</span>List Of Pending Cases Court Wise
                        </a>
                    </li>
                    <li>
                        <a class="" href="/ListOfPendingCasesYearWise/Create">
                            <span class="fa fa-arrow-right">&nbsp;</span>List Of Pending Cases Year Wise
                        </a>
                    </li>
                    <li>
                        <a class="" href="/ListOfUpdationCasesLastHearingDatewise/Create">
                            <span class="fa fa-arrow-right">&nbsp;</span>List Of Updation Cases Last Hearing Date wise
                        </a>
                    </li>
                    <li>
                        <a class="" href="/NextHearingDateDepartmentBranchWise/Create">
                            <span class="fa fa-arrow-right">&nbsp;</span>Next Hearing Date Department Branch Wise
                        </a>
                    </li>
                    <li>
                        <a class="" href="/OrderByNextHearingDateBetweenSpecifiedPeriod/Create">
                            <span class="fa fa-arrow-right">&nbsp;</span>Order By Next Hearing Date Between Specified Period
                        </a>
                    </li>
                    <li>
                        <a class="" href="/StayInterimGranted/Create">
                            <span class="fa fa-arrow-right">&nbsp;</span>Stay Interim Granted
                        </a>
                    </li>
                </ul>
            </li>
           
         


        </ul>
    </div>

    <partial name="_CookieConsentPartial" />
    <div class="col-lg-10 col-md-10 col-md-offset-2" style="padding-left:0; margin-top:-2%;">
        <div class="row">
            <img src="http://res.cloudinary.com/deb9cwxor/image/upload/v1595791041/oy34mzpbprqa1fwnbxgd.jpg" height="75" style="position: relative; z-index: 0; width:100%;" />
        </div>
        @RenderBody()
    </div>

    <footer style="background: linear-gradient(to left,#9e1c32, #991141, #900f50,#83155d, #721e68, #68226f,#5d2675,#4f2a7a, #492b80,#422c85, #392e8b,#2c3091); Color: #ffffff; Font-size: 0.80rem; Font-Family: Open SansRegular;">
        <div class="col-sm-12" style="color: #f8f8f8; float: none; font-family:sans-serif; font-size:11px; line-height: 150%; padding: 5px 25px 0px 10px; text-align: left; width: auto; ">
            <div class="pull-left">
                Terms & Conditions | Privacy Policy | Copyright Policy | Hyperlink policy |  Accessibility Statement | Help <br />
                © Content Owned by DDA, Government of India.
            </div>

            <div class="pull-right" style="padding-left:40%; text-align: right; width: auto; ">
                <table>
                    <tr>
                        <td>
                            <a href="#" style="color:#fff;">
                                Contact with us: &nbsp; <i class="fa fa-facebook" style="color:#ffffff;"></i> &nbsp; <i class="fa fa-twitter" style="color:#ffffff;"></i>&nbsp; <i class="fa fa-youtube" style="color:#ffffff;"></i><br /><span>Visitors: 137713714, last Updated On: 31/07/2020</span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </footer>

    <script src="~/Admin/js/jquery-1.11.1.min.js"></script>
    <script src="~/Admin/js/bootstrap.min.js"></script>
    <script src="~/Admin/js/chart.min.js"></script>
    <script src="~/Admin/js/chart-data.js"></script>
    <script src="~/Admin/js/easypiechart.js"></script>
    <script src="~/Admin/js/easypiechart-data.js"></script>
    <script src="~/Admin/js/bootstrap-datepicker.js"></script>
    <script src="~/Admin/js/custom.js"></script>
    <script>
        window.onload = function () {
            var chart1 = document.getElementById("line-chart").getContext("2d");
            window.myLine = new Chart(chart1).Line(lineChartData, {
                responsive: true,
                scaleLineColor: "rgba(0,0,0,.2)",
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleFontColor: "#c5c7cc"
            });
        };
    </script>
</body>

</html>
