
@{
    ViewData["Title"] = "Index";
}





<style>
    .bg {
        background: linear-gradient(to left, #9e1c32, #991141, #900f50, #83155d, #721e68, #68226f, #5d2675, #4f2a7a, #492b80, #422c85, #392e8b, #2c3091);
    }

    .alert-info {
        color: #31708F;
        background-color: rebeccapurple;
        border-color: #BCE8F1;
    }

    .hedingcss {
        background-color: rebeccapurple;
    }

    .panel-default > .panel-heading-custom {
        background: #2c3091;
        color: #fff;
        height: 44px;
        margin-bottom: 2px;
        font-size: 16px;
    }

    .alert-custom {
        top: -10px;
        color: #fff;
        background: linear-gradient(to left, #9e1c32, #991141, #900f50, #83155d, #721e68, #68226f, #5d2675, #4f2a7a, #492b80, #422c85, #392e8b, #2c3091);
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
    }

    .btn {
        width: 143px !important;
    }
</style>


<style>
    .btn {
        Background: linear-gradient(33deg, #8c1f47,#362c85);
        Font-size: 1.0rem;
        Font-Family: Open SansSemibold;
        color: #ffffff
    }
</style>



<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Delete Properties</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  myapp-hed1">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%">
                List of Deleted Properties
            </h6>
        </div>
        <div class="panel-body">
            <div class="row">

                <div class="col-md-6">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="control-label lb-sm">Select Department </label>
                                <select style="height:30px;    background-color: #dddddd;" required class="form-control">
                                    <option value="dept1">Engineering</option>
                                    <option value="dept2">Land Management</option>
                                    <option value="dept3">MOR</option>
                                    <option value="dept3">Horticulture</option>
                                    <option value="dept3">Pre-Monsoon</option>
                                    <option value="dept3">  Yamuna Flood Plain </option>
                                </select>
                            </div>
                        </div>





                        <br />
                        @*<div class="form-row">
                                <div class="col-md-12" align="center">
                                    <input type="submit" disabled style="margin-top:25px;max-width:100%;width:150px !important;" value="Export to Excel" class="btn btn-primary" />

                                </div>

                            </div>*@
                        <br />

                        <br>


                    </form>
                </div>
                <div class="col-md-6">


                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="control-label lb-sm">Select Zone </label>
                            <select style="height:30px;    background-color: #dddddd;" required class="form-control">
                                <option value="dept1">Zone 1</option>
                                <option value="dept2">Zone 2</option>
                                <option value="dept3">Zone 3</option>SelectZone
                            </select>
                        </div>

                    </div>



                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12">
                    <input type="submit" value="Retrieve Report" style="margin-bottom:30px;max-width:100%;width:150px !important;" class="btn btn-primary" />
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-heading  myapp-hed1">
                        <h6 class="pull-left" style="color:white; margin-top:-0.4%">
                            List of Deleted Properties is as on 05-08-2020 as under:
                        </h6>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-body ">
                            <div class="table-responsive">
                                <table id="mytable" class="table table-striped table-bordered" border="0">
                                    <thead class="thead">
                                        <tr>
                                            <th>Sr.No</th>
                                            <th> Unique ID</th>
                                            <th>Locality </th>
                                            <th>Primary List No </th>
                                            <th>Division</th>
                                            <th>Zone</th>
                                            <th>Reasons</th>
                                            <th> Deleted On</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody">
                                        <tr>
                                            <td>1</td>
                                            <td>2459</td>
                                            <td>RBC Nangal Raya</td>
                                            <td>383 (22)</td>
                                            <td>WD-2</td>
                                            <td>DWARKA</td>
                                            <td>"Allotted To Central Excise Deptt. On 12-12-1996, As Intimated By AE(QRT)HQ, Vide Letter No .F1(11) Status/AE/QRT/HQ/DWK/DDA/2014-2015 Dated : 23-11-2016 To Be Deleted "	</td>
                                            <td>05/12/2016 3:45:23 PM</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>222</td>
                                            <td>Sadhora Khurd</td>
                                            <td>383 (22)</td>
                                            <td>WD-2</td>
                                            <td>DWARKA</td>
                                            <td>"Allotted To Central Excise Deptt. On 12-12-1996, As Intimated By AE(QRT)HQ, Vide Letter No .F1(11) Status/AE/QRT/HQ/DWK/DDA/2014-2015 Dated : 23-11-2016 To Be Deleted "	</td>
                                            <td>05/12/2016 3:45:23 PM</td>
                                        </tr>


                                        <tr>
                                            <td>4</td>
                                            <td>332</td>
                                            <td>Syndicate Encl Harijan Basti Dabri Crossing </td>
                                            <td>383 (22)</td>
                                            <td>WD-2</td>
                                            <td>DWARKA</td>
                                            <td>"Allotted To Central Excise Deptt. On 12-12-1996, As Intimated By AE(QRT)HQ, Vide Letter No .F1(11) Status/AE/QRT/HQ/DWK/DDA/2014-2015 Dated : 23-11-2016 To Be Deleted "	</td>
                                            <td>05/12/2016 3:45:23 PM</td>
                                        </tr>


                                        <tr>
                                            <td>3  </td>
                                            <td>111</td>
                                            <td>RBC Nangal Raya</td>
                                            <td>383 (22)</td>
                                            <td>WD-2</td>
                                            <td>DWARKA</td>
                                            <td>"Allotted To Central Excise Deptt. On 12-12-1996, As Intimated By AE(QRT)HQ, Vide Letter No .F1(11) Status/AE/QRT/HQ/DWK/DDA/2014-2015 Dated : 23-11-2016 To Be Deleted "	</td>
                                            <td>05/12/2016 3:45:23 PM</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                            <div>
                                <input type="submit" value="Export to Excel" class="btn btn-primary" style="width:200px;margin-bottom:20px;" />
                            </div>

                        </div>



                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


