@model Libraries.Model.Entity.Page
@await Component.InvokeAsync("PageHeader", new { pageName = "Page" })
<div class="pt-3">

    <div class="container-fluid">
        <div class="panel">
            
            <div class="panel-body">
                <form asp-action="Create" novalidate="novalidate" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
                    <h3 class="mb-3 d-flex">Add Details</h3>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Menu </label><span style="color:red">*</span>
                            <select class="form-control dda-dropdown" asp-for="MenuId" asp-items="@(new SelectList(Model.MenuList, "Id","Name"))">
                                <option>Select</option>
                            </select>
                            <span asp-validation-for="MenuId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Name </label><span style="color:red">*</span>
                            <input asp-for="Name" class="form-control" limit="300">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm"> Url</label><span style="color:red">*</span>
                            <input type="text" asp-for="Url" class="form-control" limit="500" />
                            <span asp-validation-for="Url" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Status</label>
                            <select asp-for="IsActive" class="form-control dda-dropdown">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="row ">
                        <div class="form-group col-md-12" style="margin-bottom:40px;">
                            <input type="submit" value="Create" class="btn btn-primary dda-pageheading" />
                            @Html.ActionLink("Back", "Index", "Page", null, new { @class = "btn btn-primary dda-pageheading" })
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    </div>
    <partial name="../Shared/_ValidationScriptsPartial.cshtml" />
