@model Libraries.Model.Entity.Demandlistdetails

@await Component.InvokeAsync("PageHeader", new { pageName = "Demand List Details" })
<br />
<br />
<form asp-action="Create" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data" autocomplete="off">
    <h3 class="mb-3 d-flex">
        Add Details
        <span style="margin-left:800px"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span>
    </h3>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div id="allDetails">
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="DemandListNo" type="text" class="floating-label-field floating-label-field--s3 " limit="45">
                    <span asp-validation-for="DemandListNo" class="text-danger"></span>
                    <label class="floating-label">Demand List No.<span style="color:red">*</span></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="Enmsno" type="text" class="floating-label-field floating-label-field--s3 onlynumbers">
                    <span asp-validation-for="Enmsno" class="text-danger"></span>
                    <label class="floating-label">ENM Sr No.<span style="color:red">*</span></label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="file" asp-for="ENMDocumentIFormFile" class="floating-label-field floating-label-field--s3" accept="application/pdf, image/png, image/jpeg">
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="ENMDocumentIFormFile"></span>
                    <label class="floating-label">Upload ENM Document</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="LacfileNo" type="text" class="floating-label-field floating-label-field--s3 " limit="45">
                    <span asp-validation-for="LacfileNo" class="text-danger"></span>
                    <label class="floating-label">LAC File No.</label>
                </div>
            </div>

        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="LbrefDate" type="date" class="floating-label-field floating-label-field--s3 ">
                    <span asp-validation-for="LbrefDate" class="text-danger"></span>
                    <label class="floating-label">L&B Ref. Date</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="Lbno" type="text" class="floating-label-field floating-label-field--s3 " limit="45">
                    <span asp-validation-for="Lbno" class="text-danger"></span>
                    <label class="floating-label">L&B No.</label>
                </div>
            </div>

        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="Rfano" type="text" class="floating-label-field floating-label-field--s3 " limit="45">
                    <span asp-validation-for="Rfano" class="text-danger"></span>
                    <label class="floating-label">RFA No.</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="Lacno" type="text" class="floating-label-field floating-label-field--s3 " limit="45">
                    <span asp-validation-for="Lacno" class="text-danger"></span>
                    <label class="floating-label">LAC No.</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="DdafileNo" type="text" class="floating-label-field floating-label-field--s3 " limit="45">
                    <span asp-validation-for="DdafileNo" class="text-danger"></span>
                    <label class="floating-label">DDA File No.</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="NotificationDate" type="date" class="floating-label-field floating-label-field--s3 ">
                    <span asp-validation-for="NotificationDate" class="text-danger"></span>
                    <label class="floating-label">Date of Notification(U/S-6)</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="AwardNo" type="text" class="floating-label-field floating-label-field--s3 " limit="45">
                    <span asp-validation-for="AwardNo" class="text-danger"></span>
                    <label class="floating-label">Award No.</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="AwardDate" type="date" class="floating-label-field floating-label-field--s3 ">
                    <span asp-validation-for="AwardDate" class="text-danger"></span>
                    <label class="floating-label">Award Date</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="VillageId" asp-items="@(new SelectList(Model.VillageList, "Id","Name"))" onchange="return GetKhasraList(this.options[this.selectedIndex].value);">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="VillageId" class="text-danger"></span>
                    <label asp-for="VillageId" class="floating-label">Village<span style="color:red">*</span></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="KhasraNoId">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="KhasraNoId" class="text-danger"></span>
                    <label asp-for="KhasraNoId" class="floating-label">Khasra No.<span style="color:red">*</span></label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="row mt-md-3">
                    <div class="col-md-4">
                        <label>Payable/Apealable</label>
                    </div>
                    <input type="hidden" asp-for="PayableAppealable" value="Payable" />
                    <div class="col-md-4">
                        <div class="form-check theme">
                            <input class="form-check-input" type="radio" asp-for="PayableAppealable" name="grpPayableApealable" value="Payable" checked>
                            <label class="form-check-label">Payable </label>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check theme">
                            <input class="form-check-input" type="radio" asp-for="PayableAppealable" name="grpPayableApealable" value="Apealable">
                            <label class="form-check-label">Apealable </label>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="PayableAppealable" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <div class="row mt-md-3">
                    <div class="col-md-4">
                        <label>Balance Interest Case</label>
                    </div>
                    <input type="hidden" asp-for="BalanceInterestCase" value="Yes" />
                    <div class="col-md-4">
                        <div class="form-check theme">
                            <input class="form-check-input" type="radio" asp-for="BalanceInterestCase" name="grpBalanceInterestCase" value="Yes" checked>
                            <label class="form-check-label">Yes </label>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check theme">
                            <input class="form-check-input" type="radio" asp-for="BalanceInterestCase" name="grpBalanceInterestCase" value="No">
                            <label class="form-check-label">No </label>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="BalanceInterestCase" class="text-danger"></span>
            </div>
        </div>

        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="row mt-md-3">
                    <div class="col-md-4">
                        <label>Case Involves To Which Court</label>
                    </div>
                    <input type="hidden" asp-for="CourtInvolves" value="A.D.J" />
                    <div class="col-md-2">
                        <div class="form-check theme">
                            <input class="form-check-input" type="radio" asp-for="CourtInvolves" id="rbtadj" name="grpCourtInvolves" value="A.D.J" checked>
                            <label class="form-check-label">A.D.J </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check theme">
                            <input class="form-check-input" type="radio" asp-for="CourtInvolves" id="rbthc" name="grpCourtInvolves" value="H.C">
                            <label class="form-check-label">H.C </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check theme">
                            <input class="form-check-input" type="radio" asp-for="CourtInvolves" id="rbtsc" name="grpCourtInvolves" value="S.C">
                            <label class="form-check-label">S.C </label>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="CourtInvolves" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="EnhancedRatePerBigha" type="text" class="floating-label-field floating-label-field--s3 numbers">
                    <span asp-validation-for="EnhancedRatePerBigha" class="text-danger"></span>
                    <label class="floating-label">Enhanced Rate(per Bigha)</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="ExistingRatePerBigha" type="text" class="floating-label-field floating-label-field--s3 numbers">
                    <span asp-validation-for="ExistingRatePerBigha" class="text-danger"></span>
                    <label class="floating-label">Existing Rate(per Bigha)</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="ApealableAmt" type="text" class="floating-label-field floating-label-field--s3 numbers">
                    <span asp-validation-for="ApealableAmt" class="text-danger"></span>
                    <label class="floating-label">Apealable Amount(Rs.)</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="PayableAmt" type="text" class="floating-label-field floating-label-field--s3 numbers">
                    <span asp-validation-for="PayableAmt" class="text-danger"></span>
                    <label class="floating-label">Payable Amount(Rs.)</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="TotalAmount" type="text" class="floating-label-field floating-label-field--s3 numbers">
                    <span asp-validation-for="TotalAmount" class="text-danger"></span>
                    <label class="floating-label">Total Amount(Rs.)</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="PartyName" type="text" class="floating-label-field floating-label-field--s3 " limit="45">
                    <span asp-validation-for="PartyName" class="text-danger"></span>
                    <label class="floating-label">Party Name</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="Slpno" type="text" class="floating-label-field floating-label-field--s3 " limit="45">
                    <span asp-validation-for="Slpno" class="text-danger"></span>
                    <label class="floating-label">SLP No.</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="ReasonForNonPay" type="text" class="floating-label-field floating-label-field--s3 " limit="4000">
                    <span asp-validation-for="ReasonForNonPay" class="text-danger"></span>
                    <label class="floating-label">Reason of Non Payment</label>
                </div>
            </div>
        </div>
        <h3 class="mb-3 d-flex">
            Appeal Details

        </h3>
        <div class="row mt-md-3">
            <div class="col-md-6 ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="AppealNo" placeholder="Appeal No" type="text"
                           class="floating-label-field floating-label-field--s3" limit="200" />

                    <span asp-validation-for="AppealNo" class="text-danger"></span>

                    <label class="floating-label">Appeal No <span style="color:red">*</span></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <label>
                            Appeal By Department:<span style="color:red">*</span>
                        </label>
                    </div>
                    <div class="col-md-3">
                        <input type="hidden" value="UOI" asp-for="AppealByDept" />

                        <div class="form-check theme">
                            <input class="form-check-input" type="radio" name="villageradio" id="rUOI" value="UOI" checked="checked">
                            <label class="form-check-label" for="radio">
                                UOI
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check theme">
                            <input class="form-check-input" type="radio" name="villageradio" id="rDDA" value="DDA">
                            <label class="form-check-label" for="radio">
                                DDA
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check theme">
                            <input class="form-check-input" type="radio" name="villageradio" id="OtherDDA" value="Department">
                            <label class="form-check-label" for="radio">
                                Other
                            </label>
                        </div>
                    </div>

                </div>
                <span asp-validation-for="AppealByDept" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-md-3" id="Departmentdiv" style="display:none">
            <div class="col-md-6 ">
                <input asp-for="Department" placeholder="Department" type="text"
                       class="floating-label-field floating-label-field--s3" />

                <span asp-validation-for="Department" class="text-danger"></span>

                <label class="floating-label"> Department </label>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6 ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="DateOfAppeal" placeholder="Date Of Appeal" type="Date"
                           class="floating-label-field floating-label-field--s3" />

                    <span asp-validation-for="DateOfAppeal" class="text-danger"></span>

                    <label class="floating-label">Date Of Appeal<span style="color:red">*</span> </label>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="PanelLawer" placeholder="Panel Lawyer" type="text"
                           class="floating-label-field floating-label-field--s3" limit="500" />

                    <span asp-validation-for="PanelLawer" class="text-danger"></span>

                    <label class="floating-label">Panel Lawyer </label>
                </div>
            </div>
        </div>
        <br/>
        <h3 class="mb-3 d-flex">
           Payment Details

        </h3>
        <div class="row mt-md-3">
            <div class="col-md-6 ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="AmountPaid" placeholder="Amount Paid" type="text"
                           class="floating-label-field floating-label-field--s3" limit="18" />

                    <span asp-validation-for="AmountPaid" class="text-danger"></span>

                    <label class="floating-label">Amount Paid (Rs.)<span style="color:red">*</span></label>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="ChequeDate" placeholder="Date Of Appeal" type="Date"
                           class="floating-label-field floating-label-field--s3" />

                    <span asp-validation-for="ChequeDate" class="text-danger"></span>

                    <label class="floating-label">Cheque Date<span style="color:red">*</span> </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6 ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="ChequeNo" type="text"
                           class="floating-label-field floating-label-field--s3" limit="50" />

                    <span asp-validation-for="ChequeNo" class="text-danger"></span>

                    <label class="floating-label">Cheque/RTGS/NEFT/IMPS No<span style="color:red">*</span></label>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="BankName" placeholder="Bank Name" type="text"
                           class="floating-label-field floating-label-field--s3" limit="100" />

                    <span asp-validation-for="BankName" class="text-danger"></span>

                    <label class="floating-label">Bank Name <span style="color:red">*</span></label>
                </div>
            </div>

        </div>
        <div class="row mt-md-3">
            <div class="col-md-6 ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="VoucherNo" placeholder="Cheque No" type="text"
                           class="floating-label-field floating-label-field--s3" limit="100" />

                    <span asp-validation-for="VoucherNo" class="text-danger"></span>

                    <label class="floating-label">Voucher No<span style="color:red">*</span> </label>
                </div>
            </div>

            <div class="col-md-6 ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="PercentPaid" placeholder="Panel Lawyer" type="text"
                           class="floating-label-field floating-label-field--s3" limit="18" />

                    <span asp-validation-for="PercentPaid" class="text-danger"></span>

                    <label class="floating-label">Percent Paid<span style="color:red">*</span> </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="file" asp-for="PaymentProofDocumentIFormFile" class="floating-label-field floating-label-field--s3" accept="application/pdf, image/png, image/jpeg">
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="PaymentProofDocumentIFormFile"></span>
                    <label class="floating-label">Upload Copy of Payment Proof</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            
           
            <div class=" col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="IsActive">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label asp-for="IsActive" class="floating-label">Status<span style="color:red">*</span> </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-12">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <textarea asp-for="Remarks" type="text" class="floating-label-field floating-label-field--s3 " limit="4000"></textarea>
                    <span asp-validation-for="Remarks" class="text-danger"></span>
                    <label class="floating-label">Remarks</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-md-3">
        <div class=" col-md-12">
            <button class="btn btn-theme " type="submit">Submit</button>
            @Html.ActionLink("Back", "Index", "DemandListDetails", null, new { @class = "btn btn-theme " })

        </div>
    </div>

</form>




<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/demandlistdetailscreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/demandlistdetailscreate.min.js" asp-append-version="true"></script>
</environment>

