@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Land Management information System (LMIS)">
    <meta name="keywords" content="DDALMIS/DDA Land Management/DDA Lease Property/ DDA Damage Property ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" sizes="16x16" />
    <link rel="icon" href="~/images/favicon.png" type="image/png" sizes="16x16" />
    <title>Content Review Policy (CRP)</title>
    <!--font css-->
    <link rel="stylesheet" href="~/font/open-sans/stylesheet.css" />

    <!--icon css-->
    <link rel="stylesheet" href="~/font/icon/remixicon.css" />
    <link rel="stylesheet" href="~/css/Footer.css" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/lib/toaster/toastr.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/lib/select2/select2.css" rel="stylesheet" />
    <script src="~/lib/select2/select2.js"></script>
    <link href="~/css/bootstrap/css/bootstrap.css" rel="stylesheet" />

</head>
<body class="bg-gray">
    <div id="loader-wrapper" style="display:none">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div class="top-header">
        <header>
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <div class="menu me-3 p-2 text-white order-md-2 me-md-auto open" id="mobileMenu">
                        @*<i class="ri-menu-fold-line"></i>*@
                        <i class="ri-menu-unfold-line"></i>
                    </div>
                    <div class="logo py-1 me-auto me-md-4 order-md-1">
                        <a href="/" class="d-block">
                            <figure class="m-0">
                                <img src="~/images/header-logo.png" alt="DDA Logo" class="img-fluid">
                            </figure>
                        </a>
                    </div>
                    <div class="dropdown noti text-white my-2  me-3 order-md-3">
                        <a href="~/doc/Acquired land information public interface.pdf" target="_blank" role="button" title="User Manual" class='p-2 d-block text-white no-dec'>
                            <i class="ri-folder-user-fill" style="font-size:20px"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <div class="pt-3">
    </div>

    @* <aside class="left-menu small slow" id="leftMenu">
    <ul class="accordion list-unstyled mb-0">

    </ul>
    </aside>*@

    <partial name="_CookieConsentPartial" />
    <section class="privacy-section bg-gray">
        <div class="container-fluid">
            <div class="section-wraper px-3  pb-md-0">
                <div class="form-control" style="margin-top:70px;">
                    <p><h2 class="text-center"><strong>Content Review Policy (CRP)</strong></h2></p>
                    <div class="card p-3 bg-gray-100 overflow-auto">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <p>LIMS Application is the face of Delhi Development Authority (DDA), Ministry of Housing and Urban Affairs, Govt. Of India. It is therefore required to keep the content on the application current and up‐to‐date and hence there is a need for the Content Review Policy. Since the scope of the content is huge, different Review Policies are defined for the diverse content elements.</p>
                                <p>The Review Policy is based on different type of content elements, its validity and relevance as well as the archival policy. The entire Application content would be reviewed for syntax checks in a regular interval (once in a month /once in a quarter) by the DDA Team.</p>
                                <table class="table table-striped table-bordered table-responsive">
                                    <thead class="text-bg-rgb-40_71_177clr">
                                        <tr>
                                            <th>SECTION</th>
                                            <th>REVIEW PERIODICITY</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Home Page</td>
                                            <td>Monthly</td>
                                        </tr>
                                        <tr>
                                            <td>About Us</td>
                                            <td>Yearly</td>
                                        </tr>
                                        <tr>
                                            <td>Contact Us</td>
                                            <td>Yearly</td>
                                        </tr>
                                        <tr>
                                            <td>Terms & Conditions, Help</td>
                                            <td>Yearly</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <footer class="footers slow">
        <div class="container-fluid">
            <div class="text-center mt-2 d-none d-md-block">
                <a href="#" id="digitalindiaLink" class="m-2">
                    <img src="~/images/logos/digital_india.png" alt="Digital India" height="40" />
                </a>
                <a href="#" id="data_Gov_Link" class="m-2">
                    <img src="~/images/logos/data_gov_in.png" alt="data.gov.in" height="40" />
                </a>
                <a href="#" id="makeinindiaLink" class="m-2">
                    <img src="~/images/logos/make_in_india.png" alt="Make in India" height="40" />
                </a>
                <a href="#" id="india_Gov_Link" class="m-2">
                    <img src="~/images/logos/india_gov_in.png" alt="india.gov.in" height="40" />
                </a>
                @*  <a href="#" id="my_gov_Link" class="m-2">
                    <img src="~/images/logos/mygov_logo.jpg" alt="MyGov" height="40" />
                </a> *@
            </div>
            <p class="my-0 py-2 text-center">
                <a asp-action="Index" asp-controller="Home">Home</a>
                | <a asp-action="copyRight" asp-controller="Home">Copyright Policy</a>
                | <a asp-action="CMAP" asp-controller="Home">CMAP</a>
                | <a asp-action="ContentArchivalCAPPolicy" asp-controller="Home">Content Archival Policy (CAP)</a>
                | <a asp-action="ContentReviewPolicy" asp-controller="Home">Content Review Policy (CRP)</a>
                | <a asp-action="HyperlinkPolicy" asp-controller="Home">Hyperlink Policy</a>
                | <a asp-action="PrivacyPolicy" asp-controller="Home">Privacy Policy</a>
                | <a asp-action="TermsandConditions" asp-controller="Home">Terms & Conditions</a>
                | <a asp-action="WebsiteMonitoringPlan" asp-controller="Home">Website Monitoring Plan</a>
                | <a asp-action="ContingencyManagementPlan" asp-controller="Home">Contingency Management Plan</a>
                | <a asp-action="SecurityPolicy" asp-controller="Home">Security Policy</a>
                | <a asp-action="Contactus" asp-controller="Home">Contact Us</a>
                | <a asp-action="Help" asp-controller="Home">Help</a>
                | <a asp-action="Disclaimer" asp-controller="Home">Disclaimer</a>
                | <a asp-action="AboutUs" asp-controller="Home">About Us</a>
                | <a asp-action="WebInformationManager" asp-controller="Home">Web Information Manager</a>
                | <a asp-action="Feedback" asp-controller="Home">Feedback</a>
                | <a asp-action="Sitemap" asp-controller="Home">Site map</a><br>
                &nbsp; &copy; Content Owned by DDA, Government of India. &nbsp;&nbsp;<label>Last Updated : @Html.Raw(TempData["updatedDate"])</label>
            </p>
        </div>
    </footer>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/chart.js/dist/Chart.min.js"></script>
    <script src="~/lib/toaster/toastr.min.js"></script>

    <environment include="Development">
        <script src="~/js/site.js"></script>
        <script src="~/js/custome.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/custome.min.js"></script>
    </environment>

    @Html.Raw(ViewBag.Message)
</body>
</html>
