@model Dto.Master.UserProfileDto

<h1 class="border-bottom">Welcome to DDA Land Information Management Application</h1>
<div class="profile-box bg-white rounded border p-3 my-4 shadow d-md-flex align-items-center py-lg-4 px-xl-5">
    <figure class="mx-auto my-0">
        <img class="d-block rounded-circle mx-auto shadow-sm" src="~/images/noimage.jpg" alt="">
    </figure>
   
   
</div>
<figure class="m-0 mb-md-n3">
    <img class="img-fluid d-block mx-auto" src="~/images/brand.png" alt="dda">
</figure>