@model Libraries.Model.Entity.Allotmententry
@await Component.InvokeAsync("PageHeader", new { pageName = "Calculation Sheet" })
<link href="~/css/PrintLabel.css" rel="stylesheet" />

<div class="pt-3">
    <form asp-action="Create" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" target="_blank">
        <h3 class="mb-3 d-flex">
            Add Details<span style="margin-left:800px"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span>
        </h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
       
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3"
                            asp-for="ApplicationId" asp-items="@(new SelectList(Model.ApplicationList, "Id","Application.RefNo"))">
                        <option disabled="disabled" selected value="">Select</option>
                    </select>
                    <span asp-validation-for="ApplicationId" class="text-danger"></span>
                    <label asp-for="ApplicationId" class="floating-label">Application Reference No<span style="color:red">*</span>  </label>
                </div>
            </div>

        </div>

        <!--<div class="row mt-md-3">
        <div class=" col-md-12">
            <a class="btn btn-theme " type="submit" id="generate" asp-route-id="@Model.Id" asp-action="GetApplicationAreaDetails">generate</a>-->
        @*<button class="btn btn-theme " type="submit">Generate</button>*@
        @*@Html.ActionLink("Back", "Index", "Premiumrate", null, new { @class = "btn btn-theme " })*@
        <!--</div>
    </div>-->
        <div id="View"> </div>


    </form>
</div>



<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/calculationsheet.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/calculationsheet.min.js" asp-append-version="true"></script>
</environment>
