@model Libraries.Model.Entity.Watchandward
@await Component.InvokeAsync("PageHeader", new { pageName = "Watch & Ward Period Report" })


<div class="pt-3">
    <div class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Details<span style="margin-left:800px"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span></h3>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="LocalityId"
                            asp-items="@(new SelectList(Model.LocalityList, "Id","Name"))">
                        <option value="0">All</option>
                    </select>
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="LocalityId"></span>
                    <label asp-for="LocalityId" class="floating-label">Locality Name(Village)<span style="color:red">*</span> </label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="Date" asp-for="Date" placeholder="Date" id="txtFromDate" class="floating-label-field floating-label-field--s3" />
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="Date"></span>
                    <label class="floating-label">From Date<span style="color:red">*</span></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="Date" asp-for="Date" placeholder="Date" id="txtToDate" class="floating-label-field floating-label-field--s3" />
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="Date"></span>
                    <label class="floating-label">To Date<span style="color:red">*</span></label>
                </div>

            </div>

        </div>
       
        <div class="row mt-md-3">
            <div class="col-md-12 col-xl-3">
                <div class="row">
                    <div class="col-6 col-md-5 col-xl-6">
                        <button id="btnReset" class="btn btn-link btn-block d-flex align-items-center justify-content-center" type="reset">
                            <i class="ri-refresh-line mr-2"></i>Reset
                        </button>
                    </div>
                    <div class="col-6 col-md-7 col-xl-6">

                        <input type="submit" value="Generate" id="btnGenerate" class="btn btn-theme" />

                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="table-section bg-white border shadow rounded">
        <div class="short-section d-md-flex align-items-center">
            <div class="p-3 d-flex align-items-end mr-auto">
                <div class="floating-label-wrap">
                    <select id="ddlSort" class="floating-label-field floating-label-field--s3">
                        <option value="Date"> Date</option>
                        <option value="Locality"> Locality(Village)</option>


                        <option value="Landmark">Landmark</option>
                    </select>
                    <label for="field-1" class="floating-label">Sort by</label>
                </div>
                <div class="short-btn d-flex align-items-center">
                    <span class="btn slow active" id="btnAscending" title="Ascending order"><i class="ri-sort-asc"></i></span>
                    <span class="btn slow" id="btnDescending" title="Descending order"><i class="ri-sort-desc"></i></span>
                </div>
            </div>


            <div class="download-table d-flex align-items-center px-3 mb-3 mb-md-0">
               
                <a href="javascript:void(0)" class="d-flex align-items-center btn btn-success">
                    <i class="ri-download-2-line mr-2 mr-lg-1"></i>
                    <small>Download</small>
                </a>
            </div>
        </div>
        <div class="table-responsive px-2">
            <div id="LoadReportView">

            </div>
        </div>
    </div>

</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/wacthwardperiodreportcreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/wacthwardperiodreportcreate.min.js" asp-append-version="true"></script>
</environment>
