
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>


<style>
    .p {
        color: black;
    }
</style>

<style>

    .bg {
        background: linear-gradient(to left,#9e1c32, #991141, #900f50,#83155d, #721e68, #68226f,#5d2675,#4f2a7a, #492b80,#422c85, #392e8b,#2c3091);
        Color: #ffffff;
        Font-size: 0.95rem;
        Font-Family: Open SansRegular;
        height: 28px;
    }
</style>


<script src="js/bootstrap.min.js"></script>
<link href="Styles/bootstrap.css" rel="stylesheet" />

<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<script src="~/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>
<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Data Storage Details</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />

<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div id="DivDetails">
            <div class="row" style="margin-bottom:35px;">
                <div class="col-sm-12">
                    <div class=" myapp-hed2">
                        <div class="col-md-12">
                            <h6 class="pull-left" style="color:white;margin-top:5px;">Details</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="radio-inline">
                                <input type="radio" name="grpSearchby" id="rdbFilename" value="" checked="checked" />File
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="grpSearchby" id="rdbDocumentname" />Document
                            </label>
                        </div>
                    </div>

                    <br /> <br />






                    @*<div class="container-fluid" id="DivForFileName">*@
                        @*<div class="panel-group">
                    <div class="panel">*@
                        <div id="DivForFileName">
                            <div class="row" style="margin-bottom:35px;">
                                <div class="col-sm-12">
                                    <div class=" myapp-hed2">
                                        <div class="col-md-12">
                                            <h6 class="pull-left" style="color:white;margin-top:5px;">File No</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-1">
                                    <label class="control-label lb-sm">Cat.</label><span style="color:red">*</span>
                                    <input type="text" style="width:100%;max-width:100%;min-width:unset !important;" required class="form-control" />
                                </div>
                                <div class="col-md-1">
                                    <label class="control-label lb-sm">Header</label><span style="color:red">*</span>
                                    <input type="text" style="width:100%;max-width:100%;min-width:unset !important;" required class="form-control" />
                                </div>



                                <div class="col-md-2">
                                    <label class="control-label lb-sm">Sequence No</label><span style="color:red">*</span>
                                    <input type="Number" style="width:100%;max-width:100%;min-width:unset !important;" required class="form-control" />
                                </div>


                                <div class="col-md-1">
                                    <label class="control-label lb-sm">Year</label><span style="color:red;width:15px">*</span>
                                    <input type="text" style="width:100%;max-width:100%;min-width:unset !important;" required class="form-control" />
                                </div>

                                <div class="col-md-1">
                                    <label class="control-label lb-sm">&nbsp; </label><span style="color:red;width:15px"></span>
                                    <input type="text" style="width:100%;max-width:100%;min-width:unset !important;" required class="form-control" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label lb-sm">Scheme</label>
                                    <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                        <option value="0">--Select Scheme--</option>
                                        <option value="1">Scheme1</option>
                                        <option value="2">Scheme2</option>
                                        <option value="3">Scheme3</option>
                                        <option value="4">Scheme4</option>
                                        <option value="5">Scheme5</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label lb-sm">Zone</label><span style="color:red">*</span>
                                    <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1; width:10px;width:100%;max-width:100%;min-width:unset !important;">
                                        <option value="0">--Select Zone--</option>
                                        <option value="1">Gurgaon 61</option>
                                        <option value="2">Dwarika</option>

                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label lb-sm">Locality(Village)</label><span style="color:red">*</span>
                                    <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1; width:10px;width:100%;max-width:100%;min-width:unset !important;">
                                        <option value="0">--Select--</option>
                                        <option value="1">Gurgaon 61</option>
                                        <option value="2">Locality</option>
                                        <option value="3">Locality</option>
                                        <option value="4">Locality</option>
                                        <option value="5">Locality</option>
                                    </select>
                                </div>



                            </div>
                            <br />
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="control-label lb-sm"> Name/Subject</label><span style="color:red">*</span>
                                    <input type="text" required class="form-control" />
                                </div>
                                <div class="form-group col-md-6">
                                    <br />
                                    <label class="control-label lb-sm">Is part of this main file?</label><span style="color:red">*</span>
                                    <label class="radio-inline">
                                        <input type="radio" name="grpMainFile" id="rSubsequent" checked>Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="grpMainFile" id="rOriginal">No
                                    </label>
                                </div>

                            </div>
                            <br /> <br />

                            @*<div class="form-row">

                                <div class="form-group col-md-6">

                                    <label class="control-label lb-sm">Is Freehold?</label><span style="color:red">*</span>
                                    <label class="radio-inline">
                                        <input type="radio" name="grpfreehold" id="ryes" checked>Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="grpfreehold" id="rno">No
                                    </label>
                                </div>

                                <div class="form-group col-md-6">

                                    <label class="control-label lb-sm">Is part of this main file?</label><span style="color:red">*</span>
                                    <label class="radio-inline">
                                        <input type="radio" name="grpMainFile" id="rSubsequent" checked>Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="grpMainFile" id="rOriginal">No
                                    </label>
                                </div>
                            </div>*@

                        </div>



                        <div id="DivForSubsequentPurchaser">
                            <div class="row" style="margin-bottom:35px;">
                                <div class="col-sm-12">
                                    <div class=" myapp-hed2">
                                        <div class="col-md-12">
                                            <h6 class="pull-left" style="color:white;margin-top:5px;">File No</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered" border="0" id="tbl_DamageAssessee">
                                            <thead class="thead">
                                                <tr>
                                                    <th>Sr.No</th>
                                                    <th>Category</th>
                                                    <th>Header</th>
                                                    <th>Sequence No.</th>
                                                    <th>Year</th>
                                                    <th>Scheme/Department/Branch</th>
                                                    <th>Locality(Village)</th>
                                                    <th>Subject</th>
                                                    <th>Operation</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbl_file_body">
                                            </tbody>
                                            <tbody class="tbody" id="addDamageAssessee">
                                                <tr>
                                                    <td>1</td>
                                                    <td>
                                                        <input type="text" class="form-control" id="txtCategoryName" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="txtHeader" />
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-control" id="txtNumber" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="txtDate" />
                                                    </td>
                                                    <td>
                                                        <select style="height:30px; background-color: #dddddd;" id="ActiveStatus" required="" class="form-control">
                                                            <option value="1">DDA</option>
                                                            <option value="2">DDA2</option>
                                                            <option value="3">DDA3</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select style="height:30px; background-color: #dddddd;" id="ActiveStatus" required="" class="form-control">
                                                            <option value="1">LMTYPE</option>
                                                            <option value="2">Engineering</option>
                                                            <option value="3">Horticulture</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="txtSubject" />
                                                    </td>
                                                    <td>

                                                        <a class="btn btn-xs delete-recordDamageAssessee " data-id="0" style="display:none;"><h3><i class="glyphicon glyphicon-minus-sign"></i></h3></a>
                                                        <a class="btn btn-xs add-recordDamageAssessee" data-added="0"><h3><i class="glyphicon glyphicon-plus-sign"></i></h3></a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                       


                        <div id="DivLocation">
                            <div class="row" style="margin-bottom:35px;">
                                <div class="col-sm-12">
                                    <div class=" myapp-hed2">
                                        <div class="col-md-12">
                                            <h6 class="pull-left" style="color:white;margin-top:5px;">Loaction(Village) Details</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="control-label lb-sm">Record Room No</label><span style="color:red">*</span>
                                    <input type="Number" required class="form-control" />
                                </div>


                                <div class="form-group col-md-6">
                                    <label class="control-label lb-sm">Almirah No/Compactor No</label><span style="color:red">*</span>
                                    <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                        <option value="0">--Select Almirah--</option>
                                        <option value="1">Almirah</option>
                                        <option value="2">Almirah</option>
                                        <option value="3">Almirah</option>
                                        <option value="4">Almirah</option>
                                        <option value="5">Almirah</option>
                                    </select>
                                </div>


                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="control-label lb-sm">Row No</label><span style="color:red">*</span>
                                    <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                        <option value="0">--Select Row No--</option>
                                        <option value="1">col1</option>
                                        <option value="2">col2</option>
                                        <option value="3">col3</option>
                                        <option value="4">col4</option>
                                        <option value="5">col5</option>
                                    </select>
                                </div>


                                <div class="form-group col-md-6">
                                    <label class="control-label lb-sm">Column No</label><span style="color:red">*</span>
                                    <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                        <option value="0">--Select Column No--</option>
                                        <option value="1">col1</option>
                                        <option value="2">col2</option>
                                        <option value="3">col3</option>
                                        <option value="4">col4</option>
                                        <option value="5">col5</option>
                                    </select>
                                </div>


                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="control-label lb-sm">Bundle No</label><span style="color:red">*</span>
                                    <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                        <option value="0">--Select Bundle No--</option>
                                        <option value="1">col1</option>
                                        <option value="2">col2</option>
                                        <option value="3">col3</option>
                                        <option value="4">col4</option>
                                        <option value="5">col5</option>
                                    </select>
                                </div>
                                </div>
                            </div>
                            <div id="Divflat">
                                <div class="row" style="margin-bottom:35px;">
                                    <div class="col-sm-12">
                                        <div class=" myapp-hed2">
                                            <div class="col-md-12">
                                                <h6 class="pull-left" style="color:white;margin-top:5px;">Property/Khasra No</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label lb-sm">Zone</label><span style="color:red">*</span>
                                        <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                            <option value="0">--Select Zone--</option>
                                            <option value="1">East</option>
                                            <option value="2">West</option>
                                            <option value="3">Central</option>
                                            <option value="4">North</option>
                                            <option value="5">South</option>
                                        </select>
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label class="control-label lb-sm">Locality(Village)</label><span style="color:red">*</span>
                                        <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                            <option value="0">--Select Zone--</option>
                                            <option value="1">Locality1</option>
                                            <option value="2">Locality2</option>
                                            <option value="3">Locality3</option>
                                            <option value="4">Locality4</option>
                                            <option value="5">Locality5</option>
                                        </select>
                                    </div>


                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label lb-sm">Khasra No/Property No</label><span style="color:red">*</span>
                                        <input type="text" required class="form-control" />
                                    </div>


                                    <div class="form-group col-md-6">
                                        <label class="control-label lb-sm">Area</label><span style="color:red">*</span>
                                        <input type="text" required class="form-control" />
                                    </div>


                                </div>
                                @*<div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label lb-sm">Pocket</label><span style="color:red">*</span>
                                        <input type="text" required class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label lb-sm">Flat/Plot No</label><span style="color:red">*</span>
                                        <input type="text" required class="form-control" />
                                    </div>

                                </div>*@

                                @*</div>
                            </div>*@
                            </div>

                            @*</div>
                        </div>*@


                            @*</div>*@


                            <div class="container-fluid" id="DivForDocumentName" style="display:none">
                                <div class="panel-group">
                                    <div class="panel">
                                        <div class="form-row ">
                                            <div class="form-group col-md-12 bg">File No</div>

                                        </div>
                                        <div class="form-row">

                                            <div class="form-group col-md-2">
                                                <label class="control-label lb-sm">Category</label><span style="color:red">*</span>
                                                <input type="text" style="width:100%;max-width:100%;min-width:unset !important;" required class="form-control" />
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label class="control-label lb-sm">Header</label><span style="color:red">*</span>
                                                <input type="text" style="width:100%;max-width:100%;min-width:unset !important;" required class="form-control" />
                                            </div>



                                            <div class="form-group col-md-2">
                                                <label class="control-label lb-sm">Sequence No</label><span style="color:red">*</span>
                                                <input type="Number" style="width:100%;max-width:100%;min-width:unset !important;" required class="form-control" />
                                            </div>


                                            <div class="form-group col-md-1">
                                                <label class="control-label lb-sm">Year</label><span style="color:red;width:15px">*</span>
                                                <input type="text" style="width:100%;max-width:100%;min-width:unset !important;" required class="form-control" />
                                            </div>

                                            <div class="form-group col-md-1">
                                                <label class="control-label lb-sm"> </label><span style="color:red;width:15px"></span>
                                                <input type="Date" style="width:100%;max-width:100%;min-width:unset !important;" required class="form-control" />
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label class="control-label lb-sm">Scheme/Department/Branch</label>
                                                <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                                    <option value="0">--Select Scheme--</option>
                                                    <option value="1">Scheme1</option>
                                                    <option value="2">Scheme2</option>
                                                    <option value="3">Scheme3</option>
                                                    <option value="4">Scheme4</option>
                                                    <option value="5">Scheme5</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label class="control-label lb-sm">Locality(Village)</label><span style="color:red">*</span>
                                                <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1; width:10px;width:100%;max-width:100%;min-width:unset !important;">
                                                    <option value="0">--Select--</option>
                                                    <option value="1">Horticulture</option>
                                                    <option value="2">LandManagement</option>
                                                    <option value="3">Engineering</option>
                                                    
                                                </select>
                                            </div>

                                        </div>
                                        <br />
                                        <div class="form-row">

                                            <div class="form-group col-md-6">
                                                <label class="control-label lb-sm"> Name/Subject</label><span style="color:red">*</span>
                                                <input type="text" required class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-row ">
                                            <div class="form-group col-md-12 bg">Location(Village) Details</div>

                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label lb-sm">Record Room No</label><span style="color:red">*</span>
                                                <input type="Number" required class="form-control" />
                                            </div>


                                            <div class="form-group col-md-6">
                                                <label class="control-label lb-sm">Almirah No/Compactor No</label><span style="color:red">*</span>
                                                <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                                    <option value="0">--Select Almirah--</option>
                                                    <option value="1">Almirah</option>
                                                    <option value="2">Almirah</option>
                                                    <option value="3">Almirah</option>
                                                    <option value="4">Almirah</option>
                                                    <option value="5">Almirah</option>
                                                </select>
                                            </div>


                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label lb-sm">Row No</label><span style="color:red">*</span>
                                                <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                                    <option value="0">--Select Row No--</option>
                                                    <option value="1">col1</option>
                                                    <option value="2">col2</option>
                                                    <option value="3">col3</option>
                                                    <option value="4">col4</option>
                                                    <option value="5">col5</option>
                                                </select>
                                            </div>


                                            <div class="form-group col-md-6">
                                                <label class="control-label lb-sm">Column No</label><span style="color:red">*</span>
                                                <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                                    <option value="0">--Select Column No--</option>
                                                    <option value="1">col1</option>
                                                    <option value="2">col2</option>
                                                    <option value="3">col3</option>
                                                    <option value="4">col4</option>
                                                    <option value="5">col5</option>
                                                </select>
                                            </div>


                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label lb-sm">Bundle No</label><span style="color:red">*</span>
                                                <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                                    <option value="0">--Select Bundle No--</option>
                                                    <option value="1">col1</option>
                                                    <option value="2">col2</option>
                                                    <option value="3">col3</option>
                                                    <option value="4">col4</option>
                                                    <option value="5">col5</option>
                                                </select>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group  col-md-12" style="justify-content:center">
                                    <input type="submit" value="Create" class="btn btn-primary myapp-hed1" />
                                    @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
                                    @Html.ActionLink("Back", "Index", "DataStorageDetails", null, new { @class = "btn btn-primary myapp-hed1" })
                                </div>
                            </div>
                </form>
            </div>
        </div>
</div>
    </div>
<script>

    $(function () {
        $("input[name='grpSearchby']").click(function () {
            if ($("#rdbFilename").is(":checked")) {
                $("#DivForFileName").show();
                $("#DivForDocumentName").hide();
                $("#DivForGenerate").hide();
            }
            else if ($("#rdbDocumentname").is(":checked")) {
                $("#DivForFileName").hide();
                $("#DivForDocumentName").show();
                $("#DivForGenerate").hide();
            }
                //else {
            //    $("#DivForFileName").hide();
            //    $("#DivForPayeeName").hide();
            //}
        });
    });

</script>

<script>
    $(function () {
        $("input[name='grpMainFile']").click(function () {
            if ($("#rSubsequent").is(":checked")) {
                $("#DivForSubsequentPurchaser").show();
            } else {
                $("#DivForSubsequentPurchaser").hide();
            }
        });
    });
</script>
@*<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js">
</script>*@
@*<script>
        $(function() {
            $("#date").datepicker({ dateFormat: 'yy' });
         });
</script>*@
