
@{
    ViewData["Title"] = "ListofCases_Dept_File_Null";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .p {
        color: black;
    }
</style>

<style>

    .bg {
        background: linear-gradient(to left,#9e1c32, #991141, #900f50,#83155d, #721e68, #68226f,#5d2675,#4f2a7a, #492b80,#422c85, #392e8b,#2c3091);
        Color: #ffffff;
        Font-size: 0.95rem;
        Font-Family: Open SansRegular;
        height: 28px;
    }
</style>


<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Case Details:LAND DISPOSAL</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />


<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  myapp-hed1">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%">Add Details</h6>
        </div>
        <div class="panel-body">
            <form asp-action="Create" method="post" id="1">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>




                <div class="container-fluid" id="DivForFileName">
                    <div class="panel-group">
                        <div class="panel">
                           

                            <div class="row" style="margin-bottom:35px;">
                                <div class="col-sm-12">
                                    <div class=" myapp-hed2">
                                        <div class="col-md-12">
                                            <h6 class="pull-left" style="color:white;margin-top:5px;">

                                                List of Cases of land disposal (dept.file no is null)
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>









                            <br />

                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group  col-md-12" style="justify-content:center">
                            <input type="button" value="Reterive" onclick="showcollection();" class="btn btn-primary myapp-hed1" />

                        </div>
                    </div>
                </div>

                <div class="container-fluid" id="showcollection" style="display:none">

                    <div class="card  table-card" style="overflow:scroll;">

                        <table class="table table-responsive table-bordered table-card" style="display:none" id="showtr">


                            <thead class="thead">
                                <tr>
                                    <th>Sr.No</th>
                                    <th>

                                        CASE NO


                                    </th>
                                    <th> CASE TITLE</th>
                                    <th>


                                        LEGAL FILE NO

                                    </th>
                                    <th>
                                        FILING DATE

                                    </th>

                                </tr>
                                <tr><td colspan="5">BRANCH NAME - LAND MANAGEMENT-S & S-II </td></tr>
                            </thead>
                            <tbody class="tbody">
                                <tr>
                                    <td>1</td>
                                    <td>
                                        CWP-6830/2004
                                    </td>
                                    <td>
                                        VARUN KUMAR DUTT
                                    </td>
                                    <td>
                                        F12(364)04/HC/LEGAL
                                    </td>

                                    <td>22/08/2011</td>

                                </tr>




                            </tbody>

                        </table>

                    </div>
                    <br /><br />

                </div>



            </form>
        </div>
    </div>
</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/casedetailhousingcreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/casedetailhousingcreate.min.js" asp-append-version="true"></script>
</environment>
