@model Libraries.Model.Entity.Newlandkhasra
@await Component.InvokeAsync("PageHeader", new { pageName = "Khasra" })

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="pt-3">
    <form asp-action="Create" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <h3 class="mb-3 d-flex">Add Details</h3>



        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap">

                    @*<select class="floating-label-field floating-label-field--s3" asp-for="AcquiredlandvillageId" asp-items="@(new SelectList(Model.VillageList, "Id","Name"))">
            <option selected="selected" disabled="disabled" value="">--Select-- </option>
        </select>
        <span asp-validation-for="AcquiredlandvillageId" class="text-danger"></span>
        <label class="floating-label">Village</label>*@
                   @*<select class="floating-label-field floating-label-field--s3" asp-for="NewLandvillageId" asp-items="@(new SelectList(Model.VillageList, "Id","Name"))">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="NewLandvillageId" class="text-danger"></span>*@
                    <label class="floating-label">Village</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="RectNo" class="floating-label-field floating-label-field--s3" placeholder="Rect No" />
                    <span asp-validation-for="RectNo" class="text-danger"></span>
                    <label class="floating-label">Rect No.</label>
                </div>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="LandCategoryId" asp-items="@(new SelectList(Model.LandCategoryList, "Id","Name"))">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="LandCategoryId" class="text-danger"></span>
                    <label class="floating-label">Land Category</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="Name" placeholder="Khasra No." class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <label class="floating-label">Khasra No.</label>
                </div>
            </div>
        </div>
        <div id="Divclsification">
           
            <h2 class="my-3 sub-heading">Area</h2>
            <div class="row pt-3">
                <div class="col-md-3">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input asp-for="Bigha" placeholder="Bigha" class="floating-label-field floating-label-field--s3" />
                        <span asp-validation-for="Bigha" class="text-danger"></span>

                        <label class="floating-label">Bigha</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="Biswa" placeholder="Biswa" class="floating-label-field floating-label-field--s3" />
                        <span asp-validation-for="Biswa" class="text-danger"></span>
                        <label class="floating-label">Biswa</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input asp-for="Biswanshi" class="floating-label-field floating-label-field--s3" placeholder="Biswanshi" />
                        <span asp-validation-for="Biswanshi" class="text-danger"></span>
                        <label class="floating-label">Biswanshi</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-3">

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <select asp-for="IsActive" class="floating-label-field floating-label-field--s3">
                        <option value="1">Active</option>
                        <option value="0">InActive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label class="floating-label"> Status</label>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-12">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <textarea asp-for="Description" placeholder="Remarks" class="floating-label-field floating-label-field--s3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <label class="floating-label">Remarks</label>
                </div>
            </div>
        </div>


        <div class="row mt-md-3">
            <div class=" col-md-12">
                <input type="submit" value="Create" class="btn btn-theme " />
                @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
                @Html.ActionLink("Back", "Index", "Khasra", null, new { @class ="btn btn-theme " })
            </div>
        </div>

    </form>
</div>
    




