
@await Component.InvokeAsync("PageHeader", new { pageName = "Demolition Report" })


<div class="pt-3">
    <div class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Details</h3>
        <form method="post" asp-action="Index" id="1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



            <div class="row">
                <div class="col-md-4">
                    <div class="floating-label-wrap">

                        <select class="floating-label-field floating-label-field--s3">
                            <option value="0">---All---</option>
                            <option value="1">Nimri</option>
                        </select>
                        <label class="floating-label">Village Name</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input type="date" class="floating-label-field floating-label-field--s3" />
                        <label class="floating-label">From Date</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input type="date" class="floating-label-field floating-label-field--s3" />
                        <label class="floating-label">To Date</label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-12 ">
                    <input type="submit" value="Generate" class="btn btn-theme" />
                    @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
                    @Html.ActionLink("Back", "Index", "DemandReport", null, new { @class = "btn btn-theme" })
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="table-section bg-white border shadow rounded">
                    <div class="short-section d-md-flex align-items-center">
                        <div class="p-3 d-flex align-items-end mr-auto">
                            <div class="floating-label-wrap">
                                <select class="floating-label-field floating-label-field--s3">
                                    <option selected="selected" disabled="disabled">Select One</option>
                                    <option>Locality Name (Village)</option>
                                    <option> From Date</option>

                                    <option>To Date</option>
                                    
                                </select>
                                <label for="field-1" class="floating-label">Sort by</label>
                            </div>
                            <div class="short-btn d-flex align-items-center">
                                <span class="btn slow active" title="Descending order"><i class="ri-sort-desc"></i></span>
                                <span class="btn slow" title="Ascending order"><i class="ri-sort-asc"></i></span>
                            </div>
                        </div>


                        <div class="download-table d-flex align-items-center px-3 mb-3 mb-md-0">

                            <a href="javascript:void(0)" class="d-flex align-items-center btn btn-success">
                                <i class="ri-download-2-line mr-2 mr-lg-1"></i>
                                <small>Download</small>
                            </a>
                        </div>
                    </div>
                    @*<div class="table-responsive px-2">
                    <div id="LoadReportView">

                    </div>
                </div>*@
                </div>
                </div>
                @{
                    @if (ViewBag.IsShowData == "Yes")
                    {
                        <div id="DivReportDetails">
                            @*<div class="row" style="margin-bottom:35px;">
                            <div class="col-sm-12">
                                <div class=" myapp-hed2">
                                    <div class="col-md-12">
                                        <h6 class="pull-left" style="color:white;margin-top:5px;">Report</h6>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                            @*<h3 class="mb-3 d-flex">Report</h3>*@
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div style="overflow:scroll;">
                                        <table class="table table-sm table-bordered mb-0 table-striped">
                                            <thead class="text-nowrap">
                                            <thead class="thead">
                                                <tr>
                                                    <th>Sr.No</th>
                                                    <th>Village Name</th>
                                                    <th>Khasra No.</th>
                                                    <th>Area</th>
                                                    <th>Encroachment On</th>
                                                    <th>Demolition Start</th>
                                                    <th>Demolition Within Time Line</th>
                                                    <th>Demolition After Time Line</th>
                                                    <th>Reason of Demolition</th>
                                                    <th>Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>


                                            </tbody>

                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    else
                    {

                    }
                }


        </form>
    </div>
</div>





