@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" sizes="16x16" />
    <link rel="icon" href="~/images/favicon.png" type="image/png" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>File Data Loading Module</title>
    <!--font css-->
    <link rel="stylesheet" href="~/font/open-sans/stylesheet.css" />

    <!--icon css-->
    <link rel="stylesheet" href="~/font/icon/remixicon.css" />
    <link rel="stylesheet" href="~/css/Footer.css" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/lib/toaster/toastr.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/lib/select2/select2.css" rel="stylesheet" />
    <script src="~/lib/select2/select2.js"></script>

</head>
<body class="bg-gray">
    <div id="loader-wrapper" style="display:none">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div class="top-header">
        <header>
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <div class="menu me-3 p-2 text-white order-md-2 me-md-auto open" id="mobileMenu">
                        @*<i class="ri-menu-fold-line"></i>*@
                        <i class="ri-menu-unfold-line"></i>
                    </div>
                    <div class="logo py-1 me-auto me-md-4 order-md-1">
                        <a href="/" class="d-block">
                            <figure class="m-0">
                                <img src="~/images/header-logo.png" alt="DDA Logo" class="img-fluid">
                            </figure>
                        </a>
                    </div>
                    <div class="dropdown noti text-white my-2  me-3 order-md-3">
                        <a href="~/docs/Acquiredlandinformation.pdf" target="_blank" role="button" title="User Manual" class='p-2 d-block text-white no-dec'>
                            <i class="ri-folder-user-fill" style="font-size:20px"></i>
                        </a>
                    </div>
                    <div class="dropdown noti text-white my-2  me-3 order-md-3">
                        <a href="https://ddalmis.org.in/" role="button" id="notification" title="Go back to modules!" class='p-2 d-block text-white no-dec'>
                            @*<i class="ri-notification-2-line"></i>*@
                            <i class="ri-home-3-fill" style="font-size:20px"></i>
                            @*<small class="bg-success rounded-circle position-absolute nofi-active">99</small>*@
                        </a>
                        @*<div class="dropdown-menu dropdown-menu-right" aria-labelledby="notification">
                        <ul class="list-unstyled m-0 p-0">
                        <li class="px-3">
                        <a href="#" class="d-flex align-items-center py-2 border-bottom">
                        <div class="noti-time text-center pe-2">
                        <i class="ri-discuss-line"></i>
                        <small class="d-block w-100">12:00</small>
                        </div>
                        <p class="m-0 text-truncate text-left">
                        Some notification message new message
                        <small class="d-block text-truncate text-left">Lorem Ipsum is simply dummy text dummy text</small>
                        </p>
                        </a>
                        </li>
                        <li class="px-3">
                        <a href="#" class="d-flex align-items-center py-2 border-bottom read">
                        <div class="noti-time text-center pe-2">
                        <i class="ri-discuss-line"></i>
                        <small class="d-block w-100">2 Days</small>
                        </div>
                        <p class="m-0 text-truncate text-left">
                        Some notification message new message
                        <small class="d-block text-truncate text-left">Lorem Ipsum is simply dummy text dummy text</small>
                        </p>
                        </a>
                        </li>
                        </ul>
                        </div>*@
                    </div>
                </div>
            </div>
        </header>
    </div>

    <div class="pt-3">
    </div>

    @* <aside class="left-menu small slow" id="leftMenu">
    <ul class="accordion list-unstyled mb-0">

    </ul>
    </aside>*@

    <partial name="_CookieConsentPartial" />
    <section class="slow bg-gray">
        <div class="container-fluid">
            <div class="section-wraper px-3  pb-md-0">
                <div class="form-control" style="margin-top:70px;">
                    <p><h2 class="text-center"><strong>Hyperlink policy</strong></h2></p>
                    <div class="card p-3 bg-gray-100 overflow-auto">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <table class="table table-striped table-bordered table-responsive">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>At many places in this website, you shall find links to other websites/portals. This links have been placed for your convenience. Delhi Development Authority (DDA) is not responsible for the contents and reliability of the linked websites and does not necessarily endorse the views expressed in them. Mere presence of the link or its listing on this website should not be assumed as endorsement of any kind. We cannot guarantee that these links will work all the time and we have no control over availability of linked pages.</p>
                                                <p>The website hyper links policy will be reviewed on yearly basis.</p>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <footer class="footers slow">
        <div class="container-fluid">
            <p class="my-0 py-2">
                  <a asp-action="Index" asp-controller="Home">Home</a>
                | <a asp-action="PrivacyPolicy" asp-controller="Home">Privacy Policy</a>
                | <a asp-action="copyRight" asp-controller="Home">Copyright Policy</a>
                | <a asp-action="HyperlinkPolicy" asp-controller="Home">Hyperlink policy</a>
                | <a asp-action="WebInformationManager" asp-controller="Home">Web Information Manager</a>
                @*| <a href="#">Accessibility Statement</a>
                | <a href="#">Help</a><br>*@
                &nbsp; &copy; Content Owned by DDA, Government of India. &nbsp;&nbsp;<label>Last Updated : @Html.Raw(TempData["updatedDate"])</label>
            </p>
        </div>
    </footer>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/chart.js/dist/Chart.min.js"></script>
    <script src="~/lib/toaster/toastr.min.js"></script>

    <environment include="Development">
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @Html.Raw(ViewBag.Message)
</body>
</html>
