
@{ ViewData["Title"] = "Create"; }


<div class="content" style="max-width: 1200px; margin: auto; background: white; padding: 10px;">


    <div style="margin-left:100px; max-width:80%">


        <div class="panel-body">
            <div class="row">

                <p style="color:black;margin-left:150px">
                    DELHI DEVELOPMENT AUTHORUTY<br />
                    OFFICE OF THE DEPUTY DIRECTOR<br />
                    LAND MANAGEMENT;SOUTH EAST ZONE<br />
                    INA: NEW DELHI - 110023
                </p>
            </div>
            <div class="row">
                <div class="col-md-3">

                    <p style="color:black;">File No.</p>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-3">


                    <p style="color:black">Date</p>
                </div>

            </div>


            <div class="row">
                <div class="col-md-6">
                    <label> To</label>
                    <p style="color:black">
                        The Dy.Commissioner<br />
                        South District Hauz khas<br />
                        New Delhi
                    </p>
                </div>
                <div class="col-md-6">
                    <label> </label>
                </div>

            </div>



            <div class="row">
                <div class="col-md-12">


                </div>


            </div>

            <div class="row">
                <div class="col-md-12">
                    <p style="color:black;margin-bottom:0.2%; text-align-last:justify">


                        Sub:





                        Request for providing Police assistance to DDA Staff to carryout Demolition Programme <br />
                    </p>  <p style="color:black; margin-left:30px; text-align-last:justify">
                        for removal of unauthorized construction/encroachment from DD/Govt.Land.reg  <br />




                    </p>

                    @*
                                    <p style="        color: black;
                        margin-left: 55px;
                        margin-top: -1.2%;">

                                    </p>*@




                </div>


            </div>



            <div class="row">
                <div class="col-md-12">
                    <p style="color:black;margin-bottom:0.2% ;text-align-last:justify">

                        Sir,

                        <br />
                    </p>   <p style="color:black; text-align-last:justify">
                        It has been decided to ignore a demolition programme for removal of unauthorized<br />
                        construction/encroachment from the DDA land Khasra No, 265 of Village Saidulajaib, New Delhi
                        <br />



                    </p>
                    <p style="        color: black;

        margin-top: -3%;
"> The sald area falls under the jurisdiction of Police Station Mehrauli. This operation would be held on</p>

                    <p style="        color: black;

        margin-top: -3%;text-align-last:justify">26.09.2019. The structures which are to be demolished will by identified by the concreed</p>

                    <p style="        color: black;

        margin-top: -3%;
">kanoongo/N.T/LM/SEZ</p>

                </div>


            </div>

            <div class="row">
                <div class="col-md-12">
                    <p style="        color: black;
        margin-top: 0.8%; text-align-last:justify">
                        2.&nbsp; &nbsp; &nbsp;  You are therefore requested to direct
                        the concerned for providing necessary Police Assistance<br />


                    </p>
                    <p style="        color: black;
        margin-top: -3%;
        text-align-last: justify
">
                        along with lady Police and Tear Gas Squad for maintaining
                        Law and Order during the demolition
                    </p>

                    <p style="        color: black;
        margin-top: -3%;
        text-align-last: justify
">
                        programme
                    </p>
                    <p style="        color: black;
        margin-top: 0.8%">
                        3.&nbsp; &nbsp; &nbsp;  The meeting point will be Police Station Mehrauli at 10:30 AM
                        <br />


                    </p>
                </div>


            </div>




            <div class="row">





                <div class="col-md-12">

                    <p style="color:black;margin-left:435px">
                        Yours faithfully
                        <br /><br />
                        Deputy Director
                    </p>                    <p style="        color: black;
        margin-left: 394px;
        margin-top: -3%;
">
                        Land Management(SEZ)
                    </p>



                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p style="        color: black;
        margin-top: -1%; font-size:13px

">
                        <b> <u> copy forwarded for kind Information and necessary action to:-</u></b>

                    </p>
                    <p style="        color: black;
        margin-top: 0.5%">
                        1.&nbsp; &nbsp;  The Pr. Commissioner (LM) DDA.


                    </p>
                    <p style="        color: black;
        margin-top: -2%">
                        2.&nbsp; &nbsp;  The Commissioner (LM). DDA.



                    </p>
                    <p style="        color: black;
        margin-top: -2%">
                        3.&nbsp; &nbsp;  The Director (LM)-1, DDA.


                    </p>
                    <p style="        color: black;
        margin-top: -2%
">
                        4.&nbsp; &nbsp;  The DCP (Control Room), Thind Floor PHQ, New Delhi.


                    </p>
                    <p style="        color: black;
        margin-top: -2%
">
                        5.&nbsp; &nbsp;  The A.C.P. Mehrauli, New Delhi.


                    </p>







                    <p style="        color: black;
        margin-top: -2%
">
                        6.&nbsp; &nbsp;  The Dy. Commissioner (Task Force) South Zone.


                    </p>
                    <p style="        color: black;
        margin-top: -2%">
                        7.&nbsp; &nbsp;  The Deputy Commissioner (South Zone)SDMC, Green Park, New Delhi.



                    </p>
                    <p style="        color: black;
        margin-top: -2% ;text-align-last: justify">
                        8.&nbsp;The SE(HQ] South Zone, DDA, New Delhi, with the request to direct
                        concerned staff


                    </p>
                    <p style="        color: black;
        margin-top: -2%; text-align:justify">
                        &nbsp; &nbsp;
                        &nbsp; &nbsp;
                        for fencing the area after demolition and installation of board displaying DDA land.


                    </p>
                    <p style="        color: black;
        margin-top: -2%;text-align-last: justify
                       ">
                        9.&nbsp;The Executive Engineer (SWD)-5, DDA, Sarita Vihar, New Delhi with the request to


                    </p>
                    <p style="        color: black;
        margin-top: -2%;
        text-align-last: justify">
                        &nbsp;
                        provide requisite manpower and Machinery 2 JCB, 12 Labours & Pneumatic

                    </p>
                    <p style="        color: black;
        margin-top: -2%; text-align:justify">
                        &nbsp; &nbsp;
                        &nbsp;
                        Machine/Hammer for the execution of demolition programme

                    </p>
                    <p style="        color: black;
        margin-top: -2%;
        text-align-last: justify
">
                        10.&nbsp;The Executive Engineer (Civil), Southern Division-1/DDA Sirifort Sport Complex to


                    </p>



                    <p style="        color: black;
        margin-top: -2%;
        text-align-last: justify
">
                        &nbsp; make arrangement for lifting of malba and construction of Boundary wall & installation

                    </p>


                    <p style="        color: black;
        margin-top: -2%;

">
                        &nbsp;  &nbsp; of board after demolition

                    </p>



                    <p style="        color: black;
        margin-top: -2%

">
                        11.&nbsp;Tehsildar, LV/SEZ, DDA with the request to:



                    </p>



                    <p style="        color: black;
        margin-top: -2%;
        text-align-last: justify
">
                        &nbsp;(a)&nbsp;Depute concerned officer to show the site to the aren S.H.O. at least seven days

                    </p>
                    <p style="        color: black;
        margin-top: -2%

">
                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;before the date of demolition.



                    </p>

                    <p style="        color: black;
        margin-top: -2%;
        text-align-last: justify
">
                        &nbsp;(b)&nbsp;Depute concerned officer/official to contact the BSES to disconnect the electricity
                    </p>
                    <p style="        color: black;
        margin-top: -2%

">
                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;supply from the demolition site.



                    </p>

                    <p style="        color: black;
        margin-top: -2%;
        text-align-last: justify
">
                        12.&nbsp;The AE(QRT) SE[HQ]SZ,DDA,to attend the supervise the demolition programme.


                    </p>
                    <p style="        color: black;
        margin-top: -2%;
        text-align-last: justify
">
                        13.&nbsp;The AE(QRT) SE[HQ]SZ/ED-9,DDA,to attend the supervise the demolition programme.


                    </p>

                    <p style="        color: black;
        margin-top: -2%;
        text-align-last: justify
">
                        14.&nbsp;The S.H.0,Police Mehrauli, New Delhi- with the request to arrange sufficient police


                    </p>

                    <p style="        color: black;
        margin-top: -2%

">
                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;force.



                    </p>

                    <p style="        color: black;
        margin-top: -2%;
        text-align-last: justify
">
                        15.&nbsp;Vice President (0 & M) South-II. Room N0-214A. B.S.E.S Building, Adhchani New


                    </p>

                    <p style="        color: black;
        margin-top: -2%;
        text-align-last: justify;margin-left:22px
 ">
                        Delhi-110017 (Mob Sh.Vijay - 8510888109) with request to kindly depute



                    </p>
                    <p style="        color: black;
        margin-top: -2%;
        text-align-last: justify
 ">
                        &nbsp;&nbsp;&nbsp;concerned officials to disconnect the electric supply and to assist in electricity related



                    </p>


                    <p style="        color: black;
        margin-top: -2%

">
                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;matters for safe demolition operation



                    </p>
                    <p style="        color: black;
        margin-top: -2%;
        text-align-last: justify
">
                        16.&nbsp;Shri Shiv Malhotra, Sita Ram Earth Movers D.B Gupta Road, Near Naaz Cinema, Karol


                    </p>

                    <p style="        color: black;
        margin-top: -2%

">
                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Bagh, New Delhi - 110017



                    </p>

                </div>

            </div>

        </div>
    </div>
</div>
