
@model Libraries.Model.Entity.Undersection17
@await Component.InvokeAsync("PageHeader", new { pageName = "Notification U/S-17" })





<div class="pt-3">
    <form asp-action="View" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h3 class="mb-3 d-flex">View Details<span style="margin-left:800px"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span></h3>
        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="Number" placeholder="Notification No." class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="Number" class="text-danger"></span>
                    <label class="floating-label">Notification No. <span style="color:red">*</span></label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="NotificationDate" type="date" class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="NotificationDate" class="text-danger"></span>
                    <label class="floating-label"> Notification Date </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="hidden" asp-for="DocumentName" />
                    @{
                        @if (Model.DocumentName != null)
                        {
                            <input disabled type="file" asp-for="DocumentIFormFile" class="floating-label-field floating-label-field--s3" accept="application/pdf,  image/png, image/jpeg">
                            <label class="badge badge-primary px-2">(View File)</label>
                        }
                        else
                        {
                            <input disabled type="file" asp-for="DocumentIFormFile" class="floating-label-field floating-label-field--s3" accept="application/pdf,  image/png, image/jpeg">
                        }
                    }
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="DocumentName"></span>
                    <label class="floating-label"> Upload Gazette Notification</label>
                </div>
            </div>
        </div>
        <div id="Divclsification">

            <h2 class="my-3 sub-heading">Notification Type</h2>

            <div class="row">
                <div class="col-md-6">
                    <div class="floating-label-wrap">

                        <select disabled class="floating-label-field floating-label-field--s3" asp-for="UnderSection6Id" asp-items="@(new SelectList(Model.Undersection6List, "Id","Number"))">
                            <option>Select</option>
                        </select>
                        <span asp-validation-for="UnderSection6Id" class="text-danger"></span>
                        <label class="floating-label">Notification U/S-6 <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <select disabled asp-for="IsActive" class="floating-label-field floating-label-field--s3">
                            <option value="1">Active</option>
                            <option value="0">InActive</option>
                        </select>
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                        <label class="floating-label"> Status <span style="color:red">*</span></label>
                    </div>
                </div>

            </div>
        </div>

        <div class="row mt-md-3">
            <div class=" col-md-12">
                @Html.ActionLink("Back", "Index", "UnderSection17Details", null, new { @class = "btn btn-theme" })
            </div>
        </div>

    </form>
</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/undersection17detailscreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/undersection17detailscreate.min.js" asp-append-version="true"></script>
</environment>