@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Servicetype>

<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">
        <tr>

            <th>Name </th>
            <th>Timeline </th>
            <th> Status</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
        <tr>

            <td>@item.Name</td>
            <td>@(item.Timeline == null? 0: item.Timeline)</td>
            <td>
                @if (item.IsActive == 1)
                {
                    <span class="badge badge-primary px-2 py-1">Active</span> }
                else
                {
                    <span class="badge badge-danger px-2 py-1">Inactive</span>}
            </td>
            <td>
                <div class="action-btns">
                   <a href=@item.Url target="_blank"class="btn btn-theme" style="width:auto;min-width:80px;"><b>Apply</b></a>
                </div>

            </td>

        </tr>
}
    </tbody>

</table>

@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })
