@model Libraries.Model.Entity.Request

@await Component.InvokeAsync("PageHeader", new { pageName = "Request" })


<div class="pt-3">


    <form asp-action="Create" enctype="multipart/form-data" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">

        <h3 class="mb-3 d-flex">Add Details</h3>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input class="floating-label-field floating-label-field--s3" placeholder="Scheme Name" asp-for="PproposalName" />
                    <span asp-validation-for="PproposalName" class="text-danger"></span>
                    <label class="floating-label">Scheme/Proposal Name<span style="color:red">*</span>  </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">


                    <input class="floating-label-field floating-label-field--s3" placeholder="Scheme Code" asp-for="PfileNo" />
                    <span asp-validation-for="PfileNo" class="text-danger"></span>
                    <label class="floating-label">File No<span style="color:red">*</span> </label>
                </div>
            </div>
        </div>

        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input class="floating-label-field floating-label-field--s3" placeholder="Scheme Name" asp-for="RequiringBody" />
                    <span asp-validation-for="RequiringBody" class="text-danger"></span>
                    <label class="floating-label">Requiring Body <span style="color:red">*</span> </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">


                    <input class="floating-label-field floating-label-field--s3" placeholder="Scheme Code" asp-for="AreaLocality" />
                    <span asp-validation-for="AreaLocality" class="text-danger"></span>
                    <label class="floating-label">Area/Locality<span style="color:red">*</span> </label>
                </div>
            </div>
        </div>


        <div class="pt-3">
            <h3 class="mb-3 d-flex">Total Area Under Request</h3>

            <div class="row">



                <div class="col-md-3">
                    <div class="form-check theme">


                        <input class="form-check-input" type="radio" asp-for="TaunderRequest" value="HA" checked/>    <label class="radio-inline">
                           HA
                        </label>
                    </div>
                </div>   <div class="col-md-3">
                    <div class="form-check theme">


                        <input class="form-check-input" type="radio" asp-for="TaunderRequest" value="Acre" />
                        <label class="radio-inline">
                          Acre
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check theme">


                        <input class="form-check-input" type="radio" asp-for="TaunderRequest" value="SqMeter" />
                        <label class="radio-inline">
                          Sq. Meter
                        </label>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input class="floating-label-field floating-label-field--s3 numbers" placeholder="Unit Area" asp-for="UnitArea" />
                    <span asp-validation-for="UnitArea" class="text-danger"></span>
                    <label class="floating-label">Unit Area<span style="color:red">*</span></label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <textarea type="text" asp-for="PurposeOfAcquistion" class="floating-label-field floating-label-field--s3" placeholder="Description"></textarea>
                    <span asp-validation-for="PurposeOfAcquistion" class="text-danger"></span>
                    <label class="floating-label">Purpose Of Acquistion<span style="color:red">*</span></label>
                </div>
            </div>
            </div>



            <div class="row mt-md-3">

                <div class="col-md-6">
                    <label class="err" style="color:red;">
                        Only Upload 10 Mb File
                    </label>
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input type="file" onchange="upload_check();" id="file_id" class="floating-label-field floating-label-field--s3" asp-for="RequestPhotos" />

                     
                        <label class="floating-label">Layout Plan/Zonal Plan/Master Plan  </label>

                    </div>
                </div>



                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <textarea type="text" asp-for="Remarks" class="floating-label-field floating-label-field--s3" placeholder="Description"></textarea>
                     
                        <label class="floating-label">Remarks</label>
                    </div>
                </div>

            </div>
            <div class="row mt-md-3">

                <div class=" col-md-6">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" asp-for="IsActive">
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                        <label asp-for="IsActive" class="floating-label">Status </label>
                    </div>
                </div>
            </div>
       

        <div class="row mt-md-3">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="submit">Submit</button>
                @Html.ActionLink("Back", "Index", "Request", null, new { @class = "btn btn-theme " })
            </div>
        </div>

    </form>


</div>
<partial name="../Shared/_ValidationScriptsPartial.cshtml" />



<script>


    function upload_check() {
        $('.err').show();
        var upl = document.getElementById("file_id");
        var filePath = upl.value; 
   
        //104857600
  
        var allowedExtensions =
            /(\.jpg|\.jpeg|\.png|\.gif|\.pdf|\.xls|\.xlsx|\.docx|\.doc)$/i;

        if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type');
            upl.value = "";
            return false;
        }
        else if (upl.files[0].size > 10535049) {
            $('.err').hide();


            upl.value = "";
        } else {
            $('.err').hide();
        }
    };


   

</script>