@model Libraries.Model.Entity.Landtransfer
@await Component.InvokeAsync("PageHeader", new { pageName = "Hand Over/Take Over Report(Zone/Division and Locality Wise)" })

<br />

<div class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
    <h3 class="mb-3 d-flex">Report Of Land Transfer Division Locality Wise Details</h3>

    <div class="row">
        <div class="form-group col-md-6">
            <div class="floating-label-wrap">
                <select id="DepartmentId" class="floating-label-field floating-label-field--s3"
                        asp-items="@(new SelectList(Model.DepartmentList,"Id","Name"))"
                        onchange="return onChangeDepartment(this.options[this.selectedIndex].value);">
                    <option value="0">All</option>
                </select>
                <label class="floating-label">Department  </label>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="floating-label-wrap">
                <select id="ZoneId" class="floating-label-field floating-label-field--s3"
                        asp-items="@(new SelectList(Model.ZoneList,"Id","Name"))"
                        onchange="return onChangeZone(this.options[this.selectedIndex].value)">
                    <option value="0">All</option>
                </select>
                <label class="floating-label">Zone  </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <div class="floating-label-wrap">
                <select id="DivisionId" class="floating-label-field floating-label-field--s3"
                        asp-items="@(new SelectList(Model.DivisionList,"Id","Name"))"
                        onchange="return onChangeDivision(this.options[this.selectedIndex].value)">
                    <option value="0">All</option>
                </select>
                <label class="floating-label">Division  </label>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="floating-label-wrap">
                <select id="LocalityId" class="floating-label-field floating-label-field--s3"
                        asp-items="@(new SelectList(Model.LocalityList,"Id","Name"))">
                    <option value="0">All</option>
                </select>
                <label class="floating-label">Locality(Village) Name   </label>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="form-group col-md-12 ">
            <input type="button" value="Generate" id="btnGenerate" class="btn btn-theme" />
            <input type="button" value="Refresh" onclick="location.reload(true);" class="btn btn-theme" />

            @*<div class="form-group col-md-12" style="margin-bottom:40px;">
                    <input type="submit" value="Generate" id="btnGenerate" class="btn btn-primary dda-pageheading" />
                </div>*@
        </div>
    </div>
    @*<div id="LoadReportView">

    </div>*@
</div>
<div class="table-section bg-white border shadow rounded">
    <div class="short-section d-md-flex align-items-center">
        <div class="p-3 d-flex align-items-end mr-auto">
            <div class="floating-label-wrap">
                <select class="floating-label-field floating-label-field--s3">
                    <option selected="selected" disabled="disabled">Select One</option>
                    <option>Department</option>
                    <option>Zone</option>
                    <option>Division</option>
                    <option>Locality(Village) Name</option>

                </select>
                <label for="field-1" class="floating-label">Sort by</label>
            </div>
            <div class="short-btn d-flex align-items-center">
                <span class="btn slow active" title="Descending order"><i class="ri-sort-desc"></i></span>
                <span class="btn slow" title="Ascending order"><i class="ri-sort-asc"></i></span>
            </div>
        </div>


        <div class="download-table d-flex align-items-center px-3 mb-3 mb-md-0">
            @*<a href="/Zone/create" class="d-flex align-items-center btn btn-primary mr-2">
                <i class="ri-add-fill mr-2 mr-lg-1"></i>
                <small>Add More</small>
            </a>*@
            <a href="javascript:void(0)" class="d-flex align-items-center btn btn-success">
                <i class="ri-download-2-line mr-2 mr-lg-1"></i>
                <small>Download</small>
            </a>
        </div>
    </div>

    <div class="table-responsive px-2">
        <div id="LoadReportView">

        </div>
    </div>


</div>




<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/reportoflandtransferdivisionlocalitywisecreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/reportoflandtransferdivisionlocalitywisecreate.min.js" asp-append-version="true"></script>
</environment>
