
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<script src="~/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>


<script src="js/bootstrap.min.js"></script>
<link href="Styles/bootstrap.css" rel="stylesheet" />

<style>
    table, tr, td {
        border: none !important;
    }
</style>

<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Request For Acquisition Of Land</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  myapp-hed1">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%">Request For Acquisition Of Land </h6>
        </div>
        <div class="panel-body">
            <form method="post" asp-action="Index" id="1">
               
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="radio-inline ">
                            <input type="radio" name="search" id="searchname" value="" />By Project Name
                        </label>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="radio-inline">
                            <input type="radio" name="search" id="searchno" value="" />By Project File No
                        </label>
                    </div>
                    <div class="form-group col-md-4">

                    </div>

                </div>



                <div id="divname" style="display:none;">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class=" myapp-hed2">
                                <div class="col-md-12">
                                    <h6 class="pull-left" style="color:white;margin-top:5px;">By Project Name</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm"> Project Name  </label>
                            <select style="height:30px;    background-color: #dddddd;"
                                    required class="form-control">
                                <option>Project 1</option>
                                <option>project2</option>
                            </select>
                        </div>
                    </div>


                </div>
                <div id="divfile" style="display:none;">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class=" myapp-hed2">
                                <div class="col-md-12">
                                    <h6 class="pull-left" style="color:white;margin-top:5px;">By Project File No</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm"> Project File No  </label>
                            <select style="height:30px;    background-color: #dddddd;"
                                    required class="form-control">
                                <option>PF1021</option>
                                <option>PF120365</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="form-row " style="display:none;" id="DivForGenerate">
                    <div class="form-group col-md-12" style="margin-bottom:40px;">
                        @Html.ActionLink("Generate Letter", "PrintRequest", "PrintRequest", null, new { @class = "btn btn-primary myapp-hed1", target = "_blank", style = "width:auto;" })
                        </div>
                </div>



            </form>
        </div>
    </div>
</div>



<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/printrequestindex.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/printrequestindex.min.js" asp-append-version="true"></script>
</environment>