@model Libraries.Model.Entity.Designation

<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Designation Master </h6>
                <i class="fa fa-arrow-left pull-right pt-4" aria-hidden="true" ></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  myapp-hed1">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%">Add Details</h6>
        </div>
        <div class="panel-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Designation </label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Status</label>
                        <select asp-for="IsActive" style="height:30px; background-color: #dddddd;" id="ActiveStatus" required="" class="form-control">
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row ">
                    <div class="form-group col-md-12" style="margin-bottom:40px;">
                        <input type="submit" value="Create" class="btn btn-primary myapp-hed1" />
                        @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
                        @Html.ActionLink("Back", "Index", "Designation", null, new { @class = "btn btn-primary myapp-hed1" })
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>



@if (ViewData["Msg"] != null)
{
    SiteMaster.Models.Message msg = ViewData["Msg"] as SiteMaster.Models.Message;
    @await Html.PartialAsync("~/Views/Shared/_ShowMsg.cshtml", msg);
}


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/designationindex.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/designationindex.min.js" asp-append-version="true"></script>
</environment>
