@model Libraries.Repository.Common.PagedResult<Libraries.Model.Entity.Enchroachment>
@{int rowNo = 0; }
<table class="table table-sm table-bordered mb-0 table-striped">
    <thead class="text-nowrap">
        <tr>
            <th>Sr.No</th>
            <th>Amount</th>
            <th>Cheaque No.</th>
            <th>Cheaque Date</th>

            
        </tr>
    </thead>
    <tbody class="tbody">
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>@(rowNo += 1)</td>
                <td>@item.Village.Name</td>
                <td>@item.Khasra.Name</td>
                <td>Yes</td>
            </tr>
        }

    </tbody>
</table>
@await Component.InvokeAsync("Pager", new { totalCount = Model.RowCount, pageNumber = Model.CurrentPage, pageSize = Model.PazeSize })