
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@await Component.InvokeAsync("PageHeader", new { pageName = "Employee" })
<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Employee Master</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div>
    @Html.ActionLink("Add New", "Create", "EmployeeMaster", null, new { @class = "btn btn-primary pull-right myapp-hed1 ", style = "margin-top: -10px;" })
</div>
<br />
<br />
<div class="container-fluid" id="MainContentForm">
    <div class="card  table-card">

        <table class="table table-responsive table-bordered table-card">
           
            <thead class="thead">
                <tr>
                    <th>Sr.No</th>
                    <th>Employee Name</th>
                    <th>Department</th>
                    <th>Designation </th>
                    <th>Status</th>
                    <th>
                        Operations
                    </th>

                </tr>


            </thead>
            <tbody class="tbody">
                <tr>
                    <td>1</td>
                    <td>Jay Pal Singh</td>
                    <td>engg</td>
                    <td>junior engg</td>
                    <td>1</td>
                    <td>
                        <i class="glyphicon glyphicon-eye-open icon-white cl1"></i>&nbsp;|&nbsp;
                        <i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;|&nbsp;
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </td>

                </tr>
                <tr>
                    <td>2</td>
                    <td>Ravi kumar</td>
                    <td>Land Management</td>
                    <td>section officer</td>

                    <td>1</td>
                    <td>
                        <i class="glyphicon glyphicon-eye-open icon-white cl1"></i>&nbsp;|&nbsp;
                        <i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;|&nbsp;
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </td>

                </tr>
                <tr>
                    <td>3</td>
                    <td>Santosh kumar</td>
                    <td>Hort</td>
                    <td>Agriculture officer</td>



                    <td>1</td>
                    <td>
                        <i class="glyphicon glyphicon-eye-open icon-white cl1"></i>&nbsp;|&nbsp;
                        <i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;|&nbsp;
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>
</div>
<br />
<br />


