@model Libraries.Model.Entity.Enhancecompensation


<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Enhance Compensation Master</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading dda-pageheading">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%"> Add Details </h6>
        </div>
        <div class="panel-body">
            <form asp-action="View">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div id="divname">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm"> Demand List No </label>
                            <input required type="text" asp-for="DemandListNo" class="form-control" />
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm"> ENM Sno.</label>
                            <input required type="text" asp-for="Enmsno" class="form-control" />


                        </div>

                    </div>
                </div>
                <div id="divdemand">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class="dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left" style="color:white;margin-top:5px;">Demand List Details</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">LAC File No. </label>
                            <input required type="text" asp-for="LacfileNo" class="form-control" />
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">L & B No. </label>
                            <input required type="text" asp-for="Lbno" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">L & B Ref.Date</label>
                            <input required type="date" asp-for="LbrefDate" class="form-control" />
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">DDA File No. </label>
                            <input required type="text" asp-for="DdafileNo" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">LAC No.</label>
                            <input required type="text" asp-for="Lacno" class="form-control" />
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">RFA No.</label>
                            <input required type="text" asp-for="Rfano" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Court Case No.</label>
                            <input required type="text" asp-for="Slpno" class="form-control" />
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Payable/Appealable</label>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="checkbox" asp-for="Payable" value="Payable" />
                                    <label for="Payable" class="lb-sm">Payable</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="checkbox" asp-for="Payable" value="Appealable" />
                                    <label for="Payable" class="lb-sm">Appealable</label>
                                </div>


                            </div>

                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Date Of Judgement</label>
                            <input required type="date" asp-for="JudgementDate" class="form-control" />
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Case Involves to which court</label>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label class="radio-inline  ">
                                        <input type="radio" asp-for="CaseCourt" value="A.D.J" />A.D.J
                                    </label>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="radio-inline ">
                                        <input type="radio" asp-for="CaseCourt" value="H.C" />H.C.
                                    </label>
                                </div>
                                <div class="form-group col-md-4">

                                    <label class="radio-inline ">
                                        <input type="radio" asp-for="CaseCourt" value="S.C" />S.C.
                                    </label>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Party Name</label>
                            <input required type="text" class="form-control" asp-for="PartyName">
                        </div>
                        <div class="form-row">

                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Status</label>
                                <select asp-for="DemandStatus" class="form-control dda-dropdown">
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                                <span asp-validation-for="DemandStatus" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="Divclsification">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class="dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left" style="color:white;margin-top:5px;">Khasra Details</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm"> Village Name</label>
                            <select class="form-control dda-dropdown" asp-for="VillageId" asp-items="@(new SelectList(Model.VillageList, "Id","Name"))">
                                <option>Select</option>
                            </select>
                            <span asp-validation-for="VillageId" class="text-danger"></span>


                        </div>




                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Khasra No</label>
                            <select class="form-control dda-dropdown" asp-for="KhasraId" asp-items="@(new SelectList(Model.KhasraList, "Id","Name"))">
                                <option>Select</option>
                            </select>
                            <span asp-validation-for="KhasraId" class="text-danger"></span>



                        </div>

                    </div>


                    <div id="Divclsification">
                        <div class="row" style="margin-bottom:35px;">
                            <div class="col-sm-12">
                                <div class=" dda-innerheading">
                                    <div class="col-md-12">
                                        <h6 class="pull-left" style="color:white;margin-top:5px;">Area </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="control-label lb-sm">Bigha</label>
                                <input type="text" asp-for="Bigha" class="form-control" />
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label lb-sm">Biswa</label>
                                <input type="text" asp-for="Biswa" class="form-control" />
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label lb-sm">Biswanshi</label>
                                <input type="text" asp-for="Biswanshi" class="form-control" placeholder="0" />
                            </div>
                        </div>
                    </div>

                </div>

                <div id="divdemand">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class="dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left" style="color:white;margin-top:5px;">Payment Details    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Amount paid</label>
                            <input required type="text" asp-for="AmountPaid" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Cheque Date  </label>
                            <input required type="date" asp-for="ChequeDate" class="form-control" />
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Cheque No</label>
                            <input required type="text" asp-for="ChequeNo" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Bank Name </label>
                            <input required type="text" asp-for="BankName" class="form-control" />
                        </div>




                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Voucher No </label>
                            <input required type="text" asp-for="VoucherNo" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Percent Paid </label>
                            <input required type="text" asp-for="PercentPaid" class="form-control" />
                        </div>

                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm"> Status</label>

                            <select asp-for="PaymentStatus" class="form-control dda-dropdown">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                            <span asp-validation-for="PaymentStatus" class="text-danger"></span>
                        </div>

                    </div>
                </div>

                <div id="divdemand">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class="dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left" style="color:white;margin-top:5px;">Appeal Details  </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Appeal No.</label>
                            <input required type="text" asp-for="AppealNo" class="form-control" />
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Appeal By which Dept. </label>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <input type="checkbox" asp-for="AppealDept" value="UOI ">
                                    <label for="UOI " class="lb-sm">UOI </label>
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="checkbox" asp-for="AppealDept" value="DDA">
                                    <label class="lb-sm" for="DDA">DDA</label>
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="checkbox" asp-for="AppealDept" value="Other">
                                    <label class="lb-sm" for="DDA">Other</label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Date Of Appeal </label>
                            <input required type="date" class="form-control" asp-for="DateOfAppeal" />
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Panel Lawer </label>
                            <input required type="text" class="form-control" asp-for="PanelLawer" />
                        </div>
                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm"> Status</label>

                            <select asp-for="IsActive" class="form-control dda-dropdown">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                        </div>

                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="control-label lb-sm">Remarks</label>
                        <textarea type="text" class="form-control" asp-for="Remarks" style=" background-color: #dddddd;"></textarea>
                    </div>
                </div>

                <div class="form-row ">
                    <div class="form-group col-md-12" style="margin-bottom:40px;">
                        @*<input type="submit" value="View" class="btn btn-primary dda-pageheading" />*@
                        @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
                        @Html.ActionLink("Back", "Index", "EnhanceCompensationMaster", null, new { @class = "btn btn-primary dda-pageheading" })
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


