@model Libraries.Model.Entity.Booktransferland
@await Component.InvokeAsync("PageHeader", new { pageName = "Book Transfer Land" })

<div class="pt-3">
    <form asp-action="Create" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Add Details<span class="ms-auto"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span></h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="OtherLandNotificationId " 
                            asp-items="@(new SelectList(Model.OtherlandnotificationList, "Id","NotificationNumber"))">
                             @*onchange="return onChange(this.options[this.selectedIndex].value);">>*@
                        <option disabled="disabled"  value="" selected="selected">Select</option>
                    </select>
                    <span asp-validation-for="OtherLandNotificationId" class="text-danger"></span>
                    <label class="floating-label" asp-for="OtherLandNotificationId">Notification No. <span style="color:red">*</span></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <input asp-for="NotificationDate" type="date" class="floating-label-field floating-label-field--s3 " required>
                    <span asp-validation-for="NotificationDate" class="text-danger"></span>
                    <label class="floating-label" asp-for="NotificationDate">Notification Date <span style="color:red">*</span></label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="LocalityId " asp-items="@(new SelectList(Model.LocalityList, "Id","Name"))"
                            onchange="return onChange(this.options[this.selectedIndex].value);"  >
                        <option disabled="disabled"  value="" selected="selected">Select</option>
                    </select>
                    <span asp-validation-for="LocalityId" class="text-danger"></span>
                    <label class="floating-label" asp-for="LocalityId">Locality Name (Village) <span style="color:red">*</span></label>


                </div>
            </div>
            <div class=" col-md-6">

                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="KhasraId" asp-items="@(new SelectList(Model.KhasraList, "Id","Name"))" >
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="KhasraId" class="text-danger"></span>
                    <label class="floating-label">Khasra No <span style="color:red">*</span></label>

                </div>

            </div>

        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <input asp-for="Part" type="text" class="floating-label-field floating-label-field--s3 " placeholder="Name" limit="200">

                    <span asp-validation-for="Part" class="text-danger"></span>
                    <label class="floating-label" asp-for="Part">Part <span style="color:red">*</span></label>


                </div>
            </div>
            <div class=" col-md-6">

                <div class="floating-label-wrap">
                    <input asp-for="Area" type="text" class="floating-label-field floating-label-field--s3 numbers" placeholder="Area" limit="18" value="">

                    <span asp-validation-for="Area" class="text-danger"></span>
                    <label class="floating-label" asp-for="Area">Area (Acre)</label>

                </div>

            </div>

        </div>
        <div id="Divclsification">
            <h2 class="my-3 sub-heading">
                <label class="control-label lb-sm" asp-for="StatusOfLand">   Status of Land</label>
            </h2>

            <div class="row pt-3">

                <div class="col-md-6">
                    <input type="hidden" asp-for="StatusOfLand" id="StatusOfLand" value="Allotted" />
                    <span asp-validation-for="StatusOfLand" class="text-danger"></span>

                    <div class="row">
                        <div class="col-md-3">
                           
                            <div class="form-check theme">
                                <input class="form-check-input" type="radio" asp-for="StatusOfLand" name="grpLand" value="Allotted" checked="checked">
                                <label class="form-check-label" for="radio">
                                    Allotted
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check theme">
                                <input class="form-check-input" type="radio" asp-for="StatusOfLand" name="grpLand" value="Vacant">
                                <label class="form-check-label" for="radio">
                                    Vacant
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                           
                            <div class="form-check theme">
                                <input class="form-check-input" type="radio" asp-for="StatusOfLand" name="grpLand" value="Enchroched" >
                                <label class="form-check-label" for="radio">
                                    Enchroched
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check theme">
                                <input class="form-check-input" type="radio" asp-for="StatusOfLand" name="grpLand" value="Green">
                                <label class="form-check-label" for="radio">
                                    Green
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-6">

                    <div class="floating-label-wrap">
                        <input asp-for="DateofPossession" type="date" class="floating-label-field floating-label-field--s3 " placeholder="Name" >

                        <span asp-validation-for="DateofPossession" class="text-danger"></span>
                        <label class="floating-label" asp-for="DateofPossession">Date of Possession</label>

                    </div>

                </div>
            </div>
        </div>
       
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <input asp-for="Remarks" type="text" class="floating-label-field floating-label-field--s3 " placeholder="Name" limit="400">

                    <span asp-validation-for="Remarks" class="text-danger"></span>
                    <label asp-for="Remarks" class="floating-label">Remarks </label>
                </div>
            </div>
            <div class=" col-md-6">

                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="IsActive">

                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label asp-for="IsActive" class="floating-label">Status <span style="color:red">*</span></label>
                </div>

            </div>

        </div>
        <div class="row mt-md-3">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="submit">Submit</button>
                @Html.ActionLink("Back", "Index", "BookTransferLand", null, new { @class = "btn btn-theme " })

            </div>
        </div>
    </form>
</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/booktransferlandcreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/booktransferlandcreate.min.js" asp-append-version="true"></script>
</environment>
