@model Libraries.Model.Entity.Payment
@await Component.InvokeAsync("PageHeader", new { pageName = "For Payment" })



<div class="table-section bg-white border shadow rounded">

    <input type="hidden" id="LeaseTypeId" value="@ViewBag.PaymentTypeId"/>
    <input type="hidden" id="AllotmentId" value="@ViewBag.AllotmentId"/>
    <h3 class="my-3 d-flex sub-heading">Allottee Details</h3>

    @*Allottee Details Added*@
    <div id="divAlloteeDetails">

    </div>

    @*Premium Details Added*@
    <div id="premiumDiv">
        <br />
        <h3 class="my-3 d-flex sub-heading">Premium Details</h3>
        <div class="table-responsive px-2" id="divTable">

        </div>

    </div>

    @*Ground Rent Details Added*@
    <div id="groundRentDiv">
        <br />
        <h3 class="my-3 d-flex sub-heading">Ground Rent Details</h3>
        <div class="table-responsive px-2" id="divGroundRentTable">

        </div>
    </div>

    @*Document Charge Details Added*@
    <div id="documentChargeDiv">
        <br />
        <h3 class="my-3 d-flex sub-heading">Document Charge Details</h3>
        <div class="table-responsive px-2" id="divDocumentChargeTable">

        </div>
    </div>

    @*Licence Details Added*@
    <div id="licenceFeesDiv">
        <br />
        <h3 class="my-3 d-flex sub-heading">Licence Fees Details</h3>
        <div class="table-responsive px-2" id="divLicenceFeesTable">

        </div>
    </div>



</div>
<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/paymentindex.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/paymentindex.min.js" asp-append-version="true"></script>
</environment>

