@model Dto.Master.PossessionReportDtoProfile

@await Component.InvokeAsync("PageHeader", new { pageName = "Possession Report" })
<div id="frmReliefReport" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
    <h3 class="mb-3 d-flex">Details <span class="ms-auto"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span> </h3>


    <div class="row">
        <div class="col-md-6">
            <div class="floating-label-wrap">

                <select class="floating-label-field floating-label-field--s3" id="possessionDate" asp-items="@(new SelectList( @ViewBag.PossessionDateList, "ID","POSSDATE"))">
                    <option value="0">All</option>
                </select>
                <label class="floating-label">Possession Date<span style="color:red">*</span></label>
            </div>
        </div>

    </div>


    <div class="row mt-md-3">
        <div class="col-md-12 col-xl-3">
            <div class="row">
                <div class="col-6 col-md-5 col-xl-6">
                    <button class="btn btn-link btn-block d-flex align-items-center justify-content-center" type="reset" id="btnReset">
                        <i class="ri-refresh-line me-2"></i>Reset
                    </button>
                </div>
                <div class="col-6 col-md-7 col-xl-6">
                    <input type="submit" value="Generate" id="btnGenerate" class="btn btn-theme " />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="table-section bg-white border shadow rounded">
    <div class="short-section d-md-flex align-items-center">
        <div class="p-3 d-flex align-items-end me-auto">
            <div class="floating-label-wrap">
                <select id="ddlSort" class="floating-label-field floating-label-field--s3">
                    <option selected="selected" value="village">Village</option>
                    <option value="khasra">Khasra No.</option>
                </select>
                <label for="field-1" class="floating-label">Sort by</label>
            </div>
            <div class="short-btn d-flex align-items-center">
                <span class="btn slow active" id="btnAscending" title="Ascending order"><i class="ri-sort-asc"></i></span>
                <span class="btn slow" id="btnDescending" title="Descending order"><i class="ri-sort-desc"></i></span>
            </div>
        </div>

        <div class="download-table d-flex align-items-center px-3 mb-3 mb-md-0">

            <a href="#" id="Download" class="d-flex align-items-center btn btn-success">
                <i class="ri-download-2-line me-2 me-lg-1"></i>
                <small>Download</small>
            </a>
        </div>
    </div>
    <div class="table-responsive px-2" id="LoadReportView">

    </div>
</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/possessionreportindex.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/possessionreportindex.js" asp-append-version="true"></script>
</environment>