@model Libraries.Model.Entity.Locality
@*<div class="row">
        <div class="col-sm-12">
            <div class="dda-topheading">
                <div class="col-md-12">
                    <h6 class="pull-left" style="color:white;margin-top:5px;">Locality (Village)</h6>
                    <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-heading dda-pageheading">
                <h6 class="pull-left color-white " style="margin-top:-0.4%">Add Details</h6>
            </div>
            <div class="panel-body">
                <form asp-action="Create" novalidate="novalidate">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Department <span style="color:red">*</span></label>
                            <select asp-for="DepartmentId" class="form-control dda-dropdown" asp-items="@(new SelectList(Model.DepartmentList,"Id","Name"))" onchange="return onChange(this.options[this.selectedIndex].value);" required="required" requiredmsg="The Department field is required">
                                <option value="">Select</option>
                            </select>
                            <span asp-validation-for="DepartmentId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Zone <span style="color:red">*</span></label>
                            <select asp-for="ZoneId" class="form-control dda-dropdown" onchange="return onChangeZone(this.options[this.selectedIndex].value)" required="required" requiredmsg="The Zone field is required">
                                <option value="">Select</option>
                            </select>
                            <span asp-validation-for="ZoneId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Division <span style="color:red">*</span></label>
                            <select asp-for="DivisionId" class="form-control dda-dropdown" required="required" requiredmsg="The Division field is required">
                                <option value="">Select</option>
                            </select>
                            <span asp-validation-for="DivisionId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Locality(Village) Name <span style="color:red">*</span></label>
                            <input asp-for="Name" type="text" class="form-control" limit="200" required="required" requiredmsg="The Locality Name field is required"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm"> Locality(Village) Code <span style="color:red">*</span></label>
                            <input asp-for="LocalityCode" type="text" class="form-control" limit="200" required="required" requiredmsg="The Locality Code field is required"/>
                            <span asp-validation-for="LocalityCode" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Landmark <span style="color:red">*</span></label>
                            <input asp-for="Landmark" type="text" class="form-control" limit="200" required="required" requiredmsg="The Landmark field is required"/>
                            <span asp-validation-for="Landmark" type="text" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm">Address <span style="color:red">*</span></label>
                            <textarea asp-for="Address" type="text" class="form-control" limit="600" required="required" requiredmsg="The Address field is required"></textarea>
                            <span asp-validation-for="Address" type="text" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label lb-sm"> Status</label>
                            <select asp-for="IsActive" class="form-control dda-dropdown">
                                <option value="1">Active</option>
                                <option value="0">InActive</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class=" form-group  col-md-12">
                            <input type="submit" value="Create" class="btn btn-primary dda-pageheading" onclick="return ValidateForm();"/>
                            @Html.ActionLink("Back", "Index", "Locality", null, new { @class = "btn btn-primary dda-pageheading" })
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>*@
@await Component.InvokeAsync("PageHeader", new { pageName = "Locality" })
@*<style>
       form .error
        {
            position: absolute;
            color: #f00;
            font-size: .7rem;
            bottom: -14px;
            font-weight: 600;
        }

        .success {
            color: #28a745;
        }
    </style>*@

<br />

<br />
<div class="container-fluid">

    <form asp-action="Create" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Add Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="DepartmentId" asp-items="@(new SelectList(Model.DepartmentList,"Id","Name"))" onchange="return onChange(this.options[this.selectedIndex].value);" required="required" requiredmsg="The Department field is required">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <label asp-validation-for="DepartmentId" class="error"></label>
                    <label asp-for="DepartmentId" class="floating-label">Department </label>
                </div>
            </div>
            <div class="col-md-6">

                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="ZoneId" onchange="return onChangeZone(this.options[this.selectedIndex].value)" required="required" requiredmsg="The Zone field is required">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <label asp-validation-for="ZoneId" class="error"></label>
                    <label asp-for="ZoneId" class="floating-label">Zone </label>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">

                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="DivisionId"  required="required" requiredMsg="The Division field is required">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <label asp-validation-for="DivisionId" class="error"></label>
                    <label asp-for="DivisionId" class="floating-label">Division </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<span class="text-danger">*</span>*@
                    <input asp-for="Name" type="text" class="floating-label-field floating-label-field--s3 " placeholder="Name"
                           limit="100">
                    <span asp-validation-for="Name" class="text-danger "></span>
                    <label class="floating-label">Locality(Village) Name</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<span class="text-danger">*</span>*@
                    <input asp-for="LocalityCode" type="text" class="floating-label-field floating-label-field--s3" placeholder="LocalityCode"
                           limit="200">
                    <span asp-validation-for="LocalityCode" class="text-danger "></span>
                    <label class="floating-label">Locality(Village) Name Code</label>
                </div>
            </div>
            <div class="col-md-6">

               
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        @*<span class="text-danger">*</span>*@
                        <input asp-for="Landmark" type="text" class="floating-label-field floating-label-field--s3" placeholder="Landmark"
                               limit="600">
                        <span asp-validation-for="Landmark" class="text-danger "></span>
                        <label class="floating-label">Landmark</label>
                    </div>
                </div>
            </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    @*<span class="text-danger">*</span>*@
                    <input asp-for="Address" type="text" class="floating-label-field floating-label-field--s3" placeholder="Address"
                           limit="600">
                    <span asp-validation-for="Address" class="text-danger "></span>
                    <label class="floating-label">Address</label>
                </div>
                </div>
                <div class=" col-md-6">

                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" asp-for="IsActive">

                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                        <label asp-for="IsActive" class="floating-label">Status </label>
                    </div>

                </div>
           
            </div>
            <div class="row mt-md-3">
                <div class=" col-md-12">
                    <button class="btn btn-theme " type="submit">Create</button>
                    @Html.ActionLink("Back", "Index", "Locality", null, new { @class = "btn btn-theme " })

                </div>
            </div>

</form>

</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/LocalityMaster.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/LocalityMaster.min.js" asp-append-version="true"></script>
</environment>