@model Libraries.Model.Entity.Department

<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left pt-5 color-white">Department  </h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid">
    <div class="panel">
        <div class="panel-heading  dda-pageheading">
            <h6 class="pull-left color-white mt-4" style="color:white; margin-top:-0.4%">Edit Details</h6>
        </div>
        <div class="panel-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Department </label>
                        <input asp-for="Name" class="form-control"  limit="100">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Status</label>
                        <select asp-for="IsActive" style="height:30px; background-color: #dddddd;" id="ActiveStatus" required="" class="form-control">
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                      
                    </div>
                </div>
             

                <br />
                <div class="form-row ">
                    <div class="form-group col-md-12" style="margin-bottom:40px;">
                        <input type="submit" value="Update" class="btn btn-primary dda-pageheading" />
                        @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
                        @Html.ActionLink("Back", "Index", "Department", null, new { @class = "btn btn-primary dda-pageheading" })
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
