@model Libraries.Model.Entity.Demandletters
@await Component.InvokeAsync("PageHeader", new { pageName = "Demand letter" })



<div class="pt-3">

    <form asp-action="Create" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">

        <h3 class="mb-3 d-flex">Add Details <span class="ms-auto"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span> </h3>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>



        <div id="DivForFileName">

            <div class="row mt-md-3">
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input id="txtfileno" placeholder="Date of Encroachment" type="search"
                               class="floating-label-field floating-label-field--s3" asp-for="FileNo" />
                        <span asp-validation-for="FileNo" class="text-danger"></span>
                        <label class="floating-label"> File No <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input placeholder="Date of Encroachment" type="text"
                               class="floating-label-field floating-label-field--s3" asp-for="PropertyNo" />
                        <span asp-validation-for="PropertyNo" class="text-danger"></span>
                        <label class="floating-label"> Property No <span style="color:red">*</span></label>
                    </div>
                </div>

            </div>

            <div class="row mt-md-3">
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="Area" placeholder="Area in sq. yds." type="text"
                               class="floating-label-field floating-label-field--s3 numbers" />
                        <span asp-validation-for="Area" class="text-danger" id="AreaMsg" style="display:none;">Type is Mandatory Field</span>
                        <label class="floating-label">Area in sq. yds.<span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input placeholder="Date of Encroachment" type="text"
                               class="floating-label-field floating-label-field--s3" asp-for="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <label class="floating-label"> Name <span style="color:red">*</span></label>
                    </div>
                </div>
            </div>

            <div class="row mt-md-3">
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input placeholder="Date of Encroachment" type="text"
                               class="floating-label-field floating-label-field--s3" asp-for="FatherName" />
                        <span asp-validation-for="FatherName" class="text-danger"></span>
                        <label class="floating-label"> Father Name <span style="color:red">*</span></label>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <textarea placeholder="Date of Encroachment" type="text"
                                  class="floating-label-field floating-label-field--s3" asp-for="Address"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                        <label class="floating-label">Full Address <span style="color:red">*</span></label>
                    </div>
                </div>

            </div>
            <div class="row mt-md-3">
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" style="width:100%;" asp-for="PropertyTypeId"
                                asp-items="@(new SelectList(Model.propertyTypeList,"Id","Name"))">
                            <option selected="selected" disabled value="">---Select---</option>
                        </select>
                        <span asp-validation-for="PropertyTypeId" class="text-danger" id="PropertyTypeIdMsg" style="display:none;">Property Type is Mandatory Field</span>
                        <label class="floating-label">Property Type <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" style="width:100%;" asp-for="LocalityId"
                                asp-items="@(new SelectList(Model.LocalityList, "Id","Name"))">
                            <option selected="selected" disabled="disabled" value="">--Select-- </option>
                        </select>
                        <span asp-validation-for="LocalityId" class="text-danger" id="LocalityIdMsg" style="display:none;">Locality is Mandatory Field</span>
                        <label class="floating-label">Locality (Village) Name <span style="color:red">*</span></label>
                    </div>
                </div>

            </div>


            <div class="row mt-md-3">
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input placeholder="Date of Encroachment" required asp-for="EncroachmentDate" type="date"
                               class="floating-label-field floating-label-field--s3" onkeypress="return false;" />
                        <span asp-validation-for="EncroachmentDate" class="text-danger" id="EncroachmentDateMsg " style="display:none;">Encroachment Date is Mandatory Field</span>
                        <label class="floating-label"> Date of Encroachment <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input placeholder="Date of Encroachment" type="date" value=""
                               class="floating-label-field floating-label-field--s3" asp-for="DemandPeriodFromDate" />
                        <span asp-validation-for="DemandPeriodFromDate" class="text-danger" id="FromDateMsg" style="display:none;">From Date is Mandatory Field</span>
                        <label class="floating-label">Demand Period (From Date)<span style="color:red">*</span></label>
                    </div>
                </div>

            </div>


            <div class="row mt-md-3">
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input placeholder="Date of Encroachment" type="date" value=""
                               class="floating-label-field floating-label-field--s3" asp-for="DemandPeriodToDate" />
                        <span asp-validation-for="DemandPeriodToDate" class="text-danger" id="ToDateMsg" style="display:none;">To Date is Mandatory Field</span>
                        <label class="floating-label">Demand Period (To Date)<span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-4 col-md-4 col-xl-4">
                    <input type="submit" id="btnCalculate" value="Calculate" class="btn btn-theme" />
                </div>
            </div>


            <div class="row mt-md-3">
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input placeholder="Date of Encroachment" type="text"
                               class="floating-label-field floating-label-field--s3 numbers" value="0" asp-for="DamageCharges" limit="15" />
                        <span asp-validation-for="DamageCharges" class="text-danger"></span>
                        <label class="floating-label">Damage Charges(Principle Amount)<span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input placeholder="Date of Encroachment" type="text"
                               class="floating-label-field floating-label-field--s3 numbers" value="0" asp-for="Penalty" limit="15" />
                        <span asp-validation-for="Penalty" class="text-danger"></span>
                        <label class="floating-label">Penalty <span style="color:red">*</span></label>
                    </div>
                </div>

            </div>

            <div class="row mt-md-3">
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input placeholder="Date of Encroachment" type="text"
                               class="floating-label-field floating-label-field--s3 numbers" value="0" asp-for="InterestAmount" limit="15" />
                        <span asp-validation-for="InterestAmount" class="text-danger"></span>
                        <label class="floating-label">Interest Amount <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input placeholder="Date of Encroachment" type="text"
                               class="floating-label-field floating-label-field--s3 numbers" value="0" asp-for="ReliefAmount" limit="15" />
                        <span asp-validation-for="ReliefAmount" class="text-danger"></span>

                        <label class="floating-label"> Relief Amount <span style="color:red">*</span></label>
                    </div>
                </div>


            </div>

            <div class="row mt-md-3">
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input placeholder="Date of Encroachment" type="date" value=""
                               class="floating-label-field floating-label-field--s3" asp-for="UndersignedDate" id="txtundate" />
                        <span asp-validation-for="UndersignedDate" class="text-danger"></span>
                        <label class="floating-label"> UnderSigned Date <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input placeholder="Date of Encroachment" type="time"
                               class="floating-label-field floating-label-field--s3" asp-for="UndersignedTime" />
                        <span asp-validation-for="UndersignedTime" class="text-danger"></span>
                        <label class="floating-label">UnderSigned Time<span style="color:red">*</span></label>
                    </div>
                </div>

            </div>
            <div class="row mt-md-3">
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input placeholder="Date of Encroachment" type="text" value="0"
                               class="floating-label-field floating-label-field--s3" asp-for="DepositDue" />
                        <span asp-validation-for="DepositDue" class="text-danger"></span>
                        <label class="floating-label"> Total Amount Due <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input placeholder="Date of Encroachment" type="date" value=""
                               class="floating-label-field floating-label-field--s3" asp-for="UptoDate" />
                        <span asp-validation-for="UptoDate" class="text-danger"></span>
                        <label class="floating-label">Due Date<span style="color:red">*</span></label>
                    </div>
                </div>
            </div>

            <div class="row mt-md-3">
                <div class="col-md-12">
                    <input type="submit" id="btnCalculate" value="Generate" class="btn btn-theme " />

                    @Html.ActionLink("Back", "Index", "DemandsLetter", null, new { @class = "btn btn-theme " })
                </div>
            </div>


        </div>

        <div id="DivForPayeeName" style="display:none">
            <h3 class="my-3 d-flex sub-heading">By Payee Name</h3>
            <div class="row mt-md-3">
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" style="width:100%;">
                            <option value="0">---Select---</option>
                            <option value="1">Inactive</option>
                        </select>
                        <span class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Zone<span style="color:red">*</span> </label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" style="width:100%;">
                            <option value="0">---Select---</option>
                            <option value="1">Inactive</option>
                        </select>
                        <span class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Locality(Village)<span style="color:red">*</span> </label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="form-group col-md-6">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3" style="width:100%;">
                            <option value="0">---Select---</option>
                            <option value="1">Inactive</option>
                        </select>
                        <span class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Payee Name<span style="color:red">*</span> </label>
                    </div>
                </div>

            </div>

        </div>



        <div id="LoadView">
        </div>
       
    </form>

</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />


@*<script src="~/js/demandlettercreate.js"></script>*@
<environment include="Development">
    <script src="~/js/demandlettercreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/demandlettercreate.min.js" asp-append-version="true"></script>
</environment>
@*Jquery for Autocomplete Start*@
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
@*Jquery for Autocomplete End*@

<style>
    .ui-autocomplete {
        max-height: 400px;
        overflow-y: auto; /* prevent horizontal scrollbar */
        overflow-x: hidden; /* add padding to account for vertical scrollbar */
        z-index: 1000 !important;
    }
</style>