
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container d-flex">
    <div class="fromBg m-auto shadow-lg">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-5">
                <div class="logo d-flex align-items-center mb-4">
                    <img src="~/images/logo.png" alt="DDA" class="d-block me-3">
                    <strong>
                        Delhi Development Authority<br>
                        Government of India
                    </strong>
                </div>

                <p>
                    Your password has been reset. Please <a href="https://www.managemybusinessess.com/">click here to log in</a>.
                </p>

            </div>
            <div class="col-md-6 col-lg-7">
                <img src="~/images/img.png" alt="DDA" class="d-none d-md-block image-right" width="450">
                <img src="~/images/formBg.png" alt="DDA" class="d-block formBg">

            </div>
        </div>
    </div>
</div>

