@model Libraries.Model.Entity.Request
<div class="permission mt-2 accordion list-unstyled m-0 ">
    <div class="card">
        <a class="p-2 no-dec d-flex align-items-center" data-bs-toggle="collapse" href="#collapseWatchWardApprroval" role="button" aria-expanded="true"
           aria-controls="collapseWatchWardApprroval">
            <i class="ri-arrow-right-s-fill"></i>
            <span class="text ml-1 me-auto">View Request Details</span>
            <i class="arrow ri-arrow-drop-down-line slow"></i>
        </a>
        <div class="list-unstyled m-0 pl-2 pr-1 pl-md-4 pr-md-3 collapse" id="collapseWatchWardApprroval">

            <div id="divShowData">
                <div class="row">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">

                            <input class="floating-label-field floating-label-field--s3" placeholder="Scheme Name" asp-for="PproposalName" disabled />
                            <span asp-validation-for="PproposalName" class="text-danger"></span>
                            <label class="floating-label">Proposal Name  </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">


                            <input class="floating-label-field floating-label-field--s3" placeholder="Scheme Code" asp-for="PfileNo" disabled />
                            <span asp-validation-for="PfileNo" class="text-danger"></span>
                            <label class="floating-label">File No </label>
                        </div>
                    </div>
                </div>

                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">

                            <input class="floating-label-field floating-label-field--s3" placeholder="Scheme Name" asp-for="RequiringBody" disabled />
                            <span asp-validation-for="RequiringBody" class="text-danger"></span>
                            <label class="floating-label">Requiring Body  </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">


                            <input class="floating-label-field floating-label-field--s3" placeholder="Scheme Code" asp-for="AreaLocality" disabled />
                            <span asp-validation-for="AreaLocality" class="text-danger"></span>
                            <label class="floating-label">Area/Locality </label>
                        </div>
                    </div>
                </div>


                <div class="pt-3">
                    <h3 class="mb-3 d-flex">Total Area Under Request</h3>

                    <div class="row">



                        <div class="col-md-3">
                            <div class="form-check theme">


                                <input class="form-check-input" type="radio" asp-for="TaunderRequest" value="HA" disabled />    <label class="radio-inline">
                                    HA
                                </label>
                            </div>
                        </div>   <div class="col-md-3">
                            <div class="form-check theme">


                                <input class="form-check-input" type="radio" asp-for="TaunderRequest" value="Acre" disabled />
                                <label class="radio-inline">
                                    Acre
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check theme">


                                <input class="form-check-input" type="radio" asp-for="TaunderRequest" value="SqMeter" disabled />
                                <label class="radio-inline">
                                    Sq. Meter
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row mt-md-3">
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">

                            <input class="floating-label-field floating-label-field--s3" placeholder="Scheme Date" asp-for="UnitArea" disabled />
                            <span asp-validation-for="UnitArea" class="text-danger"></span>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">

                            <textarea type="text" asp-for="PurposeOfAcquistion" class="floating-label-field floating-label-field--s3" placeholder="Description" disabled></textarea>

                            <label class="floating-label">Purpose Of Acquistion</label>
                        </div>
                    </div>
                </div>



                <div class="row mt-md-3">



                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">

                            @*<input asp-for="RequestPhotos" id="Photo" type="file" class="floating-label-field floating-label-field--s3" disabled multiple />

         <a class="badge bg-primary px-2" target="_blank" asp-action="ViewLetter" asp-route-id="@Model.Id
        "> (View Photo )</a>*@


                            @{
                                @if (Model.LayoutPlan != null)
                                {
                                    <input disabled type="file" asp-for="RequestPhotos" class="floating-label-field floating-label-field--s3">
                                    <a class="badge bg-primary px-2" asp-action="ViewLetter" asp-route-id="@Model.Id" target="_blank"> (View Photo)</a>
                                }
                                else
                                {
                                    <input disabled type="file" asp-for="RequestPhotos" class="floating-label-field floating-label-field--s3">
                                }
                            }

                            <label class="floating-label">Layout Plan/Zonal Plan/Master Plan</label>

                        </div>
                    </div>






                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">

                            <textarea type="text" asp-for="Remarks" class="floating-label-field floating-label-field--s3" placeholder="Description" disabled></textarea>

                            <label class="floating-label">Remarks</label>
                        </div>
                    </div>

                </div>
                <div class="row mt-md-3">

                    <div class=" col-md-6">
                        <div class="floating-label-wrap">
                            <select class="floating-label-field floating-label-field--s3" asp-for="IsActive" disabled>
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                            <label asp-for="IsActive" class="floating-label">Status </label>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
