
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";


    <style>
        .bg {
            background: linear-gradient(to left,#9e1c32, #991141, #900f50,#83155d, #721e68, #68226f,#5d2675,#4f2a7a, #492b80,#422c85, #392e8b,#2c3091);
            Color: #ffffff;
            Font-size: 0.95rem;
            Font-Family: Open SansRegular;
            height: 28px;
        }
    </style>
}


<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Director Work Charge Department</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  myapp-hed1">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%">Add Details</h6>
        </div>
        <div class="panel-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                <div class="form-row ">
                    <div class="form-group col-md-12 myapp-hed1">Case Details</div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Case No.</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Legal File No. </label>
                        <input type="text" class="form-control" />


                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Court Name</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Case Title </label>
                        <input type="text" class="form-control" />


                    </div>
                </div>

                <div class="form-row ">
                    <div class="form-group col-md-12 myapp-hed1">  Add Legal Detail Of Director Work Charge Dept. </div>

                </div>

              
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Name of Employee</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Designation</label>
                        <select  style="height:30px; background-color: #dddddd;" class="form-control">
                            <option value="0">---Select---</option>
                            <option value="1">none</option>
                        </select>

                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Place of Posting(At the Time of Dispute) </label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Nature of Penality</label>
                        <input type="text" class="form-control" />
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Date of Work Charge Establishment</label>
                        <input type="date" class="form-control" />
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Date of Issue of Charge Sheet</label>
                        <input type="date" class="form-control" />
                    </div>



                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Date of Suspension(if any) </label>
                        <input type="date" class="form-control" />
                    </div>
                </div>

              


<br />
<div class="form-row ">
    <div class="form-group col-md-12" style="margin-bottom:40px;">
        <input type="submit" value="Submit" class="btn btn-primary myapp-hed1" />
       
        @Html.ActionLink("Back", "Index", "DirectorWorkDept", null, new { @class = "btn btn-primary myapp-hed1" })
    </div>
</div>

            </form>
        </div>
    </div>
</div>




