@model Libraries.Model.Entity.Propertyregistration

@{
    ViewData["Title"] = "Listpage";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>


        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 100%;
            max-width: 100%;
            height: 250px;
            max-height: 100%;
            padding: 2px 2px 2px 2px;
            border-radius: 4px;
            background-color: #ffffff;
            margin-top: 10px;
        }

        /* .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }*/

        /*  .grad {
            background-image: linear-gradient( 33deg, #4b50a2, #7d3865);
            background-size: cover;
            height: 100%;
            width: 100%;
        }*/


        card, h5 {
            font-family: open-sans-bold !important;
        }

        card, i {
            /* background: radial-gradient(circle, #9e1c32, #991141, #900f50, #83155d, #721e68, #68226f, #5d2675, #392e8b, #2c3091);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;*/
            color: red;
            font-size: 70px !important;
        }
    </style>

</head>
<body>




    <div class="row">


        <div class="form-group col-md-4">
            <label class="control-label lb-sm" asp-for="DepartmentId">Maintaining Department</label><span class="text-danger">*</span>
            <select class="form-control dda-dropdown" asp-for="DepartmentId" asp-items="@(new SelectList(Model.DepartmentList, "Id","Name"))" onchange="return GetZoneList(this.options[this.selectedIndex].value);" required="required" requiredmsg="Department is Mandatory">
                <option value="">--Select--</option>
            </select>
            <span asp-validation-for="DepartmentId" class="text-danger lb-sm"></span>
        </div>

        <div class="form-group col-md-4">
            <label class="control-label lb-sm" asp-for="ZoneId">Zone</label><span class="text-danger">*</span>
            <select class="form-control dda-dropdown" required="required" requiredMsg="Please Select Zone" asp-items="@(new SelectList(Model.ZoneList,"Id","Name"))" onchange="return onChangeZone(this.options[this.selectedIndex].value)">
                <option value="0">All</option>
            </select>
            <span asp-validation-for="ZoneId" class="text-danger lb-sm"></span>
        </div>




        <div class="form-group col-md-4">
            <label class="control-label lb-sm" asp-for="DivisionId">Division</label><span class="text-danger">*</span>
            <select class="form-control dda-dropdown" required="required" requiredMsg="Please Select Division" asp-items="@(new SelectList(Model.DivisionList,"Id","Name"))" onchange="return onChangeDivision(this.options[this.selectedIndex].value)">
                <option value="0">All</option>
            </select>
            <span asp-validation-for="DivisionId" class="text-danger lb-sm"></span>
        </div>



        <div class="col-md-12">
            <br />

            <div class="row">

                <div class="col-md-4">
                    <div class="card ">
                        <div class="card-body text-center mt-5">
                            @*@foreach (var item in Model.pr)
                            {*@

                                <p>Primary</p>
                            @*}*@

                        </div>

                    </div>
                </div>


            </div>
            <br />

        </div>
    </div>

    <br /> <br />




</body>
</html>
