
@{
    ViewData["Title"] = "ChangePasswordMailConfirmation";
    Layout = "~/Views/Shared/_LayoutForgetPass.cshtml";
}
<p class="text-danger">
    Dear @ViewBag.name,
</p>
<p class="text-danger">
    Change Password Link has been shared on your registered email Id(@ViewBag.email). Kindly check your email for Change password link(link validity 2 hours).
</p>