
@{
    ViewData["Title"] = "ChangePasswordConfirmation";
    Layout = "~/Views/Shared/_LayoutForgetPass.cshtml";
}

<p>
    Your password has been Change. Please <a href="https://ddalmis.org.in/">click here to log in</a>.
</p>
