@model Dto.Master.DamageRateListCreateDto
@await Component.InvokeAsync("PageHeader", new { pageName = "Damage Rate List" })

<div class="pt-3">
    <div method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Details<span style="margin-left:800px"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span></h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" value="0" />
        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="PropertyId"
                            asp-items="@(new SelectList(ViewBag.PropertyTypeList, "Id","Name"))"
                            onchange="return GetDateRangeDetails(this.options[this.selectedIndex].value);">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="PropertyId" class="text-danger" id="PropertyTypeIdMsg" style="display:none;">Property Type is mandatory</span>
                    <label asp-for="PropertyId" class="floating-label">Property Type<span style="color:red">*</span> </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select asp-for="DateRangeId" class="floating-label-field floating-label-field--s3">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="DateRangeId" class="text-danger" id="DateRangeIdMsg" style="display:none;">Date Range is mandatory</span>
                    <label class="floating-label">Date Range<span style="color:red">*</span></label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select asp-for="LocalityId" class="floating-label-field floating-label-field--s3"
                            asp-items="@(new SelectList(ViewBag.LocalityList,"Id","Name"))">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="LocalityId" class="text-danger" id="LocalityIdMsg" style="display:none;">Locality is mandatory</span>
                    <label class="floating-label">Locality<span style="color:red">*</span></label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="submit" id="btnSearch">View Rate</button>
            </div>
        </div>

        <div id="SaveNewRateDiv" style="display:none;">
            <h3 class="my-3 d-flex sub-heading">Save/Update Damage Rate List</h3>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="StartDate" type="date" value="" class="floating-label-field floating-label-field--s3" onkeypress="return false;">
                        <span class="text-danger" id="StartDateMsg" style="display:none;">From Date is mandatory</span>
                        <label class="floating-label">From Date</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="EndDate" type="date" value="" class="floating-label-field floating-label-field--s3" onkeypress="return false;">
                        <span class="text-danger" id="EndDateMsg" style="display:none;">To Date is mandatory</span>
                        <label class="floating-label">To Date</label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="Rate" value="" type="text" class="floating-label-field floating-label-field--s3 numbers" >
                        <span class="text-danger" id="RateMsg" style="display:none;">Rate is mandatory</span>
                        <label class="floating-label">Rate Amount per Sqr Yrd</label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class=" col-md-12">
                    <input type="submit" value="Save New Rate" class="btn btn-theme " id="btnSaveNewRate" />
                    <input type="submit" value="Clear" class="btn btn-theme " id="btnReset" />
                </div>
            </div>
        </div>

        <br />
        <div class="table-section bg-white border shadow rounded">
            <div class="table-responsive px-2" id="divTable">

            </div>
        </div>
    </div>

</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/damageratelistcreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/damageratelistcreate.min.js" asp-append-version="true"></script>
</environment>