@model Dto.Master.DamageRateListCreateDto
@await Component.InvokeAsync("PageHeader", new { pageName = "Damage Rate List" })

<div class="pt-3">
    <div method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" id="startdate" />
        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="PropertyId"
                            asp-items="@(new SelectList(ViewBag.PropertyTypeList, "Id","Name"))"
                            onchange="return GetDateRangeDetails(this.options[this.selectedIndex].value);">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="PropertyId" class="text-danger"></span>
                    <label asp-for="PropertyId" class="floating-label">Property Type<span style="color:red">*</span> </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select asp-for="DateRangeId" class="floating-label-field floating-label-field--s3">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="DateRangeId" class="text-danger"></span>
                    <label class="floating-label">Date Range<span style="color:red">*</span></label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select asp-for="LocalityId" class="floating-label-field floating-label-field--s3"
                            asp-items="@(new SelectList(ViewBag.LocalityList,"Id","Name"))">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="LocalityId" class="text-danger" id="LocalityIdMsg" style="display:none;">Mandatory</span>
                    <label class="floating-label">Locality<span style="color:red">*</span></label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="submit" id="btnSearch">View Rate</button>
            </div>
        </div>

        <br />
        <div id="SaveNewRateDiv" style="display:none;">
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input type="date" value="" class="floating-label-field floating-label-field--s3">

                        <span class="text-danger "></span>
                        <label class="floating-label">From Date</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input type="date" value="" class="floating-label-field floating-label-field--s3">
                        <span class="text-danger "></span>
                        <label class="floating-label">To Date</label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input value="" type="text" class="floating-label-field floating-label-field--s3 numbers">
                        <span class="text-danger "></span>
                        <label class="floating-label">Rate Amount per Sqr Yrd</label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class=" col-md-12">
                    <button class="btn btn-theme " type="submit" >Save New Rate</button>
                </div>
            </div>
        </div>

        <br />
        <div class="table-section bg-white border shadow rounded">
            <div class="table-responsive px-2" id="divTable">

            </div>
        </div>
    </div>

</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/damageratelistcreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/damageratelistcreate.min.js" asp-append-version="true"></script>
</environment>