@model Libraries.Model.Entity.Undersection17plotdetail
@await Component.InvokeAsync("PageHeader", new { pageName = "Notification U/S-17 Plot Form" })

<div class="pt-3">
    <form asp-action="Edit" id="create_user" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Edit Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap">

                    <select class="floating-label-field floating-label-field--s3" asp-for="UnderSection17Id" asp-items="@(new SelectList(Model.Undersection17List, "Id","Number"))">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="UnderSection17Id" class="text-danger"></span>
                    <label class="floating-label">Notification U/S-17</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap">

                    <select class="floating-label-field floating-label-field--s3" asp-for="VillageId" asp-items="@(new SelectList(Model.VillageList, "Id","Name"))"
                            onchange="return onChange(this.options[this.selectedIndex].value);">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="VillageId" class="text-danger"></span>
                    <label class="floating-label">Village</label>
                </div>
            </div>
        </div>


        <div class="row pt-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">

                    <select class="floating-label-field floating-label-field--s3" asp-for="KhasraId" asp-items="@(new SelectList(Model.KhasraList, "Id","Name"))">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="KhasraId" class="text-danger"></span>
                    <label class="floating-label">Khasra No</label>
                </div>
            </div>

        </div>
       
        <div class="pt-3">
            <h3 class="mb-3 d-flex">Actual Area</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">



                    <input type="text" id="Bigha1" class="floating-label-field floating-label-field--s3 numbers" placeholder="Bigha" readonly />

                    <label class="floating-label">Bigha</label>

                </div>
            </div>

            <div class="form-group col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">



                    <input type="text" id="Biswa1" class="floating-label-field floating-label-field--s3 numbers" placeholder="Biswa" readonly />

                    <label class="floating-label">Biswa</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">


                    <input type="text" id="Biswanshi1" class="floating-label-field floating-label-field--s3 numbers" placeholder="Biswanshi" readonly />

                    <label class="floating-label">Biswanshi</label>
                </div>
            </div>
        </div>



        <div class="pt-3">
            <h3 class="mb-3 d-flex">Used Area</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">



                    <input type="text" asp-for="Bigha" class="floating-label-field floating-label-field--s3 numbers" placeholder="Bigha" />
                    <span asp-validation-for="Bigha" class="text-danger"></span>
                    <label class="floating-label">Bigha</label>

                </div>
            </div>

            <div class="form-group col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">



                    <input type="text" asp-for="Biswa" class="floating-label-field floating-label-field--s3 numbers" placeholder="Biswa" />
                    <span asp-validation-for="Biswa" class="text-danger"></span>
                    <label class="floating-label">Biswa</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">


                    <input type="text" asp-for="Biswanshi" class="floating-label-field floating-label-field--s3 numbers" placeholder="Biswanshi" />
                    <span asp-validation-for="Biswanshi" class="text-danger"></span>
                    <label class="floating-label">Biswanshi</label>
                </div>
            </div>
        </div>
        <div class="row pt-3">

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <select asp-for="IsActive" class="floating-label-field floating-label-field--s3">
                        <option value="1">Active</option>
                        <option value="0">InActive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label class="floating-label"> Status</label>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-12">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <textarea asp-for="Remarks" placeholder="Remarks" class="floating-label-field floating-label-field--s3"></textarea>
                    <span asp-validation-for="Remarks" class="text-danger"></span>
                    <label class="floating-label">Remarks</label>
                </div>
            </div>
        </div>


        <div class="row mt-md-3">
            <div class=" col-md-12">

                <input type="submit" value="Update" class="btn btn-theme " onclick="return PasswordMatch();" />
                @Html.ActionLink("Back", "Index", "Undersection17plotdetail", null, new { @class = "btn btn-theme" })
            </div>
        </div>



    </form>
</div>
<div class="table-section bg-white border shadow rounded">


    <div class="table-responsive px-2">
        <div id="divnotification17Table"></div>
    </div>


</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/UnderSection17plotEdit.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/UnderSection17plotEdit.min.js" asp-append-version="true"></script>
</environment>

