@model IEnumerable<Libraries.Model.Entity.Leasenoticegeneration>

<div class="permission mt-2 accordion list-unstyled m-0 ">
    <div class="card">
        <a class="p-2 no-dec d-flex align-items-center" data-toggle="collapse" href="#collapseNoticeGeneration" role="button" aria-expanded="true"
           aria-controls="collapseNoticeGeneration">
            <i class="ri-arrow-right-s-fill"></i>
            <span class="text ml-1 mr-auto">View Notice Generation Details </span>
            <i class="arrow ri-arrow-drop-down-line slow"></i>
        </a>
        <div class="list-unstyled m-0 pl-2 pr-1 pl-md-4 pr-md-3 collapse" id="collapseNoticeGeneration">
            <div class="table-section bg-white border shadow rounded">
                <div class="table-responsive px-2">
                    <table class="table table-sm table-bordered mb-0 table-striped">
                        <thead class="text-nowrap">
                            <tr>
                                <th>Meeting Date</th>
                                <th>Meeting Time</th>
                                <th>Meeting Place</th>
                                <th>Attachment</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count() > 0)
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                            @(item.MeetingDate != null ? Convert.ToDateTime(item.MeetingDate).ToString("dd-MMM-yyyy") : "")
                                        </td>
                                        <td>
                                            @item.MeetingTime
                                        </td>
                                        <td>
                                            @item.MeetingPlace
                                        </td>
                                        <td>
                                            @if (item.NoticeFileName != null)
                                            {
                                                <a class="badge badge-primary px-2" asp-action="ViewNotice" asp-route-id="@item.Id" target="_blank"> (View)</a>
                                            }
                                            else
                                            {
                                                <a>No Document</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <th colspan="14" style="text-align:center"> No Record Available! </th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />