@model Dto.Search.KycFormDemandPaymentApprovalSearchDto
@await Component.InvokeAsync("PageHeader", new { pageName = "Kyc Payment Approval Details" })
<div class="pt-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <div class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">List</h3>


    </div>

    <div class="table-section bg-white border shadow rounded">

        <div class="table-responsive px-2">
            <div id="divkycDemandPaymentTable"></div>
        </div>
    </div>
</div>

    <partial name="../Shared/_ValidationScriptsPartial.cshtml" />
    <environment include="Development">
        <script src="~/js/KycFormDemandPaymentApprovalDetails.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/KycFormDemandPaymentApprovalDetails.min.js" asp-append-version="true"></script>
    </environment>
