

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<script src="~/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>
<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Land Transfer</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div>
    @Html.ActionLink("Add New", "Create", "LandTransfer", null, new { @class = "btn btn-primary pull-right myapp-hed1 ", style = "margin-top: -10px;" })
</div>
<br />
<br />
<div class="container-fluid" id="MainContentForm">
    <div class="card  table-card">
        <div style="overflow-x:auto;">
            <table class="table table-responsive table-bordered table-card">

                <thead class="thead">
                    <tr class="myapp-hed1">
                        <th>Sr.No</th>
                        <th>Zone</th>
                        <th>Locality</th>
                        <th>Property No.</th>
                        <th>Handed By</th>
                        <th>Taken Over By</th>
                        <th>Date of Hand Over</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    <tr>
                        <td>1</td>
                        <td>Narela</td>
                        <td>Narela</td>
                        <td>515</td>
                        <td>Land Management</td>
                        <td>Horticulture</td>
                        <td>20/July/2020</td>
                        <td> <i class="glyphicon glyphicon-eye-open icon-white cl1"></i> &nbsp; | &nbsp;<i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;|&nbsp;<i class="fa fa-trash" aria-hidden="true"></i></td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Khanjhawala</td>
                        <td>Khanjhawala</td>
                        <td>545</td>
                        <td>Land Management</td>
                        <td>Engineering</td>
                        <td>20/July/2020</td>
                        <td> <i class="glyphicon glyphicon-eye-open icon-white cl1"></i> &nbsp; | &nbsp;<i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;|&nbsp;<i class="fa fa-trash" aria-hidden="true"></i></td>

                    </tr>
                    

                </tbody>

            </table>

</div>
        </div>
    </div>
<br />
<br />



@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

