@model Libraries.Model.Entity.Onlinecomplaint
@await Component.InvokeAsync("PageHeader", new { pageName = "Online Complaint" })

<<div class="pt-3">
    <div class="panel">
        <div class="panel-heading   btn-theme ">
            <h5 style="color:white;" class="px-3">Delhi Development Authority</h5>
            <h6 style="color:white;" class="px-3">Online Complaint Report</h6>
           
        </div>

        <form asp-action="Edit" enctype="multipart/form-data" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
            <h3 class="mb-3 d-flex">Approval Details</h3>
            <div asp-validation-summary="ModelOnly" class="d-block text-danger field-validation-valid"></div>


            <div class="row">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input class="floating-label-field floating-label-field--s3" asp-for="Name" />
                        <span asp-validation-for="Name" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Name of Complaint <span style="color:red">*</span> </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input class="floating-label-field floating-label-field--s3" asp-for="Contact" />
                        <span asp-validation-for="Contact" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Contact No.<span style="color:red">*</span> </label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input class="floating-label-field floating-label-field--s3" asp-for="Email" />
                        <span asp-validation-for="Email" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Email Id <span style="color:red">*</span> </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap">


                        <select class="floating-label-field floating-label-field--s3" asp-for="ComplaintTypeId" asp-items="@(new SelectList(Model.ComplaintList, "Id","Name"))">
                            <option>Select</option>
                        </select>
                        <span asp-validation-for="ComplaintTypeId" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Type of Complaint </label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input asp-for="Photo" id="Photo" type="file" class="floating-label-field floating-label-field--s3" multiple />
                        <label class="floating-label">Photograph<span style="color:red">*</span></label>


                    </div>  <a target="_blank" href="@Model.PhotoPath">View</a>
                </div>

                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <textarea type="text" asp-for="AddressOfComplaint" class="floating-label-field floating-label-field--s3"></textarea>
                        <label lass="floating-label">Area/Address of Complaint<span style="color:red">*</span></label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">


                        <select class="floating-label-field floating-label-field--s3" asp-for="LocationId" asp-items="@(new SelectList(Model.LocationList, "Id","Name"))">
                            <option>Select</option>
                        </select>
                        <span asp-validation-for="LocationId" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Location </label>
                    </div>
                </div>



                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input class="floating-label-field floating-label-field--s3" asp-for="Lattitude" />
                        <span asp-validation-for="Lattitude" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Lattitude<span style="color:red">*</span> </label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input class="floating-label-field floating-label-field--s3" asp-for="Longitude" />
                        <span asp-validation-for="Longitude" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Longitude<span style="color:red">*</span> </label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="floating-label-wrap">

                        <select asp-for="IsActive" class="floating-label-field floating-label-field--s3">
                            <option value="1">Active</option>
                            <option value="0">InActive</option>
                        </select>
                        <span asp-validation-for="IsActive" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label"> Status</label>
                    </div>

                </div>
            </div>
            <div class="row mt-md-3">

                <div class="col-md-6">
                    <div class="floating-label-wrap">

                        <select asp-for="ApprovedStatus" class="floating-label-field floating-label-field--s3">
                            <option value="1">Approved</option>
                            <option value="2">Reject</option>
                        </select>
                        <span asp-validation-for="IsActive" class="d-block text-danger field-validation-valid"></span>
                        <label class="floating-label">Approved Status</label>
                    </div>

                </div>
            </div>


                <div class="row pt-3">
                    <div class="col-md-12">
                        <input type="submit" value="Update" class="btn btn-theme " onclick="return PasswordMatch();" />
                        @Html.ActionLink("Back", "Index", "Complaint", null, new { @class = "btn btn-theme " })
                    </div>
                </div>

        </form>
    </div>
    </div>






