@model IEnumerable<Libraries.Model.Entity.Onlinecomplaint>

@await Component.InvokeAsync("PageHeader", new { pageName = "Online Complaint" })

<div class="pt-3">

    <form class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Search</h3>
        <div class="row">
            <div class="col-md-3    ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" id="txtName" class="floating-label-field floating-label-field--s3" placeholder="Location" />
                    <label for="txtName" class="floating-label">Complaint Name</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" id="txtContact" class="floating-label-field floating-label-field--s3" placeholder="Municipal Number" />
                    <label for="txtUserName" class="floating-label">Contact</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="email" id="txtEmail" class="floating-label-field floating-label-field--s3" placeholder="Geo Referencing">
                    <label for="txtEmail" class="floating-label">Email</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="text" id="txtAddress" class="floating-label-field floating-label-field--s3" placeholder="Number of Floors">
                    <label for="txtPhoneNumber" class="floating-label">Address</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-12 col-xl-3">
                <div class="row">
                    <div class="col-6 col-md-5 col-xl-6">
                        <button id="btnReset" class="btn btn-link btn-block d-flex align-items-center justify-content-center" type="reset">
                            <i class="ri-refresh-line me-2"></i>Reset
                        </button>
                    </div>
                    <div class="col-6 col-md-7 col-xl-6">
                        <button id="btnSearch1" class="btn btn-theme btn-block" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="table-section bg-white border shadow rounded">
        <div class="short-section d-md-flex align-items-center">
            <div class="p-3 d-flex align-items-end me-auto">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" id="Sortbyd">

                        <option value="Name">Complaint Name</option>
                        <option value="Contact">Contact</option>
                        <option value="Email">Email</option>
                        <option value="Address">Address</option>
                        <option value="Status">Status</option>

                    </select>
                    <label for="field-1" class="floating-label">Sort by</label>
                    <input type="hidden" name="sortdesc" id="sortdesc" value="1">
                </div>
                <div class="short-btn d-flex align-items-center">
                    <span class="btn slow active" id="descId" title="Ascending order"><i class="ri-sort-desc"></i></span>
                    <span class="btn slow" id="ascId" title="Descending order"><i class="ri-sort-asc"></i></span>
                </div>
            </div>

            <div class="download-table d-flex align-items-center px-3 mb-3 mb-md-0">
                <a href="/Complaint/create" class="d-flex align-items-center btn btn-primary me-2">
                    <i class="ri-add-fill me-2 me-lg-1"></i>
                    <small>Add More</small>
                </a>
                <a href="/Complaint/OnlineComplaintList" class="d-flex align-items-center btn btn-success">
                    <i class="ri-download-2-line me-2 me-lg-1"></i>
                    <small>Download</small>
                </a>
            </div>
        </div>
        <div class="table-responsive px-2" id="divComplaint">

        </div>
    </div>

</div>
    <partial name="../Shared/_ValidationScriptsPartial.cshtml" />
    <environment include="Development">

        <script src="~/js/onlinecomplaintindex.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/onlinecomplaintindex.min.js" asp-append-version="true"></script>
    </environment>
