@model Libraries.Model.Entity.Planning
@await Component.InvokeAsync("PageHeader", new { pageName = "Planning" })
<br />
    
                <form action="Create" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
                    <h3 class="mb-3 d-flex">
                        Add Details<span class="ms-auto"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span>
                    </h3>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <select class="floating-label-field floating-label-field--s3" asp-for="DepartmentId" asp-items="@(new SelectList(Model.DepartmentList, "Id","Name"))" onchange="GetZoneList(this.value);">
                                    <option>Select</option>
                                </select>
                                <label asp-for="DepartmentId" class="floating-label">Department</label>
                                <span asp-validation-for="DepartmentId" class="text-danger lb-sm"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <select class="floating-label-field floating-label-field--s3" asp-for="ZoneId" onchange="GetDivisionList(this.value);">
                                </select>
                                <label asp-for="ZoneId" class="floating-label">Zone<span style="color:red">*</span></label>

                                <span asp-validation-for="ZoneId" class="text-danger lb-sm"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-md-3">
                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <select class="floating-label-field floating-label-field--s3" asp-for="DivisionId" onchange="GetProperties()">
                                </select>
                                <label asp-for="DivisionId" class="floating-label">Division<span style="color:red">*</span></label>

                                <span asp-validation-for="DivisionId" class="text-danger lb-sm"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <textarea asp-for="Remarks" class="floating-label-field floating-label-field--s3" placeholder="Remarks"></textarea>
                                <label asp-for="Remarks" class="floating-label">Remarks<span style="color:red">*</span></label>

                                <span asp-validation-for="Remarks" class="text-danger lb-sm"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-md-2">
                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <label class="control-label lb-sm" asp-for="UnplannedProperties">Unplanned Properties</label>
                                <select multiple="multiple" asp-for="UnplannedProperties" class="form-control select2destroy list-group">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="floating-label-wrap mb-3 mb-md-0">

                                <label class="control-label lb-sm" asp-for="PlannedProperties">Planned Properties</label>
                                <select multiple="multiple" asp-for="PlannedProperties" class="form-control sel-task select2destroy">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-md-4">
                        <div class=" col-md-12">
                            <input type="submit" value="Create" id="btnGenerate" class="btn btn-theme " />
                            @Html.ActionLink("Back", "Index", "Planning", null, new { @class = "btn btn-theme" })
                        </div>
                    </div>
                </form>
           
<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/PlanningCreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/PlanningCreate.min.js" asp-append-version="true"></script>
</environment>

<environment include="Development">
    <script src="~/js/common.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/common.min.js" asp-append-version="true"></script>
</environment>
