

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Identification Of Land - Annexure II</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div>
    @Html.ActionLink("Add New", "Create", "IdentificationOfLandAnnexure2", null, new { @class = "btn btn-primary pull-right myapp-hed1 ", style = "margin-top: -10px;" })
</div>
<br />
<br />
<div class="container-fluid" id="MainContentForm">
    <div class="card  table-card" style="overflow:scroll;">

        <table class="table table-responsive table-bordered table-card">

            <thead class="thead">
                <tr>
                    <th>Sr.No</th>
                    <th>Project Name</th>
                    <th>Area/Locality</th>
                    <th>Area Required</th>
                    <th>Purpose</th>
                    <th>Official Designation of Requiring Body</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr>
                    <td>1</td>
                    <td>DDa project</td>
                    <td>Okhla</td>
                    <td>45 HA</td>
                    <td>For Commercial Use</td>
                    <td></td>
                    <td> <i class="glyphicon glyphicon-eye-open icon-white cl1"></i> &nbsp; | &nbsp;<i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;|&nbsp;<i class="fa fa-trash" aria-hidden="true"></i></td>

                </tr>
                <tr>
                    <td>2</td>
                    <td>DDa project</td>
                    <td>Okhla</td>
                    <td>45 Acre</td>
                    <td>For Commercial Use</td>
                    <td></td>
                    <td> <i class="glyphicon glyphicon-eye-open icon-white cl1"></i> &nbsp; | &nbsp;<i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;|&nbsp;<i class="fa fa-trash" aria-hidden="true"></i></td>

                </tr>


            </tbody>

        </table>

    </div>
</div>
<br />
<br />

