@model Libraries.Model.Entity.Newlandannexure2
@await Component.InvokeAsync("PageHeader", new { pageName = "Identification Of Land - Annexure II" })

<div class="pt-3">
<label> You are not authorized to view this page.</label>    
</div>