@model Libraries.Model.Entity.Ldoland

@await Component.InvokeAsync("PageHeader", new { pageName = "LDO Lands" })


<div class="pt-3">
    <form asp-action="Create" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Add Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="LandNotificationId"
                            asp-items="@(new SelectList(Model.LandNotificationList, "Id","Name"))">
                        <option   value="" selected="selected" disabled="disabled">Select</option>
                    </select>
                    <span asp-validation-for="LandNotificationId" class="text-danger"></span>
                    <label asp-for="LandNotificationId" class="floating-label">Notification No </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="NotificationDate" placeholder="Name" type="date"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="NotificationDate" class="text-danger"></span>
                    <label class="floating-label">Notification Date </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <input asp-for="SerialNumber" placeholder="Name" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="SerialNumber" class="text-danger"></span>
                    <label asp-for="SerialNumber" class="floating-label">Serial Number </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="PropertySiteNo" placeholder="Name" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="PropertySiteNo" class="text-danger"></span>
                    <label class="floating-label">Property/Site No.  </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="Location" placeholder="Name" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                    <label class="floating-label">Location Name(Village)  </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="SiteDescription" placeholder="Name" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="SiteDescription" class="text-danger"></span>
                    <label class="floating-label">Site Description(With Khasra No)  </label>
                </div>
            </div>
        </div>
        <div id="Divclsification">
            <h3 class="my-3 d-flex sub-heading"> Area </h3>
            <div class="row mt-md-3">
                <div class="col-md-2">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="Area" placeholder="Name" type="text"
                               class="floating-label-field floating-label-field--s3" />
                        <span asp-validation-for="Area" class="text-danger"></span>
                        <label class="floating-label">Acre    </label>
                    </div>
                </div>
            </div>
        </div>
        <div id="Divclsification">
            <h2 class="my-3 sub-heading">
                <label class="control-label lb-sm" asp-for="StatusOfLand">   Status of Land</label>
            </h2>

            <div class="row pt-3">

                <div class="col-md-6">
                    <input type="hidden" asp-for="StatusOfLand" id="StatusOfLand" value="Green" />
                    <span asp-validation-for="StatusOfLand" class="text-danger"></span>

                    <div class="form-row">

                        <div class="form-group col-md-4">
                            <label class="radio-inline  ">
                                <input asp-for="StatusOfLand" type="radio" class="floating-label-field  " placeholder="Name" name="grpLand" value="Allotted" id="A">Allotted
                            </label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="radio-inline  ">
                                <input asp-for="StatusOfLand" type="radio" class="floating-label-field " placeholder="Name" name="grpLand" value="Vacant" id="V">Vacant
                            </label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="radio-inline  ">
                                <input asp-for="StatusOfLand" type="radio" class="floating-label-field floating-label-field--s3 " placeholder="Name" name="grpLand" value="Enchroched" id="E">Encroached
                            </label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="radio-inline  ">
                                <input asp-for="StatusOfLand" type="radio" class="floating-label-field floating-label-field--s3 " placeholder="Name" name="grpLand" value="Green" id="G">Green
                            </label>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <h3 class="my-3 d-flex sub-heading"> Details </h3>
        <div class="row mt-md-3">
        
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="OccupiedBy" placeholder="Name" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="OccupiedBy" class="text-danger"></span>
                    <label class="floating-label">Occupied By </label>
                </div>
            </div>
        </div>

        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="DateofPossession" placeholder="Name" type="date"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="DateofPossession" class="text-danger"></span>
                    <label class="floating-label">Date Of Possession  </label>
                </div>
            </div>
            <div class=" col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="IsActive">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label asp-for="IsActive" class="floating-label">Status </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class=" col-md-12">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <textarea asp-for="Remarks" placeholder="Description" class="floating-label-field floating-label-field--s3"></textarea>

                    <span asp-validation-for="Remarks" class="text-danger"></span>
                    <label class="floating-label">Remarks  </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="submit">Create</button>
                @Html.ActionLink("Back", "Index", "LDOland", null, new { @class = "btn btn-theme " })

            </div>
        </div>

    </form>

</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/booktransferlandcreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/booktransferlandcreate.min.js" asp-append-version="true"></script>
</environment>
