@model Libraries.Model.Entity.Ldoland

<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left color-white" style="margin-top:5px;">L&DO lands     </h6>
                <i class="glyphicon glyphicon-arrow-right pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  dda-pageheading">
            <h6 class="pull-left color-white" style="margin-top:-0.4%"> Delete</h6>
        </div>
        <div class="panel-body">
            <form asp-action="Delete" method="post">
                <div class="form-group">
                    <h6 class="p-4">Are you sure you want to delete this?</h6>
                    <input type="hidden" asp-for="Id" />
                </div>
                <div class="card-footer text-center">
                    <div class="row col-12" style="justify-content:center;">
                        <div class="col-1">
                            <input type="submit" value="Delete" class="btn btn-primary dda-pageheading" />
                            <a asp-action="Index" class="btn btn-primary dda-pageheading">Back</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />