@model Libraries.Model.Entity.Request
<div class="pt-3">
    @if (Model != null)
    {
        <form asp-action="Create" enctype="multipart/form-data" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
            <input type="hidden" asp-for="Id" />
            <h3 class="mb-3 d-flex">Project Details</h3>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled class="floating-label-field floating-label-field--s3" placeholder="Scheme Name" asp-for="PproposalName" />
                        <span asp-validation-for="PproposalName" class="text-danger"></span>
                        <label class="floating-label">Proposal Name  </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled class="floating-label-field floating-label-field--s3" placeholder="Scheme Code" asp-for="PfileNo" />
                        <span asp-validation-for="PfileNo" class="text-danger"></span>
                        <label class="floating-label">File No </label>
                    </div>
                </div>
            </div>

            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled class="floating-label-field floating-label-field--s3" placeholder="Scheme Name" asp-for="RequiringBody" />
                        <span asp-validation-for="RequiringBody" class="text-danger"></span>
                        <label class="floating-label">Requiring Body  </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input disabled class="floating-label-field floating-label-field--s3" placeholder="Scheme Code" asp-for="AreaLocality" />
                        <span asp-validation-for="AreaLocality" class="text-danger"></span>
                        <label class="floating-label">Area/Locality </label>
                    </div>
                </div>
            </div>


            <div class="pt-3">
                <h3 class="my-3 d-flex sub-heading">Total Area Under Request</h3>

                <div class="row mt-md-3">
                    <div class="col-md-2">
                        <label class="form-check-label" for="radio">
                            Area Unit
                        </label>
                    </div>
                    <div class="col-md-1">
                        <div class="form-check theme">
                            <input disabled class="form-check-input" type="radio" asp-for="TaunderRequest" value="HA" checked />    <label class="radio-inline">
                                HA
                            </label>
                        </div>
                    </div>   <div class="col-md-1">
                        <div class="form-check theme">
                            <input disabled class="form-check-input" type="radio" asp-for="TaunderRequest" value="Acre" />
                            <label class="radio-inline">
                                Acre
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check theme">
                            <input disabled class="form-check-input" type="radio" asp-for="TaunderRequest" value="SqMeter" />
                            <label class="radio-inline">
                                Sq. Meter
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input disabled class="floating-label-field floating-label-field--s3" placeholder="Unit Area" asp-for="UnitArea" />
                            <span asp-validation-for="UnitArea" class="text-danger"></span>
                            <label class="floating-label">Unit Area</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-md-3">
                <div class="col-md-12">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <textarea disabled type="text" asp-for="PurposeOfAcquistion" class="floating-label-field floating-label-field--s3" placeholder="Description"></textarea>
                        <span asp-validation-for="PurposeOfAcquistion" class="text-danger"></span>
                        <label class="floating-label">Purpose Of Acquistion</label>
                    </div>
                </div>
            </div>

            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <textarea disabled type="text" asp-for="Remarks" class="floating-label-field floating-label-field--s3" placeholder="Description"></textarea>
                        <label class="floating-label">Remarks</label>
                    </div>
                </div>
            </div>

        </form>

    }
    </div>
<partial name="../Shared/_ValidationScriptsPartial.cshtml" />



