@model Libraries.Model.Entity.Newlandannexure1
@await Component.InvokeAsync("PageHeader", new { pageName = "Identification of Land Submitted by LM Dept (Annexure I)" })
<div class="pt-3">

    <form asp-action="Create" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <input type="hidden" asp-for="RequestId" />
        <input type="hidden" asp-for="Id" value="@ViewBag.Anexx1Id" />
        @if (ViewBag.Anexx1Id == 0)
        {
            <h3 class="mb-3 d-flex">Add Details</h3>
        }
        else
        {
            <h3 class="mb-3 d-flex">Edit Details</h3>
        }

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div id="RequestView" class="mt-md-3">

        </div>
        <h3 class="my-3 d-flex sub-heading pt-4">  Details </h3>
        <div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="VillageName" placeholder="VillageName" type="text"
                               class="floating-label-field floating-label-field--s3 " />

                        <span asp-validation-for="VillageName" class="text-danger"></span>
                        <label class="floating-label"> Name of Village <span style="color:red">*</span>  </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <textarea asp-for="Address" placeholder="Address" class="floating-label-field floating-label-field--s3"></textarea>

                        <span asp-validation-for="Address" class="text-danger"></span>
                        <label class="floating-label">Address<span style="color:red">*</span> </label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="TalukName" placeholder="TalukName" type="text"
                               class="floating-label-field floating-label-field--s3 " />
                        <span asp-validation-for="TalukName" class="text-danger"></span>
                        <label class="floating-label">Name of Taluk/Sub-Division/Tehsil/Block(As Applicable)<span style="color:red">*</span> </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3"
                                asp-for="MunicipalityId" asp-items="@(new SelectList(Model.MunicipalityList, "Id","Name"))">
                            <option selected disabled="disabled" value="">Select</option>
                        </select>
                        <span asp-validation-for="MunicipalityId" class="text-danger"></span>
                        <label asp-for="MunicipalityId" class="floating-label">Name of Municipality <span style="color:red">*</span> </label>
                    </div>
                </div>
            </div>
            <div class="row mt-md-3">
                <div class="col-md-6">
                    <div class="floating-label-wrap">
                        <select class="floating-label-field floating-label-field--s3"
                                asp-for="DistrictId" asp-items="@(new SelectList(Model.DistrictList, "Id","Name"))">
                            <option disabled="disabled" selected value="">Select</option>
                        </select>
                        <span asp-validation-for="DistrictId" class="text-danger"></span>
                        <label asp-for="DistrictId" class="floating-label">District/Zone<span style="color:red">*</span> </label>
                    </div>
                </div>

            </div>

        </div>

        <h3 class="my-3 d-flex sub-heading pt-4"> Khasra Details </h3>
        <div>
            <div class="table-section bg-white border shadow rounded">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered mb-0 table-striped" id="tbl_posts">
                        <thead class="text-nowrap">

                            <tr>
                                <th>Sr.No</th>
                                <th>Khasra No</th>
                                <th>Area</th>
                                <th>Ownership Status</th>
                                <th>Owner Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_posts_body">
                        </tbody>
                        <tbody class="tbody" id="add">
                            <tr id="">

                                <td class="py-3" style="text-align:center;"><span class="sn">1</span></td>
                                <td class="py-3">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input required asp-for="KhasraNo" type="text" class="floating-label-field floating-label-field--s3" placeholder="Khasra No" />
                                        <span asp-validation-for="KhasraNo" class="d-block text-danger field-validation-valid "></span>

                                        <label class="floating-label"> Khasra No <span style="color:red">*</span> </label>
                                    </div>
                                </td>
                                <td class="py-3">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input asp-for="Bigha" placeholder="Bigha" type="text" class="floating-label-field floating-label-field--s3 numbers" />
                                        <span asp-validation-for="Bigha" class="d-block text-danger field-validation-valid"></span>
                                        <label class="floating-label"> Bigha </label>
                                    </div>
                                    <br />
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input required asp-for="Biswa" type="text" placeholder="Biswa" class="floating-label-field floating-label-field--s3 numbers" />
                                        <span asp-validation-for="Biswa" class="d-block text-danger field-validation-valid "></span>
                                        <label class="floating-label"> Biswa<span style="color:red">*</span> </label>
                                    </div>
                                    <br />
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input required asp-for="Biswanshi" placeholder="Biswanshi" type="text" class="floating-label-field floating-label-field--s3 numbers" />
                                        <span asp-validation-for="Biswanshi" class="d-block text-danger field-validation-valid"></span>
                                        <label class="floating-label"> Biswanshi <span style="color:red">*</span>  </label>
                                    </div>
                                    <br />

                                </td>
                                <td class="py-3">
                                    <div class="floating-label-wrap">
                                        <select asp-for="OwnershipStatus" placeholder="Ownership Status" class="floating-label-field floating-label-field--s3">
                                            <option disabled selected="selected" value="">---Select---</option>
                                            <option value="Public">Public</option>
                                            <option value="Private">Private</option>
                                        </select>
                                        <span asp-validation-for="OwnershipStatus" class="text-danger"></span>
                                        <label class="floating-label"> Ownership Status   </label>
                                    </div>
                                    <br />

                                </td>
                                <td class="py-3">
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <input asp-for="OwnerName" placeholder="OwnerName" type="text" class="floating-label-field floating-label-field--s3" />
                                        <span asp-validation-for="OwnerName" class="d-block text-danger field-validation-valid"></span>
                                        <label class="floating-label"> Owner Name  </label>
                                    </div>
                                </td>
                                <td class="py-3">
                                    <div class="action-btns">
                                        <a class="remove delete-record " title="delete" data-id="0" style="display:none;font-size:30px;"><i class="ri-delete-bin-fill"></i></a>
                                        <a class="view add-record" data-added="0" title="Add" style="font-size:30px;"><i class="ri-add-circle-fill"></i></a>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <h3 class="my-3 d-flex sub-heading pt-4"> Details of Building and Other Structure </h3>
        <div>
            <div class="table-section bg-white border shadow rounded">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered mb-0 table-striped">
                        <thead class="text-nowrap">
                            <tr>
                                <th>Sr.No</th>
                                <th>Structure</th>
                                <th>Number</th>
                                <th>Description</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Building</td>
                                <td>
                                    <input asp-for="BuildingNo" class="floating-label-field floating-label-field--s3 numbers" />
                                    <span asp-validation-for="BuildingNo" class="d-block text-danger field-validation-valid "></span>
                                </td>
                                <td>
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <textarea asp-for="BuildingDesc" placeholder="BuildingDesc" class="floating-label-field floating-label-field--s3"></textarea>
                                        <span asp-validation-for="BuildingDesc" class="text-danger"></span>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Tanks</td>
                                <td>
                                    <input asp-for="TanksNo" class="floating-label-field floating-label-field--s3 numbers" />
                                    <span asp-validation-for="TanksNo" class="d-block text-danger field-validation-valid "></span>
                                </td>
                                <td>
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <textarea asp-for="TanksDesc" placeholder="BuildingDesc" class="floating-label-field floating-label-field--s3"></textarea>
                                        <span asp-validation-for="TanksDesc" class="text-danger"></span>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Wells</td>
                                <td>
                                    <input asp-for="WellsNo" class="floating-label-field floating-label-field--s3 numbers" />
                                    <span asp-validation-for="WellsNo" class="d-block text-danger field-validation-valid "></span>
                                </td>
                                <td>
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <textarea asp-for="WellsDesc" placeholder="BuildingDesc" class="floating-label-field floating-label-field--s3"></textarea>
                                        <span asp-validation-for="WellsDesc" class="text-danger"></span>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Trees</td>
                                <td>
                                    <input asp-for="TreesNo" class="floating-label-field floating-label-field--s3 numbers" />
                                    <span asp-validation-for="TreesNo" class="d-block text-danger field-validation-valid "></span>
                                </td>
                                <td>
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <textarea asp-for="TreesDesc" placeholder="BuildingDesc" class="floating-label-field floating-label-field--s3"></textarea>
                                        <span asp-validation-for="TreesDesc" class="text-danger"></span>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Religious Building</td>
                                <td>
                                    <input asp-for="ReligiousBuildingNo" class="floating-label-field floating-label-field--s3 numbers" />
                                    <span asp-validation-for="ReligiousBuildingNo" class="d-block text-danger field-validation-valid "></span>
                                </td>
                                <td>
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <textarea asp-for="ReligiousBuildingDesc" placeholder="BuildingDesc" class="floating-label-field floating-label-field--s3"></textarea>
                                        <span asp-validation-for="ReligiousBuildingDesc" class="text-danger"></span>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Graveyard or Tomb</td>
                                <td>
                                    <input asp-for="TombNo" class="floating-label-field floating-label-field--s3 numbers" />
                                    <span asp-validation-for="TombNo" class="d-block text-danger field-validation-valid "></span>
                                </td>
                                <td>
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <textarea asp-for="TombDesc" placeholder="BuildingDesc" class="floating-label-field floating-label-field--s3"></textarea>
                                        <span asp-validation-for="TombDesc" class="text-danger"></span>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Others</td>
                                <td>
                                    <input asp-for="OthersNo" class="floating-label-field floating-label-field--s3 numbers" />
                                    <span asp-validation-for="OthersNo" class="d-block text-danger field-validation-valid "></span>
                                </td>
                                <td>
                                    <div class="floating-label-wrap mb-3 mb-md-0">
                                        <textarea asp-for="OthersDesc" placeholder="BuildingDesc" class="floating-label-field floating-label-field--s3"></textarea>
                                        <span asp-validation-for="OthersDesc" class="text-danger"></span>
                                    </div>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>



        <h3 class="my-3 d-flex sub-heading">Total Area Under Request</h3>
        <div class="row mt-md-3">
            <div class="col-md-2">
                <label class="form-check-label" for="radio">
                    Area Unit
                </label>
            </div>
            <div class="col-md-1">
                <input type="hidden" asp-for="AreaUnit" value="HA" />
                <div class="form-check theme">
                    <input asp-for="AreaUnit" class="form-check-input" type="radio" name="unit" id="rdbHA" value="HA">
                    <label class="form-check-label" for="radio">
                        HA
                    </label>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-check theme">
                    <input asp-for="AreaUnit" class="form-check-input" type="radio" name="unit" id="rdbAcre" value="Acre">
                    <label class="form-check-label" for="radio">
                        Acre
                    </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check theme">
                    <input asp-for="AreaUnit" class="form-check-input" type="radio" name="unit" id="rdbSqm" value="Sq Meters">
                    <label class="form-check-label" for="radio">
                        Sq. Meters
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="Area" placeholder="Area"
                           class="floating-label-field floating-label-field--s3 numbers" />

                    <span asp-validation-for="Area" class="text-danger"></span>
                    <label class="floating-label">Area   </label>
                </div>
            </div>
        </div>

        <h3 class="my-3 d-flex sub-heading pt-4"> Boundaries of the Area to be Acquired </h3>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="AreaAcquiredEast" placeholder="AreaAcquiredEast"
                           class="floating-label-field floating-label-field--s3 numbers" />

                    <span asp-validation-for="AreaAcquiredEast" class="text-danger"></span>
                    <label class="floating-label">East   </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="AreaAcquiredWest" placeholder="AreaAcquiredWest"
                           class="floating-label-field floating-label-field--s3 numbers" />
                    <span asp-validation-for="AreaAcquiredWest" class="text-danger"></span>
                    <label class="floating-label">West</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="AreaAcquiredNorth" placeholder="AreaAcquiredNorth"
                           class="floating-label-field floating-label-field--s3 numbers" />
                    <span asp-validation-for="AreaAcquiredNorth" class="text-danger"></span>
                    <label class="floating-label">North   </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="AreaAcquiredSouth" placeholder="AreaAcquiredSouth" type="text"
                           class="floating-label-field floating-label-field--s3 numbers" />
                    <span asp-validation-for="AreaAcquiredSouth" class="text-danger"></span>
                    <label class="floating-label">South </label>
                </div>
            </div>
        </div>






        <div class="row mt-md-3 pt-4">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="AgriculturalLandArea" placeholder="AgriculturalLandArea" type="text"
                           class="floating-label-field floating-label-field--s3 numbers" />
                    <span asp-validation-for="AgriculturalLandArea" class="text-danger"></span>
                    <label class="floating-label">Area of the Agricultural & Irrigated Multi Cropped Land (in HA/ACRE/Sq.mtr)    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <textarea asp-for="Reasons" placeholder="Reasons" class="floating-label-field floating-label-field--s3"></textarea>

                    <span asp-validation-for="Reasons" class="text-danger"></span>
                    <label class="floating-label">Reasons For Inclusion of Agricultural & Irrigated Multi Cropped Land  </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">

            <div class=" col-md-6">
                <div class="floating-label-wrap">
                    <select asp-for="IsActive" class="floating-label-field floating-label-field--s3">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label class="floating-label">Status </label>
                </div>
            </div>
        </div>

        <div class="row mt-md-3">
            <div class=" col-md-12">
                @if (ViewBag.Anexx1Id == 0)
                {
                    <button class="btn btn-theme " type="submit">Submit</button>
                }
                else
                {
                    <button class="btn btn-theme " type="submit">Update</button>
                }
                @Html.ActionLink("Back", "Index", "RequestApprovalProcess", null, new { @class = "btn btn-theme " })

            </div>
        </div>

    </form>

</div>



<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/newlandannexure1reate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/newlandannexure1reate.min.js" asp-append-version="true"></script>
</environment>