@{
    Layout = null;
}

<!DOCTYPE html>
<!-- saved from url=(0038)https://newacquisition.ddalmis.org.in/ -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link href="https://newacquisition.ddalmis.org.in/img/favicon.ico" rel="shortcut icon" type="image/x-icon" sizes="16x16">
    <link rel="icon" href="~/images/favicon.png" type="image/png" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> New Land Acquisition </title>
    <!--font css-->
    <link rel="stylesheet" href="~/css/stylesheet.css">

    <!--icon css-->
    <link rel="stylesheet" href="~/lib/remixicon.css">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/lib/toaster/toastr.min.css" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
   
</head>
<body class="bg-gray">

    <div class="top-header">
        <header>
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <div class="menu me-3 p-2 text-white order-md-2 me-md-auto open" id="mobileMenu">
                        <i class="ri-menu-fold-line"></i>
                        <i class="ri-menu-unfold-line"></i>
                    </div>
                    <div class="logo py-1 me-auto me-md-4 order-md-1">
                        <a href="https://newacquisition.ddalmis.org.in/" class="d-block">
                            <figure class="m-0">
                                <img src="~/images/header-logo.png" alt="DDA Logo" class="img-fluid" />
                            </figure>
                        </a>
                    </div>
                    <div class="dropdown noti text-white my-2  me-3 order-md-3">
                        <a href="https://ddalmis.org.in/" role="button" id="notification" title="Go back to modules!" class="p-2 d-block text-white no-dec">
                            <i class="ri-home-3-fill" style="font-size:20px"></i>
                        </a>
                    </div>

                    <div class="dropdown user text-white order-md-4">
                        <a href="https://newacquisition.ddalmis.org.in/#" role="button" id="profile" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-2 d-block text-white no-dec">
                            <div class="d-flex align-items-center profile">
                                <figure class="m-0 d-none">
                                    <img src="./New Land Acquisition_files/favicon.png" alt="user-image" class="rounded-circle" width="34" height="34">
                                </figure>
                                <strong class="text-img rounded-circle d-block">
                                    v
                                </strong>
                                <span class="ml-2 d-none d-md-block">Hi VS USER</span>
                            </div>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profile">
                            <div class="text-center drop-detail">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <div class="pt-3">
    </div>

    <aside class="left-menu small slow" id="leftMenu">
        <ul class="accordion list-unstyled mb-0">

            <li>
                <a class="no-dec d-flex align-items-center collapsed" data-bs-toggle="collapse" href="https://newacquisition.ddalmis.org.in/#m_257" role="button" aria-expanded="false" aria-controls="m_257">
                    <i class="main-icon  ri-windy-fill"></i>
                    <span class="text me-auto">Proposal</span>
                    <i class="arrow ri-arrow-drop-down-line slow"></i>
                </a>
                <ul class="collapse sub-menu list-unstyled m-0 p-0" id="m_257">

                    <li class="nav-item">
                        <a href="https://newacquisition.ddalmis.org.in/Request/index" class="d-block">Request Submitted by Planning Department</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://newacquisition.ddalmis.org.in/RequestApprovalProcess/index" class="d-block">Request For Approval</a>
                    </li>

                </ul>
            </li>
            <li>
                <a class="no-dec d-flex align-items-center collapsed" data-bs-toggle="collapse" href="https://newacquisition.ddalmis.org.in/#m_234" role="button" aria-expanded="false" aria-controls="m_234">
                    <i class="main-icon  ri-windy-fill"></i>
                    <span class="text me-auto">Notifications</span>
                    <i class="arrow ri-arrow-drop-down-line slow"></i>
                </a>
                <ul class="collapse sub-menu list-unstyled m-0 p-0" id="m_234">

                    <li class="nav-item">
                        <a href="https://newacquisition.ddalmis.org.in/NewlandNotification/Index" class="d-block">Notification Master</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://newacquisition.ddalmis.org.in/NewLandJointSurvey/index" class="d-block">Joint Survey</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://newacquisition.ddalmis.org.in/Newlandus4plot/index" class="d-block">Notification U/S-4 Plot Details</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://newacquisition.ddalmis.org.in/Newlandus6plot/index" class="d-block">Notification U/S-6 Plot Details</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://newacquisition.ddalmis.org.in/Newlandus17plot/index" class="d-block">Notification U/S-17 Plot Detail</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://newacquisition.ddalmis.org.in/Newlandus22plot/index" class="d-block">Notification U/S-22 Plot Details</a>
                    </li>

                </ul>
            </li>
            <li>
                <a class="no-dec d-flex align-items-center collapsed" data-bs-toggle="collapse" href="https://newacquisition.ddalmis.org.in/#m_244" role="button" aria-expanded="false" aria-controls="m_244">
                    <i class="main-icon  ri-windy-fill"></i>
                    <span class="text me-auto">Awards</span>
                    <i class="arrow ri-arrow-drop-down-line slow"></i>
                </a>
                <ul class="collapse sub-menu list-unstyled m-0 p-0" id="m_244">

                    <li class="nav-item">
                        <a href="https://newacquisition.ddalmis.org.in/AwardMasterDetails/index" class="d-block">Award Master</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://newacquisition.ddalmis.org.in/AwardPlotDetails/index" class="d-block">Award Plot  Details</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://newacquisition.ddalmis.org.in/NewlandPossesionDetails/index" class="d-block">Possession Detail</a>
                    </li>

                </ul>
            </li>
            <li>
                <a class="no-dec d-flex align-items-center collapsed" data-bs-toggle="collapse" href="https://newacquisition.ddalmis.org.in/#m_249" role="button" aria-expanded="false" aria-controls="m_249">
                    <i class="main-icon  ri-windy-fill"></i>
                    <span class="text me-auto">Enhance Compensation</span>
                    <i class="arrow ri-arrow-drop-down-line slow"></i>
                </a>
                <ul class="collapse sub-menu list-unstyled m-0 p-0" id="m_249">

                    <li class="nav-item">
                        <a href="https://newacquisition.ddalmis.org.in/NewLandDemandListDetails/index" class="d-block">Demand List Details</a>
                    </li>

                </ul>
            </li>

        </ul>
    </aside>




    <section id="rightSection" class="slow bg-gray">
        <div class="container-fluid">
            <div class="section-wraper px-3  pb-md-0">

                <h1 class="border-bottom">Welcome to DDA</h1>
                <div class="profile-box bg-white rounded border p-3 my-4 shadow d-md-flex align-items-center py-lg-4 px-xl-5">
                    <h2>Copyright Policy</h2>
                    <p>The contents of this website may not be reproduced partially or fully, without due permission from Central Water Commission, Ministry of jal shakti, Department of Water Resources, River Development and Ganga Rejuvenation. If referred to as a part of another publication, the source must be appropriately acknowledged. The contents of this website can not be used in any misleading or objectionable context.</p>

                </div>
               @* <figure class="m-0 mb-md-n3">
                    <img class="img-fluid d-block mx-auto" src="./New Land Acquisition_files/brand.png" alt="dda">
                </figure>*@
            </div>
        </div>
    </section>
    <footer class="footer slow">
    </footer>


</body>
</html>