@model LoginViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<partial name="_ValidationSummary" />

<div id="Login">

    @if (Model.EnableLocalLogin)
    {

        <form asp-route="Login" class="input-form">

            <input type="hidden" asp-for="ReturnUrl" />
            <input type="hidden" asp-for="Data" id="hdnvals" />
            <div class="card">
                <div class="card-header">
                    <strong> Authority Login</strong>
                </div>
                <div class="form-group icon mt-2">
                    <i class="ri-user-line"></i>
                    <label asp-for="Username"></label>
                    <input class="form-control" placeholder="Username" asp-for="Username" autocomplete="off" maxlength="30" autofocus>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group icon">
                    <i class="ri-lock-line"></i>
                    <label asp-for="Password"></label>
                    <input type="password" class="form-control" placeholder="Password" asp-for="Password" maxlength="30" autocomplete="off">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group icon ">
                    @*<i class="ri-code-s-slash-line"></i>*@
                    <label>Captcha Code (<span class="text-danger">Case-Sensitive</span>)</label>
                    <input asp-for="CaptchaCode" type="text" class="form-control" placeholder="Enter Captcha *" maxlength="4" autocomplete="off">
                    <span asp-validation-for="CaptchaCode" class="text-danger"></span>
                </div>
                <div class="codeImg ms-3">
                    <img src="~/get-captcha-image" id="img-captcha">
                    <i class="ri-refresh-line" id="refreshcaptcha"></i>
                </div>
              

                @if (Model.AllowRememberLogin)
                {
                    <div class="d-flex align-items-center pt-1">
                        <div class="form-group form-check">
                            <input class="form-check-input ms-1" asp-for="RememberLogin">
                            <label class="form-check-label" asp-for="RememberLogin">Remember Me</label>
                        </div>
                        <div class="form-group ms-auto">
                        <a href="/ForgetPassword/Create"  class="text-primary">Forgot Password?</a>

                        </div>
                    </div>
                }
                <div class="pb-3">
                    <button class="btn btn-theme ms-2 px-4" name="button" id="btnlogin" value="login">Login</button>
                    <button class="btn btn-theme px-4" name="button" value="cancel">Cancel</button>
                </div>
                @*<button class="btn btn-theme px-4" name="button" id="btnlogin" value="login">Login</button>
        <button class="btn btn-theme px-4" name="button" value="cancel">Cancel</button>*@
            </div>
            @*<div class="container-fluid">
                    <p class="my-0 py-2">
                        <a href="https://damagepayee.managemybusinessess.com/">Damage Payee Public Interface</a>
                        | <a href="https://publiclims.managemybusinessess.com/">LIMS Public Interface</a>
                        | <a href="https://leaseallottee.managemybusinessess.com/SignupForm/CreateLogin/">Lease/Licence User Login  </a>
                        | <a href="https://leaseallottee.managemybusinessess.com/SignupForm/Create/">Lease/Licence User SignUp</a>
                        | <a href="https://damage.managemybusinessess.com/DamagePayeeRegistration/Create/">Damage Payee Registration</a>
                    </p>
                </div>*@

        </form>
    }

    @if (Model.VisibleExternalProviders.Any())
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>External Account</h2>
                </div>
                <div class="card-body">
                    <ul class="list-inline">
                        @foreach (var provider in Model.VisibleExternalProviders)
                        {
                            <li class="list-inline-item">
                                <a class="btn btn-secondary"
                                   asp-controller="External"
                                   asp-action="Challenge"
                                   asp-route-scheme="@provider.AuthenticationScheme"
                                   asp-route-returnUrl="@Model.ReturnUrl">
                                    @provider.DisplayName
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }

    @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
    {
        <div class="alert alert-warning">
            <strong>Invalid login request</strong>
            There are no login schemes configured for this request.
        </div>
    }
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<environment include="Development">
    <script src="~/js/aes.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/aes.min.js" asp-append-version="true"></script>
</environment>
<environment include="Development">
    <script src="~/js/login.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/login.min.js" asp-append-version="true"></script>
</environment>
