@model LoginViewModel

<partial name="_ValidationSummary" />

<div id="Login">

    @if (Model.EnableLocalLogin)
    {
        <form asp-route="Login" class="input-form">
            <input type="hidden" asp-for="ReturnUrl" />

            <div class="form-group icon">
                <i class="ri-user-line"></i>
                <label asp-for="Username"></label>
                <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
            </div>
            <div class="form-group icon">
                <i class="ri-lock-line"></i>
                <label asp-for="Password"></label>
                <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
            </div>
            @if (Model.AllowRememberLogin)
            {
                <div class="d-flex align-items-center">                    
                    <div class="form-group form-check">
                        <input class="form-check-input" asp-for="RememberLogin">
                        <label class="form-check-label" asp-for="RememberLogin">Remember Me</label>
                    </div>
                    <div class="form-group ml-auto">
                        <a href="https://master.managemybusinessess.com/ForgetPassword/create" id="ForgotPassword" class="text-primary">Forgot Password?</a>
                    </div>
                </div>
            }

            <button class="btn btn-theme px-4" name="button" value="login">Login</button>
            <button class="btn btn-theme px-4" name="button" value="cancel">Cancel</button>
            <div class="container-fluid">
                <p class="my-0 py-2">
                    <a href="https://damagepayee.managemybusinessess.com/">Damage Payee Public Interface</a>
                    | <a href="https://publiclims.managemybusinessess.com/">LIMS Public Interface</a>
                    | <a href="https://leaseallottee.managemybusinessess.com/SignupForm/CreateLogin/">Lease/Licence User Login  </a>
                    | <a href="https://leaseallottee.managemybusinessess.com/SignupForm/Create/">Lease/Licence User SignUp</a>
                    | <a href="https://damage.managemybusinessess.com/DamagePayeeRegistration/Create/">Damage Payee Registration</a>
                </p>
            </div>
        </form>
    }

    @if (Model.VisibleExternalProviders.Any())
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>External Account</h2>
                </div>
                <div class="card-body">
                    <ul class="list-inline">
                        @foreach (var provider in Model.VisibleExternalProviders)
                        {
                            <li class="list-inline-item">
                                <a class="btn btn-secondary"
                                   asp-controller="External"
                                   asp-action="Challenge"
                                   asp-route-scheme="@provider.AuthenticationScheme"
                                   asp-route-returnUrl="@Model.ReturnUrl">
                                    @provider.DisplayName
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }

    @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
    {
        <div class="alert alert-warning">
            <strong>Invalid login request</strong>
            There are no login schemes configured for this request.
        </div>
    }
</div>
