
@{
    ViewData["Title"] = "ResetPassword";
    // Layout = "~/Views/Shared/_LayoutForgetPass.cshtml";
}


<div class="logout-page">
    <div class="lead">

        <p class="text-danger">
            Dear @ViewBag.name ,
        </p>
        <p class="text-danger">

            As you have logged in first time in the application, you need to reset your current password. Reset Link has been shared on your registered email. Kindly check your email for reset password link(link validity 2 hours).
        </p>

    </div>
</div>