@model Dto.Master.ResetPasswordDto

@{
    ViewData["Title"] = "ResetPassword";
   // Layout = "~/Views/Shared/_Layout.cshtml";
    // Layout = "~/Views/Shared/_Layoutlogin.cshtml";
    Layout = "~/Views/Shared/_LayoutForgetPass.cshtml";
}
<form asp-action="ResetPassword" method="post" class="d-block px-2">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h4><u>Reset Password</u></h4>
    <div class="row mt-md-3">
        <div class="form-group icon">
            <i class="ri-lock-line"></i>
            <input type="password" class="form-control" placeholder="Enter New Passowrd" asp-for="Password" autofocus>
        </div>
    </div>
    <div class="row mt-md-3">
        <div class="form-group icon">
            <i class="ri-lock-line"></i>
            <input type="password" class="form-control" placeholder="Confirm New Password" asp-for="ConfirmPassword">
        </div>
    </div>
    <div class="row mt-md-3">
        <div class="mb-3 form-icons">
            <input asp-for="CaptchaCode" type="text" class="form-control" placeholder="Enter Captcha *" autocomplete="off">
        </div>
    </div>

    <div class="row mt-md-3">
        <div>
            <div class="codeImg">
                <img src="~/get-captcha-image" id="img-captcha">
                <i class="ri-refresh-line" id="refreshcaptcha" style="font-size:26px;"></i>
            </div>
        </div>
    </div>
    <input type="hidden" asp-for="Username" class="form-control" />
    <input type="hidden" asp-for="Token" class="form-control" />
    <div class="row  mt-md-3">
        <div>
            <div class="d-flex align-items-center">
                <button class="btn btn-theme px-4" type="submit">Submit</button>
            </div>
        </div>
    </div>
</form>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/forgetpasswordcreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/forgetpasswordcreate.min.js" asp-append-version="true"></script>
</environment>
