
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
   // Layout = "~/Views/Shared/_LayoutForgetPass.cshtml";
}

<div class="logout-page">
    <div class="lead">

        @*<p class="text-danger">
            Dear @ViewBag.name ,
        </p>*@
        <p class="text-danger">
            Your password has been reset. Please <a href="https://ddalmis.org.in/">click here to log in</a>.
        </p>

    </div>
</div>
