@model Libraries.Model.Entity.Village
<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Village</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container-fluid">
    <div class="panel">
        <div class="panel-heading dda-pageheading">
            <h6 class="pull-left color-white " style="margin-top:-0.4%">View Details</h6>
        </div>
        <div class="panel-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden" />
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Department </label>
                        <select asp-for="DepartmentId" class="form-control dda-dropdown" asp-items="@(new SelectList(Model.DepartmentList,"Id","Name"))" onchange="return onChange(this.options[this.selectedIndex].value);">
                            <option value="">Select</option>
                        </select>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Zone</label>
                        <select asp-for="ZoneId" class="form-control dda-dropdown" onchange="return onChangeZone(this.options[this.selectedIndex].value)">
                            <option value="value">Select</option>
                        </select>
                        <span asp-validation-for="ZoneId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Division</label>
                        <select asp-for="DivisionId" class="form-control dda-dropdown">
                            <option value="value">Select</option>
                        </select>
                        <span asp-validation-for="DivisionId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Village Name  </label>
                        <input class="form-control" asp-for="Name" id="txtVillage" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm"> Status</label>
                        <select asp-for="IsActive" class="form-control dda-dropdown">
                            <option value="1">Active</option>
                            <option value="0">InActive</option>
                        </select>
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class=" form-group  col-md-12">
                        @Html.ActionLink("Back", "Index", "Village", null, new { @class = "btn btn-primary dda-pageheading" })
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/Village.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/Village.min.js" asp-append-version="true"></script>
</environment>
