@model Libraries.Model.Entity.Noticetodamagepayee
<div class="content" id="MainContentForm" style="max-width: 780px; margin: auto; background: white; padding: 10px;">
    <div class="panel panel-default">
        <div class="row" style="border: groove; height:162px">
            <table class="table table-bordered" border="0">
                <tr>
                    <td>
                        <img src="https://res.cloudinary.com/deb9cwxor/image/upload/v1596010902/ow9sj5vbbpymed9eydrl.png" style="height:100px" class="img-responsive" alt="">
                    </td>
                    <td align="center">

                        <h style="font-size:20px; color:black">

                            <u> <b> DELHI DEVELOPMENT AUTHORITY</b></u>

                        </h>
                        <p style="color:black; font-size:11px; margin-left:60px; text-align:justify">

                            <b>
                                INSTITUTIONAL LAND BRANCH<br />

                                Room No.216, A-Block, 2" Floor, Vikas Sudan, INA New Delhi<br />


                            </b>
                        </p>

                    </td>
                    <td>
                        <img src="https://res.cloudinary.com/deb9cwxor/image/upload/v1596882092/dupx7btfcqjequcgsb00.jpg" style="height:100px" class="img-responsive" alt="">

                    </td>
                </tr>
            </table>

        </div>


        <div class="panel-body">

            <div class="row">
                <div class="col-md-4">
                    <label> No. F. 16(01)21/IL/+543 </label>

                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <label> Dated: 4/02/2021</label>


                </div>

            </div>






            <br />
            


            <br />
            <div class="row">
                <div class="col-md-12">
                    <label>
                        The Deputy Director.<br />
                        Dte. of Education,<br />
                        Land & Estate Branch. GNCTD, Lucknow Road,<br />
                        Delhi-110054<br />
                    </label>

                </div>


            </div>

            <br />
            <div class="row">
                <div class="col-md-12">
                    <p style="color: black; text-align:justify">
                        Sub:- Allotment of land measuring 4001 Sqm. to Dte. of Education (Land & Estate Branch), GNCTD for construction of Sr. Sec. School at PSP-10, Industrial Area, Phase-V, Rohini, Delhi.




                    </p>
                    <p style="margin-left:42px; color:black">
                        

                    </p>



                </div>


            </div><br />

            <div class="row">
                <div class="col-md-12">
                    <p style="color:black">
                        Sir,


                    </p>
                    <p style="margin-left:50px; color:black">

                    </p>

                </div>

            </div>

            <br />


            <div class="row">
                <div class="col-md-12">
                    <p style="color: black;margin-left: 50px;text-align: justify">

                        With reference to letter No. 16/Land/Kirari/2020-21/01 I dated 12.11.2020 on the subject noted above. I am directed to
                        inform you that under the provision of DDA (Disposal of Developed Nazul land) Rules. 1981. it is proposed to allot a plot
                        of land measuring 4001 Sqm. (on perpetual lease hold basis) for the purpose of Govt. Sr. Sec. School at PSP-I0, Industrial Area,
                        Phase-V, Rohini, Delhi as per enclosed Lay Out Plan
                        on the usual tenets and conditions as given in the approved format of perpetual lease deed and the following conditions: -<br />
                    </p>


                </div>

                <br />

                <div class="row" style="color:black;margin-left: 50px;">
                    <div class="col-md-12">
                        <p style="color: black;margin-left: 50px;text-align: justify">
                            1. That the allottee Dte. of Education (Land & Estate Branch), GNCTD will be required	to
                            pay provisional premium of land measuring 4001 Sqm.  Re. 1/- per acre (Aggregate of the provisional
                            land final premium). The revision of rates of land is under consideration of the Central Govt. The allottee
                            shall have to pay balance premium for the land as per rates determined by the Central Government under Rule-5
                            of DDA (Disposal of Developed Nazul land) Rules 1981, and within the time demanded by DDA. The rates of land.
                            determined. by Central Government, shall be binding upon the allottee and shall not be called in question by it in any proceeding.

                        </p>
                    </div>
                </div>

                <div class="row" style="color:black; margin-left:12px">
                    <div class="col-md-12">
                        <p style="color: black;text-align: justify">
                            i.The allottee shall give an undertaking to the effect that it will pay the balance premium of land

                            as and when demanded by DDA on the basis of the rates determined by Central Govt.<br />
                            ii.The area of the land/ plot is also subject to variation in size, as per requirement of layout plan and actual demarcation of the plot at site etc.
                            <br /> iii.The allotted land shall be used for the purpose of Govt. Sr. Sec. School and no other purpose whatsoever.
                            <br /> iv.The building plans should be got approved from the Lessor/DDA/Local body, before getting the same sanctioned for the construction on allotted land and construction as per sanctioned plan shall be completed thereon within a period of 2 years from the date of taking over physical possession of the plot allotted.
                            <br /> v.The allottee shall not sell, transfer, assign or otherwise pan with possession of the whole or any

                            pan of the said and or any building thereon except with the previous consent in writing of the Lessor which he shall be entitled to refuse in his absolute discretion.
                        </p>
                        <p>
                            a.PROVIDED that , in the event of the consent being , cii
                            • the Lessor may impose such conditions as he thinks fit and the LESSOR shall be cut 111,
                            1 to claim and recover the whole or a portion (as the Lessor may in his absolute discretion determine) 
                            of the un-earned in	in the value (i.e. the difference between the premium paid and market value ) of the
                             said land at the time of sale, transfer assignment. or parting with the possession and the decision of Lessor
                            in the respect of the market value shall he final & binding.
                            <br /> b.Notwithstanding anything contained in sub-clause
                            <br />(a) above. the lessee may with the previous consent in writing of the Lt. Governor of Delhi (hem in after called The L.G.) mortgage or charge, the said land to such person as may be approved by the Lt. Govemor in his absolute discretion.
                            <br /> vi.The lease decd shall be executed and got registered by the allottee at its own cost as and

                            when called upon to do so. by the Lessor (PRESIDENT OF INDIA)/DDA.
                            <br /> vii.The trees if any standing on the plot in question shall remain as DDA property and shall not

                            be removed or disposed of without the prior approval of the Lessor in writing. If the trees required to be removed off, then the permission for caning of trees may be obtained from Forest Department/Horticulture Department. The tree will be verified by Horticulture Department. DDA.
                            <br /> viii.That all other conditions, as contained in the perpetual lease deed to be executed in this

                            behalf and any other terms/condition imposed from time to time by the Central Government/Lt. Govemor shall be binding upon the allottee. The form of Lease Deed can be purchased from the office of DDA.
                            <br />ix.If the allottee violates any terms and conditions as mentioned above and in the perpetual

                            lease-deed, the allotment shall be cancelled and possession of the land/plot with superstructure standing thereon if any, will be taken over by the Lessor (PRESIDENT OF INDIA)/DDA, without any compensation to the allottee.
                            <br /> x.If the allotment is cancelled for breaches of any terms/ conditions of the allotment, the possession of the plot/land with building, if any will be handed over to DDA by the allottee on the date and time given in the cancellation notice.
                            <br /> 2.That it is the „hole responsibility of the allottee to keep proper watch and ward of the land and

                            property against any encroachment.
                            <br /> 3.The offer of allotment of land herein made is on "AS IS WHERE IS BASIS". The
                            allottee is advised to got himself acquainted with the conditions herein mentioned	and
                            also the site conditions before acceptance of the offer of allotment. It may be	noted that the
                            DDA shall not entertain any claim/exemption from the payment of	ground rent, License
                            Fee, composition fee etc. once the offer of allotment is accepted and possession is taken over
                            <br />  4.The allottee shall abide by all the terms and conditions given in the allotment	letter/lease

                            deed and other conditions as may be imposed by the Competent Authority from time to time
                            <br />5.The allottee shall pay the cost of fencing/Boundary wall if any, as and when	demanded by

                            DDA.
                            <br /> 6.No property development permitted on the allotted land.

                        </p>
                    </div>
                </div>

                <div class="row" style="color:black; ">
                    <div class="col-md-12">
                        <p style="color: black;margin-left: 50px;text-align: justify">
                            The payment and the acceptance letter with the required undertaking must be sent within 60 days from the date of issue of Demand-Cum-Allotment letter. failing which interest at the rate of 14% shall be chargeable for the delay period upto 180 days of issue of this letter. On completion of 180 days from the date of issue, the allotment shall be automatically cancelled. If the allottee has made partial payment, after 180 days of issue of this letter the allottee shall have to m-apply for allotment.
                        </p>
                    </div>
                </div>

                <div class="row" style="color:black; margin-left:12px">
                    <div class="col-md-12">
                        <p style="color: black;margin-left: 50px;text-align: justify">
                            If the above terms and conditions are acceptable to you, the acceptance there of with	an
                            undertaking may be sent to the undersigned along with the demand draft for Rs. 46/- (Rupees Forty Six Only) including documentation charges Rs. 45/- in favour of DDA within 60 days from the date of issue of demand-cum-allotment letter. The said amount can also be deposited in the bank counter situated in I.N.A. office complex and a copy of the challan may also be submitted to this office.
                        </p>

                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p style="color:black; margin-bottom:0.2%; text-align-last:justify">


                            <b>Details of Demand</b>
                            <div class="col-md-6"> I	Premium of land measuring</div>	<div class="col-md-6">
                                •	Re.	1.00
                            </div> <div class="col-md-6">
                                4001 Sqm. at  Re. 1/- per acre
                            </div><br />
                            <div class="col-md-6">
                                2	Documentation Charge
                            </div> <div class="col-md-6">
                                •	Rs.	45.00
                            </div><div class="col-md-6">
                                Total		Rs.	46.00
                            </div>

                            (Sada Shiv)
                        </p>
                        <p style="color:black;  text-align-last:justify">
                            Encl: As stated	Dy. Director (IL)/DDA
                            ID V
                            <br />1. Commissioner (Pig.) DDA. Vikas Minar, New Delhi-I 10002
                            <br />2.Commissioner (LM), DDA, Vikas Sadan, New Delhi-I 10023
                            <br /> 3.Chief Engineer (Rohini), DDA, Madhuban Chowk, Delhi-1 10085
                            <br />  4.Dy. Director (Survey) LD, DDA, Vikas Sadan, New Delhi-I 10023
                            <br />   5.Dy. CAO	DDA, Vikas Sadan, New Delhi-110023

                            <br /><br />Dy. Director (11)/DDA



                        </p>

                    </div>


                </div><br />

                <div class="row">
                    <div class="col-md-12">
                        <p style="color:black; margin-left:50px; margin-bottom:0.2%;text-align-last:justify">


                            And whereas in exercise of the powers conferred on me by SubSection (2A) of Section 7 <br />
                        </p>  <p style="color:black; margin-left:30px; text-align-last:justify">
                            of the Public Premises (Eviction of Unauthorized Occupants)Act 1971, I consider that arrears of<br />
                            damages in respect of the said premises is due and payable by you to the Delhi Development<br />
                            Authority.



                        </p>

                    </div>


                </div>
            </div>
           


            <br /><br />

            <div class="row">
                <div class="col-md-6">


                </div>


                <div class="col-md-2">


                </div>

                
            </div>

        </div>
    </div>
</div>

<div class="row mt-md-3">
    <div class="col-md-12">

        <button class="btn btn-theme " id="btnCreate" type="button">Print</button>

        @Html.ActionLink("Back", "Create", "SchoolAllotmentLetter", null, new { @class = "btn btn-theme" })
    </div>
</div>

<!-- HTML content for PDF creation -->

<div id="elementH"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
<script src="~/js/noticetodamagepayeelist.js"></script>