@model Libraries.Model.Entity.Paymentdetail
@await Component.InvokeAsync("PageHeader", new { pageName = "Payment Details" })

<div class="pt-3">
    <form asp-action="View" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">View Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="row">
            <div class="col-md-6 ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="DemandListNo" placeholder="Demand List No" type="text"
                           class="floating-label-field floating-label-field--s3" limit="200" />

                    <span asp-validation-for="DemandListNo" class="text-danger"></span>

                    <label class="floating-label">Demand List No </label>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="EnmSno" placeholder="Enm Sno" type="text"
                           class="floating-label-field floating-label-field--s3" limit="200" />

                    <span asp-validation-for="EnmSno" class="text-danger"></span>

                    <label class="floating-label">Enm Sno </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6 ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="AmountPaid" placeholder="Amount Paid" type="text"
                           class="floating-label-field floating-label-field--s3" limit="18" />

                    <span asp-validation-for="AmountPaid" class="text-danger"></span>

                    <label class="floating-label">Amount Paid </label>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="ChequeDate" placeholder="Date Of Appeal" type="Date"
                           class="floating-label-field floating-label-field--s3"  />

                    <span asp-validation-for="ChequeDate" class="text-danger"></span>

                    <label class="floating-label">Cheque Date </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6 ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="ChequeNo" placeholder="Cheque No" type="text"
                           class="floating-label-field floating-label-field--s3" limit="50" />

                    <span asp-validation-for="ChequeNo" class="text-danger"></span>

                    <label class="floating-label">Cheque No </label>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="BankName" placeholder="Bank Name" type="text"
                           class="floating-label-field floating-label-field--s3" limit="100" />

                    <span asp-validation-for="BankName" class="text-danger"></span>

                    <label class="floating-label">Bank Name </label>
                </div>
            </div>

        </div>
        <div class="row mt-md-3">
            <div class="col-md-6 ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="VoucherNo" placeholder="Cheque No" type="text"
                           class="floating-label-field floating-label-field--s3" limit="100" />

                    <span asp-validation-for="VoucherNo" class="text-danger"></span>

                    <label class="floating-label">Voucher No </label>
                </div>
            </div>

            <div class="col-md-6 ">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="PercentPaid" placeholder="Panel Lawyer" type="text"
                           class="floating-label-field floating-label-field--s3" limit="18" />

                    <span asp-validation-for="PercentPaid" class="text-danger"></span>

                    <label class="floating-label">Percent Paid </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class=" col-md-6">
                <div class="floating-label-wrap">
                    <select disabled class="floating-label-field floating-label-field--s3" asp-for="IsActive">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label asp-for="IsActive" class="floating-label">Status </label>
                </div>
            </div>
        </div>

        <div class="row mt-md-3">
            <div class=" col-md-12">

                @Html.ActionLink("Back", "Index", "Paymentdetail", null, new { @class = "btn btn-theme " })
            </div>
        </div>

    </form>

</div>



