@*@model Libraries.Model.Entity.Structure*@
@await Component.InvokeAsync("PageHeader", new { pageName = "Lessee/License KYC Details" })

<div class="pt-3">

    <form asp-action="Create" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">

        <h3 class="mb-3 d-flex">KYC (Know your Customer) Form<span style="margin-left:600px"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span></h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <select class="floating-label-field floating-label-field--s3" id="ddproperty">
                        @*<option selected value="">--Select--</option>*@
                        <option value="Lease">Lease Property</option>
                        <option value="License">License Property</option>
                    </select>
                    <label for="field-1" class="floating-label">Choose Property <span style="color:red">*</span></label>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <br />

        <div id="divLeaseproperty">
            <div class="row mt-md-3">
                <div class="col-md-3">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <select class="floating-label-field floating-label-field--s3">
                            <option selected value="">--Select--</option>
                            <option value="Lease">Residential</option>
                            <option value="License">Commercial</option>
                            <option value="Lease">Institutional</option>
                            <option value="License">Industrial </option>
                        </select>
                        <label for="field-1" class="floating-label">Nature of Property <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input type="email" class="floating-label-field floating-label-field--s3" placeholder="Name">
                        <label for="field-1" class="floating-label">File No.<span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <select class="floating-label-field floating-label-field--s3">
                            <option selected value="">--Select--</option>
                            <option value="Lease">Commercial Estate</option>
                            <option value="License">Commercial Land</option>
                            <option value="Lease">License Property Cell</option>
                            <option value="License">IL </option>
                            <option value="License">Industrial Land</option>
                            <option value="Lease">OSB</option>
                            <option value="License">LAB Residential </option>
                            <option value="License">LAB Rohini </option>
                            <option value="License">GH</option>
                            <option value="License">CS</option>
                        </select>
                        <label for="field-1" class="floating-label">Branch Pertaining To <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <select class="floating-label-field floating-label-field--s3" id="ddleasetype">
                            @*<option selected value="">--Select--</option>*@
                            <option value="Lease">Perpetual</option>
                            <option value="License">Tenure </option>
                        </select>
                        <label for="field-1" class="floating-label">Lease Type <span style="color:red">*</span></label>
                    </div>
                </div>

            </div>
            <!-- if Lease type is tenure -->
            <div id="divTenure">
                <h3 class="my-3 sub-heading">Tenure Details </h3>
                <div class="row mt-md-3">
                    <div class=" col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="date" class="floating-label-field floating-label-field--s3" placeholder="Period From">
                            <label for="field-1" class="floating-label">Tenure Period From <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="date" class="floating-label-field floating-label-field--s3" placeholder="Period to">
                            <label for="field-1" class="floating-label">Tenure Period To <span style="color:red">*</span></label>
                        </div>
                    </div>
                   
                </div>
             
            </div>
            <!-- Start of Plot Details -->
            <div id="divPlotDetails">
                <h3 class="my-3 sub-heading">Plot Details </h3>
                <div class="row mt-md-3">
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Period to">
                            <label for="field-1" class="floating-label">Plot No/ Khasra No <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="text" class="floating-label-field floating-label-field--s3" placeholder="FAR Permissible">
                            <label for="field-1" class="floating-label">FAR Permissible <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Block">
                            <label for="field-1" class="floating-label">Block <span style="color:red">*</span></label>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-3">
                  
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Pocket">
                            <label for="field-1" class="floating-label">Pocket<span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Sector">
                            <label for="field-1" class="floating-label">Sector <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Phase">
                            <label for="field-1" class="floating-label">Phase<span style="color:red">*</span></label>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-3">
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <select class="floating-label-field floating-label-field--s3">
                                <option selected value="">--Select--</option>
                                <option value="Lease">Bakoli</option>
                                <option value="License">Locality 1 </option>
                            </select>
                            <label for="field-1" class="floating-label">Locality <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <select class="floating-label-field floating-label-field--s3">
                                <option selected value="">--Select--</option>
                                <option value="Lease">North Zone</option>
                                <option value="License">West Zone </option>
                            </select>
                            <label for="field-1" class="floating-label">Zone <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="number" class="floating-label-field floating-label-field--s3" placeholder="Period From">
                            <label for="field-1" class="floating-label">Area in SQMT <span style="color:red">*</span></label>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-3">
                   
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="date" class="floating-label-field floating-label-field--s3" placeholder="Period to">
                            <label for="field-1" class="floating-label">Date of Allotment Letter<span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="date" class="floating-label-field floating-label-field--s3" placeholder="Period to">
                            <label for="field-1" class="floating-label">Date of Possession <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="date" class="floating-label-field floating-label-field--s3" placeholder="FAR Permissible">
                            <label for="field-1" class="floating-label">Date of Lease Execution<span style="color:red">*</span></label>
                        </div>
                    </div>
                </div>
                    <div class="row mt-md-3">
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="date" class="floating-label-field floating-label-field--s3" placeholder="Ground Rent Payable from">
                                <label for="field-1" class="floating-label">Ground Rent Payable from <span style="color:red">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="number" class="floating-label-field floating-label-field--s3" value="0" placeholder="Land Premium Paid at the time of Allotment Rs">
                                <label for="field-1" class="floating-label">Land Premium Paid at the time of Allotment Rs<span style="color:red">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="number" class="floating-label-field floating-label-field--s3" value="0" placeholder="Period to">
                                <label for="field-1" class="floating-label">Ground Rent payable as on date Rs.<span style="color:red">*</span></label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Plot details -->
                <!-- Lessee details -->
                <div id="divLesseeDetails">
                    <h3 class="my-3 sub-heading">Details of the License/Lessee as per Allotment Letter/Lease</h3>
                    <div class="row mt-md-3">
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="text" class="floating-label-field floating-label-field--s3" placeholder="First Name">
                                <label for="field-1" class="floating-label">First Name of the  Allottee/ Lessee  <span style="color:red">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Middle Name">
                                <label for="field-1" class="floating-label">Middle Name of the  Allottee/ Lessee</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Last Name">
                                <label for="field-1" class="floating-label">Last Name of the  Allottee/ Lessee</label>
                            </div>
                        </div>

                    </div>
                    <div class="row mt-md-3">
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <textarea type="text" class="floating-label-field floating-label-field--s3" placeholder="Address"></textarea>
                                <label for="field-1" class="floating-label">Address<span style="color:red">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="number" class="floating-label-field floating-label-field--s3" placeholder="Pin Code">
                                <label for="field-1" class="floating-label">Pin Code</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="number" class="floating-label-field floating-label-field--s3" placeholder="Last Name">
                                <label for="field-1" class="floating-label">Phone Number(without +91)<span style="color:red">*</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-md-3">
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="Email" class="floating-label-field floating-label-field--s3" placeholder="Last Name">
                                <label for="field-1" class="floating-label">Email ID<span style="color:red">*</span></label>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End of Lessee Details -->
                <!-- Payee details -->
                <div id="divPayeeDetails">
                    <h3 class="my-3 sub-heading">Payee Details </h3>
                    <div class="row mt-md-3">
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Name">
                                <label for="field-1" class="floating-label">Payee Name <span style="color:red">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <select class="floating-label-field floating-label-field--s3">
                                    <option selected value="">--Select--</option>
                                    <option value="Lessee">Lessee</option>
                                    <option value="POA">POA </option>
                                    <option value="Others">Others </option>
                                </select>
                                <label for="field-1" class="floating-label">Whether Payee <span style="color:red">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Depositor Name">
                                <label for="field-1" class="floating-label">Depositor Name <span style="color:red">*</span></label>
                            </div>
                        </div>

                    </div>
                    <div class="row mt-md-3">
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <textarea type="text" class="floating-label-field floating-label-field--s3" placeholder="Address"></textarea>
                                <label for="field-1" class="floating-label">Address <span style="color:red">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="email" class="floating-label-field floating-label-field--s3" placeholder="Email ID">
                                <label for="field-1" class="floating-label">Email ID</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="number" class="floating-label-field floating-label-field--s3" placeholder="PIN Code">
                                <label for="field-1" class="floating-label">PIN Code<span style="color:red">*</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-md-3">
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="number" class="floating-label-field floating-label-field--s3" placeholder="Address">
                                <label for="field-1" class="floating-label">Aadhaar No.<span style="color:red">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Email ID">
                                <label for="field-1" class="floating-label">PAN No.</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="floating-label-wrap mb-3 mb-md-0">
                                <input type="number" class="floating-label-field floating-label-field--s3" placeholder="PIN Code">
                                <label for="field-1" class="floating-label">Mobile No.[Not add +91]<span style="color:red">*</span></label>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End Of Payee Details -->
                <!-- Payment details Start -->
                <div id="divPayeeDetails">
                    <h3 class="my-3 sub-heading">Payment Details </h3>

                    <div class="table-section bg-white border shadow rounded">
                        <div class="table-responsive ">
                            <table id="tbl_posts" class="table table-sm table-bordered mb-0 table-striped">
                                <thead class="text-nowrap">
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Challan No./Transaction No./UTR No.<span style="color:red">*</span></th>
                                        <th>Date <span style="color:red">*</span></th>
                                        <th>Amount(Rs) <span style="color:red">*</span></th>
                                        <th>Name of Bank in which amount credited</th>
                                        <th style="min-width:150px;">Purpose <span style="color:red">*</span></th>
                                        <th>Payment Proof (Document Upload)<span style="color:red">*</span></th>
                                        <th>Operation</th>
                                    </tr>
                                </thead>
                                <tbody id="tbl_posts_body">
                                </tbody>
                                <tbody id="add">
                                    <tr id="">
                                        <td style="text-align:center;"><span class="sn">1</span></td>
                                        <td>
                                            <div class="floating-label-wrap mb-3 mb-md-0">
                                                <input type="text" placeholder="Challan No./Transaction No./UTR No." class="floating-label-field floating-label-field--s3" id="challano" name="challano" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="floating-label-wrap mb-3 mb-md-0">
                                                <input type="date" placeholder="date" class="floating-label-field floating-label-field--s3" id="Challandate" name="Challandate" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="floating-label-wrap mb-3 mb-md-0">
                                                <input type="number" placeholder="Amount(Rs)" class="floating-label-field floating-label-field--s3 numbers" id="Amount" name="Amount" value="">
                                            </div>
                                        </td>
                                        <td>

                                            <div class="floating-label-wrap mb-3 mb-md-0">
                                                <input type="text" class="floating-label-field floating-label-field--s3" id="Type" name="Type" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="floating-label-wrap">
                                                <select class="floating-label-field floating-label-field--s3" id="paymenttype" name="paymenttype" tabindex="-1" aria-hidden="true">
                                                    <option value="Ground Rent">Ground Rent</option>
                                                    <option value="Arrears">Arrears</option>
                                                    <option value="Interest">Interest</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="floating-label-wrap mb-3 mb-md-0">
                                                <input class="floating-label-field floating-label-field--s3 onlynumbers" id="document" type="file" name="document" value="">
                                            </div>
                                        </td>


                                        <td>
                                            <div class="action-btns">
                                                <a class="remove delete-record " title="delete" data-id="0" style="display:none;font-size:30px;"><i class="ri-delete-bin-fill"></i></a>
                                                <a class="view add-record" data-added="0" title="Add" style="font-size:30px;"><i class="ri-add-circle-fill"></i></a>
                                            </div>
                                            @*<div class="floating-label-wrap mb-3 mb-md-0">
                                        <a class="btn btn-theme delete-record" data-id="0" style="display:none;color:white;"><i class="fa fa-trash"></i></a>
                                        <a class="btn btn-theme add-record" data-added="0" style="color:white;"><i class="fa fa-plus"></i></a>
                                    </div>*@
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        <br />
        <div id="divLicenseproperty">
            <div class="row mt-md-3">
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <select class="floating-label-field floating-label-field--s3" style="width:100%;">
                            <option selected value="">--Select--</option>
                            <option value="Lease">Residential</option>
                            <option value="License">Commercial</option>
                            <option value="Lease">Institutional</option>
                            <option value="License">Industrial </option>
                        </select>
                        <label for="field-1" class="floating-label">Nature of Property <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input type="email" class="floating-label-field floating-label-field--s3" placeholder="Name">
                        <label for="field-1" class="floating-label">File No.<span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <select class="floating-label-field floating-label-field--s3" style="width:100%;">
                            <option selected value="">--Select--</option>
                            <option value="Lease">Commercial Estate</option>
                            <option value="License">Commercial Land</option>
                            <option value="Lease">License Property Cell</option>
                            <option value="License">IL </option>
                            <option value="License">Industrial Land</option>
                            <option value="Lease">OSB</option>
                            <option value="License">LAB Residential </option>
                            <option value="License">LAB Rohini </option>
                            <option value="License">GH</option>
                            <option value="License">CS</option>
                        </select>
                        <label for="field-1" class="floating-label">Branch Pertaining To <span style="color:red">*</span></label>
                    </div>
                </div>
                @*<div class="col-md-3">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <select class="floating-label-field floating-label-field--s3">
                        <option selected value="">--Select--</option>
                        <option value="Lease">Perpetual</option>
                        <option value="License">Tenure </option>
                    </select>
                    <label for="field-1" class="floating-label">Lease Type <span style="color:red">*</span></label>
                </div>
            </div>*@

            </div>

            <div id="divLicensedetails">
                <h3 class="my-3 sub-heading"> License Period</h3>
                <div class="row mt-md-3">
                    <div class=" col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="date" class="floating-label-field floating-label-field--s3" placeholder="Period From">
                            <label for="field-1" class="floating-label">License Period From <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="date" class="floating-label-field floating-label-field--s3" placeholder="Period to">
                            <label for="field-1" class="floating-label">License Period To <span style="color:red">*</span></label>
                        </div>
                    </div>


                </div>

            </div>
            <div id="divPlotDetails">
                <h3 class="my-3 sub-heading">Plot Details </h3>
                <div class="row mt-md-3">
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Period to">
                            <label for="field-1" class="floating-label">Plot No/Property No./Shop No./Khasra No <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Block">
                            <label for="field-1" class="floating-label">Block <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Pocket">
                            <label for="field-1" class="floating-label">Pocket<span style="color:red">*</span></label>
                        </div>
                    </div>


                </div>
                <div class="row mt-md-3">
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Sector">
                            <label for="field-1" class="floating-label">Sector <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Phase">
                            <label for="field-1" class="floating-label">Phase<span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <select class="floating-label-field floating-label-field--s3" style="width:100%;">
                                <option selected value="">--Select--</option>
                                <option value="Lease">Bakoli</option>
                                <option value="License">Locality 1 </option>
                            </select>
                            <label for="field-1" class="floating-label">Locality <span style="color:red">*</span></label>
                        </div>
                    </div>


                </div>
                <div class="row mt-md-3">
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <select class="floating-label-field floating-label-field--s3" style="width:100%;">
                                <option selected value="">--Select--</option>
                                <option value="Lease">North Zone</option>
                                <option value="License">West Zone </option>
                            </select>
                            <label for="field-1" class="floating-label">Zone <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="number" class="floating-label-field floating-label-field--s3" placeholder="Period From">
                            <label for="field-1" class="floating-label">Area in SQMT <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="date" class="floating-label-field floating-label-field--s3" placeholder="Period to">
                            <label for="field-1" class="floating-label">Date of Allotment Letter<span style="color:red">*</span></label>
                        </div>
                    </div>

                </div>
                <div class="row mt-md-3">
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="number" class="floating-label-field floating-label-field--s3" placeholder="Period From">
                            <label for="field-1" class="floating-label">Upfront License Fee Paid Rs.  <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="number" class="floating-label-field floating-label-field--s3" placeholder="Period From">
                            <label for="field-1" class="floating-label">Security Deposit Paid Rs. <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="date" class="floating-label-field floating-label-field--s3" placeholder="Period to">
                            <label for="field-1" class="floating-label">Date of Possession <span style="color:red">*</span></label>
                        </div>
                    </div>

                </div>
                <div class="row mt-md-3">
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="date" class="floating-label-field floating-label-field--s3" placeholder="FAR Permissible">
                            <label for="field-1" class="floating-label">Date of License  Execution<span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="date" class="floating-label-field floating-label-field--s3" placeholder="Ground Rent Payable from">
                            <label for="field-1" class="floating-label">License Fee Payable from  <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="number" class="floating-label-field floating-label-field--s3" value="0" placeholder="Land Premium Paid at the time of Allotment Rs">
                            <label for="field-1" class="floating-label">License Fee payable as on date (Rs.) <span style="color:red">*</span></label>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Lessee details -->
            <div id="divLesseeDetails">
                <h3 class="my-3 sub-heading">Details of the License/Lessee as per Allotment Letter/Lease</h3>
                <div class="row mt-md-3">
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="text" class="floating-label-field floating-label-field--s3" placeholder="First Name">
                            <label for="field-1" class="floating-label">First Name of the  Allottee/ Lessee  <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Middle Name">
                            <label for="field-1" class="floating-label">Middle Name of the  Allottee/ Lessee</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Last Name">
                            <label for="field-1" class="floating-label">Last Name of the  Allottee/ Lessee</label>
                        </div>
                    </div>

                </div>
                <div class="row mt-md-3">
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <textarea type="text" class="floating-label-field floating-label-field--s3" placeholder="Address"></textarea>
                            <label for="field-1" class="floating-label">Address<span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="number" class="floating-label-field floating-label-field--s3" placeholder="Pin Code">
                            <label for="field-1" class="floating-label">Pin Code</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="number" class="floating-label-field floating-label-field--s3" placeholder="Last Name">
                            <label for="field-1" class="floating-label">Phone Number(without +91)<span style="color:red">*</span></label>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-3">
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="Email" class="floating-label-field floating-label-field--s3" placeholder="Last Name">
                            <label for="field-1" class="floating-label">Email ID<span style="color:red">*</span></label>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End of Lessee Details -->
            <!-- Payee details -->
            <div id="divPayeeDetails">
                <h3 class="my-3 sub-heading">Payee Details </h3>
                <div class="row mt-md-3">
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Name">
                            <label for="field-1" class="floating-label">Payee Name <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <select class="floating-label-field floating-label-field--s3" style="width:100%;">
                                <option selected value="">--Select--</option>
                                <option value="Lessee">Lessee</option>
                                <option value="POA">POA </option>
                                <option value="Others">Others </option>
                            </select>
                            <label for="field-1" class="floating-label">Whether Payee <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Depositor Name">
                            <label for="field-1" class="floating-label">Depositor Name <span style="color:red">*</span></label>
                        </div>
                    </div>

                </div>
                <div class="row mt-md-3">
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <textarea type="text" class="floating-label-field floating-label-field--s3" placeholder="Address"></textarea>
                            <label for="field-1" class="floating-label">Address <span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="email" class="floating-label-field floating-label-field--s3" placeholder="Email ID">
                            <label for="field-1" class="floating-label">Email ID</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="number" class="floating-label-field floating-label-field--s3" placeholder="PIN Code">
                            <label for="field-1" class="floating-label">PIN Code<span style="color:red">*</span></label>
                        </div>
                    </div>
                </div>
                <div class="row mt-md-3">
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="number" class="floating-label-field floating-label-field--s3" placeholder="Address">
                            <label for="field-1" class="floating-label">Aadhaar No.<span style="color:red">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="text" class="floating-label-field floating-label-field--s3" placeholder="Email ID">
                            <label for="field-1" class="floating-label">PAN No.</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="floating-label-wrap mb-3 mb-md-0">
                            <input type="number" class="floating-label-field floating-label-field--s3" placeholder="PIN Code">
                            <label for="field-1" class="floating-label">Mobile No.[Not add +91]<span style="color:red">*</span></label>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Of Payee Details -->
            <div id="divpayment">
                <h3 class="my-3 sub-heading">Details of Past Payment Already Made</h3>
                <div class="table-section bg-white border shadow rounded">
                    <div class="table-responsive ">
                        <table id="tbl_posts" class="table table-sm table-bordered mb-0 table-striped">
                            <thead class="text-nowrap">
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Challan No./Transaction No./UTR No. <span style="color:red">*</span></th>
                                    <th>Payment Date</th>
                                    <th>Payment Amount(Rs)</th>
                                    <th>Period of Payment</th>
                                    <th style="min-width:150px;">Purpose <span style="color:red">*</span></th>
                                    <th>Payment Proof (Document Upload)</th>
                                    <th>Operation</th>
                                </tr>
                            </thead>
                            <tbody id="tbl_posts_body">
                            </tbody>
                            <tbody id="add">
                                <tr id="">
                                    <td style="text-align:center;"><span class="sn">1</span></td>
                                    <td>
                                        <div class="floating-label-wrap mb-3 mb-md-0">
                                            <input type="text" placeholder="Challan No./Transaction No./UTR No." class="floating-label-field floating-label-field--s3" id="challano" name="challano" value="">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="floating-label-wrap mb-3 mb-md-0">
                                            <input type="date" placeholder="date" class="floating-label-field floating-label-field--s3" id="Challandate" name="Challandate" value="">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="floating-label-wrap mb-3 mb-md-0">
                                            <input type="number" placeholder="Amount(Rs)" class="floating-label-field floating-label-field--s3 numbers" id="Amount" name="Amount" value="">
                                        </div>
                                    </td>
                                    <td>

                                        <div class="floating-label-wrap mb-3 mb-md-0">
                                            <input type="text" class="floating-label-field floating-label-field--s3" id="Type" name="Type" value="">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="floating-label-wrap">
                                            <select style="width:100%;" class="floating-label-field floating-label-field--s3" id="paymenttype" name="paymenttype" tabindex="-1" aria-hidden="true">
                                                <option value="License Fee">License Fee</option>
                                                <option value="Arrears">Arrears</option>
                                                <option value="Interest">Interest</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="floating-label-wrap mb-3 mb-md-0">
                                            <input class="floating-label-field floating-label-field--s3 onlynumbers" id="document" type="file" name="document" value="">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="action-btns">
                                            <a class="remove delete-record " title="delete" data-id="0" style="display:none;font-size:30px;"><i class="ri-delete-bin-fill"></i></a>
                                            <a class="view add-record" data-added="0" title="Add" style="font-size:30px;"><i class="ri-add-circle-fill"></i></a>
                                        </div>
                                        @*<div class="floating-label-wrap mb-3 mb-md-0">
                                        <a class="btn btn-theme delete-record" data-id="0" style="display:none;color:white;"><i class="fa fa-trash"></i></a>
                                        <a class="btn btn-theme add-record" data-added="0" style="color:white;"><i class="fa fa-plus"></i></a>
                                    </div>*@
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-md-3">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="submit">Submit</button>
                @Html.ActionLink("Back", "Index", "KYCform", null, new { @class = "btn btn-theme " })

            </div>
        </div>

    </form>

</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />

<environment include="Development">
    <script src="~/js/kycform.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/kycform.min.js" asp-append-version="true"></script>
</environment>
