@model Libraries.Model.Entity.Jointsurvey

<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Joint Survey Details</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid">
    <div class="panel">
        <div class="panel-heading dda-pageheading">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%">Edit Details</h6>
        </div>
        <div class="panel-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Village Name</label>
                        <select class="form-control dda-dropdown" asp-for="VillageId" asp-items="@(new SelectList(Model.VillageList, "Id","Name"))">
                            <option>Select</option>
                        </select>
                        <span asp-validation-for="VillageId" class="text-danger"></span>

                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Khasra No.</label>
                        <select class="form-control dda-dropdown" asp-for="KhasraId" asp-items="@(new SelectList(Model.KhasraList, "Id","Name"))">
                            <option>Select</option>
                        </select>
                        <span asp-validation-for="KhasraId" class="text-danger"></span>

                    </div>
                </div>

                <div id="DivMainContentForm">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class=" dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left" style="color:white;margin-top:5px;">Site Possition</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="radio-inline">
                                <input type="radio" asp-for="SitePosition" value="Built Up" />Built Up
                            </label>
                            <label class="radio-inline">
                                <input type="radio" asp-for="SitePosition" value="Partial Built Up" />Partial Built Up
                            </label>
                            <label class="radio-inline">
                                <input type="radio" asp-for="SitePosition" value="Vacant" />Vacant
                            </label>
                            <label class="radio-inline">
                                <input type="radio" asp-for="SitePosition" value="Boundary Wall" />Boundary Wall
                            </label>
                        </div>

                    </div>
                </div>

                <div id="Divclsification">
                    <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class=" dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left" style="color:white;margin-top:5px;">Area</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Bigha</label>

                            <input type="text" asp-for="Bigha" class="form-control" />

                        </div>

                        <div class="form-group col-md-4">

                            <label class="control-label lb-sm">Biswa</label>

                            <input type="text" asp-for="Biswa" class="form-control" />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label lb-sm">Biswanshi</label>
                            <input type="text" asp-for="Biswanshi" class="form-control" placeholder="0" />
                        </div>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Nature of Structure</label>
                        <input type="text" asp-for="NatureOfStructure" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Joint Survey Date</label>
                        <input type="Date" asp-for="JointSurveyDate" class="form-control" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="control-label lb-sm">Remarks</label>
                        <textarea type="text" asp-for="Remarks" class="form-control"></textarea>
                    </div>
                </div>


                <div class="form-row ">
                    <div class="form-group col-md-12" style="margin-bottom:40px;">
                        <input type="submit" value="Update" class="btn btn-primary dda-pageheading" />
                        @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
                        @Html.ActionLink("Back", "Index", "JointSurvey", null, new { @class = "btn btn-primary dda-pageheading" })
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>





