@model Libraries.Model.Entity.Propertyregistration
@await Component.InvokeAsync("PageHeader", new { pageName = "Property Inventory" })

<div class="pt-3">

    
       
        
            
    <form asp-action="Dispose" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">
            Dispose Record<span class="ms-auto"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span>
        </h3>

        <h3 class="mb-3 d-flex">
            Are you sure you want to dispose this?
            <input type="hidden" asp-for="Id" />
        </h3>



        <div class="row">









            <div class="col-md-4">


                <div class="floating-label-wrap">
                    @*<label class="control-label lb-sm" asp-for="PlannedUnplannedLand">Planned/Unplanned Land</label><span class="text-danger">*</span>*@
                    <select class="floating-label-field floating-label-field--s3" asp-for="DisposalTypeId" asp-items="@(new SelectList(Model.DisposalTypeList, "Id","Name"))">
                        <option value="0">--Select--</option>

                    </select>

                    <span asp-validation-for="DisposalTypeId" class="text-danger"></span>
                    <label asp-for="DisposalTypeId" class="floating-label">Type</label>
                </div>




                @*<label class="control-label lb-sm" asp-for="DisposalTypeId">Type</label>
                <select class="form-control dda-dropdown" asp-for="DisposalTypeId" asp-items="@(new SelectList(Model.DisposalTypeList, "Id","Name"))">
                    <option value="0">--Select--</option>
                </select>
                <span asp-validation-for="DisposalTypeId" class="text-danger lb-sm"></span>*@
            </div>
            @*<div class="col-md-4">
                <label class="control-label lb-sm">Date</label>
                <input asp-for="DisposalDate" type="date" value="" class="form-control" />
                <span asp-validation-for="DisposalDate" class="text-danger"></span>
            </div>*@

            <div class="col-md-4">

                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="date" asp-for="DisposalDate" class="floating-label-field floating-label-field--s3" placeholder="Date" />
                    <label for="DisposalDate" class="floating-label">Date</label>
                    <span asp-validation-for="DisposalDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">

                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="file" id="DisposalTypeAssignFile" class="floating-label-field floating-label-field--s3" name="DisposalTypeAssignFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />@*onchange="return fileValidation()"*@
                    <label for="DisposalTypeFileData" class="floating-label">Document</label>
                    <span asp-validation-for="DisposalTypeFileData" class="text-danger"></span>
                </div>
            </div>



            <!--<div class="form-group col-md-4">
            <label class="control-label lb-sm" asp-for="DisposalTypeFileData">Document</label>
            <input type="file" id="DisposalTypeAssignFile" class="form-control" name="DisposalTypeAssignFile" accept="application/pdf, application/vnd.ms-excel, application/vnd.ms-word, image/png, image/jpeg, image/gif" />-->
            @*onchange="return fileValidation()"*@
            <!--<span asp-validation-for="DisposalTypeFileData" class="text-danger lb-sm"></span>
        </div>-->

        </div>
        <div class="row mt-md-3">
            <div class="col-md-12">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <textarea asp-for="DisposalComments" class="floating-label-field floating-label-field--s3" maxlength="4000" limit="4000"></textarea>

                    <span asp-validation-for="DisposalComments" class="text-danger"></span>
                    <label class="floating-label">Comments</label>
                    <div id="feedbackDisposalComments"></div>
                </div>
                </div>
            </div>
        @*</div>*@

        <div class="row mt-md-3">
            <div class=" col-md-12">
                <input type="submit" value="Dispose" class="btn btn-theme" />
                @*<button class="btn btn-theme " type="submit">Submit</button>*@
                @Html.ActionLink("Back", "Index", "PropertyRegistration", null, new { @class = "btn btn-theme" })

            </div>
        </div>




        @*<div class="form-row ">
            <div class="form-group col-md-12" style="margin-bottom:40px;">
                <input type="submit" value="Dispose" class="btn btn-primary dda-pageheading" />
                @Html.ActionLink("Back", "Index", "PropertyRegistration", null, new { @class = "btn btn-primary dda-pageheading" })
            </div>
        </div>*@

    </form>
           
     
    



    </div>