@model IEnumerable<Libraries.Model.Entity.Propertyregistration>
@await Component.InvokeAsync("PageHeader", new { pageName = "Property Inventory" })

<div class="pt-3">
    <form class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Search</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" id="InventoriedInId">
                        <option selected="selected" value="0">All</option>
                        <option value="1">VLMS</option>
                        <option value="2">Used</option>
                    </select>
                    <label class="floating-label" for="ddlInventoried">Inventoried In</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" id="PlannedUnplannedLand">
                        <option selected="selected" value="0">All</option>
                        <option value="Planned Land">Planned Land</option>
                        <option value="Unplanned Land">Unplanned Land</option>
                    </select>
                    <label class="floating-label" for="PlannedUnplannedLand">Planned/Unplanned Land</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" id="ClassificationOfLandId" asp-items="@(new SelectList(ViewBag.Items, "Id","Name"))">
                        <option selected="selected" value="0">All</option>
                    </select>
                    <label class="floating-label" for="ClassificationOfLandId">Classification of Land</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" id="DepartmentId" asp-items="@(new SelectList(ViewBag.DepartmentList, "Id","Name"))" onchange="return GetZoneList(this.options[this.selectedIndex].value);">
                        <option selected="selected" value="0">All</option>
                    </select>
                    <label class="floating-label" for="DepartmentId">Department</label>
                </div>
            </div>
        </div>

        <div class="row mt-md-3">
            <div class="col-md-3">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" id="ZoneId" onchange="return GetDivisionList(this.options[this.selectedIndex].value);">
                        <option selected="selected" value="0">All</option>
                    </select>
                    <label class="floating-label" for="ZoneId">Zone</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" id="DivisionId">
                        <option selected="selected" value="0">All</option>
                    </select>
                    <label class="floating-label" for="DivisionId">Division</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-12 col-xl-3">
                <div class="row">
                    <div class="col-6 col-md-5 col-xl-6">
                        <button class="btn btn-link btn-block d-flex align-items-center justify-content-center" id="btnReset" type="reset">
                            <i class="ri-refresh-line mr-2"></i>Reset
                        </button>
                    </div>
                    <div class="col-6 col-md-7 col-xl-6">
                        <button class="btn btn-theme btn-block" type="button" id="btnSearch">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="table-section bg-white border shadow rounded">
        <div class="short-section d-md-flex align-items-center">
            <div class="p-3 d-flex align-items-end mr-auto">
                <div class="floating-label-wrap">
                    <select id="ddlSort" class="floating-label-field floating-label-field--s3">
                        <option selected="selected" value="inventoriedin">Inventoried In</option>
                        <option value="plannedunplanned">Planned/Unplanned Land</option>
                        <option value="classification">Classification of Land</option>
                        <option value="department">Department</option>
                        <option value="zone">Zone</option>
                        <option value="division">Division</option>
                    </select>
                    <label for="field-1" class="floating-label">Sort by</label>
                </div>
                <div class="short-btn d-flex align-items-center">
                    <span class="btn slow active" id="btnAscending" title="Ascending order"><i class="ri-sort-asc"></i></span>
                    <span class="btn slow" id="btnDescending" title="Descending order"><i class="ri-sort-desc"></i></span>
                </div>
            </div>

            <div class="download-table d-flex align-items-center px-3 mb-3 mb-md-0">
                <a href="/PropertyRegistration/create" class="d-flex align-items-center btn btn-primary mr-2">
                    <i class="ri-add-fill mr-2 mr-lg-1"></i>
                    <small>Add More</small>
                </a>
                <a href="/PropertyRegistration/DownloadIndex" class="d-flex align-items-center btn btn-success">
                    <i class="ri-download-2-line mr-2 mr-lg-1"></i>
                    <small>Download</small>
                </a>
            </div>
        </div>
        <div class="table-responsive px-2" id="divTable">

        </div>
    </div>
</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/propertyregisterationindex.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/propertyregisterationindex.min.js" asp-append-version="true"></script>
</environment>

