@model Libraries.Model.Entity.Landtransfer
@await Component.InvokeAsync("PageHeader", new { pageName = "Hand Over/Take Over Report(Khasra No. Wise)" })

<br />
<div class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
    <h3 class="mb-3 d-flex">
        Details<span class="ms-auto"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span>
    </h3>
  
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="floating-label-wrap">
                <select id="KhasraNo" class="floating-label-field floating-label-field--s3"
                        asp-items="@(new SelectList(Model.PropertyRegistrationList,"Id","KhasraNo"))">
                    <option value="">Select</option>
                </select>
                <label class="floating-label">Khasra No HandoverTakenoverreport(Depatmentzone division locality wise) </label>
            </div>
        </div>
    </div>
    <div class="row mt-md-3">
        <div class="col-md-12 ">

            <button class="btn btn-theme btn-block" id="btnGenerate" type="submit">Search</button>

            @*<input type="submit"  id="btnGenerate" class="btn btn-theme btn-block" />*@
            <input type="button" value="Reset" onclick="location.reload(true);" class="btn btn-theme" />
        </div>
    </div>

   

</div>

<div class="table-section bg-white border shadow rounded">
    <div class="short-section d-md-flex align-items-center">
        <div class="p-3 d-flex align-items-end me-auto">
            <div class="floating-label-wrap">
                <select id="ddlSort" class="floating-label-field floating-label-field--s3">
                    <option value="Department">Department</option>
                    <option value="Zone">Zone </option>
                    <option value="Division">Division Code</option>
                   
                </select>
                <label for="field-1" class="floating-label">Sort by</label>
            </div>
            <div class="short-btn d-flex align-items-center">
                <span class="btn slow active" id="btnAscending" title="Ascending order"><i class="ri-sort-asc"></i></span>
                <span class="btn slow" id="btnDescending" title="Descending order"><i class="ri-sort-desc"></i></span>
            </div>
        </div>


        <div class="download-table d-flex align-items-center px-3 mb-3 mb-md-0">
          
            <a href="javascript:void(0)" class="d-flex align-items-center btn btn-success">
                <i class="ri-download-2-line me-2 me-lg-1"></i>
                <small>Download</small>
            </a>
        </div>
    </div>

    <div class="table-responsive px-2">
        <div id="LoadView">
        </div>
    </div>


</div>


<environment include="Development">
    <script src="~/js/ReportofLandTransferPropertyNoWise.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/ReportofLandTransferPropertyNoWise.min.js" asp-append-version="true"></script>
</environment>