@model Libraries.Model.Entity.Undersection4

@await Component.InvokeAsync("PageHeader", new { pageName = "Notification U/S-4 Master" })


<div class="pt-3">
    <form asp-action="Create" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data">

        <h3 class="mb-3 d-flex">Add Details<span style="margin-left:800px"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span></h3>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-md-6">

                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="ProposalId"
                            asp-items="@(new SelectList(Model.ProposalList, "Id","Name"))">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>

                    </select>
                    <span asp-validation-for="ProposalId" class="text-danger"></span>
                    <label asp-for="ProposalId" class="floating-label">Proposal Name <span style="color:red">*</span> </label>
                </div>


            </div>

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input type="text" asp-for="Number" placeholder="Notification No" class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="Number" class="text-danger"></span>
                    <label class="floating-label">Notification No <span style="color:red">*</span></label>
                </div>
            </div>

        </div>

        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input type="Date" asp-for="Ndate" placeholder="Notification Date" class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="Ndate" class="text-danger"></span>
                    <label class="floating-label">Notification Date <span style="color:red">*</span></label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input type="text" asp-for="Npurpose" placeholder="Purpose" class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="Npurpose" class="text-danger"></span>
                    <label class="floating-label">Purpose <span style="color:red">*</span></label>
                </div>
            </div>


        </div>

        <div class="row mt-md-3">
            <div class="form-group col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input type="file" asp-for="DocumentIFormFile" class="floating-label-field floating-label-field--s3 checkExtension" accept="application/pdf, image/png, image/jpeg">
                    <span class="d-block text-danger field-validation-valid" asp-validation-for="DocumentIFormFile"></span>
                    <label class="floating-label"> Upload Gazette Notification <span style="color:red">(Only PDF)</span></label>
                </div>
            </div>
            <div class=" col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="IsActive">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label asp-for="IsActive" class="floating-label">Status <span style="color:red">*</span> </label>
                </div>
            </div>
        </div>



        @*<div class="pt-3">
                <h3 class="mb-3 d-flex">Notification Type</h3>

                <div class="row">



                    <div class="col-md-3">
                        <div class="form-check theme">


                            <input class="form-check-input" type="radio" id="khasra_id" asp-for="TypeDetails" value="Khasra" checked="checked" />    <label class="radio-inline">
                                Khasra
                            </label>
                        </div>
                    </div>   <div class="col-md-3">
                        <div class="form-check theme">


                            <input class="form-check-input" type="radio" id="boundary_id" asp-for="TypeDetails" value="Boundary" />
                            <label class="radio-inline">
                                Boundary
                            </label>
                        </div>
                    </div>
                </div>
            </div>*@


        <div class="row mt-md-3" id="boundary_div" style="display:none">

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <textarea type="text" asp-for="BoundaryDescription" placeholder="Purpose" class="floating-label-field floating-label-field--s3"></textarea>
                    <label class="floating-label">Boundary Description</label>
                </div>


            </div>








        </div>



        <div class="row mt-md-3">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="submit">Submit</button>
                @Html.ActionLink("Back", "Index", "UnderSection4DetailsForm", null, new { @class = "btn btn-theme " })
            </div>
        </div>


    </form>
</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/undersection4detailsformcreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/undersection4detailsformcreate.min.js" asp-append-version="true"></script>
</environment>