@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>401 :: Unauthorize request</title>

    <style>
        .error-page {
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

            .error-page h1 {
                font-size: 7rem;
                text-shadow: 0 0 8px #999;
                color: #fff;
                margin: 30px 0 10px;
            }

            .error-page p {
                margin: 10px;
            }
    </style>

</head>
<body>
    <div class="error-page">
        <h1>401</h1>
        <p>Unauthorize request.</p>
    </div>
</body>
</html>
