@*@model Libraries.Model.Entity.Menuactionrolemap

@await Component.InvokeAsync("PageHeader", new { pageName = "Permissions" })

<div class="container-fluid">

    <form asp-action="Create" method="post" autocomplete="off" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">Add Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="ModuleId" 
                            asp-items="@(new SelectList(Model.ModuleList, "Id","Name"))">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <label asp-validation-for="PropertyId" class="error"></label>
                    <label asp-for="ModuleId" class="floating-label">Module Name </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="Role">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <label asp-validation-for="PropertyId" class="error"></label>
                    <label asp-for="Role" class="floating-label">Role Name </label>
                </div>
            </div>
        </div>

        <div class="row mt-md-3">
            <div class=" col-md-12">
                <button class="btn btn-theme " type="submit">Create</button>
                @Html.ActionLink("Back", "Index", "Permissions", null, new { @class = "btn btn-theme " })

            </div>
        </div>

    </form>

</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />

<environment include="Development">
    <script src="~/js/permissionscreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/permissionscreate.min.js" asp-append-version="true"></script>
</environment>*@
