@model Libraries.Model.Entity.Disposalland
@await Component.InvokeAsync("PageHeader", new { pageName = "Disposal Land Master" })

<div class="pt-3">

    <form asp-action="View" id="myForm" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">View Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="VillageId"
                            asp-items="@(new SelectList(Model.VillageList, "Id","Name"))">
                        <option value="0">Select</option>
                    </select>
                    <span asp-validation-for="VillageId" class="text-danger"></span>
                    <label asp-for="VillageId" class="floating-label">Village Name</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <select class="floating-label-field floating-label-field--s3" asp-for="KhasraId"
                            asp-items="@(new SelectList(Model.KhasraList, "Id","Name"))">
                        <option value="0">Select</option>
                    </select>
                    <span asp-validation-for="KhasraId" class="text-danger"></span>
                    <label asp-for="KhasraId" class="floating-label">Khasra </label>
                </div>
            </div>
        </div>

        <div id="Divclsification">
            <h3 class="my-3 d-flex sub-heading"> Disposal Details </h3>
            <div class="row mt-md-3">
                <div class="col-md-2">
                    <div class="floating-label-wrap mb-3 mb-md-0">
                        <input asp-for="TransferToWhichDept" placeholder="TransferToWhichDept" type="text"
                               class="floating-label-field floating-label-field--s3" />
                        <span asp-validation-for="TransferToWhichDept" class="text-danger"></span>
                        <label class="floating-label">TransferToWhichDept</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input asp-for="AreaDisposed" placeholder="AreaDisposed" type="text"
                               class="floating-label-field floating-label-field--s3" />
                        <span asp-validation-for="AreaDisposed" class="text-danger"></span>
                        <label class="floating-label">Area disposed  </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="floating-label-wrap mb-3 mb-md-0">

                        <input asp-for="DateOfDisposed" placeholder="DateOfDisposed" type="date"
                               class="floating-label-field floating-label-field--s3" />
                        <span asp-validation-for="DateOfDisposed" class="text-danger"></span>
                        <label class="floating-label">Date Of disposed </label>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="my-3 d-flex sub-heading"> Land Details </h3>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="TransferTo" placeholder="TransferTo" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="TransferTo" class="text-danger"></span>
                    <label class="floating-label">Transfer to </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="TransferBy" placeholder="TransferBy" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="TransferBy" class="text-danger"></span>
                    <label class="floating-label">Transfer by </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="FileNoRefNo" placeholder="FileNoRefNo" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="FileNoRefNo" class="text-danger"></span>
                    <label class="floating-label">FileNo/RefNo </label>
                </div>
            </div>
            <div class=" col-md-6">
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="UtilizationtypeId"
                            asp-items="@(new SelectList(Model.UtilizationtypeList, "Id","Name"))">
                        <option value="0">Select</option>
                    </select>
                    <span asp-validation-for="UtilizationtypeId" class="text-danger"></span>
                    <label asp-for="UtilizationtypeId" class="floating-label">Utilization type</label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <select class="floating-label-field floating-label-field--s3" asp-for="IsActive">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label asp-for="IsActive" class="floating-label">Status </label>
                </div>
            </div>
            <div class=" col-md-6">
                <div class="floating-label-wrap">

                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class=" col-md-12">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <textarea asp-for="Remarks" placeholder="Remarks" class="floating-label-field floating-label-field--s3"></textarea>

                    <span asp-validation-for="Remarks" class="text-danger"></span>
                    <label class="floating-label">Remarks  </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="form-group col-md-12" style="margin-bottom:40px;">
                @Html.ActionLink("Back", "Index", "DisposalLand", null, new { @class = "btn btn-theme " })

            </div>
        </div>

    </form>


</div>
