@*@model Libraries.Model.Entity.Demandletters*@
@model Dto.Master.ReliefReportDtoProfile

@await Component.InvokeAsync("PageHeader", new { pageName = "Relief Report" })
<div class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
    <h3 class="mb-3 d-flex">Details</h3>

    <div class="row">
        <div class="col-md-6">
            <div class="floating-label-wrap">

                <select class="floating-label-field floating-label-field--s3" asp-for="FileNo" asp-items="@(new SelectList( @ViewBag.FileNoList, "DepartmentRecNo","DepartmentName"))">
                    <option value="0">All</option>
                </select>
                <label asp-validation-for="FileNo" class="error"></label>
                <label class="floating-label" asp-for="FileNo">File No.</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap">

                <select class="floating-label-field floating-label-field--s3" asp-for="LocalityId" asp-items="@(new SelectList( @ViewBag.LocalityList, "DepartmentRecNo","DepartmentName"))">
                    <option value="0">All</option>
                </select>
                <label asp-validation-for="LocalityId" class="error"></label>
                <label class="floating-label" asp-for="LocalityId">Locality</label>
            </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-md-6">
            <div class="floating-label-wrap">
                <input asp-for="FromDate" type="date" class="floating-label-field floating-label-field--s3" />
                <label class="floating-label">From Date  <span style="color:red">*</span></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label-wrap">
                <input asp-for="ToDate" type="date" class="floating-label-field floating-label-field--s3" />
                <label class="floating-label">To Date  <span style="color:red">*</span></label>
            </div>
        </div>
    </div>
    <div class="row mt-md-3">
        <div class=" col-md-12">
            <input type="submit" value="Generate" id="btnGenerate" class="btn btn-theme " />
            @*@Html.ActionLink("Back", "Create", "PropertyInventoryReport", null, new { @class = "btn btn-theme " })*@
        </div>
    </div>
</div>
<div class="table-section bg-white border shadow rounded">
    <div class="short-section d-md-flex align-items-center">
        <div class="p-3 d-flex align-items-end mr-auto">
            <div class="floating-label-wrap">
                <select class="floating-label-field floating-label-field--s3">
                    <option selected="selected" disabled="disabled">Select One</option>
                    <option>Inventoried In</option>
                    <option>Planned/Unplanned Land</option>
                    <option>Classification of Land</option>
                    <option>Department</option>
                    <option>Zone</option>
                    <option>Division</option>
                </select>
                <label for="field-1" class="floating-label">Sort by</label>
            </div>
            <div class="short-btn d-flex align-items-center">
                <span class="btn slow active" title="Descending order"><i class="ri-sort-desc"></i></span>
                <span class="btn slow" title="Ascending order"><i class="ri-sort-asc"></i></span>
            </div>
        </div>

        <div class="download-table d-flex align-items-center px-3 mb-3 mb-md-0">

            <a href="javascript:void(0)" class="d-flex align-items-center btn btn-success">
                <i class="ri-download-2-line mr-2 mr-lg-1"></i>
                <small>Download</small>
            </a>
        </div>
    </div>
    <div class="table-responsive px-2" id="LoadReportView">

    </div>
</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/reliefreportindex.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/reliefreportindex.js" asp-append-version="true"></script>
</environment>