@model Libraries.Model.Entity.Undersection22
@await Component.InvokeAsync("PageHeader", new { pageName = "Notification U/S-22 Details " })

<div class="pt-3">
    <form asp-action="View" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">View Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="NotificationNo" placeholder="Notification" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="NotificationNo" class="text-danger"></span>
                    <label class="floating-label">Notification No.    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled asp-for="NotificationDate" placeholder="Name" type="date"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="NotificationDate" class="text-danger"></span>
                    <label class="floating-label">Notification Date </label>
                </div>
            </div>
        </div>


        <div class="row mt-md-3">
            <div class=" col-md-6">
                <div class="floating-label-wrap">
                    <select disabled class="floating-label-field floating-label-field--s3" asp-for="IsActive">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label asp-for="IsActive" class="floating-label">Status </label>
                </div>
            </div>
        </div>

        <div class="row mt-md-3">
            <div class=" col-md-12">
               
                @Html.ActionLink("Back", "Index", "UnderSection22Details", null, new { @class = "btn btn-theme " })
            </div>
        </div>

    </form>

</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />

