
@await Component.InvokeAsync("PageHeader", new { pageName = "Demolition Diary" })
<div class="pt-3">

    <div class="table-section bg-white border shadow rounded">
        <div class="short-section d-md-flex align-items-center">
            <div class="p-3 d-flex align-items-end mr-auto">
                <div class="floating-label-wrap">
                    <select id="ddlSort" class="floating-label-field floating-label-field--s3">

                        <option value="Dep">Department</option>
                        <option value="Zone">Zone</option>
                        <option value="Div">Division</option>
                        <option value="Loc">Locality(Village)</option>
                        <option value="Date">Date Of approval of demolition</option>

                    </select>

                    <label for="field-1" class="floating-label">Sort by</label>
                </div>
                <div class="short-btn d-flex align-items-center">
                    <span class="btn slow active" id="btnAscending" title="Ascending order"><i class="ri-sort-asc"></i></span>
                    <span class="btn slow" id="btnDescending" title="Descending order"><i class="ri-sort-desc"></i></span>
                  
                </div>
            </div>

            <div class="download-table d-flex align-items-center px-3 mb-3 mb-md-0">
                <a href="/Demolitionstructuredetails/Create" class="d-flex align-items-center btn btn-primary mr-2">
                    <i class="ri-add-fill mr-2 mr-lg-1"></i>
                    <small>Add More</small>
                </a>
                <a href="/Demolitionstructuredetails/DemolitionStructuredetailsList" class="d-flex align-items-center btn btn-success">
                    <i class="ri-download-2-line mr-2 mr-lg-1"></i>
                    <small>Download</small>
                </a>
            </div>
        </div>
        <div class="table-responsive px-2">
            <div id="divDemolitionTable">

            </div>
        </div>
    </div>

</div>

<environment include="Development">
    <script src="~/js/demolitionstructureindex.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/demolitionstructureindex.min.js" asp-append-version="true"></script>
</environment>
