

@*@model IEnumerable<Libraries.Model.Entity.Landtransfer>*@
<style>
    th{
        text-align:center;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Current Status Of Handed Over Taken Over Land History </h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div>
    <a asp-action="Index" class="btn btn-primary pull-right dda-pageheading" style="margin-top: -10px;">Back</a>
</div>
<br />
<br />
<div class="container-fluid">
    <div class="card  table-responsive table-card">
        <table class="table table-responsive table-bordered table-card">
            <thead class="thead">
                <tr class="myapp-hed1">
                    <th rowspan="2">Sr.No</th>
                    <th colspan="2">TSS Survey</th>
                    <th colspan="4">Encroachment</th>
                    <th colspan="3">Fencing/Boundary Wall</th>
                    <th colspan="3">Area Utilised</th>
                    <th rowspan="2">Remarks</th>
                    <th rowspan="2"> Submitted On </th>
                </tr>
                <tr>
                    <th>TSS Survey</th>
                    <th>Upload Survey Report</th>
                    <th>Encroachment </th>
                    <th>Encroached Area(Bigha/Biswa/Biswanshi)</th>
                    <th>Action On Encroachment</th>
                    <th>Upload Action Taken Report(ATR)</th>
                    <th>Fencing/Boundary Wall </th>
                    <th>Area Covered(Sq. mtr)</th>
                    <th>Dimension (L*B*H)(mtr)</th>
                    <th>Area /Plot Utilization</th>
                    <th>Area Utilised(Bigha/Biswa/Biswanshi)</th>
                    <th>Balance Area(Bigha/Biswa/Biswanshi)</th>
                </tr>
            </thead>
            <tbody class="tbody">

                <tr>

                    <td>1</td>
                    <td>yes</td>
                    <td>file.pdf</td>
                    <td>yes</td>
                    <td>456.01</td>
                    <td>taken</td>
                    <td>file.pdf</td>
                    <td>yes</td>
                    <td>456.01</td>
                    <td> 45*52*31</td>
                    <td>yes</td>
                    <td>356.01</td>
                    <td>213.05</td>
                    <td>Area not utilised</td>
                    <td> 12 Oct 2020 </td>

                </tr>
                <tr>

                    <td>2</td>
                    <td>yes</td>
                    <td>file.pdf</td>
                    <td>yes</td>
                    <td>456.01</td>
                    <td>taken</td>
                    <td>file.pdf</td>
                    <td>yes</td>
                    <td>456.01</td>
                    <td> 45*52*31</td>
                    <td>yes</td>
                    <td>356.01</td>
                    <td>213.05</td>
                    @*<td>active</td>*@
                    <td>Area not utilised</td>
                    <td> 12 Oct 2020 </td>

                </tr>
            </tbody>

        </table>
    </div>
</div>
