@model Libraries.Model.Entity.Allotmententry
@await Component.InvokeAsync("PageHeader", new { pageName = "Old Allotment Entry" })

<div class="pt-3">
    <form asp-action="View" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">
            View Details<span style="margin-left:800px"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span>
        </h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ApplicationId" />


        <h3 class="my-3 d-flex sub-heading">Allottee Details</h3>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled placeholder="Name"
                           asp-for="Application.RefNo"
                           class="floating-label-field floating-label-field--s3 " />
                    <span asp-validation-for="Application.RefNo" class="text-danger"></span>
                    <label class="floating-label">File No.   </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled placeholder="Name" asp-for="Application.Name"
                           class="floating-label-field floating-label-field--s3 " />
                    <span asp-validation-for="Application.Name" class="text-danger"></span>
                    <label class="floating-label">Allottee  Name  </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled placeholder="Name" asp-for="Application.Address"
                           class="floating-label-field floating-label-field--s3 " />
                    <span asp-validation-for="Application.Address" class="text-danger"></span>
                    <label class="floating-label">Allottee Address  </label>
                </div>
            </div>
        </div>
        <h3 class="my-3 d-flex sub-heading">Area Details</h3>
        <div class="row mt-md-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select disabled class="floating-label-field floating-label-field--s3"
                            asp-for="LeasesTypeId" asp-items="@(new SelectList(Model.LeaseTypeList, "Id","Type"))">
                        <option disabled="disabled" selected value="">Select</option>

                    </select>
                    <span asp-validation-for="LeasesTypeId" class="text-danger"></span>
                    <label class="floating-label">Lease Type </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled placeholder="Name" asp-for="PlotNo"
                           class="floating-label-field floating-label-field--s3 " />
                    <span asp-validation-for="PlotNo" class="text-danger"></span>
                    <label class="floating-label">Plot No. </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3" id="area">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled placeholder="Name" asp-for="BuildingArea"
                           class="floating-label-field floating-label-field--s3 numbers" />
                    <span asp-validation-for="BuildingArea" class="text-danger"></span>
                    <label class="floating-label"> Building Area   </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled placeholder="Name" asp-for="PlayGroundArea"
                           class="floating-label-field floating-label-field--s3 numbers" />
                    <span asp-validation-for="PlayGroundArea" class="text-danger"></span>
                    <label class="floating-label"> Open Area/Playfield Area   </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled placeholder="Name" asp-for="TotalArea"
                           class="floating-label-field floating-label-field--s3 numbers" />
                    <span asp-validation-for="TotalArea" class="text-danger"></span>
                    <label class="floating-label"> Total Area   </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled placeholder="Name" type="date" asp-for="AllotmentDate"
                           class="floating-label-field floating-label-field--s3 " />
                    <span asp-validation-for="AllotmentDate" class="text-danger"></span>
                    <label class="floating-label">Allotment Date       </label>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">

            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select disabled class="floating-label-field floating-label-field--s3"
                            asp-for="LeasePurposesTypeId" asp-items="@(new SelectList(Model.LeasePurposeList, "Id","PurposeUse"))"
                            onchange="return onChange(this.options[this.selectedIndex].value);">
                        <option disabled="disabled" selected value="">Select</option>

                    </select>
                    <span asp-validation-for="LeasePurposesTypeId" class="text-danger"></span>
                    <label class="floating-label">Lease Purpose / Use </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select disabled class="floating-label-field floating-label-field--s3"
                            asp-for="LeaseSubPurposeId" asp-items="@(new SelectList(Model.LeaseSubPurposeList, "Id","SubPurposeUse"))">
                        <option disabled="disabled" selected value="">Select</option>

                    </select>
                    <span asp-validation-for="LeaseSubPurposeId" class="text-danger"></span>
                    <label class="floating-label">Sub Purpose / Use </label>
                </div>
            </div>
        </div>

        <div class="row mt-md-3">

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled placeholder="Name" asp-for="PremiumRate"
                           class="floating-label-field floating-label-field--s3 numbers" />
                    <span asp-validation-for="PremiumRate" class="text-danger msg"></span>
                    <label class="floating-label"> Premium Rate </label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled placeholder="Name" type="date"
                           asp-for="PossessionTakenDate"
                           class="floating-label-field floating-label-field--s3 " />
                    <span asp-validation-for="PossessionTakenDate" class="text-danger"></span>
                    <label class="floating-label">Possession Date  </label>
                </div>
            </div>
        </div>


        <h3 class="my-3 d-flex sub-heading">Calculation Details</h3>

        <div class="row mt-md-3" id="amount">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled placeholder="Name" asp-for="PremiumAmount"
                           class="floating-label-field floating-label-field--s3 numbers" />
                    <span asp-validation-for="PremiumAmount" class="text-danger msg"></span>
                    <label class="floating-label"> Premium Amount </label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled placeholder="Name" asp-for="GroundRate"
                           class="floating-label-field floating-label-field--s3 numbers" />
                    <span asp-validation-for="GroundRate" class="text-danger"></span>
                    <label class="floating-label">Ground Rent  </label>
                </div>
            </div>
        </div>

        <div class="row mt-md-3" id="fee">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled placeholder="Name" asp-for="AmountLicFee"
                           class="floating-label-field floating-label-field--s3 numbers" />
                    <span asp-validation-for="AmountLicFee" class="text-danger msg"></span>
                    <label class="floating-label"> License Fee </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input disabled placeholder="Name" asp-for="NoOfYears" type="text"
                           class="floating-label-field floating-label-field--s3 numbers " />
                    <span asp-validation-for="NoOfYears" class="text-danger msg"></span>
                    <label class="floating-label"> Lease Years  </label>
                </div>
            </div>
        </div>



        <div class="row mt-md-3">
            <div class=" col-md-12">
               
                @Html.ActionLink("Back", "Index", "OldAllotmentEntry", null, new { @class = "btn btn-theme " })
            </div>
        </div>
    </form>

</div>




<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/oldallotmententryedit.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/oldallotmententryedit.min.js" asp-append-version="true"></script>
</environment>
