
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" sizes="16x16" />
    <link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Site Title-->
    <title>DDA!</title>

    <!--font css-->

    <link href="~/font/open-sans/stylesheet.css" rel="stylesheet">
    <!--    icon css-->

    <link rel="stylesheet" href="~/font/icon/remixicon.css">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">

    <!-- Custom CSS -->

    <link rel="stylesheet" href="~/css/style.css">

</head>

<body class="bg-gray">

    <div class="error-page">
        <div class="container d-flex" style="min-height: 100vh">
            <div class="error-bg-2 bg-white rounded shadow my-auto overflow-hidden">
                <div class="row align-items-center">
                    <div class="col-md-5"> <img src="~/images/error-500.gif" alt="DDA logo" class="img-fluid d-block mx-auto mb-5 m-md-4" /></div>
                    <div class="col-md-6 mx-auto">
                        <div class="error-text-box p-4 m-auto">
                            <h1 class="error-type-2 d-flex align-items-center mb-4">
                                <img src="~/images/logo-circle.png" alt="DDA logo" class="img-fluid d-block mr-3" />
                                <span>Delhi Development Authority<br>Government of India</span>
                            </h1>
                            <p class="error-text-2 text-muted">  Something went wrong</p>
                            <p class="error-text-2 text-muted">
                                Contact your site administrator with trace id:
                                @ViewContext.HttpContext.Request.Query["traceId"] for further assistance.
                            </p>
                            <a href="/Home/Index" class="btn btn-primary d-inline-flex align-items-center px-4 py-2">Back to Home</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS , any custom js-->
    <script src="~/js/main.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/js.js"></script>



</body>

</html>
