@model Libraries.Model.Entity.Payeeregistration


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="container d-flex">
    <div class="fromBg m-auto shadow-lg">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-5">
                <div class="logo d-flex align-items-center mb-4">
                    <img src="~/images/logo.png" alt="DDA" class="d-block me-3">
                    <strong>
                        Delhi Development Authority<br>
                        Government of India
                    </strong>
                </div>
                <form asp-action="MailSentMsg" class="d-block px-2" id="form">
                    <p class="text-danger">
                        <h5 class="text-danger">  Dear @ViewBag.name,</h5>
                    </p>
                    <p class="text-danger">
                        You are registered Successfully

                    </p>
                    <p class="text-danger">
                        Login Credentials has been sent on your registered emailid

                    </p>
                    <a href="https://damagepayee.managemybusinessess.com/" target="_blank" class="btn btn-theme">Go To Login</a>
                    <a href="https://damagepayee.managemybusinessess.com/" target="_blank" class="btn btn-theme">Back</a>
                </form>

            </div>
            <div class="col-md-6 col-lg-7">
                <img src="~/images/img.png" alt="DDA" class="d-none d-md-block image-right" width="450">
                <img src="~/images/formBg.png" alt="DDA" class="d-block formBg">

            </div>
        </div>
    </div>
</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/CaptchaCreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/CaptchaCreate.min.js" asp-append-version="true"></script>
</environment>
