
@{
    ViewData["Title"] = "NoticeToDamagePayee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/js/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>


<style>
    .p {
        color: black;
    }
</style>




<script src="js/bootstrap.min.js"></script>
<link href="Styles/bootstrap.css" rel="stylesheet" />

<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<script src="~/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>
<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Notice To Damage Payee</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />

<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  myapp-hed1">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%">Details</h6>
        </div>
        <div class="panel-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="radio-inline">
                            <input type="radio" name="grpSearchby" id="rdbFilename" />By File Name
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="grpSearchby" id="rdbPayeename" />By Payee Name
                        </label>
                    </div>
                </div>

                <br /> <br />

                <div class="container-fluid" id="DivForFileName" style="display:none">
                    <div class="panel-group">
                        <div class="panel">
                            <div class="panel-heading  myapp-hed1">
                                <h6 class="pull-left" style="color:white; margin-top:-0.4%">By File Name</h6>
                            </div>
                            <div class="panel-body">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label">File Name</label><span style="color:red">*</span>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid" id="DivForPayeeName" style="display:none">
                    <div class="panel-group">
                        <div class="panel">
                            <div class="panel-heading  myapp-hed1">
                                <h6 class="pull-left" style="color:white; margin-top:-0.4%">By Payee Name</h6>
                            </div>
                            <div class="panel-body">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Zone</label>
                                        <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                            <option value="0">---Select---</option>
                                            <option value="1">Inactive</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Locality</label>
                                        <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                            <option value="0">---Select---</option>
                                            <option value="1">Inactive</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Payee Name</label>
                                        <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                            <option value="0">---Select---</option>
                                            <option value="1">Inactive</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="DivForGenerate" style="display:none;">
                    <div class="row col-md-12" align="center">
                        <input type="submit" value="Generate" id="btnGenerate" class="btn btn-primary myapp-hed1" />
                        @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
                        @Html.ActionLink("Back", "DemandLetter", "DamagePayeeRegistration", null, new { @class = "btn btn-primary myapp-hed1" })
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="content" style="max-width: 780px; margin: auto; background: white; padding: 10px;">


    <div class="panel panel-default">

        <div class="row" style="border: groove; height:110px">

            <div class="col-md-3" style="border-right:groove;">


                <img src="https://res.cloudinary.com/deb9cwxor/image/upload/v1596010902/ow9sj5vbbpymed9eydrl.png" style="height:100px" class="img-responsive" alt="">







            </div>

            <div class="col-md-6" style="">
                <div>
                    <h style="font-size:20px; color:black">

                        <u> <b> DELHI DEVELOPMENT AUTHORITY</b></u>

                    </h>
                    <p style="color:black; font-size:16px">
                        <u>
                            <b>
                                IN THE COURT OF ESTATE OFFICER-||<br />

                                Room No.-05, A-Block, Ground Floor,<br />

                                VIKAS SADAN INA, NEW DELHI -110023<br />

                            </b>
                    </p>
                </div>
            </div>

            <div class="col-md-3" style="border-left:groove;">
                <img src="https://res.cloudinary.com/deb9cwxor/image/upload/v1596882092/dupx7btfcqjequcgsb00.jpg" style="height:100px" class="img-responsive" alt="">


            </div>

        </div>

        <div class="panel-body">

            <div class="row">
                <div class="col-md-4">
                    <label> फाइल सं. </label>
                    <p style="color:black;">File No.</p>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <label> दिनांक</label>

                    <p style="color:black">Dated</p>
                </div>

            </div>

            <br />
            <div class="row">
                <div class="col-md-6">
                    <label> Shri/smt :</label>
                    <p style="color:black">Add :</p>
                </div>
                <div class="col-md-6">
                    <label> </label>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <p style="color: black">
                        विषय :




                        सरकारी स्थान (अप्राधिकृत  अभिभोगियो  की  बेदखली ) अधिनियम , 1971  की  धरा 4(1)/7(3) के
                    </p>
                    <p style="margin-left:42px; color:black">
                        अंतर्गत.................................................................................... दिल्ली  में  स्थित  सम्पति  सं.
                    </p>
                    <p style="margin-left:42px; color:black">.................................................के संबध में  श्री/श्रीमान के </p>


                    <p style="margin-left:42px;color:black">विरुद्ध कार्यवा ही</p>


                </div>


            </div><br />

            <div class="row">
                <div class="col-md-12">
                    <p style="color:black">
                        Subject:




                        Proceeedings U/S 4(1)/7(3) of the public premises (Eviction of unauthorised
                    </p>
                    <p style="margin-left:50px; color:black">
                        occupants) Act , 1971 , against ____________________in respect of permises
                    </p>
                    <p style="margin-left:42px;color:black">_________________________________</p>


                </div>


            </div>

            <br />


            <div class="row">
                <div class="col-md-12">
                    <p style="color:black; margin-left:42px">





                        सरकारी स्थान (अप्राधिकृत अभिभोगियो की बेदखली ) अधिनियम , 1971 की धरा 4(1)/7(3) के
                    </p>
                    <p style="color:black">
                        अंतर्गत नोटिस के  संम्बंध में आपको आयेतंत्द्वारा निर्देश  दिया  जाता है  कि आप नोटिस की अपनी
                    </p>
                    <p style="color:black">
                        आपतियो  के  समर्थन  में  प्रमाण  प्रस्तुत  करे  और

                        अधोहस्ताछरी  के न्यायालय  में  दिनाक..................को
                    </p>
                    <p style="color:black"> 02:30 P.M उपस्थित हो  |</p>

                </div>


            </div>
            <br />




            <div class="row">
                <div class="col-md-12">
                    <p style="color:black; margin-left:42px">





                        In connection with the notice under Section 4(1)/7(3) of the Public Premises
                    </p>
                    <p style="color:black">
                        (Eviction of Unauthorised Occupants) Act, 1971 You are hereby directed that you may
                    </p>
                    <p style="color:black">
                        produce evidence in support of your objections to the notice and appear before the
                    </p>
                    <p style="color:black"> court of undersigned on __________ at 02:30 P.M</p>

                </div>


            </div>

            <br />



            <div class="row">
                <div class="col-md-12">
                    <p style="color:black; margin-left:42px">





                        आप उक्त तिथि को उपस्थित होने में विफल रहेंगे, पूर्व-पक्षीय कार्यवाही शुरू की
                    </p>
                    <p style="color:black">
                        जाएगी
                    </p>
                    <p style="color:black">
                        In you fail to appear on the said date ex-parte  proceedings will be started
                    </p>
                    <p style="color:black"> against you</p>

                </div>


            </div>












            <div class="row">
                <div class="col-md-6">


                </div>
                <div class="col-md-6">

                    <p style="color:black">
                        संपदा अधिकारी-II D<br />
                        Estate Officer-II D
                    </p>

                </div>

            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />


<script>

    $(function () {
        $("input[name='grpSearchby']").click(function () {
            if ($("#rdbFilename").is(":checked")) {
                $("#DivForFileName").show();
                $("#DivForPayeeName").hide();
                $("#DivForGenerate").show();
            }
           else if ($("#rdbPayeename").is(":checked")) {
                $("#DivForFileName").hide();
                $("#DivForPayeeName").show();
                $("#DivForGenerate").show();
            }
                //else {
            //    $("#DivForFileName").hide();
            //    $("#DivForPayeeName").hide();
            //}
        });
    });


    @*on generate click show report*@
    $("#btnGenerate").click(function () {
        $("DivDemandReport").show();
    });
</script>
