@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper "BotDetect.Web.Mvc.CaptchaTagHelper, BotDetect.Web.Mvc"
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
      rel="stylesheet" type="text/css" />*@

<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<script src="~/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>
<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Damage Payee Registration</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  myapp-hed1">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%">Add Details</h6>
        </div>
        <div class="panel-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Name</label><span style="color:red">*</span>
                        <input type="text" class="form-control" />
                    </div>


                    <div class="form-group col-md-6">
                        <label class="control-label">Mobile No.</label><span style="color:red">*</span>
                        <input type="text" class="form-control" />
                    </div>


                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label">Email ID</label><span style="color:red">*</span>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="form-group col-md-6">
                        <label class="text-head">
                            Captcha
                        </label>
                        <captcha id="ExampleCaptcha" user-input-id="CaptchaCode" />
                        <input type="text" class="form-control" />
                    </div>


                </div>



                <div class="row">
                    <div class="row col-md-12" style="justify-content:center">
                        <input type="submit" value="Save" class="btn btn-primary myapp-hed1" />
                        @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
                        @Html.ActionLink("Go To Login", "Index", "District", null, new { @class = "btn btn-primary myapp-hed1" })
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




<script>

    $(function () {
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();

        var maxDate = year + '-' + month + '-' + day;
        //alert(maxDate);
    });



</script>
