
@model IEnumerable<Libraries.Model.Entity.Payeeregistration>
@await Component.InvokeAsync("PageHeader", new { pageName = "Damage Payee Registration Verifiction" })
@{
    ViewData["Title"] = "Registration Confirmed";
    Layout = null;
}
<div class="pt-3">

    <h1 style="text-align:center;padding-top:10%">You are registered Successfully</h1>
</div>

<partial name="../Shared/_ValidationScriptsPartial.cshtml" />


