@model Libraries.Model.Entity.Mutationdetails

@await Component.InvokeAsync("PageHeader", new { pageName = "Apply For Mutation" })
<br />
<br />

<form asp-action="Create" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data">
    <h3 class="mb-3 d-flex">File Information</h3>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <div id="DivForFileName">

        <div class="row">

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="FileNo" type="text" placeholder="File No" required class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="FileNo" class="d-block text-danger field-validation-valid"></span>
                    <label class="floating-label">File No.</label>
                    <br />
                </div>
            </div>

        </div>

    </div>

    <div id="DivForPreviousDamagee">

        <h2 class="my-3 sub-heading">Previous Damage Assessee Detailst</h2>

        <div class="table-section bg-white border shadow rounded">
            <div class="table-responsive ">
                <table id="tbl_posts" class="table table-sm table-bordered mb-0 table-striped">
                    <thead class="text-nowrap">
                        <tr>
                            <th>Sr.No</th>
                            <th>Name</th>
                            <th>Father's Name</th>
                            <th>Date Of GPA & STA/Will/Other Deed</th>
                            <th> Upload GPA & STA</th>

                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody id="tbl_posts_body">
                    </tbody>
                    <tbody class="tbody" id="add">
                        <tr id="">
                            <td>1</td>
                            <td>
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input type="text" asp-for="Name" id="txtPersonalName" class="floating-label-field floating-label-field--s3" />
                                </div>
                            </td>
                            <td>
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="FatherName" type="text" id="txtPersonalFatherName" class="floating-label-field floating-label-field--s3" />
                                </div>
                            </td>
                            <td>
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="DateGpadead" type="date" class="floating-label-field floating-label-field--s3" />
                                </div>
                            </td>
                            <td>
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="GpastafilePath" type="file" class="floating-label-field floating-label-field--s3" />
                                </div>
                            </td>


                            <td>

                                @*<div class="floating-label-wrap mb-3 mb-md-0">
                                        <a class="btn btn-theme delete-record" data-id="0" style="display:none;color:white;"><h3><i class="glyphicon glyphicon-minus-sign"></i></h3></a>
                                        <a class="btn btn-theme add-record" data-added="0" style="color:white;"><h3><i class="glyphicon glyphicon-plus-sign"></i></h3></a>
                                    </div>*@
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <a class="btn btn-theme delete-record" data-id="0" style="display:none;color:white;"><i class="fa fa-trash"></i></a>
                                    <a class="btn btn-theme add-record" data-added="0" style="color:white;"><i class="fa fa-plus"></i></a>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="DivForNewDamageAssesseDetails">

        <h2 class="my-3 sub-heading">New Damagee Assessee Details</h2>


        <div class="table-section bg-white border shadow rounded">
            <div class="table-responsive ">
                <table id="tbl_posts" class="table table-sm table-bordered mb-0 table-striped">
                    <thead class="text-nowrap">
                        <tr>
                            <th>Sr.No</th>
                            <th>Name</th>
                            <th>Father's/Husband's Name</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>Mobile No.</th>
                            <th>Email-Id  (if any)</th>
                            <th>Aadhar No.</th>
                            <th>PAN No.</th>
                            <th>Photograph</th>
                            <th>Signature</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody id="tbl_posts_body">
                    </tbody>
                    <tbody class="tbody" id="add">
                        <tr id="">
                            <td>1</td>
                            <td style="min-width:200px">
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="NameNew" type="text" id="txtPersonalName" class="floating-label-field floating-label-field--s3" />
                                </div>
                            </td>
                            <td>
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="GuardianName" type="text" id="txtPersonalFatherName" class="floating-label-field floating-label-field--s3" />
                                </div>
                            </td>
                            <td style="min-width:110px">
                                <div class="floating-label-wrap">
                                    <select asp-for="Gender" class="floating-label-field floating-label-field--s3" id="drpPersonalGender">
                                        <option value="0">---Select---</option>
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                        <option value="3">Other</option>
                                    </select>
                                </div>
                            </td>
                            <td style="min-width:200px">
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="Address" type="text" class="floating-label-field floating-label-field--s3" />
                                </div>
                            </td>
                            <td>
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="MobileNo" type="text" class="floating-label-field floating-label-field--s3" />
                                </div>
                            </td>
                            <td>
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="Email" type="text" class="floating-label-field floating-label-field--s3" />
                                </div>
                            </td>
                            <td>
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="AadharNo" type="text" class="floating-label-field floating-label-field--s3" />
                                </div>
                            </td>

                            <td>
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="PanNo" type="text" class="floating-label-field floating-label-field--s3" />
                                </div>
                            </td>
                            <td style="min-width:200px">
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="PhotoFilePath" type="file" class="floating-label-field floating-label-field--s3" />
                                </div>
                            </td>
                            <td style="min-width:200px">
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="SignatureFilePath" type="file" class="floating-label-field floating-label-field--s3" />
                                </div>
                            </td>
                            <td>
                                @*<button id="addToList" class="btn btn-primary myapp-hed1">
                                        <i class="fa fa-plus"></i>
                                    </button>*@
                                @*<div class="floating-label-wrap mb-3 mb-md-0">
                                        <a class="btn btn-theme delete-record" data-id="0" style="display:none;color:white;"><h3><i class="glyphicon glyphicon-minus-sign"></i></h3></a>
                                        <a class="btn btn-theme add-record" data-added="0" style="color:white;"><h3><i class="glyphicon glyphicon-plus-sign"></i></h3></a>
                                    </div>*@
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <a class="btn btn-theme delete-record" data-id="0" style="display:none;color:white;"><i class="fa fa-trash"></i></a>
                                    <a class="btn btn-theme add-record" data-added="0" style="color:white;"><i class="fa fa-plus"></i></a>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        @*</div>*@

    </div>


    <div id="DivLocation">

        <h2 class="my-3 sub-heading">Property Identification Details</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input type="text" asp-for="PropertyNo" required placeholder="Property/House/Municipal No" class="floating-label-field floating-label-field--s3" />

                    <label class="floating-label">Property/House/Municipal No.<span class="text-danger" style="color:red">*</span></label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <select asp-for="ZoneId" class="floating-label-field floating-label-field--s3" asp-items="@(new SelectList(Model.ZoneList,"Id","Name"))" onchange="onChangeZone(this.options[this.selectedIndex].value);">
                        <option value="">Select</option>
                    </select>
                    @*<input asp-for="zoneId" type="text" required placeholder="District" class="floating-label-field floating-label-field--s3" />*@

                    <label class="floating-label">Zone<span class="text-danger" style="color:red">*</span></label>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="FloorNo" type="text" placeholder="Floor No.(if purchased floor wise)" required class="floating-label-field floating-label-field--s3" />

                    <label class="floating-label"> Floor No.(if purchased floor wise) <span class="text-danger" style="color:red">*</span></label>
                </div>
            </div>


            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="StreetName" type="text" placeholder="Road/Street Name" required class="floating-label-field floating-label-field--s3" />

                    <label class="floating-label">Road/Street Name <span class="text-danger" style="color:red">*</span></label>
                </div>
            </div>

        </div>
        <div class="row pt-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="PindCode" type="Number" placeholder="Pincode" required class="floating-label-field floating-label-field--s3" />

                    <label class="floating-label">Pin Code<span class="text-danger" style="color:red">*</span> </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <select asp-for="LocalityId" class="floating-label-field floating-label-field--s3" asp-items="@(new SelectList(Model.LocalityList,"Id","Name"))">
                        <option value="">Select</option>
                    </select>
                    @*<input asp-for="LocalityId" placeholder="Locality Name" type="text" required class="floating-label-field floating-label-field--s3" />*@

                    <label class="floating-label">Locality Name<span class="text-danger" style="color:red">*</span></label>
                </div>

            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="PropertyPhoto" id="PropertyPhoto" type="file" required placeholder="Upload Photograph" class="floating-label-field floating-label-field--s3" multiple />

                    <label class="floating-label">Upload Photograph Of Property<span class="text-danger" style="color:red">*</span></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">


                    <input asp-for="PlotAreaSqYds" type="number" required placeholder="Plot Area" class="floating-label-field floating-label-field--s3" />
                    <label class="floating-label">Plot Area in Sq.Yds<span class="text-danger" style="color:red">*</span></label>
                </div>
            </div>
        </div>
        <div class="row pt-3">

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="FloorAreaSqYds" type="Number" placeholder="Floor Area" required class="floating-label-field floating-label-field--s3" />

                    <label class="floating-label">Floor Area in Sq.Yds (if purchased floor wise)<span class="text-danger" style="color:red">*</span></label>
                </div>
            </div>
        </div>
    </div>
    <div id="Purpose">

        <h2 class="my-3 sub-heading">Purpose Of Mutation/Change Of Title</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-check theme">
                    <input type="hidden" asp-for="MutationPurpose" id="PossessionType" value="Formal Possession" />
                    <input type="hidden" asp-for="Id" id="hdnId" />
                    @*<input type="hidden" asp-for="IsActive" value="1" />*@

                    <input class="form-check-input" type="radio" name="grpSearchby" id="rdbFilename" value="" checked="checked" />

                    <label class="form-check-label">Purchaser</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-check theme">

                    <input class="form-check-input" type="radio" name="grpSearchby" id="rdbDocumentname" />
                    <label class="form-check-label">Inheritance </label>
                </div>

            </div>
        </div>
    </div>

    <div id="one">

        <h2 class="my-3 sub-heading">If Purchased</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="PurchaseDate" type="date" required class="floating-label-field floating-label-field--s3" />

                    <label class="floating-label">Date Of Purchase<span class="text-danger" style="color:red">*</span></label>

                </div>
            </div>
        </div>

        <div class="row pt-3">

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="AtsfilePathNew" type="File" placeholder="Upload ATS(Agreement To sell)" required class="floating-label-field floating-label-field--s3" />

                    <label class="floating-label">Upload ATS(Agreement To sell)<span class="text-danger" style="color:red">*</span></label>
                </div>
            </div>

            <div class="col-md-6">
                <br />
                <input type="submit" value="Upload" class="btn btn-theme " />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="GpafilePath" type="file" placeholder="Upload GPA(General Power Attorny If any)" required class="floating-label-field floating-label-field--s3" />

                    <label class="floating-label">Upload GPA(General Power Attorny If any)<span class="text-danger" style="color:red">*</span> </label>
                </div>
            </div>
            <div class="col-md-6">
                <br />
                <input type="submit" value="Upload" class="btn btn-theme " />
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="MoneyRecieptFilePath" type="file" placeholder="Upload Money Receipts( If any)" required class="floating-label-field floating-label-field--s3" />

                    <label class="floating-label">Upload Money Receipts( If any)<span class="text-danger" style="color:red">*</span> </label>
                </div>
            </div>

            <div class="col-md-6">
                <br />
                <input type="submit" value="Upload" class="btn btn-theme " />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="SignatureSpecimenFilePath" type="file" placeholder="Signature Specimen" required class="floating-label-field floating-label-field--s3" />

                    <label class="floating-label">Signature Specimen<span class="text-danger" style="color:red">*</span></label>
                </div>
            </div>
            <div class="col-md-6">
                <br />
                <input type="submit" value="Upload" class="btn btn-theme " />
            </div>
        </div>
    </div>
    @*<div class="row">*@

    <h2 class="my-3 sub-heading">Upload Latest Address Proof</h2>
    @*</div>*@
    <div class="row">
        <div class="form-group col-md-3">
            <input type="hidden" asp-for="IsAddressProof" id="IsAddressProof" value="Formal Possession" />
            <input type="hidden" asp-for="Id" id="hdnId" />
            @*<input type="hidden" asp-for="IsActive" value="1" />*@
            <div class="form-check theme">

                <input class="form-check-input" type="radio" name="grpSearchby" id="rdbFilename" value="" checked="checked" />
                <label class="form-check-label">House Tax Bill</label>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="form-check theme">

                <input class="form-check-input" type="radio" name="grpSearchby" id="rdbDocumentname" />
                <label class="form-check-label">Electricity Bill  </label>
            </div>
        </div>

        <div class="form-group col-md-3">
            <div class="form-check theme">

                <input class="form-check-input" type="radio" name="grpSearchby" id="rdbFilename" value="" checked="checked" />
                <label class="form-check-label">Water Bill</label>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="form-check theme">

                <input class="form-check-input" type="radio" name="grpSearchby" id="rdbDocumentname" />
                <label class="form-check-label">Any Other </label>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="floating-label-wrap mb-3 mb-md-0">
                <input asp-for="AddressProofFilePath" type="file" required class="floating-label-field floating-label-field--s3" />

                <label class="floating-label">Choose file</label>
            </div>
        </div>
        <div class="col-md-6">
            <br />
            <input type="submit" value="Upload" class="btn btn-theme " />
        </div>
    </div>

    <div id="Affidavit">

        <h2 class="my-3 sub-heading">Upload Affidavit On Non-Judicial Stamp paper (Download Format)</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="AffidavitFilePath" type="file" placeholder="Affidavit" required class="floating-label-field floating-label-field--s3" />

                    <label class="floating-label">Affidavit<span class="text-danger" style="color:red">*</span></label>
                </div>
            </div>
            <div class="col-md-3">
                <br />
                <input type="submit" value="Upload" class="btn btn-theme " />
            </div>
            <br />
            <div class="col-md-3">
                <a class="badge badge-primary px-2" href="url">click for Download Affidavit Format</a>
            </div>
        </div>
    </div>
    <div id="indemnity">

        <h2 class="my-3 sub-heading">Upload indemnity Bond on Non-Judicial Stamp paper(Download Format)</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="IndemnityFilePath" type="file" placeholder="IndemnityBond" required class="floating-label-field floating-label-field--s3" />

                    <label class="floating-label">IndemnityBond<span class="text-danger" style="color:red">*</span></label>
                </div>
            </div>
            <div class="col-md-3">
                <br />
                <input type="submit" value="Upload" class="btn btn-theme " />
            </div>
            <br />
            <div class="col-md-3">
                <a class="badge badge-primary px-2" href="url">click for Download Indemnity Bond Format</a>
            </div>
        </div>
    </div>
    <div id="Litigation">

        <h2 class="my-3 sub-heading">Litigation Status</h2>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-check theme">
                    <input type="hidden" asp-for="LitigationStatus" id="PossessionType" value="Formal Possession" />
                    <input type="hidden" asp-for="Id" id="hdnId" />
                    @*<input type="hidden" asp-for="IsActive" value="1" />*@

                    <input class="form-check-input" type="radio" name="grpSearchby" id="rdbFilename" value="" checked="checked" />
                    <label class="form-check-label">
                        The Land/Property is not a subject matter of any Litigation/Court case
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-check theme">

                    <input class="form-check-input" type="radio" name="grpSearchby" id="rdbDocumentname" />
                    <label class="form-check-label">The Land/ Property title is under Litigation </label>
                </div>
            </div>

        </div>
    </div>
    <div id="court">

        <h2 class="my-3 sub-heading">Details Of Court Case(if any)</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="CourtName" type="text" required placeholder="Name Of Court" class="floating-label-field floating-label-field--s3" />

                    <label class="floating-label">Name Of Court</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="CaseNo" type="text" placeholder="Case Number" required class="floating-label-field floating-label-field--s3" />

                    <label class="floating-label">Case Number<span class="text-danger" style="color:red">*</span></label>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="OppositionPartyName" type="text" placeholder="Name Of Opposition Party" required class="floating-label-field floating-label-field--s3" />

                    <label class="floating-label">Name Of Opposition Party<span class="text-danger" style="color:red">*</span></label>
                </div>
            </div>


            <div class="col-md-3">
                <div class="form-check theme">
                    @*<label class="control-label lb-sm">I am</label>*@

                    <input type="hidden" asp-for="PetitionerRespondent" id="PossessionType" value="Formal Possession" />
                    <input type="hidden" asp-for="Id" id="hdnId" />
                    @*<input type="hidden" asp-for="IsActive" value="1" />*@

                    <input class="form-check-input" type="radio" name="grpSearchby" id="rdbFilename" value="" checked="checked" />
                    <label class="form-check-label">Petitioner </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check theme">

                    <input class="form-check-input" type="radio" name="grpSearchby" id="rdbDocumentname" />
                    <label class="form-check-label">Respondant</label>

                </div>
            </div>



        </div>
    </div>
    <div id="Declaration">

        <h2 class="my-3 sub-heading">Declaration</h2>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <input id="DeclarationNew" type="checkbox" name="View">
                    <input type="hidden" asp-for="Declaration" id="Declarationhdn"/>

                    I/WE hereby expressly warranty and declare that the above information provided in support of my/ our application is correct and genuine and We expressly acknowledge that I am / we are aware and accept that the decision on the application will be made by the DDA on the basis of the information supplied
                    by me/ us and may be immediately Cancelled in the event that such information is found to be false or misleading.<br />
                    <br />
                    Note: Please fill all Details Crefully.You can't make any changes after final Submission

                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-12">

            <input type="submit" value="Create" class="btn btn-theme " />
            @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
            @Html.ActionLink("Back", "Create", "SubstitutionMutationDetails", null, new { @class = "btn btn-theme " })
        </div>
    </div>

</form>


<environment include="Development">
    <script src="~/js/SubstitutionMutationDetailsCreate.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/SubstitutionMutationDetailsCreate.min.js" asp-append-version="true"></script>
</environment>