@model Libraries.Model.Entity.Column
@await Component.InvokeAsync("PageHeader", new { pageName = "Column" })

<div class="pt-3">

    <form asp-action="Edit" disabled="disabled" id="myForm" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3">
        <h3 class="mb-3 d-flex">View Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />


        <div class="row">

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="ColumnNo" type="text" class="floating-label-field floating-label-field--s3 " disabled="disabled" placeholder="Name"
                           limit="100">
                    <span asp-validation-for="ColumnNo" class="text-danger "></span>
                    <label class="floating-label">Column No</label>
                </div>
            </div>
            <div class=" col-md-6">

                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3" asp-for="IsActive" disabled="disabled">

                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label asp-for="IsActive" class="floating-label">Status </label>
                </div>

            </div>
        </div>


        <div class="row">


        </div>
        <div class="row mt-md-3">
            <div class=" col-md-12">
                @Html.ActionLink("Back", "Index", "Column", null, new { @class = "btn btn-theme " })

            </div>
        </div>

    </form>

</div>
<partial name="../Shared/_ValidationScriptsPartial.cshtml" />

