

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Identification Of Land - Annexure II Approval Process</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="container-fluid" id="MainContentForm">
    <div class="card  table-card" style="overflow:scroll;">

        <table class="table table-responsive table-bordered table-card">

            <thead class="thead">
                <tr>
                    <th>Sr.No</th>
                    <th>Project Name</th>
                    <th>Area/Locality</th>
                    <th>Village</th>
                    <th>Address</th>
                    <th>Area Required</th>
                    <th>Purpose</th>
                    <th>Submitted On</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr>
                    <td>1</td>
                    <td>DDa project</td>
                    <td>Okhla</td>
                    <td>Village</td>
                    <td>Address</td>
                    <td>45 HA</td>
                    <td>For Commercial Use</td>
                    <td>10-Aug-2020</td>
                    <td>Pending</td>
                    <td> <a href="/IdentificationOfLandAnnexure2ApprovalProcess/Create"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> </a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>DDa project</td>
                    <td>Okhla</td>
                    <td>Village</td>
                    <td>Address</td>
                    <td>45 Acre</td>
                    <td>For Commercial Use</td>
                    <td>10-Aug-2020</td>
                    <td>Pending</td>
                    <td> <a href="/IdentificationOfLandAnnexure2ApprovalProcess/Create"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i> </a></td>

                </tr>


            </tbody>

        </table>

    </div>
</div>
<br />
<br />

