@model Libraries.Model.Entity.WorkflowTemplate

<div class="form-row">
    <div class="col-md-12">
        <div class="table">
            <table class="table" border="0" id="tbl_posts">
                <tbody id="tbl_posts_body">
                </tbody>
                <tbody class="tbody" id="add">
                    <tr id="">
                        <td>
                            <div id="Div">
                                <div class="row" style="margin-bottom:50px;">
                                    <div class="col-sm-12">
                                        <div class="dda-innerheading">
                                            <div class="col-md-12">
                                                <h6 class="pull-left color-white" style="align-content:center;"><span class="sn">Level 1</span></h6>
                                                <a class="btn btn-danger pull-right delete-record" data-id="0" style="width: unset; padding: unset; margin-top: 5px; display:none;">Delete</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="form-group col-md-2">
                                        <label class="control-label lb-sm">Name</label>
                                        <select asp-for="ParameterNameList[0]" class="form-control dda-dropdown dropdownclass" id="dropdownlist">
                                            <option value="0">--Select--</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="control-label lb-sm">Parameter Value</label>
                                        <input asp-for="ParameterValueList[0]" type="text" id="parameterValue" class="form-control inputclass" />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="control-label lb-sm">Level</label>
                                        <input asp-for="ParameterLevelList[0]" type="text" id="parameterLevel" class="form-control inputclass" />
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="control-label lb-sm">Action Taken</label>
                                        <select asp-for="ParameterActionList[0]" class="form-control dda-dropdown drpactiontakenclass dropdownclass" id="ddlActionType" onchange="callDrop(this);">

                                            @*<option value="0">--Select--</option>*@
                                            <option value="1">Forward</option>
                                            <option value="2">Revert</option>
                                            <option value="3">Approved</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="control-label lb-sm">Skip</label>
                                        <input type="checkbox" asp-for="ParameterSkipList[0]" id="paramenterSkip" />
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>

                    @*<tr class="dda-repeatorinnerheading">

                            <td><span class="sn">Level 1</span></td>
                            <td colspan="2">
                                <a class="btn btn-danger delete-record" data-id="0" style="display:none;">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label lb-sm" asp-for="PropertyId">Parameter Name</label>
                                <input asp-for="PropertyId" type="text" id="parameterName" class="form-control" />
                                <span asp-validation-for="PropertyId" class="text-danger lb-sm"></span>
                            </td>
                            <td>
                                <label class="control-label lb-sm" asp-for="PropertyId">Parameter Value</label>
                                <input asp-for="PropertyId" type="text" id="parameterValue" class="form-control" />
                                <span asp-validation-for="PropertyId" class="text-danger lb-sm"></span>
                            </td>
                            <td>
                                <label class="control-label lb-sm" asp-for="PropertyId">Level</label>
                                <input asp-for="PropertyId" type="text" id="parameterLevel" class="form-control" />
                                <span asp-validation-for="PropertyId" class="text-danger lb-sm"></span>

                        </tr>*@


            </table>
        </div>
    </div>
</div>