@model Libraries.Model.Entity.WorkflowTemplate

<link href="~/lib/select2/select2.css" rel="stylesheet" />
<script src="~/lib/select2/select2.js" defer></script>

<style>
    .checkbox.checbox-switch {
        padding-left: 0;
    }

        .checkbox.checbox-switch label,
        .checkbox-inline.checbox-switch {
            display: inline-block;
            position: relative;
            padding-left: 0;
        }

            .checkbox.checbox-switch label input,
            .checkbox-inline.checbox-switch input {
                display: none;
            }

            .checkbox.checbox-switch label span,
            .checkbox-inline.checbox-switch span {
                width: 35px;
                border-radius: 20px;
                height: 18px;
                border: 1px solid #dbdbdb;
                background-color: red;
                border-color: red;
                box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
                transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }

                .checkbox.checbox-switch label span:before,
                .checkbox-inline.checbox-switch span:before {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background: rgb(255,255,255);
                    content: " ";
                    top: 0;
                    position: relative;
                    left: 0px;
                    transition: all 0.3s ease;
                    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
                    top: -2px;
                }

            .checkbox.checbox-switch label > input:checked + span:before,
            .checkbox-inline.checbox-switch > input:checked + span:before {
                left: 16px;
                top: -2px;
            }

            /* Switch Primary */
            .checkbox.checbox-switch.switch-primary label > input:checked + span,
            .checkbox-inline.checbox-switch.switch-primary > input:checked + span {
                background-color: #25b928;
                border-color: #25b928;
                transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
            }

            .checkbox.checbox-switch.switch-primary label > input:checked:disabled + span,
            .checkbox-inline.checbox-switch.switch-primary > input:checked:disabled + span {
                background-color: red;
                border-color: red;
                transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
            }
</style>

<div class="table myWebsiteTable recordDiv" id="recordDiv0">
    <input type="hidden" asp-for="OperationId" />
    <table class="table" border="0" id="tbl_posts">
        <tbody id="tbl_posts_body">
        </tbody>
        <tbody class="tbody" id="add">
            <tr id="">
                <td>
                    <div id="Div">

                        <div class="row" style="margin-bottom:50px;">
                            <div class="col-sm-12">
                                <div class="dda-innerheading">
                                    <div class="row">
                                        <div class="col-md-10 col-sm-7">
                                            <h6 class="pull-left color-white py-2 px-3" style="align-content:center;"><span class="sn">Level 1</span></h6>
                                        </div>
                                        <div class="col-md-2 col-sm-5">
                                            <a class="btn btn-danger pull-right delete-record py-2" data-id="0">Delete</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">

                            <div class=" col-md-1">
                                <br />
                                <div class="floating-label-wrap mb-3 mb-md-0">
                                    <input asp-for="ParameterLevelList[0]" required type="text" id="parameterLevel" value="1" disabled
                                           class="floating-label-field floating-label-field--s3 inputclass ParameterLevelListClass" />
                                    <label class="floating-label">Level  </label>
                                </div>
                            </div> <div class="col-md-1">
                                <br />
                                <div class="floating-label-wrap">
                                    <input asp-for="ParameterOrderList[0]" required type="text" id="parameterOrder" value="1"
                                           class="floating-label-field floating-label-field--s3 inputclass ParameterOrderListClass" />
                                    <label class="floating-label">Order  </label>
                                </div>
                            </div>
                            <div class=" col-md-2">
                                <br />
                                <div class="floating-label-wrap">
                                    <select class="floating-label-field floating-label-field--s3 ParameterConditionalListClass" asp-for="ParameterConditionalList[0]">
                                        <option value="ZoneWise">Zone Wise</option>
                                        <option value="Unconditional">Unconditional</option>
                                    </select>
                                    <label class="floating-label">Conditional </label>
                                </div>
                            </div>
                            <div class=" col-md-2">
                                <br />
                                <div class="floating-label-wrap">
                                    <select class="floating-label-field floating-label-field--s3 ParameterValueListClass" asp-for="ParameterValueList[0]"
                                            id="ddlOperationType" onchange="callTypeDropdown(0);">
                                        <option value="User">User Wise</option>
                                        <option value="Role">Role Wise</option>
                                    </select>
                                    @*<select required class="floating-label-field floating-label-field--s3 ParameterValueListClass" asp-for="ParameterValueList[0]"
                                                id="ddlOperationType" onchange="callTypeDropdown(0);" asp-items="@(new SelectList(ViewBag.Items,"Id","Name"))">
                                            <option value="0">--Select--</option>
                                        </select>*@
                                    <label class="floating-label">User Type </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <br />
                                <div class="floating-label-wrap">
                                    <select asp-for="ParameterNameList[0]" asp-items="@(new SelectList(ViewBag.Items,"Id","Name"))" multiple="multiple"
                                            class="floating-label-field floating-label-field--s3 dropdownclass ParameterNameListClass" id="dropdownlistDesrtoy">
                                    </select>
                                    <label class="floating-label nameClass" name="ParameterLabelNameList[0]">User Name </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <div class="floating-label-wrap">
                                    <select required asp-for="ParameterActionList[0]" asp-items="@(new SelectList(ViewBag.ApprovalStatus,"Id","Name"))"
                                            class="floating-label-field floating-label-field--s3 drpactiontakenclass dropdownclass ParameterActionListClass" id="ddlActionType">
                                    </select>
                                    <label class="floating-label">Actions</label>
                                </div>

                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="control-label lb-sm">Skip</label>
                                    <div class="checkbox checbox-switch switch-primary">
                                        <label>
                                            <input type="checkbox" asp-for="ParameterSkipList[0]" id="paramenterSkip" class="ParameterSkipListClass" />
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>
    </table>
</div>
<link href="~/lib/select2/select2.css" rel="stylesheet" />
<script src="~/lib/select2/select2.js" defer></script>
<environment include="Development">
    <script src="~/js/site.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>