@model Libraries.Model.Entity.WorkflowTemplate

<style>
    .dda-innerheading {
        background: linear-gradient(to left, #9e1c32, #991141, #900f50, #83155d, #721e68, #68226f, #5d2675, #4f2a7a, #492b80, #422c85, #392e8b, #2c3091);
        Color: #ffffff;
        Font-size: 0.95rem;
        Font-Family: Arial, Helvetica, sans-serif;
        /* margin-left: 3px;*/
        top: -10px;
        border-radius: 5px;
        position: absolute;
        width: 97%;
        height: 38px;
        margin-top: 10px;
        margin-bottom: 50px;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left color-white" style="margin-top:5px;">Workflow</h6>
                <i class="glyphicon glyphicon-arrow-right pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />
<br />

@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.multipleselectbox.js"></script>*@
@*<style>
    .MultipleSelectBox {
        border: 1px solid #aaa;
        height: 200px;
        list-style-type: none;
        margin: 0;
        overflow: auto;
        padding: 1px 0;
        width: 500px;
        /* corner */
        -moz-border-radius: 5px;
        -khtml-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px #888;
        box-shadow: 0 0 5px #888;
    }

        .MultipleSelectBox.selecting {
            border: 1px solid black;
        }

        .MultipleSelectBox li {
            border: 1px solid white;
            cursor: pointer;
            padding: 0 3px;
        }

            .MultipleSelectBox li.disabled {
                color: gray;
                font-style: italic;
            }

            .MultipleSelectBox li.optgroup {
                font-style: italic;
                font-weight: bold;
            }

            .MultipleSelectBox li.selected {
                border: 1px solid #F39814;
                background-color: #F39814;
            }

            .MultipleSelectBox li.selecting {
                border: 1px dotted black;
            }

        .MultipleSelectBox.vertical li.optgroupitem {
            margin-left: 30px;
        }
        /* horizontal mode */
        .MultipleSelectBox.horizontal {
            height: auto;
            white-space: nowrap;
        }

            .MultipleSelectBox.horizontal li {
                display: inline-block;
                /* for IE6 and IE7 */
                *display: inline;
                vertical-align: middle;
            }

                .MultipleSelectBox.horizontal li.optgroup {
                    margin-bottom: 10px;
                }
        /* Ultimate CSS Gradient Generator (Orange <a href="https://www.jqueryscript.net/tags.php?/3D/">3D</a>) */
        .MultipleSelectBox li.selected {
            background: #ffa84c;
            background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa84c), color-stop(100%, #ff7b0d));
            background: -webkit-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
            background: -o-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
            background: -ms-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
            background: linear-gradient(to bottom, #ffa84c 0%, #ff7b0d 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d', GradientType=0 );
            /* for IE6 */
            _background: #F39814;
        }
</style>*@

<div class="container-fluid">
    <div class="panel">
        <div class="panel-heading  dda-pageheading">
            <h6 class="pull-left color-white" style="margin-top:-0.4%">Add Details</h6>
        </div>
        <div class="panel-body">
            @*<form asp-action="Create">*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="form-group col-md-3">
                    <label class="control-label lb-sm" asp-for="ModuleId">Module</label>
                    <select asp-for="ModuleId" class="form-control dda-dropdown" asp-items="@(new SelectList(Model.ModuleList,"Id","Name"))">
                        <option value="value">Select</option>
                    </select>
                    <span asp-validation-for="ModuleId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label lb-sm">User Type</label>
                    <select class="form-control dda-dropdown" id="ddlOperationType">
                        <option value="Role">Role Wise</option>
                        <option value="User">User Wise</option>

                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label lb-sm" asp-for="Name">Proccess Name</label>
                    <input asp-for="Name" type="text" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label lb-sm" asp-for="Description">Proccess Description</label>
                    <input asp-for="Description" type="text" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <label class="control-label lb-sm">IsActive</label>
                    <input type="checkbox" asp-for="IsActiveData" checked />
                </div>
                <div class="form-group col-md-3">
                    <a class="btn btn-primary dda-pageheading add-record" data-added="0"> Add Level</a>
                </div>
            </div>

            @*<div id="DivLevel">
            <div class="row" style="margin-bottom:50px;">
                <div class="col-sm-12">
                    <div class="dda-innerheading">
                        <div class="col-md-12">
                            <h6 class="pull-left color-white" style="align-content:center;">Level 1</h6>
                            <input type="submit" value="Delete" class="btn btn-danger pull-right" style="width:unset; padding:unset; margin-top:5px;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="control-label lb-sm" asp-for="PropertyId">Parameter Name</label>
                    <input asp-for="PropertyId" type="text" class="form-control" />
                    <span asp-validation-for="PropertyId" class="text-danger lb-sm"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label lb-sm" asp-for="PropertyId">Parameter Value</label>
                    <input asp-for="PropertyId" type="text" class="form-control" />
                    <span asp-validation-for="PropertyId" class="text-danger lb-sm"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label lb-sm" asp-for="PropertyId">Level</label>
                    <input asp-for="PropertyId" type="text" class="form-control" />
                    <span asp-validation-for="PropertyId" class="text-danger lb-sm"></span>
                </div>
            </div>

        </div>

        <div id="DivLevel">
            <div class="row" style="margin-bottom:50px;">
                <div class="col-sm-12">
                    <div class="dda-innerheading">
                        <div class="col-md-12">
                            <h6 class="pull-left color-white" style="align-content:center;">Level 2</h6>
                            <input type="submit" value="Delete" class="btn btn-danger pull-right" style="width:unset; padding:unset; margin-top:5px;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="control-label lb-sm" asp-for="PropertyId">Parameter Name</label>
                    <input asp-for="PropertyId" type="text" class="form-control" />
                    <span asp-validation-for="PropertyId" class="text-danger lb-sm"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label lb-sm" asp-for="PropertyId">Parameter Value</label>
                    <input asp-for="PropertyId" type="text" class="form-control" />
                    <span asp-validation-for="PropertyId" class="text-danger lb-sm"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label lb-sm" asp-for="PropertyId">Level</label>
                    <input asp-for="PropertyId" type="text" class="form-control" />
                    <span asp-validation-for="PropertyId" class="text-danger lb-sm"></span>
                </div>
            </div>

        </div>*@


            <div id="LoadReportView">
                
            </div>
            @*<div class="form-row">
                <div class="col-md-12">
                    <div class="table">
                        <table class="table" border="0" id="tbl_posts">
                            <thead class="thead">
                            <tr>
                                <th>Sr.No</th>
                                <th>Name</th>
                                <th>Father's/Husband's Name</th>
                                <th>Gender</th>
                                <th>Address</th>
                                <th>Mobile No.</th>
                                <th>Email-Id</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                            <tbody id="tbl_posts_body">
                            </tbody>
                            <tbody class="tbody" id="add">
                                <tr id="">
                                    <td>
                                        <div id="Div">
                                            <div class="row" style="margin-bottom:50px;">
                                                <div class="col-sm-12">
                                                    <div class="dda-innerheading">
                                                        <div class="col-md-12">
                                                            <h6 class="pull-left color-white" style="align-content:center;"><span class="sn">Level 1</span></h6>
                                                            <a class="btn btn-danger pull-right delete-record" data-id="0" style="width: unset; padding: unset; margin-top: 5px; display:none;">Delete</a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="form-group col-md-2">
                                                    <label class="control-label lb-sm">Name</label>
                                                    <select asp-for="ParameterNameList[0]" class="form-control dda-dropdown dropdownclass" id="dropdownlist">
                                                        <option value="0">--Select--</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label class="control-label lb-sm">Parameter Value</label>
                                                    <input asp-for="ParameterValueList[0]" type="text" id="parameterValue" class="form-control inputclass" />
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label class="control-label lb-sm">Level</label>
                                                    <input asp-for="ParameterLevelList[0]" type="text" id="parameterLevel" class="form-control inputclass" />
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label class="control-label lb-sm">Action Taken</label>
                                                    <select asp-for="ParameterActionList[0]" class="form-control dda-dropdown drpactiontakenclass dropdownclass" id="ddlActionType" onchange="callDrop(this);">

                                                        <option value="0">--Select--</option>
                                                        <option value="1">Forward</option>
                                                        <option value="2">Revert</option>
                                                        <option value="3">Approved</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label class="control-label lb-sm">Skip</label>
                                                    <input type="checkbox" asp-for="ParameterSkipList[0]" id="paramenterSkip" />
                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                </tr>

                                <tr class="dda-repeatorinnerheading">

                                <td><span class="sn">Level 1</span></td>
                                <td colspan="2">
                                    <a class="btn btn-danger delete-record" data-id="0" style="display:none;">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="control-label lb-sm" asp-for="PropertyId">Parameter Name</label>
                                    <input asp-for="PropertyId" type="text" id="parameterName" class="form-control" />
                                    <span asp-validation-for="PropertyId" class="text-danger lb-sm"></span>
                                </td>
                                <td>
                                    <label class="control-label lb-sm" asp-for="PropertyId">Parameter Value</label>
                                    <input asp-for="PropertyId" type="text" id="parameterValue" class="form-control" />
                                    <span asp-validation-for="PropertyId" class="text-danger lb-sm"></span>
                                </td>
                                <td>
                                    <label class="control-label lb-sm" asp-for="PropertyId">Level</label>
                                    <input asp-for="PropertyId" type="text" id="parameterLevel" class="form-control" />
                                    <span asp-validation-for="PropertyId" class="text-danger lb-sm"></span>

                            </tr>


                        </table>
                    </div>
                </div>
            </div>*@

            @*<table class="table" border="0" id="tbl_posts">
            <tr class="dda-repeatorinnerheading row">
                <td class="form-group col-md-6">Level 3</td>
                <td class="form-group col-md-6"><input type="submit" value="Delete" class="btn btn-danger pull-right" style="width:unset; padding:unset; margin-top:5px;" /></td>
            </tr>
            <tr>
                <td class="form-group col-md-3">
                    <label class="control-label lb-sm" asp-for="PropertyId">Parameter Name</label>
                    <input asp-for="PropertyId" type="text" class="form-control" />
                    <span asp-validation-for="PropertyId" class="text-danger lb-sm"></span>
                </td>
                <td class="form-group col-md-3">
                    <label class="control-label lb-sm" asp-for="PropertyId">Parameter Value</label>
                    <input asp-for="PropertyId" type="text" class="form-control" />
                    <span asp-validation-for="PropertyId" class="text-danger lb-sm"></span>
                </td>
                <td class="form-group col-md-3">
                    <label class="control-label lb-sm" asp-for="PropertyId">Level</label>
                    <input asp-for="PropertyId" type="text" class="form-control" />
                    <span asp-validation-for="PropertyId" class="text-danger lb-sm"></span>
                </td>

            </tr>
        </table>*@



            <div class="row ">
                <div class="form-group col-md-12" style="margin-bottom:40px;">
                    <input type="submit" value="Create" id="btnCreate" class="btn btn-primary dda-pageheading" />
                    @Html.ActionLink("Back", "Index", "WorkFlowTemplate", null, new { @class = "btn btn-primary dda-pageheading" })
                </div>
            </div>

            @*</form>*@
        </div>
    </div>
</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/workflowcreate1.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/workflowcreate1.min.js" asp-append-version="true"></script>
</environment>

@*<environment include="Development">
        <script src="~/js/common.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/common.js" asp-append-version="true"></script>
    </environment>*@
