@model Libraries.Model.Entity.WorkflowTemplate
@await Component.InvokeAsync("PageHeader", new { pageName = "Approval Process Template" })

<style>
    .dda-innerheading {
        background: linear-gradient(to left, #9e1c32, #991141, #900f50, #83155d, #721e68, #68226f, #5d2675, #4f2a7a, #492b80, #422c85, #392e8b, #2c3091);
        Color: #ffffff;
        Font-size: 0.95rem;
        Font-Family: Arial, Helvetica, sans-serif;
        top: -10px;
        border-radius: 5px;
        position: absolute;
        width: 97%;
        height: 38px;
        margin-top: 10px;
        margin-bottom: 50px;
    }
</style>


<div class="pt-3">
   
    <form class="d-block rounded border p-3 bg-white search-filer shadow mb-3" id="myForm" method="post" disabled="disabled">
        <h3 class="mb-3 d-flex">View Details</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="row">
            <div class=" col-md-4">

                <br />
                <div class="floating-label-wrap">
                    <select class="floating-label-field floating-label-field--s3 " asp-for="ModuleId"
                            asp-items="@(new SelectList(Model.ModuleList, "Id","Name"))">

                        <option selected="selected" disabled="disabled" value="">Select </option>
                    </select>
                    <span asp-validation-for="ModuleId" class="text-danger"></span>
                    <label asp-for="ModuleId" class="floating-label">Module </label>
                </div>

               </div>
            <div class=" col-md-4">
                <br />
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="Name" placeholder="Name" type="text"
                           class="floating-label-field floating-label-field--s3" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <label asp-for="Name" class="floating-label">Proccess Name  </label>
                </div>
            </div>
            <div class=" col-md-4">
                <br />
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input asp-for="Description" placeholder="Proccess Description" type="text"
                           class="floating-label-field floating-label-field--s3 " />
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <label asp-for="Description" class="floating-label">Proccess Description  </label>
                </div>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="form-group col-md-3">
                <label class="control-label lb-sm">IsActive</label>
                <input type="checkbox" disabled asp-for="IsActiveData" checked />
            </div>
            <div class="form-group col-md-3">
               
            </div>
        </div>
        <div id="LoadReportView">

        </div>

        <div class="row mx-1">
            <div class="col-md-12">
                @Html.ActionLink("Back", "Index", "WorkFlowTemplate", null, new { @class = "btn btn-theme" })
            </div>
        </div>

    </form>

</div>


<partial name="../Shared/_ValidationScriptsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/workflowview.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/workflowview.min.js" asp-append-version="true"></script>
</environment>
