@{
    ViewData["Title"] = "ViewDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<script src="~/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>
<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;"> Zone Wise User Mapping<span class="ms-auto"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span></h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  myapp-hed1">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%">View Details</h6>
        </div>
        <div class="panel-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">zone  </label>
                      
                        <select required style="height:30px;  background-color: #dddddd;" class="form-control">
                            <option value="value">zone 1</option>
                            <option value="value">zone 2</option>
                            <option value="value">zone 3</option>
                        </select>

                    </div>
                    <div class="form-group col-md-6">

                        <label class="control-label lb-sm">role </label>
                        <select required style="height:30px;  background-color: #dddddd;" class="form-control">
                            <option value="value">role 1</option>
                            <option value="value">role 2</option>
                            <option value="value">role 3</option>
                        </select>

                    </div>
                </div>


                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">user  </label>
                        <select required style="height:30px;  background-color: #dddddd;" class="form-control">
                            <option value="value">user 1</option>
                            <option value="value">user 2</option>
                            <option value="value">user 3</option>
                        </select>
                    </div>

                </div>
                <br />      <br />      <br />
                <div class="card  table-card table-responsive">

                    <table class="table  table-bordered table-card">

                        <thead class="thead">
                            <tr class="myapp-hed1">
                                <th>Sr.No</th>
                                <th> Village Name  </th>
                                <th>Assign    </th>

                            </tr>
                        </thead>
                        <tbody class="tbody">
                            <tr>
                                <td>1</td>
                                <td>Yakut Pur</td>
                                <td><input type="checkbox" /> </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>khizrabad</td>
                                <td><input type="checkbox" /> </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>kilokari</td>
                                <td><input type="checkbox" /> </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>okhla</td>
                                <td><input type="checkbox" /> </td>
                            </tr>


                    </table>

                </div>


                <br />
                <div class="form-row ">
                    <div class="form-group col-md-12" style="margin-bottom:40px;">
                       
                        <a asp-action="Index" class="btn btn-primary myapp-hed1">Back</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>





