@model IEnumerable<Dto.Master.RoleWiseModuleMappingDto>
@await Component.InvokeAsync("PageHeader", new { pageName = "Module Listing" })

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="permission mt-2">
    @foreach (var menu in Model)
    {
        @if (menu.ParentId == 0)
        {
            <ul class="accordion list-unstyled m-0" id="permission_@menu.ModuleCategoryId">
                <li class="card" id="sub-permission_@menu.ModuleCategoryId">
                    @if (menu.ParentId == 0)
                    {
                        <a class="p-2 no-dec d-flex align-items-center"
                           data-toggle="collapse"
                           href="#per_@menu.ModuleCategoryId"
                           role="button"
                           aria-expanded="true"
                           aria-controls="per_@menu.ModuleCategoryId">
                            <i class="ri-arrow-right-s-fill"></i>
                            <span class="text ml-1 mr-auto">@menu.ModuleCategoryName</span>
                            <i class="arrow ri-arrow-drop-down-line slow"></i>
                        </a>
                    }
                    @if (menu.ParentId == 0)
                    {
                        <ul class="list-unstyled m-0 pl-2 pr-1 pl-md-4 pr-md-3 collapse show" id="per_@menu.ModuleCategoryId" data-parent="#permission_@menu.ModuleCategoryId">
                            <li>
                                <div class="pt-3">
                                    <div class="row">

                                        @foreach (var item in Model)
                                        {
                                            if (menu.ModuleCategoryId == item.ParentId)
                                            {

                                                <div class="col-md-4 col-xl-3 mb-4">
                                                    <a href=@item.Url target=@item.Target class="project-box card slow">
                                                        <div class="card-header d-flex">
                                                            <i class="@item.Icon project-img rounded-circle"></i>

                                                            <small class="badge badge-primary px-2 py-0 slow"> Open</small>
                                                        </div>
                                                        <div class="card-body">
                                                            <p class="name"></p>
                                                            <h2 class="">@item.Name</h2>
                                                            <p class="pro-detail">@item.Description</p>

                                                        </div>
                                                    </a>

                                                </div>

                                            }

                                        }
                                    </div>
                                </div>
                            </li>
                        </ul>
                    }
                </li>
            </ul>
        }

    }
</div>