@model IEnumerable<Libraries.Model.Entity.Module>
@await Component.InvokeAsync("PageHeader", new { pageName = "Module Listing" })

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    
        <div class="pt-3">
            <div class="row">
                @foreach (var item in Model)
                {

                <div class="col-md-4 col-xl-3 mb-4">
                    <a href=@item.Url target=@item.Target class="project-box card slow">
                        <div class="card-header d-flex">

                            @*<img src="img/profile/face.jpg" class="project-img rounded-circle">*@
                         @*<div class="project-img rounded-circle"><i class="@item.Icon" aria-hidden="true"></i> </div>*@   
                            <small>Few Second</small>
                        </div>
                        <div class="card-body">
                            <p class="name"> Module Name</p>
                            <h2 class="text-truncate">@item.Name</h2>
                            <p class="pro-detail"></p>

                        </div>
                    </a>
                    <a href=@item.Url target=@item.Target>Click here</a>
                </div>
                }
            </div>
        </div>
    


    @*<div class="grad">
            <div class="container">
                <div class="row left">
                    <img src="~/images/DDALG.png" alt="logo" class="logo" style="padding-left:3%" />
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card px-4 py-4" style="height:100%;max-height:100%;background:#F0F0F0!important;">
                            <br />

                            <div class="row">
                                @foreach (var item in Model)
                                {

                                    <div class="col-md-4">
                                        <div class="card ">
                                            <div class="card-body text-center mt-5">
                                                <i class="@item.Icon" aria-hidden="true"></i>


                                                <h5> @item.Name</h5>
                                                <a href=@item.Url target=@item.Target>Click here</a>
                                            </div>

                                        </div>
                                    </div>

                                }
                            </div>
                            <br />

                        </div>
                    </div>
                </div>
                <br /> <br />
                <div class="row justify-content-center">
                    <p style="color:white;font-family:open-sans-regular;">
                        Copyright &copy 2019-All Rights Reserved-DDA
                    </p>
                </div>
            </div>
        </div>*@

