@model Libraries.Model.Entity.Newlandnotification
@await Component.InvokeAsync("PageHeader", new { pageName = "Notification Master Details" })

<div class="pt-3">
    <form asp-action="Create" method="post" class="d-block rounded border p-3 bg-white search-filer shadow mb-3" enctype="multipart/form-data">

       
        <h3 class="mb-3 d-flex">Add Details <span style="margin-left:800px"><span style="color:red">*&nbsp;</span>Marked are mandatory fields</span> </h3>




        <div class="row">
            <div class="col-md-6">
                <div class="floating-label-wrap">

                    <select class="floating-label-field floating-label-field--s3" asp-for="NotificationTypeId" asp-items="@(new SelectList(Model.notificationtypeList, "Id","NotificationType"))" required>
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="NotificationTypeId" class="text-danger"></span>
                    <label class="floating-label" asp-for="NotificationTypeId">Notification Type<span style="color:red">*</span></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <input asp-for="NotificationNo" class="floating-label-field floating-label-field--s3" placeholder="Notification No" />
                    <span asp-validation-for="NotificationNo" class="text-danger"></span>
                    <label class="floating-label">Notification No.</label>
                </div>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-md-6">
                <div class="floating-label-wrap">
                    <input asp-for="Date" class="floating-label-field floating-label-field--s3" placeholder="Notification No" type="date" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                    <label class="floating-label">Date</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <input  asp-for="NewlandNotificationFile" class="floating-label-field floating-label-field--s3" type="file" multiple />
                    <span asp-validation-for="NewlandNotificationFile" class="text-danger"></span>
                    <label class="floating-label" asp-for="NewlandNotificationFile"> Upload Gazette Notification</label>
                </div>
            </div>
        </div>


        <div class="row pt-3">

            <div class="col-md-6">
                <div class="floating-label-wrap mb-3 mb-md-0">

                    <select asp-for="IsActive" class="floating-label-field floating-label-field--s3">
                        <option value="1">Active</option>
                        <option value="0">InActive</option>
                    </select>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                    <label class="floating-label"> Status</label>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-12">
                <div class="floating-label-wrap mb-3 mb-md-0">
                    <textarea asp-for="Remarks" placeholder="Remarks" class="floating-label-field floating-label-field--s3"></textarea>
                    <span asp-validation-for="Remarks" class="text-danger"></span>
                    <label class="floating-label">Remarks</label>
                </div>
            </div>
        </div>


        <div class="row mt-md-3">
            <div class=" col-md-12">
                <input type="submit" value="Submit" class="btn btn-theme " />

                @Html.ActionLink("Back", "Index", "NewlandNotification", null, new { @class = "btn btn-theme " })
            </div>
        </div>

    </form>
</div>
    




