
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left color-white" style="margin-top:5px;">Inspection/Encroachment Register </h6>
                <i class="glyphicon glyphicon-arrow-right pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>

<br />

<br />

        <div class="container-fluid" id="MainContentForm">
            <div class="panel">
                <div class="panel-heading  dda-pageheading">
                    <h6 class="pull-left color-white " style="margin-top:-0.4%">Add Details</h6>
                </div>

                <div class="panel-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Date</label><span style="color:red">*</span>
                                <input type="Date" id="txtDate" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Village Name</label><span style="color:red">*</span>
                                <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                    <option value="0">---Select---</option>
                                    <option value="1">Har</option>
                                    <option value="2">Someother</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Khasra No.</label>
                                <select class="form-control" id="drpKhasra" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                    <option value="0">---Select---</option>
                                    <option value="1">Har</option>
                                    <option value="2">Someother</option>
                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Area</label>
                                <input type="text" class="form-control" id="txtArea" />
                            </div>
                        </div>
                        <div id="Divclsification">
                              <div class="row" style="margin-bottom:35px;">
                        <div class="col-sm-12">
                            <div class="dda-innerheading">
                                <div class="col-md-12">
                                    <h6 class="pull-left" style="color:white;margin-top:5px;">Details of Encroachment</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                          
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered" border="0">
                                            <thead class="thead">
                                                <tr>
                                                    <th>Sr.No</th>
                                                    <th>Name of Structure</th>
                                                    <th>Area[Approx.]</th>
                                                    <th>Type[residential/religious/compercial]</th>
                                                    <th>Date/Age of Encroachment</th>
                                                    <th>Reference No. on  Location</th>
                                                    <th>Count of Structure</th>
                                                    <th>Operation</th>
                                                </tr>
                                            </thead>
                                            <tbody class="tbody">
                                                <tr>
                                                    <td>1</td>
                                                    <td>
                                                        <input type="text" class="form-control" id="txtStructure" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="txtAreaRep" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="txtType" />
                                                    </td>
                                                    <td>
                                                        <input type="date" class="form-control" id="txtDateRep" onchange="datechek()" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="txtReferenceNo" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="txtCount" />
                                                    </td>
                                                    <td>
                                                        <button id="addToList" class="btn btn-primary dda-pageheading">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Staus of Land</label>
                                <select class="form-control" id="drpStatusofLand" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                    <option value="0">DDA</option>
                                    <option value="1">Non DDA</option>
                                </select>
                            </div>


                        </div>
                        <div class="form-row" id="Divpossession" style="display:block;">
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Possession </label>
                                <select class="form-control" id="drpPossession" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                    <option value="0">Yes</option>
                                    <option value="1">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6" id="divRdaioPossessionGroup" style="display:block;">
                                <label class="radio-inline">
                                    <input type="radio" name="grpPossession" id="rdbFormal" checked>Formal Possession
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="grpPossession" id="rdbFlexible">Physical Possession
                                </label>
                            </div>
                        </div>

                        <div class="form-row" id="divDepartment" style="display:block;">
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Other Department </label>
                                <select class="form-control" id="drpKhasra" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                    <option value="0">Horticultue</option>
                                    <option value="1">Technical</option>
                                </select>
                            </div>
                        </div>




                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">FIR Details</label>
                                <input type="file" class="form-control" multiple />
                            </div>

                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Police Station</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Security Guard on Duty</label>
                                <input type="text" class="form-control" />
                            </div>

                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Location Map</label>
                                <input type="file" class="form-control" multiple />
                            </div>
                        </div>

                        <div class="form-row">

                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Photo (<span style="color:red;">5 mb</span>)</label>
                                <input type="file" class="form-control" multiple />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="control-label lb-sm">Remarks</label>
                                <textarea type="text" class="form-control" style=" background-color: #dddddd;"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <input type="submit" value="Create" class="btn btn-primary dda-pageheading" />
                                @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
                                @Html.ActionLink("Back", "Index", "EncroachmentRegister", null, new { @class = "btn btn-primary dda-pageheading" })
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <br />
        <br />
        <script>
            //For dropdown change event
            $(document).ready(function () {
                $("#drpKhasra").change(function () {
                    var courses = $("#txtArea");
                    var semesterName = $("#drpKhasra option:selected").text();
                    $.getJSON('/EncroachmentRegister/GetAreaFromKhasra', { semester: semesterName }, function (response) {
                        console.log(response);
                        var courseField = "";
                        $.each(response, function (key, value) {
                            if (value == null) {
                                $("#txtArea").empty();
                            } else {
                                courseField += "<div class=\"input-field col s12 l12\">\n" +
                                    "                        <input id=\"" + value.CourseId + "\" type=\"text\" value=\"" + value.CourseCode + "\">\n" +
                                    "                        <label class=\"active\" for=\"course\">" + value.CourseCode + "</label>\n" +
                                    "                    </div>";
                            }
                        });
                        courses.html(courseField);
                    })
                });
            });
        </script>

        <script>

            $(function () {
                var dtToday = new Date();

                var month = dtToday.getMonth() + 1;
                var day = dtToday.getDate();
                var year = dtToday.getFullYear();
                if (month < 10)
                    month = '0' + month.toString();
                if (day < 10)
                    day = '0' + day.toString();

                var maxDate = year + '-' + month + '-' + day;
                //alert(maxDate);
                $('#txtDate').attr('max', maxDate);
                $('#txtDateRep').attr('max', maxDate);
            });



        </script>

        <script>
            $(function () {
                $('#drpStatusofLand').change(function () {
                    var id = $("#drpStatusofLand").val();
                    if (id == 0) {
                        //   $("#divDepartment").hide();
                        $("#Divpossession").show();
                        $("#divRdaioPossessionGroup").show();

                    }
                    else {
                        $("#divDepartment").show();
                        $("#Divpossession").hide();
                        $("#divRdaioPossessionGroup").hide();
                    }
                });
            });
            $(function () {
                $('#drpPossession').change(function () {
                    var id = $("#drpPossession").val();
                    if (id == 0) {
                        $("#divRdaioPossessionGroup").show();
                        $("#divDepartment").show();
                    }
                    else {
                        $("#divRdaioPossessionGroup").hide();
                    }
                });
            });

            $(function () {
                $("input[name='grpPossession']").click(function () {
                    if ($("#rdbFormal").is(":checked")) {
                        $("#divDepartment").show();
                    } else {
                        $("#divDepartment").hide();
                    }
                });
            });

        </script>

