
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<script src="~/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>
<div class="row">
    <div class="col-sm-12">
        <div class="myapp-hed">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Inspection/Encroachment Approval Process</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>
<br />

<br />
<div class="container-fluid" id="MainContentForm">
    <div class="panel">
        <div class="panel-heading  myapp-hed1">
            <h6 class="pull-left" style="color:white; margin-top:-0.4%">Details</h6>
        </div>
        <div class="panel-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div id="DivInspectionRegisterDetails">
                    <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <div class="row" style="margin-bottom:35px;">
                            <div class="col-sm-12">
                                <div class=" myapp-hed2">
                                    <div class="col-md-12">

                                        <h6 class="pull-left" style="color:white;margin-top:5px;">Watch & Ward Details</h6>
                                        <i class="fa-angle-right fa pull-right" aria-hidden="true" style="padding-top:4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Date</label><span style="color:red">*</span>
                                <input type="date" id="txtDate" class="form-control" />
                            </div>


                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Village Name</label><span style="color:red">*</span>
                                <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                    <option value="0">---Select---</option>
                                    <option value="1">Har</option>
                                    <option value="2">Someother</option>
                                </select>
                            </div>

                        </div>

                        <div class="form-row">

                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Khasra No.</label>
                                <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                    <option value="0">---Select---</option>
                                    <option value="1">Har</option>
                                    <option value="2">Someother</option>
                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Land Mark</label><span style="color:red">*</span>
                                <input type="text" class="form-control" />
                            </div>

                            @*<div class="form-group col-md-6">
                        <label class="control-label lb-sm">Status</label>
                        <select class="form-control">
                            <option value="0">Active</option>
                            <option value="1">Inactive</option>
                        </select>
                    </div>*@
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="control-label lb-sm">Status on Ground</label><span style="color:red">*</span>
                                <textarea type="text" class="form-control"></textarea>
                            </div>


                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Photos</label>
                                <input type="file" class="form-control" multiple />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="control-label lb-sm">Remarks</label><span style="color:red"></span>
                                <textarea type="text" class="form-control"></textarea>
                            </div>

                        </div>


                    </div>
                </div>

                <div id="DivInspectionRegisterDetails">
                    <a data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                        <div class="row" style="margin-bottom:35px;">
                            <div class="col-sm-12">
                                <div class=" myapp-hed2">
                                    <div class="col-md-12">

                                        <h6 class="pull-left" style="color:white;margin-top:5px;">Inspection/Encroachment Register</h6>
                                        <i class="fa-angle-right fa pull-right" aria-hidden="true" style="padding-top:4px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="collapse" id="collapseExample1">


                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Date</label><span style="color:red">*</span>
                                <input type="Date" id="txtDate" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Village Name</label><span style="color:red">*</span>
                                <select class="form-control" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                    <option value="0">---Select---</option>
                                    <option value="1">Har</option>
                                    <option value="2">Someother</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Khasra No.</label>
                                <select class="form-control" id="drpKhasra" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                    <option value="0">---Select---</option>
                                    <option value="1">Har</option>
                                    <option value="2">Someother</option>
                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Area</label>
                                <input type="text" class="form-control" id="txtArea" />
                            </div>
                        </div>
                        <div id="Divclsification">
                            <div class="row" style="margin-bottom:35px;">
                                <div class="col-sm-12">
                                    <div class=" myapp-hed2">
                                        <div class="col-md-12">
                                            <h6 class="pull-left" style="color:white;margin-top:5px;">Details of Encroachment</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered" border="0">
                                            <thead class="thead">
                                                <tr>
                                                    <th>Sr.No</th>
                                                    <th>Name of Structure</th>
                                                    <th>Area[Approx.]</th>
                                                    <th>Type[residential/religious/compercial]</th>
                                                    <th>Date/Age of Encroachment</th>
                                                    <th>Reference No. on  Location</th>
                                                    <th>Count of Structure</th>
                                                    <th>Operation</th>
                                                </tr>
                                            </thead>
                                            <tbody class="tbody">
                                                <tr>
                                                    <td>1</td>
                                                    <td>
                                                        <input type="text" class="form-control" id="txtStructure" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="txtAreaRep" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="txtType" />
                                                    </td>
                                                    <td>
                                                        <input type="date" class="form-control" id="txtDateRep" onchange="datechek()" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="txtReferenceNo" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="txtCount" />
                                                    </td>
                                                    <td>
                                                        <button id="addToList" class="btn btn-primary myapp-hed1">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Staus of Land</label>
                                <select class="form-control" id="drpStatusofLand" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                    <option value="0">Acquired</option>
                                    <option value="1">Non Acquired</option>
                                </select>
                            </div>


                        </div>
                        <div class="form-row" id="Divpossession" style="display:block;">
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Possession </label>
                                <select class="form-control" id="drpPossession" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                    <option value="0">Yes</option>
                                    <option value="1">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6" id="divRdaioPossessionGroup" style="display:block;">
                                <label class="radio-inline">
                                    <input type="radio" name="grpPossession" id="rdbFormal" checked>Formal Possession
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="grpPossession" id="rdbFlexible">Physical Possession
                                </label>
                            </div>
                        </div>

                        <div class="form-row" id="divDepartment" style="display:block;">
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Other Department </label>
                                <select class="form-control" id="drpKhasra" style="background-color:#dddddd; height:30px; border-color:#b1b1b1;">
                                    <option value="0">Horticultue</option>
                                    <option value="1">Technical</option>
                                </select>
                            </div>
                        </div>




                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">FIR Details</label>
                                <input type="file" class="form-control" multiple />
                            </div>

                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Police Station</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Security Guard on Duty</label>
                                <input type="text" class="form-control" />
                            </div>

                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Location Map</label>
                                <input type="file" class="form-control" multiple />
                            </div>
                        </div>

                        <div class="form-row">

                            <div class="form-group col-md-6">
                                <label class="control-label lb-sm">Photo</label>
                                <input type="file" class="form-control" multiple />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="control-label lb-sm">Remarks</label>
                                <textarea type="text" class="form-control" style=" background-color: #dddddd;"></textarea>
                            </div>
                        </div>

                    </div>
                </div>
                <br />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label lb-sm">Status</label>
                        <select style="height:30px; background-color: #dddddd;" id="drpReqType" required="" class="form-control">
                            <option value="1">Forward To CLM</option>
                            <option value="2">Approved</option>
                            <option value="3">Reject</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="control-label lb-sm">Remarks</label>
                        <textarea type="text" class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-row ">
                    <div class="form-group col-md-12" style="margin-bottom:40px;">
                        <input type="submit" value="Submit" class="btn btn-primary myapp-hed1" />
                        @*<input type="submit" value="Back" class="btn btn-primary myapp-hed1" />*@
                        @Html.ActionLink("Back", "WatchWardApproval", "WatchWard", null, new { @class = "btn btn-primary myapp-hed1" })
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>



<script>
    $(function () {
        $('#drp1').change(function () {
            var id = $("#drp1").val();
            if (id == 1) {
                $("#txt1").show();

            }
            else {
                $("#txt1").hide();
            }
        });
    });

    $(function () {
        $('#drp2').change(function () {
            var id = $("#drp2").val();
            if (id == 1) {
                $("#txt2").show();

            }
            else {
                $("#txt2").hide();
            }
        });
    });

    $(function () {
        $('#drp3').change(function () {
            var id = $("#drp3").val();
            if (id == 1) {
                $("#txt3").show();

            }
            else {
                $("#txt3").hide();
            }
        });
    });

    $(function () {
        $('#drp4').change(function () {
            var id = $("#drp4").val();
            if (id == 1) {
                $("#txt4").show();

            }
            else {
                $("#txt4").hide();
            }
        });
    });
    $(function () {
        $('#drpHasLand').change(function () {
            var id = $("#drpHasLand").val();
            if (id == 0) {
                $("#txtDateLand").hide();
                $("#txtLand").hide();
                $("#fileland").hide();
            }
            else {
                $("#txtDateLand").show();
                $("#txtLand").show();
                $("#fileland").show();
            }
        });
    });
</script>



