
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="dda-topheading">
            <div class="col-md-12">
                <h6 class="pull-left" style="color:white;margin-top:5px;">Inspection/Encroachment Register</h6>
                <i class="fa fa-arrow-left pull-right" aria-hidden="true" style="padding-top:4px;"></i>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<div>
    @Html.ActionLink("Add New", "Create", "EncroachmentRegister", null, new { @class = "btn btn-primary pull-right dda-pageheading ", style = "margin-top: -10px;" })
</div>
<br />
<br />
<div class="container-fluid" id="MainContentForm">
    <div class="card  table-responsive  table-card">

        <table class="table table-responsive table-bordered table-card">
            <tr class="thead">
                <th>Sr.No</th>
                <th>Date</th>
                <th>Village</th>
                <th>Khasra No.</th>
                <th>Police Station</th>
                <th>Security Guard on duty</th>
                <th>Status</th>
                <th>Operation</th>
            </tr>

            <tbody class="tbody">
                <tr>
                    <td>1</td>
                    <td>20-July-2020</td>
                    <td>Nimri</td>
                    <td>0//10</td>
                    <td>Nimri Police Station</td>
                    <td>Mahesh </td>
                    <td>Active</td>
                    <td> <i class="glyphicon glyphicon-eye-open icon-white cl1"></i> &nbsp; | &nbsp;<i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;|&nbsp;<i class="fa fa-trash" aria-hidden="true"></i></td>

                </tr>
                <tr>
                    <td>2</td>
                    <td>20-July-2020</td>
                    <td>Saroda</td>
                    <td>0//10</td>
                    <td>Saroda Police Station</td>
                    <td>Darmvir </td>
                    <td>Active</td>
                    <td> <i class="glyphicon glyphicon-eye-open icon-white cl1"></i> &nbsp; | &nbsp;<i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;|&nbsp;<i class="fa fa-trash" aria-hidden="true"></i></td>

                </tr>
            </tbody>

        </table>

    </div>
</div>
<br />
<br />
